@import "../../../theme/var.scss";
@import "../../../theme/mixins.scss";
@import "./var.scss";

.Menu {
	@include list-default;

	display: flex;

	&.parent {
		margin-left: 25px;

		@include tablet-2 {
			margin-left: 30px;
		}

		.item {
			padding: 0 15px;

			@include tablet-2 {
				padding: 0 10px;
			}

		}

	}

	&.child {
		display: block;
		width: auto;

		background-color: rgba(32,43,58,.9);
		border: 1px solid #fff;
		border-radius: 8px !important;
		margin-top: 20px;

		.link {
			display: block;
			padding: 8px 15px;
			white-space: nowrap;
		}

	}

	.link {
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		white-space: nowrap;

		@include desktop {
		}

		&:hover,
		&:focus,
		&:active {
			color: #81bbff;
		}

	}

  .link {
    transition: none;

    .arrow-down {
      background: url(../../../images/menu/arrow_down.svg) no-repeat 50% 50%;
      background-size: 12px 7px;
      display: inline-block;
      margin-bottom: 2px;
      margin-left: 5px;
      width: 12px;
      height: 7px;
    }

    &:hover {

      .arrow-down {
        background-image: url(../../../images/menu/arrow_down_blue.svg);
      }

    }

  }

}

/*.mdl-menu__outline {
	background-color: rgba(0,0,0,0);
}

.mdl-menu__container.is-visible {
	!*border: 1px solid #d9d9d9;*!
	border-radius: 3px;

	.mdl-menu__item {
		padding: 0;

		border: 0;
		border-radius: 0;

		&:first-child {
			border-radius: 3px 3px 0 0;
		}

		&:last-child {
			border-radius: 0 0 3px 3px;
		}

		& > a {
			padding: 0 13px;
		}

	}

}*/
