@import './var';

.es-section {

  &__tabs {
    display: flex;

    &.mdl-tabs.is-upgraded {

      .mdl-tabs__tab-bar {
        display: flex;
        flex-direction: column;

        height: 420px;

        border-bottom: 0;
      }

      .mdl-tabs__tab {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        float: none;
        min-height: 140px;

        text-transform: none;

        @include mobile {
          padding-left: 47px;

          cursor: default;
        }

        @include desktop {
          margin-right: 90px;
        }

        &.is-active {

          &::after {
            display: none;
          }

          @include tablet-start {
            z-index: 2;

            background-color: #fff;
            box-shadow: 0 1px 8px 0 rgba(0,0,0,.1), 0 0 20px 0 rgba(0,0,0,.1);
            border-radius: 5px;
          }

        }

        @include desktop {
          width: 485px;
        }

      }

      .mdl-tabs__panel {

        @include mobile {
          display: none;
        }

      }

    }

  }

  &__tab-heading {

    @include tablet-start {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .left-block {
      text-align: left;

      @include tablet-start {
        width: 88px;
      }

    }

    .right-block {
      text-align: left;

      @include tablet-start {
        flex: 1;
      }

    }

    .title {
      color: #424b59;
      font-weight: 400;

      @include tablet-start {
        margin-bottom: 10px;
      }

      @include desktop {
        font-size: 20px;
        line-height: 30px;
      }

    }

    .description {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      color: #5c6573;
      font-weight: 300;

      @include desktop {
        font-size: 16px;
        line-height: 24px;
      }

    }

  }

  &__tab-content {}

}
