@import './var';

.page-name__home {

  .es-section-7 {
    background: linear-gradient(-225deg, #dae0e8 0%, #f2f4f7 100%);

    .first-block {
      @include retina('../../images/sections/es_section_7__478x247.png', 2, 478px 247px, 0 50% no-repeat);

      @include mobile {
        width: 290px;
        height: 150px;
        @include retina('../../images/sections/es_section_7__478x247.png', 2, 290px 150px, 0 50% no-repeat);

        margin-bottom: 10px;
      }

      @include tablet-start {
        width: 478px;
        height: 247px;
        @include retina('../../images/sections/es_section_7__478x247.png', 2, 478px 247px, 0 50% no-repeat);
      }

      @include tablet {
        margin-bottom: 20px;
      }

    }

    .second-block {

      @include desktop {
        flex: 1;
        margin-left: 90px;
      }

    }

    .facebook-link {
      padding-left: 22px;

      background: url(../../images/svg/facebook_link.svg) no-repeat 0 50%;
      background-size: 16px 16px;

      color: #3c559d;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

  }

}
