@import './var';

.es-section {

  &__list-columns {

    @include mobile {
      column-width: 130px;
      margin-bottom: 20px;

      .es-section__list {
        max-height: 240px;
      }

    }

    @include mobile-668-767 {

      .es-section__list {
        max-height: 120px;
      }

    }

    @include tablet {
      margin-bottom: 25px;
    }

    @include tablet-half-1 {
      column-width: 240px;

      .es-section__list {
        max-height: 240px;
      }

    }

    @include tablet-half-2 {
      column-width: 280px;
    }

    @include desktop-1025-1280 {
      column-width: 280px;
      margin-bottom: 50px;
    }

    @include desktop-1281 {
      column-width: 240px;
      max-height: 250px;
      margin-bottom: 50px;
    }

  }

  &__list {
    list-style: none outside none;
    margin: 0;
    padding: 0;

    @at-root .es-section-2 & {

      @include mobile {
        margin-bottom: 20px;
      }

      @include tablet {
        margin-bottom: 25px;
      }

      @include desktop {
        margin-bottom: 50px;
      }

    }

    @at-root .es-section-6 & {
      display: flex;
      flex-wrap: wrap;

      @include desktop {
        width: 940px;
        margin: 0 auto;
      }

    }

    @at-root .es-section-10 & {
      display: flex;
      flex-wrap: wrap;
    }


  }

  &__item {

    @at-root .es-section-2 & {

      @include mobile {
        color: #5c6573;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
      }

      @include tablet-start {
        color: #424b59;
        font-weight: 300;
        white-space: nowrap;
      }

      @include tablet {
        font-size: 18px;
        line-height: 40px;
      }

      @include desktop {
        font-size: 20px;
        line-height: 50px;
      }

    }

    @at-root .es-section-6 & {
      min-height: 94px;
      padding-left: 114px;

      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 94px 94px;

      @include mobile {
        min-height: 50px;
        margin-bottom: 20px;
        padding-left: 65px;

        background-size: 50px 50px;

        &:last-child {
          margin-bottom: 0;
        }

      }

      @include tablet {
        min-height: 75px;
        padding-left: 95px;

        background-size: 75px 75px;
      }

      @include tablet-start {

        & {
          width: 50%;
          margin-bottom: 40px;
          padding-right: 30px;
        }

        &:nth-child(1),
        &:nth-child(4) {
          order: -2;
        }

        &:nth-child(2),
        &:nth-child(5) {
          order: -1;
        }

        &:nth-child(3),
        &:nth-child(6) {
          margin-bottom: 0;
        }

        &:nth-child(4),
        &:nth-child(6) {
          padding-right: 0;
        }

      }

      @include desktop {

        &:nth-child(4),
        &:nth-child(6) {
          padding-right: 15px;
        }

      }

      &:nth-child(1) {
        background-image: url(../../images/svg/es_features_icon_1.svg);
      }

      &:nth-child(2) {
        background-image: url(../../images/svg/es_features_icon_2.svg);
      }

      &:nth-child(3) {
        background-image: url(../../images/svg/es_features_icon_3.svg);
      }

      &:nth-child(4) {
        background-image: url(../../images/svg/es_features_icon_4.svg);
      }

      &:nth-child(5) {
        background-image: url(../../images/svg/es_features_icon_5.svg);
      }

      &:nth-child(6) {
        background-image: url(../../images/svg/es_features_icon_6.svg);
      }

      .title {
        margin-bottom: 5px;

        color: #424b59;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;

        @include mobile {
          font-size: 16px;
          line-height: 20px;
        }

      }

      .description {
        margin-bottom: 0;

        color: #5c6573;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;

        @include mobile {
          color: #a1a9b3;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }

      }

    }

    @at-root .es-section-10 & {

      @include mobile {
        width: 33.333333%;
        text-align: center;

        &:nth-child(1),
        &:nth-child(3) {
          width: 50%;
        }

        &:nth-child(2) {
          width: 100%;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: 50px;
        }

        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 3;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 4;
        }

        &:nth-child(5) {
          order: 5;
        }

        &:nth-child(6) {
          order: 6;
        }

      }

      @include tablet {
        width: 33.333333%;
        text-align: center;

        &:nth-child(1),
        &:nth-child(3) {
          width: 25%;
        }

        &:nth-child(2) {
          width: 50%;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: 55px;
        }

      }

      @include desktop {
        width: 33.333333%;

        &:nth-child(1),
        &:nth-child(3) {
          width: 25%;
        }

        &:nth-child(2) {
          width: 50%;
          text-align: center;
        }

        &:nth-child(1) {
          text-align: left;
        }

        &:nth-child(3) {
          text-align: right;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: 70px;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          text-align: center;
        }

      }

      &:nth-child(1) {

        .brand-logo {
          width: 193px;
          height: 39px;

          @include mobile {
            width: auto;
            height: 26px;
          }

          @include tablet {
            width: auto;
            height: 29px;
          }

        }

      }

      &:nth-child(2) {

        .brand-logo {
          width: 482px;
          height: 30px;

          @include mobile {
            width: auto;
            height: 18px;
          }

          @include tablet {
            width: auto;
            height: 18px;
          }

        }

      }

      &:nth-child(3) {

        .brand-logo {
          width: 138px;
          height: 46px;

          @include mobile {
            width: auto;
            height: 36px;
          }

          @include tablet {
            width: auto;
            height: 42px;
          }

        }

      }

      &:nth-child(4) {

        .brand-logo {
          width: 143px;
          height: 24px;

          @include mobile {
            width: auto;
            height: 15px;
          }

          @include tablet {
            width: auto;
            height: 19px;
          }

        }

      }

      &:nth-child(5) {

        .brand-logo {
          width: 168px;
          height: 31px;

          @include mobile {
            width: auto;
            height: 15px;
          }

          @include tablet {
            width: auto;
            height: 24px;
          }

        }

      }

      &:nth-child(6) {

        .brand-logo {
          width: 107px;
          height: 35px;

          @include mobile {
            width: auto;
            height: 20px;
          }

          @include tablet {
            width: auto;
            height: 28px;
          }

        }

      }

      .brand-logo {
        align-self: center;
      }

    }

  }

}
