@import './var';

.page-name__home {

	.es-section {
		padding-top: 60px;
		padding-bottom: 60px;

		@include mobile {
			padding-top: 40px;
			padding-bottom: 40px;
		}

	}

  .section-1 {

    .section-block {

      @include mobile {
        margin-bottom: 20px;
      }

    }

  }

  .es-section-3 {
    background: linear-gradient(-225deg, #3e4a5c 0%, #404f66 100%);

    @include desktop {
      padding-bottom: 80px;
    }

  }

  .es-section-4 {

    @include tablet {
      padding-bottom: 40px;
    }

    @include desktop {
      padding-top: 80px;
      padding-bottom: 80px;
    }

  }

  .es-section-5 {

    @include mobile {
      padding-top: 60px;
      padding-bottom: 20px;
    }

    @include tablet {
      /*padding-top: 40px;
      padding-bottom: 45px;*/
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center
    }

    @include desktop {
      /*padding-top: 160px;
      padding-bottom: 130px;*/
      display: flex;
      align-items: center;

      .container {
        padding-top: 30px;
      }

    }

  }

  .es-section-7 {

    @include mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include tablet {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include desktop {
      padding-top: 60px;
      padding-bottom: 60px;
    }

  }

	.section-8 {

		@include mobile {
			padding-top: 25px;
			padding-bottom: 25px;
		}

	}

  .section-9 {
    background-color: #f2f4f7;
    border-top: 0;
  }

  .es-section-10 {

    @include desktop {
      padding-bottom: 90px;
    }

  }

  .es-section-11 {
    background-color: #f2f4f7;

    @include mobile {
      padding-top: 30px;
      padding-bottom: 35px;
    }

    @include tablet {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include desktop {
      padding-top: 30px;
      padding-bottom: 50px;
    }

  }

}



.es-section-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @at-root .es-section-7 & {

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }

  }

}

.es-section-content {

  @at-root .es-section-4 & {

    @include mobile {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 80px;
    }

  }

  @at-root .es-section-5 & {

    @include tablet-start {
      max-width: 470px;
    }

  }

}
