@import './var';

.es-section {

  &__title {
    color: #424b59;
    font-size: 43px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;

    @include mobile {
      font-size: 22px;
      line-height: 25px;
    }

    @at-root .es-section-5 & {
      text-align: left;

      @include mobile {
        margin-bottom: 70px;
      }

      @include mobile-540 {
        max-width: 200px;
        margin-bottom: 40px;
      }

      @include tablet {
        font-size: 30px;
        line-height: 35px;
      }

    }

    @at-root .es-section-7 & {

      @include mobile {
        display: none;
      }

      @include desktop {
        margin-bottom: 20px;
        text-align: left;
      }

    }

  }

  &__description {
    margin-bottom: 20px;

    color: #5c6573;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    @include mobile {
      font-size: 16px;
      line-height: 22px;
    }

    @at-root .es-section-2 & {
      text-align: center;

      @include mobile {
        margin-bottom: 30px;
      }

      @include tablet-start {
        margin-bottom: 40px;
      }

    }

    @at-root .es-section-3 & {
      max-width: 680px;
      margin: 0 auto 60px;

      color: #fff;
      text-align: center;

      @include mobile {
        margin-bottom: 20px;
      }

      @include desktop {
        color: #fff;
      }

    }

    @at-root .es-section-5 & {
      text-align: left;

      @include mobile-540 {
        max-width: 290px;
      }

      @include tablet {
        font-size: 18px;
        line-height: 24px;
      }

      @include tablet-start {
        margin-bottom: 40px;
      }

    }

    @at-root .es-section-7 & {

      @include mobile {
        max-width: 536px;
        margin-bottom: 40px;
        text-align: center;
      }

      @include tablet {
        max-width: 536px;
        text-align: center;
      }

    }

  }

  &__link-block {

    @at-root .es-section-7 & {
      margin-bottom: 0;

      @include mobile {
        text-align: center;
      }

      @include tablet {
        text-align: center;
      }

    }

  }

  &__image-block {

    @at-root .es-section-3 & {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  &__image-link {
    display: block;
  }

  &__image {

    @at-root .es-section-3 & {

      @include mobile {
        width: 300px;
        height: 202px;
        background-size: 300px 202px;
      }

      @include tablet {
        width: 720px;
        height: 485px;
        background-size: 720px 485px;
      }

      @include desktop {
        width: 900px;
        height: 606px;
        background-size: 900px 606px;
      }

    }

  }

  &__button-block {
    text-align: center;

    .es-section-5 & {

      @include tablet-start {
        text-align: left;
      }

      .button-filled__warning {

        &,
        &:hover,
        &:focus {

          .button-text {
            font-weight: 400;
          }

        }

      }

    }

  }

  &__button-group {

    & > *:not(:last-child) {

      @include mobile {
        margin-right: 15px;
      }

      @include mobile-1 {
        display: block !important;
        width: 185px;
        margin: 0 auto 15px;
        vertical-align: text-bottom;
        line-height: 40px;
      }

      @include tablet-768 {
        margin-right: 25px;
      }

    }

  }

}
