@import './var';

.es-section-heading {
  color: #424b59;
  font-size: 43px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;

  @include mobile {
    font-size: 22px;
    line-height: 25px;
  }

  @at-root .es-section-2 & {
    margin-bottom: 20px;
  }

  @at-root .es-section-3 & {
    color: #fff;

    @include mobile {
      margin-bottom: 20px;
    }

    @include tablet {
      margin-bottom: 40px;
    }

  }

  @at-root .es-section-4 & {

    @include mobile {
      margin-bottom: 30px;
    }

    @include tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 80px;
    }

  }

  .es-section-6 & {
    margin-bottom: 40px;
  }

  .es-section-7 & {

    @include tablet-start {
      display: none;
    }

  }

  .section-8 & {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 25px;
    }

  }

  .section-9 & {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 25px;
    }

  }

  @at-root .es-section-10 & {
    margin-bottom: 90px;

    @include mobile {
      margin-bottom: 40px;
    }

    @include tablet {
      margin-bottom: 50px;
    }

  }

  @at-root .es-section-11 & {
    margin-bottom: 20px;
  }

}

.es-section__image-mobile {
  display: none;
}

@media screen and (max-width: 767px) {

  .es-section__image-landscape {
    display: none;
  }

  .es-section__image-mobile {
    display: block;
  }
}
