@import './var';

.page-name__home {

  .es-section-4 {

    .es-section-content {
      position: relative;
    }

    .es-section__tabs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include tablet-end {
        flex-direction: column;
      }

    }

    .es-section__tabs-heading {
      display: flex;
      flex-direction: column;

      @include tablet-start {
        height: 420px;
      }

      @include tablet-end {
        margin-bottom: 40px;
      }

    }

    .es-section__tab-heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      cursor: pointer;

      @include mobile {
        align-items: flex-start;

        width: 100%;
        margin-bottom: 30px;

        cursor: default;

        &:last-child {
          margin-bottom: 0;
        }

      }

      @include tablet-start {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 485px;
        min-height: 140px;
        padding: 20px 30px;
      }

      @include tablet-desktop {
        margin-right: 90px;
        padding-right: 15px;
      }

      &.active,
      &:hover,
      &:focus {

        &::after {
          display: none;
        }

        @include tablet-start {
          z-index: 2;

          background-color: #fff;
          box-shadow: 0 1px 8px 0 rgba(0,0,0,.1), 0 0 20px 0 rgba(0,0,0,.1);
          border-radius: 5px;
        }

      }

      .left-block {
        text-align: left;

        @include mobile {
          width: 46px;
          padding-top: 5px;
        }

        @include tablet-start {
          width: 88px;
        }

      }

      .right-block {
        flex: 1;

        text-align: left;
      }

      .title {
        color: #424b59;
        font-weight: 400;

        @include tablet-start {
          margin-bottom: 10px;
        }

        @include tablet-desktop {
          font-size: 20px;
          line-height: 30px;
        }

      }

      .description {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        color: #5c6573;
        font-weight: 300;

        @include tablet-desktop {
          font-size: 16px;
          line-height: 24px;
        }

      }

    }

    .es-section__tabs-panel {

      @include mobile {
        display: none;
      }

      @include tablet-start {
        display: flex;
        align-items: center;

        min-height: 400px;
      }

    }

    .es-section__tab-panel {

      @include tablet-desktop {
        height: 400px;
      }

      .tab-panel {

        &__image {
          display: block;

          @include mobile {
            display: none;
          }

          @include tablet-start {
            width: 533px;
            height: 400px;
            background-size: 533px 400px;
          }

        }

      }

    }

    #tp-2,
    #tp-3 {
      display: none;
    }

  }

}
