@import './var';

.page-name__home {

  .es-section-5 {
    background-color: #f2f4f7 !important;

    @include mobile {
      @include retina('../../images/sections/es_section_5__320x320__mobile.jpg', 2, 320px 320px, 100% 0 no-repeat);
    }

    @include tablet {
      @include retina('../../images/sections/es_section_5__768x400__tablet.jpg', 2, 768px 400px, 100% 0 no-repeat);
      min-height: 400px;
    }

    @include desktop {
      @include retina('../../images/sections/es_section_5__1360x600__desktop.jpg', 2, 1360px 600px, 100% 0 no-repeat);
      min-height: 600px;
    }

  }

}
