@import './var';

.page-name__home {

  .icon {
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px 16px;

    transition: background-image 0.3s ease;

    &__order,
    &__writer,
    &__essay {

      @include mobile {
        width: 32px;
        height: 36px;
      }

      @include tablet-start {
        width: 48px;
        height: 55px;
      }

    }

    &__order {
      @include retina('../../images/icons/icon__order__35x50.png', 2, 35px 50px, 50% 50% no-repeat);

      &.icon {

        @include mobile {
          @include retina('../../images/icons/icon__order__35x50.png', 2, 25px 36px, 50% 50% no-repeat);
        }

        @include tablet-start {
          @include retina('../../images/icons/icon__order__35x50.png', 2, 35px 50px, 50% 50% no-repeat);
        }

      }

    }

    &__writer {
      @include retina('../../images/icons/icon__writer__42x53.png', 2, 42px 53px, 50% 50% no-repeat);

      &.icon {

        @include mobile {
          @include retina('../../images/icons/icon__writer__42x53.png', 2, 29px 36px, 50% 50% no-repeat);
        }

        @include tablet-start {
          @include retina('../../images/icons/icon__writer__42x53.png', 2, 42px 53px, 50% 50% no-repeat);
        }

      }

    }

    &__essay {
      @include retina('../../images/icons/icon__essay__48x55.png', 2, 48px 55px, 50% 50% no-repeat);

      &.icon {

        @include mobile {
          @include retina('../../images/icons/icon__essay__48x55.png', 2, 32px 36px, 50% 50% no-repeat);
        }

        @include tablet-start {
          @include retina('../../images/icons/icon__essay__48x55.png', 2, 48px 55px, 50% 50% no-repeat);
        }

      }

    }

  }

}
