@import './var';

.page-type__static {

  .es-page-header {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: auto 500px;

    & > .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 500px;

      @include mobile {
        padding-top: 30px;
      }

      @include desktop {
        padding-top: 60px;
      }

    }

    &__title {
      margin-bottom: 30px;

      color: #fff;
      font-weight: 300;
      text-align: center;

      @include mobile {
        font-size: 30px;
        line-height: 35px;
      }

      @include tablet-start {
        font-size: 40px;
        line-height: 47px;
      }

    }

    &__description {
      margin-bottom: 30px;

      color: #fff;
      font-weight: 300;
      line-height: 28px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }

      @include mobile {
        font-size: 14px;
      }

      @include tablet-start {
        font-size: 18px;
      }

    }

  }

  .es-page-section {

    @include mobile {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include tablet-start {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    & > .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__light {
      background-color: #fff;
    }

    &__dark {
      background-color: #f7f7f7;
    }

    &__title {
      color: #424b59;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;

      @include mobile {
        margin-bottom: 25px;

        font-size: 22px;
        line-height: 25px;
      }

      @include tablet-start {
        margin-bottom: 60px;

        font-size: 30px;
        line-height: 35px;
      }

    }

    &__description {
      color: #54657e;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }

    }

    &__list {
      display: flex;

      list-style: none outside none;
      margin: 0;
      padding: 0;

      @include mobile {
        flex-direction: column;
        align-items: center;

        margin-bottom: 30px;
      }

      @include tablet-start {
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        margin-bottom: 50px;
      }

    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

      }

      @include tablet {
        width: 50%;
        margin-bottom: 40px;

        &:nth-child(odd) {
          padding-right: 25px;
        }

        &:nth-child(even) {
          padding-left: 25px;
        }

        &:nth-child(5),
        &:nth-child(6) {
          margin-bottom: 0;
        }

      }

      @include desktop {
        width: 33.333333%;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: 70px;
        }

      }

      .title {
        margin-bottom: 15px;

        color: #323d4d;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;

        @include mobile {
          font-size: 16px;
          font-weight: 400;
        }

        @include tablet-start {
          font-size: 19px;
          font-weight: 500;
        }

      }

      .description {
        margin-bottom: 15px;

        color: #424b59;
        font-weight: 300;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }

        @include mobile {
          font-size: 14px;
          line-height: 20px;
        }

        @include tablet-start {
          font-size: 16px;
          line-height: 28px;
        }

      }

    }

  }

  .es-page-heading {
    border-bottom: 1px solid #cbd4e0;

    @include mobile {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    @include tablet-768 {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    &__title {
      margin-bottom: 0;

      color: #424b59;
      font-weight: 300;

      @include mobile {
        font-size: 22px;
        line-height: 25px;
      }

      @include tablet-768 {
        font-size: 30px;
        line-height: 35px;
      }

    }

  }

  .es-page-content {

    &__block {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

    }

    h2 {
      margin-bottom: 25px;

      color: #5c6573;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }

    p,
    ol,
    ul {
      color: #424b59;
      font-weight: 300;

      @include mobile {
        margin-bottom: 20px;

        font-size: 15px;
        line-height: 20px;
      }

      @include tablet-768 {
        margin-bottom: 25px;

        font-size: 16px;
        line-height: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

}
