@import './var';

.page-writers,
.page-feedbacks,
.page-name__faq,
.page-name__faq-detail {

  @include tablet {
    padding-top: 66px;
    padding-bottom: 40px;
  }

  @include tablet-1001 {
    padding-top: 125px;
    padding-bottom: 60px;
  }

}

.page-writers {

  @include mobile {
    padding-top: 66px;
  }

}

.page-name__faq-detail {

  @include mobile {
    padding-top: 66px;
    padding-bottom: 40px;
  }

  @include tablet {
    padding-top: 66px;
    padding-bottom: 40px;
  }

  @include tablet-1001 {
    padding-top: 125px;
    padding-bottom: 60px;
  }

}
