@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 870px) {

  .footer-top {

    .flex-wrapper {
      flex-direction: column;
    }

    .right-block {
      justify-content: flex-start;
    }

    .divider {
      display: block;
      height: 1px;
      width: 100%;
      margin: 15px auto;
    }

  }

}
