@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 480px) {

  .footer-top {

    .left-block,
    .right-block{
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      margin-bottom: 15px;
    }

    .social-link {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

}
