@import "../../../../common";

.section-2 {
  @extend .primary;
  padding: 60px 0;

  .container {
    @extend .container;

    .title {
      @extend .primary-title;
      margin: 0;
    }

    .list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      &__item {
        width: 384px;
        margin: 0 16px;

        &__flex {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          &_title {
            @extend .list-title;
          }
        }
      &__paragraph {
          font-weight: $weight;
          font-size: 15px;
          color: $primary-gray;
          line-height: 24px;
        }
     }
   }
  }
}