@media screen and (max-width: 920px) {
  .section-2 .container .list {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .list__item {
      width: 100%;
    }
  }
}