<section class="section-4">
    <div class="container">
        <h2 class="title">We offer the most complete service package  available on the essay writing market!</h2>
        <ul class="list">
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon1.svg') %>" alt="Custom Essays of Any Type">
                    <h3 class="list__item__flex_title">Custom Essays of Any Type</h3>
                </div>
                <p class="list__item__paragraph">Our writing service can handle any type of assignment. Whether it is a literature review, research paper or application essay, our highly skilled writers can craft exactly what you need!</p>
            </li>
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon2.svg') %>" alt="24/7 Customer Support">
                    <h3 class="list__item__flex_title">24/7 Customer Support</h3>
                </div>
                <p class="list__item__paragraph">We understand that students face academic challenges around the clock, so biasing our work hours to the 10-6 crew is not fair! Our team is always ready to help any client at any time!</p>
            </li>
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon3.svg') %>" alt="Elite Academic Writers">
                    <h3 class="list__item__flex_title">Elite Academic Writers</h3>
                </div>
                <p class="list__item__paragraph">Our writers have College Degrees in various fields. In fact, our writer’s skillsets are so diversified, that it is almost impossible to give them a task that they can not handle! </p>
            </li>
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon4.svg') %>" alt="Punctual Delivery">
                    <h3 class="list__item__flex_title">Punctual Delivery</h3>
                </div>
                <p class="list__item__paragraph">No more nail biting and worrying about not receiving your paper! Your assignment will be delivered to you before the deadline 100% of the time. It does not matter if the essay is due in 6 weeks or 6 hours.</p>
            </li>
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon5.svg') %>" alt="Team Editing">
                    <h3 class="list__item__flex_title">Team Editing</h3>
                </div>
                <p class="list__item__paragraph">The EssayHub writing team will scan and confirm the awesomeness of your essay! Each writer will give his advice, and together they will form an overall improved version of the original assignment! </p>
            </li>
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon6.svg') %>" alt="Affordable Paper Prices">
                    <h3 class="list__item__flex_title">Affordable Paper Prices</h3>
                </div>
                <p class="list__item__paragraph">EssayHub understands the financial struggles of students and we make sure that our pricing is college-friendly. Prices start around $9/page, and the longer the task, the cheaper the price per page!</p>
            </li>
        </ul>
        <div class="text__button">
            <a href="https://app.essayhub.com/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="text__button_auth" rel="nofollow">Create a free account</a>
        </div>
    </div>
</section>
