<section class="section-3">
    <div class="container">
        <div class="text">
            <h2 class="text__title">The Process</h2>
            <div class="text__flex">
                <ul class="text__flex__list">
                    <li class="text__flex__list__item" data-open="1">
                        <div class="text__flex__list__item_div arrowshow arrowDown arrowUp">
                            <div>
                                <img src="<%= require('./images/icon01.svg') %>" class="icon"
                                     alt="Place an order online">
                                <h3 class="text__flex__list__item_div_paragraph">1. Place an order online</h3>
                            </div>
                        </div>
                        <p data-text="1" class="text__flex__list__item_paragraph">Ordering a paper online is quite
                            simple. All that we need are the necessary requirements given by the instructor so our
                            writers can create the desired custom essay. Feel free to send us copies of your previous
                            assignments to help us better replicate your writing style. By doing so the odds of your
                            order being up to par are significantly higher.</p>
                    </li>
                    <li class="text__flex__list__item" data-open="2">
                        <div class="text__flex__list__item_div arrowshow arrowDown">
                            <div>
                                <img src="<%= require('./images/icon02.svg') %>" alt="Place an order online"
                                     class="icon">
                                <h3 class="text__flex__list__item_div_paragraph">2. Pick your writer</h3>
                            </div>
                        </div>
                        <p data-text="2" class="text__flex__list__item_paragraph hidden">Having the option to pick your
                            essay writers is what brings unique professional masterpieces to life. A large majority of
                            our writers have been a part of this process for almost a decade. In this time they have
                            produced many high quality, personalized professional essays on time, even with harsh
                            deadlines,
                            securing our customers' satisfaction. </p>
                    </li>
                    <li class="text__flex__list__item" data-open="3">
                        <div class="text__flex__list__item_div arrowshow arrowDown ">
                            <div>
                                <img src="<%= require('./images/icon03.svg') %>" alt="Place an order online"
                                     class="icon">
                                <h3 class="text__flex__list__item_div_paragraph">3. Describe the assignment</h3>
                            </div>
                        </div>
                        <p data-text="3" class="text__flex__list__item_paragraph hidden">What separates us from the
                            pack is that here at EssayHub the users always have the opportunity to be in contact with
                            their essay writers throughout the entire process. This method allows you to fine tune or
                            simply supervise the work being produced for you.</p>
                    </li>
                    <li class="text__flex__list__item" data-open="4">
                        <div class="text__flex__list__item_div arrowshow arrowDown ">
                            <div>
                                <img src="<%= require('./images/icon04.svg') %>" alt="Place an order online"
                                     class="icon">
                                <h3 class="text__flex__list__item_div_paragraph">4. Enjoy the grade</h3>
                            </div>
                        </div>
                        <p data-text="4" class="text__flex__list__item_paragraph hidden">Once the assignment is complete
                            the writer will send you a thorough final draft of the custom written assignment to your
                            email. At that point all that is necessary is for you to release the agreed upon amount
                            for the essay to the respective writers account and for you to enjoy the grade.</p>
                    </li>
                </ul>

                <video controls="controls" class="process " data-img="1">
                    <source src="<%= require('../../../video/1.EssayHub_Order.mp4') %>" type="video/mp4">
                </video>
                <video controls="controls" class="process hidden" data-img="2">
                    <source src="<%= require('../../../video/2.EssayHub_Writer.mp4') %>" type="video/mp4">
                </video>
                <video controls="controls" class="process hidden" data-img="3">
                    <source src="<%= require('../../../video/3.EssayHub_Chat.mp4') %>" type="video/mp4">
                </video>
                <video controls="controls" class="process hidden" data-img="4">
                    <source src="<%= require('../../../video/4.EssayHub_Downloading.mp4') %>" type="video/mp4">
                </video>

            </div>
            <div class="text__button">
                <a href="https://app.essayhub.com/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="text__button_order" rel="nofollow">Start
                    now</a>
                <a href="https://essayhub.com/how-to-buy-an-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="gray-button">Read more</a>
            </div>
        </div>
    </div>
</section>
