<% data.calc_index = data.calc_index ? data.calc_index : 1 %>

<footer class="footer">
    <section class="container">
        <div class="flex-footer">
            <div class="text-block">
                <h2 class="title">Order an Essay Now!</h2>
                <p class="description">Get a free quote and idea of how much the writing process will cost before it
                    even begins. If the price is satisfactory, accept the bid and watch your concerns slowly fade away!
                    No more staying up until 4 am for Gen Ed papers.</p>
            </div>
            <div class="form-block">
                <div class="calculator calculator-theme__white calculator-for__home">
                    <%= require('./templates/calc/calc.ejs')({
                        htmlWebpackPlugin: data.htmlWebpackPlugin,
                        locale: data.locale,
                        locale_link: data.locale_link,
                        calc_index: data.calc_index
                    }) %>
                </div>
            </div>
        </div>
    </section>
    <hr class="footer-line">
    <div class="container">
        <div class="wrap">
            <nav class="nav normal">
                <div class="column">
                    <h3>EssayService.com</h3>
                    <ul class="nav__list nav__list-footer">
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/blog?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Blog</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/how-it-works.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">How It
                                Works</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/about-us.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">About Us</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/essay-writers.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                               class="nav__link ga-event mobile">Writers</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/prices.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                               class="nav__link ga-event mobile">Prices</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/reviews.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                               class="nav__link ga-event mobile">Reviews</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Services</h3>
                    <ul class="nav__list nav__list-footer">
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Custom Essay Writing</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/college-essay-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">College Essay Help</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/write-my-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Write My Essay</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/services.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">All Services</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3>FAQ</h3>
                    <ul class="nav__list nav__list-footer">
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/faq/essay-writing-service.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">What to consider when
                                choosing an Essay Writing Service?</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/faq/buy-an-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">How to Buy an Essay from
                                EssayService.com? </a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/faq/essay-writing-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                               class="nav__link ga-event mobile">What to Do if I Need Help with My Essay Writing?</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/faq/write-my-research-paper.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                               class="nav__link ga-event mobile">Can you Write my Research Paper for me?</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Legal</h3>
                    <ul class="nav__list nav__list-footer">
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/privacy-policy.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Service Privacy Policy</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="//app.essayservice.com/terms-and-conditions?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" rel="nofollow"
                               class="nav__link ga-event mobile">Terms and Conditions</a>
                        </li>
                        <li class="nav_mobile-item">
                            <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/guarantees.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                               class="nav__link ga-event mobile">Service Guarantees</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="flex-block">

                <div class="logo-block">
                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="logo_firstWord">
                        <img src="<%= require('./images/1360_b.svg') %>" class="image-logoFooter"
                             alt="EssayService"/></a>
                    <p class="copyright-text">2017 ©. All rights reserved</p>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/essayservicecom/ " rel="nofollow"><img
                                src="<%= require('./images/facebook.svg') %>" alt="Facebook"></a>
                    <a href="https://plus.google.com/104872935378165979492" rel="nofollow"><img
                                src="<%= require('./images/google.svg') %>" alt="Google+"></a>
                    <a href="https://twitter.com/essayservicecom" rel="nofollow"><img
                                src="<%= require('./images/twitter.svg') %>" alt="Twitter"></a>
                </div>
                <div class="pay-block">
                    <div class="pay-block__img-wrapper">
                        <img src="<%= require('./images/footer_one.svg') %>" alt="Visa">
                    </div>
                    <div class="pay-block__img-wrapper">
                        <img src="<%= require('./images/footer_two.svg') %>" alt="MasterCard">
                    </div>
                    <div class="pay-block__img-wrapper">
                        <img src="<%= require('./images/footer_three.svg') %>" class="amex" alt="American-Express">
                    </div>
                    <div class="pay-block__img-wrapper">
                        <img src="<%= require('./images/footer_four.svg') %>" alt="PayPal">
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

</div>
</div>
</div>


<script src="/common.js" defer></script>
<% for (var chunk in data.htmlWebpackPlugin.files.chunks) { %>
<script src="<%= data.htmlWebpackPlugin.files.chunks[chunk].entry %>" defer>
</script>
<% } %>

<% for (var css in data.htmlWebpackPlugin.files.css) { %>
<script defer>

    var body = document.getElementsByTagName('body');

    var element1 = document.createElement('link');
    element1.rel = 'stylesheet';
    element1.type = 'text/css';
    element1.href = '<%= data.htmlWebpackPlugin.files.css[css] %>';
    body[0].appendChild(element1);

    var element2 = document.createElement('link');
    element2.rel = 'stylesheet';
    element2.type = 'text/css';
    element2.href = '/common.css';
    body[0].appendChild(element2);

</script>
<% } %>


</body>
</html>
