<% data.headerClass = data.headerClass ? data.headerClass : '' %>
<% data.locale = data.locale ? data.locale : 'us' %>

<!doctype html>
<html class="no-js desktop" lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%- data.title %></title>
    <meta name="description" content="<%- data.description %>">
    <meta name="keywords" content="<%- data.keywords %>">

    <% if (data.robots) { %>
    <meta name="robots" content="<%- data.robots %>">
    <% } %>

    <link rel="canonical" href="<%- data.htmlWebpackPlugin.options.site_url %> <%- data.path %>">


    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%- data.title %>">
    <meta name="twitter:site" content="@essayservicecom">
    <meta name="twitter:description" content="<%- data.description %>">
    <meta name="twitter:image"
          content="<%- data.htmlWebpackPlugin.options.site_url %>/shared/images/og/share-image.jpg">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%- data.htmlWebpackPlugin.options.site_url %> <%- data.path %>"/>
    <meta property="og:title" content="<%- data.title %>"/>
    <meta property="og:description" content="<%- data.description %>"/>
    <meta property="og:site_name" content="EssayService.com"/>
    <meta property="og:image"
          content="<%- data.htmlWebpackPlugin.options.site_url %>/shared/images/og/share-image.jpg"/>
    <meta property="og:image:secure_url"
          content="<%- data.htmlWebpackPlugin.options.site_url %>/shared/images/og/share-image.jpg"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="628"/>
    <meta property="fb:app_id" content="215408672192172"/>
    <meta property="fb:admins" content="100010220260799"/>
    <link rel="publisher" href="https://plus.google.com/104872935378165979492"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/shared/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/shared/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/shared/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/shared/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/shared/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/shared/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/shared/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/shared/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/shared/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/shared/images/icons/android-icon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/shared/images/icons/manifest.json">
    <link rel="shortcut icon" href="/shared/images/icons/favicon.ico">
    <meta name="application-name" content="Custom Essay Writing Service | EssayService.com"/>
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/shared/images/icons/ms-icon-144x144.png">
    <meta name="msapplication-square70x70logo" content="/shared/images/icons/ms-icon-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/shared/images/icons/ms-icon-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/shared/images/icons/ms-icon-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/shared/images/icons/ms-icon-310x310.png"/>
    <meta name="msapplication-config" content="/shared/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#566062">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" async></script>


    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your
        browser</a> to improve your experience.</p>
    <![endif]-->
</head>
<body>


<div class="mdl-layout__container">
    <div class="wrapper home mdl-layout mdl-js-layout has-drawer is-upgraded is-small-screen" id="wrapper">
        <div id="site-canvas">
            <header id="header" class="header__not-fixed">
                <div class="header_inner">
                    <div class="header__left logo-block">
                        <!--mobile-->
                        <a class="nav_link-i toggle_nav-mob" id="sideNavLeft"><i
                                    class="icon nav_mob-i onOpen_i"></i></a>
                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="logo_firstWord">
                            <img src="<%= require('./images/1360_w.svg') %>" class="image-logoNav landscapeLogo"
                                 data-logo="white" alt="EssayService"/>
                            <img src="<%= require('./images/1360_b.svg') %>"
                                 class="image-logoNav landscapeLogo logo_hidden"
                                 data-logo="black" alt="EssayService"/>

                            <img src="<%= require('./images/320_w.svg') %>" class="image-logoNav mobileLogo"
                                 data-logo="white" alt="EssayService"/>
                            <img src="<%= require('./images/320_b.svg') %>"
                                 class="image-logoNav mobileLogo logo_hidden"
                                 data-logo="black" alt="EssayService"/>
                        </a>

                        <!--landscape-->
                        <nav class="nav normal">
                            <ul class="nav__list">
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/how-it-works.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">How It Works</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/about-us.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">About Us</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/essay-writers.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Writers</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/faq.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">FAQ</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/blog/?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Blog</a>
                                </li>
                                <li class="nav_mobile-item nav__dropdown--relative">
                                    <a id="learn" class="link ga-event nav__link ga-event mobile">Services<i
                                                class="arrow-down scrollTop"></i></a>
                                    <!--dropdown-->
                                    <div class="mdl-menu__container is-upgraded"
                                         style="left: -135px;width: 330px;height: 200px;">
                                        <div class="mdl-menu__outline mdl-menu--bottom-left"
                                             style="width: 235px;height: 225px;">
                                            <ul class="list child mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">Custom Essay
                                                        Writing</a>
                                                </li>
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/college-essay-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">College Essay
                                                        Help</a>
                                                </li>
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/write-my-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">Write My Essay</a>
                                                </li>
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/services.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">All Services</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </nav>


                    </div>
                    <div class="header__right">
                        <div class="divider"></div>
                        <div class="auth">
                            <ul class="auth__list">
                                <li class="auth__item"><a rel="nofollow"
                                                          href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/login?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                          class="auth__link auth__sign-in ga-event">Log
                                        In</a></li>
                                <li class="auth__item"><a rel="nofollow"
                                                          href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                          class="auth__link auth__sign-up ga-event">Sign
                                        Up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>


            <div class="mdl-layout__drawer-left">
                <div class="auth mobile">
                    <ul class="auth__list">
                        <li class="auth__item"><a id="sideNavClose" class="auth__link__nav--close"><img
                                        src="<%= require('./images/close.svg') %>" class="onClose_i" alt="Close"></a>
                        </li>
                        <li class="auth__item"><a href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/login?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                  class="auth__link auth__sign-in ga-event"
                                                  rel="nofollow">Log In</a></li>
                        <li class="auth__item"><a
                                    href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                    class="auth__link auth__sign-up ga-event"
                                    rel="nofollow">Sign Up</a>
                        </li>
                    </ul>
                </div>
                <ul class="mdl-side-nav" id="leftNav">
                    <li class="item">
                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link primary ga-event"
                           data-ga-category="home" data-ga-action="click" data-ga-label="home-header Writers click">
                            <span class="link-text">Home</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/how-it-works.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link primary ga-event"
                           data-ga-category="home" data-ga-action="click"
                           data-ga-label="home-header How it works click">
                            <i class="icon icon__hiw"></i>
                            <span class="link-text">How
                            It
                            Works</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/about-us.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                           class="link primary ga-event" data-ga-category="home" data-ga-action="click"
                           data-ga-label="home-header Place order click">
                            <i class="icon icon__place-order"></i>
                            <span class="link-text">About
                            Us</span>
                        </a>
                    </li>
                    <li class="item">
                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/essay-writers.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link primary ga-event"
                                data-ga-category="home" data-ga-action="click"
                                data-ga-label="home-header Customer reviews click">
                            <i class="icon icon__reviews"></i>
                            <span class="link-text">Writers</span>
                        </a>
                    </li>
                    <li class="item">
                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/faq.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link icon-5 ga-event"
                                data-ga-category="home"
                                data-ga-action="click" data-ga-label="home-header Customer reviews click">
                            <i class="icon icon__faq"></i>
                            <span class="link-text">FAQ</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="//essayservice.com/blog?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link primary ga-event" data-ga-category="home"
                           data-ga-action="click" data-ga-label="home-header Blog click" target="_blank">
                            <i class="icon icon__blog"></i>
                            <span class="link-text">Blog</span>
                        </a>
                    </li>

                    <li class="item-divider"></li>

                    <li class="item">
                        <span class="link-text gray-text">Services</span>
                    </li>
                    <li class="item">
                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                class="link secondary ga-event" data-ga-category="home" data-ga-action="click"
                                data-ga-label="home-header Terms and Conditions click">
                            <i class="icon icon__terms"></i>
                            <span class="link-text">Custom
                            Essay Writing</span>
                        </a>
                    </li>
                    <li class="item">
                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/college-essay-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link secondary ga-event"
                                data-ga-category="home" data-ga-action="click"
                                data-ga-label="home-header Become a writer click">
                            <i class="icon icon__baw"></i>
                            <span class="link-text">College Essay Help</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/write-my-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link secondary ga-event"
                           data-ga-category="home"
                           data-ga-action="click" data-ga-label="home-header Affiliate program click">
                            <i class="icon icon__affiliate"></i>
                            <span class="link-text">Write My Essay</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/services.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="link secondary ga-event"
                           data-ga-category="home"
                           data-ga-action="click" data-ga-label="home-header Affiliate program click">
                            <i class="icon icon__affiliate"></i>
                            <span class="link-text">All Services</span>
                        </a>
                    </li>
                </ul>
                <ul class="subnav">
                    <li class="subnav-item">
                        <a href="#" id="back" class="subnav-link secondary link-back">
                            <i class="icon icon__back"></i>
                            <span>Back</span>
                        </a>
                    </li>
                    <li class="subnav-item">
                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="subnav-link primary ga-event"
                                data-ga-category="home" data-ga-action="click"
                                data-ga-label="home-header EssayWriterLanding click">Custom
                            Essay Writing</a>
                    </li>
                    <li class="subnav-item">

                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/college-essay-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="subnav-link primary ga-event"
                                data-ga-category="home" data-ga-action="click"
                                data-ga-label="home-header EssayWritingServiceLanding click">College Essay Help</a>
                    </li>
                    <li class="subnav-item">
                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/write-my-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="subnav-link primary ga-event"
                                data-ga-category="home" data-ga-action="click"
                                data-ga-label="home-header EssayWriterLanding click">Write My Essay</a>
                    </li>
                    <li class="subnav-item">
                        <a
                                href="<%= data.htmlWebpackPlugin.options.frontend_url %>/services.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="subnav-link primary ga-event"
                                data-ga-category="home" data-ga-action="click"
                                data-ga-label="home-header EssayWriterLanding click">All Services</a>
                    </li>

                </ul>
            </div>


