@import "../../../common";

@mixin font_stabilize() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 1px transparent;
}



/// MIXINS --->

.container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 4;
  position: relative !important;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}

.section-1, .section-footer, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8, .section-9, .section-10, .section-12, .section-13, .section-14, .section-15, .section-16, .section-17, .section-18,
.section-19, .section-20, .section-21, .section-22, .section-23, .section-24, .section-25, .section-26, .section-27, .section-28, footer {
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.section_content {
  position: relative;
  z-index: 1;
}

//all sections

.section-2 {
  padding-top: 60px;
  padding-bottom: 75px;
  margin-bottom: 0;
  margin-top: 0;
}

.section-3 {
  padding-top: 10px;
  padding-bottom: 55px;
}

.section-6 {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .section-2 {
    padding-top: 20px;
    padding-bottom: 1px;
  }

  .section-3 {
    padding-bottom: 40px;
  }

}

//*all section

.primary {
  position: relative;
}

.primary-title {
  text-align: center;
  font-weight: $weight;
  font-size: 34px;
  color: $primary-gray;
  letter-spacing: 0px;
}

.list-title {
  font-weight: $weight;
  font-size: 18px;
  color: $primary-gray;
  margin-left: 25px;
}

@media screen and (min-width: 541px) {
  .section-4 .container .list__item__flex_title {
    margin-left: 0px;
  }
}

/// COMMON STYLES --->
a:hover {
  cursor: $cursor;
}

.h1, .h2, .h3, .h4, .p, body {
  @include font_stabilize();
}

.h1 {
  font-size: 40px;
  font-weight: 400;
}

.h2 {
  font-size: 34px;
}

.h3 {
  font-size: 22px;
}

.h4 {
  font-size: 18px;
}

.p {
  font-size: 15px;
}

/// COMMON STYLES FOR PAGES --->
.title.h2 {
  font-weight: $weight;
  text-align: center;
  font-size: 34px;
  color: #414A54;
  letter-spacing: 0;
}

.h3.text__wide {
  font-weight: $weight;
  font-size: 22px;
  color: #5E6977;
  letter-spacing: -0.17px;
  line-height: 36px;
  text-align: left;
  padding: 0 0 40px 0;
  margin: 0;
}

.p {
  text-align: left;
  font-weight: $weight;
  font-size: 15px;
  color: #43484D;
  letter-spacing: 0;
  line-height: 25px;
}

.list {
  list-style-type: none;
}

.h4 {
  font-weight: $weight;
  font-size: 18px;
  color: #43484D;
  line-height: 20px;
}

.h3 {
  font-weight: $weight;
  font-size: 22px;
  color: $primary-gray;
}

.section_content {
  padding-bottom: 60px;

  .h2.title {
    text-align: center;
  }
}

.section_10.center {
  background-color: #2B2D48;
  height: 400px;
  background-size: 100%;

  .h1 {
    text-align: center;
    font-size: 34px;
    color: $primary-color;
    letter-spacing: 0;
    line-height: 50px;
    width: 100%;
    margin: 0;
    padding-top: 100px;
  }
}

.section_10.light {
  width: 100%;
  background-color: #2B2D48;
  height: 290px;
  background-size: 100%;

  .container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
  }
}

.h4 {
  padding: 40px 0 20px 0;
  margin: 0 !important;
}

.p {
  margin: 0;
}

.section_content {
  padding-top: 30px;

  .container {
    max-width: 785px;
  }
  .half__line {
    opacity: 0.5;
    background: #E1E8EE;
    width: 100%;
    margin: 45px 0 0 0;
  }
  .list {
    padding: 0;

    .h4 {
      margin-left: 15px !important;
    }
    .p {
      margin-left: 40px;
    }
  }

  .text__number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
  .number {
    opacity: 0.8;
    font-size: 14px;
    color: #86939E;
    letter-spacing: 0;
    line-height: 14px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: $weight;
    border: 2px solid #E1E8EE;
  }

}

/// BUTTONS --->
.button__group.button__green {
  font-weight: $weight;
  font-size: 18px;
  color: $primary-color;
  border-radius: 6px;
  text-decoration: none;
  cursor: $cursor;
  padding: 13px 34px;
  background: #4CAF50;
}

.text__button_order:hover,
.text__button_order:focus,
.text__button_order:active {
  background-color: #45C352 !important;
}

.button__group.button__green:hover,
.button__group.button__green:focus,
.button__group.button__green:active {
  background-color: #45C352 !important;
}

.button__group.button__blue {
  font-weight: $weight;
  font-size: 18px;
  color: $primary-color;
  border-radius: 6px;
  text-decoration: none;
  cursor: $cursor;
  background: #216EBE;
  padding: 13px 30px;
}

.button__group.button__blue:hover {
  background-color: #0082d5;
  cursor: pointer;
}

/// MEDIAQUETY --->
@media screen and (max-width: 1250px) {
  .container {
    min-width: 90% !important;
  }
  .section_10 .container,
  .section_10.center .container,
  .section_10.light .container {
    width: 90%;
    margin: 0 auto;
    //text-align: center;
  }
  //.page__writers .section_content,
  .page__terms .section_content,
  //.page__become-a-writer .section_content,
  //.page__feedback .section_content,
  //.page__about-us .section_content,
  //.page__faq .section_content
  //.page__how-it-works .section_content,
  //.page__privacy-policy .section_content {
    .container {
      width: 90% !important;
    }
  }
  //   #header .auth__sign-in {
  //     display: none;
  //  }



/// CONTAINER
.section_content {
  .container {
    width: 785px;
  }

  @media screen and (max-width: 800px) {
    .container {
      width: 100% !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

  }

  @media screen and (max-width: 540px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

  }

}

@media screen and (max-width: 540px) {
  .section_16 {
    background-position: 5% 0;
  }

  .section-7 .container .text__list {
    height: 290px;
  }
  .button__group.button__blue,
  .text__button .text__button_auth {
    background-color: #216EBE;
    border-radius: 6px;
    font-size: 15px;
    color: $primary-color;
    padding: 15px 30px;
  }
  .button__group.button__green,
  .text__button .text__button_order {
    padding: 15px 30px;
    background: #4CAF50;
    border-radius: 6px;
    font-size: 15px;
    color: $primary-color;
  }
}

@media screen and (max-width: 368px) {
  .section-7 .container .text__list {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .section-7 .container .text__list_item {
    width: 320px;
  }
}

//Fonts
//_____________________________________
@media screen and (max-width: 991px) {

  h1, .h1 {
    font-size: 1.6em !important;
    line-height: 1.125em !important;
  }

  h2, .h2 {
    font-size: 1.6em !important;
    line-height: 1.25em !important;
  }

  h3, .h3 {
    font-size: 1em !important;
    line-height: 1.25em !important;
  }

  h4, .h4 {
    font-size: 1.125em !important;
    line-height: 1.22222222em !important;
  }

  p, .p {
    font-size: 0.85em !important;
    line-height: 1.5em !important;
  }
}

//@media screen and (max-width: 767px) {
//
//  body {
//    font-size: 1em !important;
//    line-height: 1.25em !important;
//  }
//
//  h1, .h1 {
//    font-size: 2em !important;
//    line-height: 1.25em !important;
//  }
//
//  h2, .h2 {
//    font-size: 1.625em !important;
//    line-height: 1.15384615em !important;
//  }
//
//  h3, .h3 {
//    font-size: 1.375em !important;
//    line-height: 1.13636364em !important;
//  }
//
//  h4, .h4 {
//    font-size: 1.125em !important;
//    line-height: 1.11111111em !important;
//  }
//
//  p, .p {
//    font-size: 1em !important;
//    line-height: 1.25em !important;
//  }
//}
//
//@media screen and (max-width: 540px) {
//
//  body {
//    font-size: 1em !important;
//    line-height: 1.25em !important;
//  }
//
//  h1, .h1 {
//    font-size: 2em !important;
//    line-height: 1.25em !important;
//    text-align: left !important;
//  }
//
//  h2, .h2 {
//    font-size: 1.625em !important;
//    line-height: 1.15384615em !important;
//    text-align: left !important;
//  }
//
//  h3, .h3 {
//    font-size: 1.375em !important;
//    line-height: 1.13636364em !important;
//    text-align: left !important;
//  }
//
//  h4, .h4 {
//    font-size: 1.125em !important;
//    line-height: 1.11111111em !important;
//    text-align: left !important;
//  }
//
//  p, .p {
//    font-size: 1em !important;
//    line-height: 1.25em !important;
//  }
//
//}

//magnific popup
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.with-popup {
  outline: 0;
}
