@media only screen
and (max-width: 480px) {

  .main-menu-container__mobile {
    overflow-y: auto;
  }
  .header__home .main-menu-container__mobile ul {
    padding-bottom: 100px;
  }
  .main-menu-container__mobile ul {
    padding-bottom: 110px;
  }

}
