@media only screen
and (max-width: 1000px) {

  .overlay {
    /*background: rgba(0, 0, 0, 0.2);*/
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0);
    transition: .4s;
    z-index: 1020;
  }
  .invisible {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  .main-menu-button {
    background: none;
    border: 0;
    float: left;
    outline: 0;
    padding: 0;
    width: 68px;
    height: 56px;
    line-height: 56px;
    z-index: 1000;
  }

  .main-menu-stripe-group {
    position: absolute;
    top: 21px;
    left: 15px;
    width: 20px;
    height: 14px;
  }

  .main-menu-stripe {
    background-color: #337ab7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    transition: all .3s cubic-bezier(0.19,1,.22,1);

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      top: 12px;
    }
  }
  .user-menu-button {
    background: rgba(0,0,0,0);
    border: 0;
    float: right;
    outline: 0;
    padding: 0;
    width: 68px;
    height: 56px;
    line-height: 56px;
    z-index: 1000;
  }

  .user-menu-button-image {
    background: url(../../../images/svg/menu_icon__user.svg) no-repeat 50% 50%;
    position: absolute;
    top: 11px;
    right: 15px;
    width: 32px;
    height: 32px;
  }

  .user-menu-button-image {
    transform: rotate(0deg);
    transition: all .7s cubic-bezier(0.19,1,.22,1);
  }

  .nav-button-animate {

    .user-menu-button-image {
      transform: rotate(-360deg);
      transition: all .7s cubic-bezier(0.19,1,.22,1);
    }

  }

  .main-menu-active .main-menu-stripe {

    &:nth-child(1) {
      width: 50%;
      transform: translateX(-3px) translateY(3px) rotate(-45deg);
    }
    &:nth-child(3) {
      width: 50%;
      transform: translateX(-3px) translateY(-3px) rotate(45deg);
    }

  }

  .flyout-trigger {}

  .main-menu-container__mobile,
  .user-menu-container__mobile {
    background-color: #374355;
    display: block;
    position: fixed;
    top: 56px;
    width: auto;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: .4s;
  }
  .main-menu-container__mobile {
    left: -300px;

    .main-menu-active & {
      left: 0;
    }
  }
  .user-menu-container__mobile {
    right: -250px;

    .user-menu-active & {
      right: 0;
    }
  }

  .main-menu__mobile,
  .user-menu__mobile {
    height: 100%;
    list-style: none outside none;
    margin-bottom: 0;
    overflow-y: auto;
    padding-left: 0;
  }

  .main-menu__mobile {
    padding-bottom: 100px;
  }

  .main-menu-link__mobile,
  .user-menu-link__mobile {
    background: {
      position: 15px 50%;
      repeat: no-repeat;
    }
    border: 0;
    display: block;
    padding: 8px 20px 8px 50px;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    transition: background 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: #204d74;
      color: #fff;
    }
  }

  .menu-icon__home {
    background-image: url(../../../images/svg/menu_icon__home.svg);
  }
  .menu-icon__how-it-works {
    background-image: url(../../../images/svg/menu_icon__how_it_works.svg);
  }
  .menu-icon__my-orders {
    background-image: url(../../../images/svg/menu_icon__my_orders.svg);
  }
  .menu-icon__writers {
    background-image: url(../../../images/svg/menu_icon__writers.svg);
  }
  .menu-icon__place-order {
    background-image: url(../../../images/svg/menu_icon__place_order.svg);
  }
  .menu-icon__help-center {
    background-image: url(../../../images/svg/menu_icon__help_center.svg);
  }
  .menu-icon__customer_feedback {
    background-image: url(../../../images/svg/menu_icon__customer_feedback.svg);
  }
  .menu-icon__about_us {
    background-image: url(../../../images/svg/menu_icon__about_us.svg);
  }
  .menu-icon__blog {
    background-image: url(../../../images/svg/menu_icon__blog.svg);
  }
  .menu-icon__become-a-writer {
    background-image: url(../../../images/svg/menu_icon__become_a_writer.svg);
  }
  .menu-icon__affiliate-program {
    background-image: url(../../../images/svg/menu_icon__affiliate_program.svg);
  }
  .menu-icon__privacy-policy {
    background-image: url(../../../images/svg/menu_icon__privacy_policy.svg);
  }
  .menu-icon__sign-in {
    background-image: url(../../../images/svg/menu_icon__sign_in.svg);
  }
  .menu-icon__sign-up {
    background-image: url(../../../images/svg/menu_icon__sign_up.svg);
  }

}
