@import "../../../../common";


//.section_10.center {
//    background-color: #2B2D48;
//    height: 400px;
//
//    .h1 {
//      text-align: center;
//      font-size: 34px;
//      color: $primary-color;
//      letter-spacing: 0;
//      line-height: 50px;
//      width: 100%;
//      margin-top: 140px;
//    }
//  }

.anchor {
  position: relative;
  top: -50px;
  visibility:hidden;
}

.page__faq .section_10.center, .page__faq .section_10.light {
  background-image: url(../../../images/bg.png);
  height: 260px;
}
.page__faq .section_10.light {
  background-image: url(../../../images/bg.png);
  height: 210px;

  .block__flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
  .section_14 {
    position: relative;
    height: 1154px;
    background: #F0F1F7;

    .list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      position: absolute;
      top: -75px;
      width: 1200px;
    }
    .block__link {
      text-decoration: none;
      background: $primary-color;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.07);
      border-radius: 4px;
      width: 590px;
      //height: 160px;
      height: auto;
      font-weight: $weight;
      margin: 10px 0;

      .h4 {
        font-size: 18px;
        color: $primary-gray;
        margin: 20px 5px 0 20px !important;
        padding: 0;
      }
      .p {
        font-size: 15px;
        color: $gray;
        line-height: 25px;
        margin: 20px;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
      span {
        max-width: 520px;
      }
      .go {
        max-width: 6.44px;
        margin-top: 16px;
        margin-left: 14px;
      }

    }

    .block__link:hover {
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
      transition: ease all 0.3s;
    }

  }
  .section_15 {
    background-image: url(../../../images/service_faq/bg_faq.png);
    background-color: #2A2E47;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 44%;

    display: flex;
    flex-direction: row;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 785px;
    }

    .block__half {

      .h2 {
        font-size: 34px;
        color: $primary-color;
        letter-spacing: 0;
        margin: 0;
        font-weight: 400;
      }
    }
    .block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .h2 {
        font-size: 34px;
        color: #DEE4ED;
        letter-spacing: 0;
      }
      .p {
        font-size: 15px;
        color: #DEE4ED;
        letter-spacing: 0;
        width: 243px;
        margin-left: 15px;
      }
    }
  }
  .section_10 {
    height: 280px;

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .p.breadcrumb {
      letter-spacing: 0;
      padding: 13px 16px;
      text-decoration: none;
      margin-top: 40px;
      text-align: center;
      background: #212338;
      border-radius: 6px;
      font-size: 18px;
      color: #FFFFFF;
      margin-right: 40px;
    }

    .p.breadcrumb:hover {
      color: #fff;
    }
    .h1 {
      font-size: 34px;
      color: $primary-color;
      letter-spacing: 0;
      line-height: 50px;
      margin: 0;
    }
  }
  .page__faq {
    .section_10.light {
      height: 230px;
    }
  }

  .page__faq-for-essay-writers {
    border-bottom: 1px solid #EDF0F4;

    .section_10.center {
      height: 210px;
      background-image: url(../../../images/bg.png);
    }
    .question-list {
      padding: 0;
      list-style-type: none;

      li {
        margin-bottom: 15px;
      }

    }
    a.question {
      text-decoration: none;
      font-size: 22px;
      color: #44A1EB;
      line-height: 25px;
    }
    h2.h4 {
        font-size: 22px;
        color: #414B54;
      }
      p.p {
        font-size: 15px;
        color: #6C767F;
        line-height: 25px;
      }
    .list-answer {
      padding: 0;
      li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
      }
      p.p {
        font-size: 15px;
        color: #6C767F;
        line-height: 25px;
      }
      .bignumber {
        margin-right: 27px;
        font-size: 22px;
        color: #6C767F;
        line-height: 25px;
      }
    }
      .flex-pay ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 60px 0;

        .paypal {
          width: 93px;
          margin-right: 50px;
        }
        .payoneer {
          width: 85px;
          margin-right: 50px;
        }
        .skrill {
          width: 58px;
          margin-right: 50px;
        }
        .transfer {
          width: 78px;
          margin-right: 50px;
        }
        .visa {
          margin-right: 50px;
          width: 102px;
        }
        .epayments {
        width: 112px;
        }
      }
      p.p.with-margin {
        margin-bottom: 20px;
      }

    .button__group.center {
      padding: 40px 0;
      text-align: center;
    }

  }
