@media screen and (max-width: 1250px) and (min-width: 768px){
  .section_14 {
    height: 1400px;

    .container {
      width: 90%;
    }

    .list {
      width: 100%;
    }
    .block__link {
      width: 49%;
    }
  }
}
//@media screen and (max-width: 1250px) and (min-width: 812px) {
//  .section_14 {
//    height: 1300px;
//  }
//}

@media screen and (max-width: 767px) {
  .section_14 {
    height: 1790px;

    .container {
      width: 90%;
    }

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
@media screen and (max-width: 820px){
  .section_15 {
    background-size: cover;

    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  .section_15 .block__half {
    padding: 10px 0;
  }
  .section_15 .block .p {
    margin-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .section_14 {
    height: 2000px;
    .block__link {
      width: 100%;
    }
  }
}
@media screen and (max-width: 540px) {
  .section_14 {
    height: 2100px;
  }
}
@media screen and (max-width: 500px) {
  .section_14 {
    height: 2300px;
  }
  .section_15 .block__half .h2{
    text-align: center !important;
    margin-top: 15px;
    margin-right: 15px;
  }
  .section_15 .block .p {
    padding: 10px 0 20px 0;
  }
  .section_15 {
    height: 210px;
  }
}
@media screen and (max-width: 420px) {
  .section_14 {
    height: 2500px;
  }
  //.section_15 .block__half {
  //  width: 100%;
  //}
  .page__faq .section_10.light .block__flex {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    .p.breadcrumb {
      margin-bottom: 15px;
    }
  }

}
@media screen and (max-width: 520px) and (min-width: 450px) {
  .section_15 .block__half {
    padding: 10px 0;
    text-align: center;
  }
  .section_15 .block .p {
    margin-left: 15px;
  }
  .section_15 {
    height: 240px;
  }
}
@media screen and (max-width: 390px) and (min-width: 349px) {
  .section_14 {
    height: 2400px;
  }
}
@media screen and (max-width: 348px) and (min-width: 320px) {
  .section_14 {
    height: 2650px;
  }
}
@media screen and (max-width: 800px) {
  .page__faq-for-essay-writers {
    .flex-pay ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      li {
        width: 26%;
      }
    }
    .paypal, .payoneer, .skrill, .transfer, .visa, .epayments {
      margin: 10px 0;
    }
    .question-list .question {
      font-size: 1.125em !important;
      line-height: 1.22222222em !important;
    }
  }
}
@media screen and (max-width: 540px) {
  .page__faq-for-essay-writers {
    .flex-pay ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      li {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 990px) and (min-width: 850px) {
  .section_14 {
    height: 1250px;
  }
}
@media screen and (max-width: 1250px) and (min-width: 1120px) {
  .section_14 {
    height: 1200px !important;
  }
}
@media screen and (max-width: 1120px) and (min-width: 990px) {
  .section_14 {
    height: 1300px !important;
  }
}
@media screen and (max-width: 500px) and (min-width: 480px) {
  .section_14 {
    height: 2000px !important;
  }
}
@media screen and (max-width: 480px) and (min-width: 448px) {
  .section_14 {
    height: 2050px !important;
  }
}
@media screen and (max-width: 448px) and (min-width: 420px) {
  .section_14 {
    height: 2250px !important;
  }
}
@media screen and (max-width: 420px) and (min-width: 400px) {
  .section_14 {
    height: 2300px !important;
  }
}
@media screen and (max-width: 386px) and (min-width: 354px) {
  .section_14 {
    height: 2530px !important;
  }
}
@media screen and (max-width: 350px) and (min-width: 344px) {
  .section_14 {
    height: 2600px !important;
  }
}
@media screen and (max-width: 336px) and (min-width: 326px) {
  .section_14 {
    height: 2700px !important;
  }
}
@media screen and (max-width: 325px) and (min-width: 320px) {
  .section_14 {
    height: 2850px !important;
  }
}