@import './var';
@import './calculator_common';

.calculator {

  &__form-select-arrow {
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 20;
    margin-top: -3px;
    background: url(./assets/select_arrow.svg) no-repeat 50% 50%;
    background-size: 7px 6px;
  }

  &__form-button__select {
    display: block;
    position: relative;
    width: 50px;
    height: 45px;
    padding: 0;

    background-color: rgba(41, 45, 51, 1);
    //border: 1px solid #42464D;

    &:hover,
    &:focus {
      z-index: 20;
    }

    &:hover {
      border-color: #C4C4C4;
    }

    &:focus {
      border-color: #44a1eb;
    }

    &-decrement,
    &-increment {
      @extend .calculator__form-button__select;

      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &-decrement {
      background-image: url(./assets/decrement.svg);
      background-size: 12px 2px;
      border-radius: 5px 0 0 5px;
      margin-right: -1px;
    }

    &-increment {
      background-image: url(./assets/increment.svg);
      background-size: 12px 12px;
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }

  }

}
