@import './var';
@import './calculator_common';

.calculator {

  &__form-dropdown {

    .selected-value {
      display: inline;
    }

    .placeholder {
      display: none;
    }

  }

  .open &__form-dropdown {
    border-bottom: 1px solid rgba(0,0,0,0);
    border-radius: 5px 5px 0 0;

    .selected-value {
      display: none;
    }

    .placeholder {
      display: inline;

      color: #9aa1ab;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }

  }

  .dropdown-menu {
    //margin: -2px 0 0;
    //padding: 0;
    //
    //background-color: #292d34;
    //border: 1px solid #979797;
    //border-top-color: rgba(0,0,0,0);
    //border-radius: 0 0 5px 5px;
    //box-shadow: none;

    &__list {
      overflow-x: hidden;
      overflow-y: auto;

      list-style: none outside none;
      margin: 0;
      padding: 0;

      background-color: rgba(41, 45, 51, 1);
      border-radius: 0 0 5px 5px;
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      position: relative;
      height: 43px;
      padding: 0 16px;
      color: #bcc3cd;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      text-align: left;
      white-space: nowrap;

      &:last-child {
        border-radius: 0 0 5px 5px;
      }

      &:hover,
      &:focus {
        background-color: #4b4f56;
      }

    }

  }

  .dropdown-half {

    .dropdown-menu__item {
      padding: 0 10px;
    }

  }

  &__form-dropdown-half {
    @extend .calculator__form-dropdown;
    border-radius: 0;
    padding: 0 20px 0 10px;
  }

  &__form-select-half {
    @extend .calculator__form-select;
    border-radius: 0;
    padding: 0 20px 0 10px;
  }

  .open &__form-dropdown-half {
    border-radius: 0;
  }

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  //font-weight: bold;
}

*, :after, :before {
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.dropup, .dropdown {
  position: relative;
}

.open > .dropdown-menu {
  display: block;
}
