@import './var';

.calculator {

  &__button {
    width: 100%;
    height: 45px;
    padding: 0 24px;

    background-color: #0282d5;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: #30baff;
    }

  }

}
