@import './var';

$field-width: 205px;
$field-half-width: 107px;
$field-mobile-width: 290px;
$field-half-mobile-width: 192px;

.calculator-type__minimal {

  .calculator {

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &__content {
      padding: 0;

      @include tablet-768 {
        display: flex;
        align-items: center;
      }

      @include tablet {
        flex-direction: column;
      }

      @include desktop {
        justify-content: center;
      }

    }

    &__first-block {

      @include mobile {
        margin-bottom: 15px;
      }

      @include tablet {
        margin-bottom: 15px;
      }

      @include desktop {
        margin-right: 20px;
      }

      @include tablet-768 {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

    &__second-block {}

    &__form-row {

      @include mobile {
        margin-bottom: 15px;
      }

      @include tablet-768 {
        margin-right: 20px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }

      }

    }

    .dropdown-menu {
      width: $field-width;

      @include mobile {
        width: $field-mobile-width;
      }

      &__list {
        max-height: 194px;
      }

      &__item {
        width: $field-width - 2px;

        @include mobile {
          width: $field-mobile-width - 2px;
        }

      }

    }

    .dropdown-half {

      .dropdown-menu {
        width: $field-half-width;
        min-width: $field-half-width;
        max-width: $field-half-width;

        @include mobile {
          width: $field-half-mobile-width;
          min-width: $field-half-mobile-width;
          max-width: $field-half-mobile-width;
        }

      }

      .dropdown-menu__item {
        width: $field-half-width - 2px;

        @include mobile {
          width: $field-half-mobile-width - 2px;
        }

      }

    }

    .button-filled__primary {
      height: 45px !important;

      @include mobile {
        width: 290px;
      }

      @include tablet-768 {
        width: 205px;
      }

    }

  }

}
