<% data.locale = 'us' %>
<% data.locale_link = data.locale != 'us' ? '/' + data.locale + '/' : '/' %>
<% data.path = '/' %>
<%= require('../../common/templates/header/header.ejs')({
  locale: data.locale,
  path:data.path,
  pathCss: data.pathCss,
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  title: 'A heavenly hub of custom essays that is always there for you',
  description: 'Swamped by deadlines? Connect with the EssayHub today for custom essay writing services and premium academic help from an affordable $9 per page.',
  keywords: '',
  headerClass: '',
  hreflang: {
    'en': data.path,
    'en-nz': '/nz' + data.path,
    'en-ie': '/ie' + data.path,
    'en-au': '/au' + data.path,
    'en-ae': '/ae' + data.path,
    'en-ca': '/ca' + data.path,
    'en-gb': '/gb' + data.path
  }
}) %>

<!-- ================================== CONTENT START ==================================== -->
<%= require('../../common/templates/index/section_1/section_1.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link,
  calc_index: 1
}) %>
<%= require('../../common/templates/index/section_2/section_2.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section_3/section_3.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section_4/section_4.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section_5/section_5.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section_6/section_6.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section_7/section_7.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section_8/section_8.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<%= require('../../common/templates/section_footer/section_footer.ejs')({
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  locale: data.locale,
  locale_link: data.locale_link
}) %>
<!-- ================================== CONTENT END ==================================== -->
<%= require('../../common/templates/footer/footer.ejs')({
  locale: data.locale,
  path: data.path,
  htmlWebpackPlugin: data.htmlWebpackPlugin
}) %>
