<% data.locale = 'gb' %>
<% data.locale_link = data.locale != 'us' ? '/' + data.locale + '/' : '/' %>

<% data.path = '/' %>

<%= require('../../common/header.ejs')({
  locale: data.locale,
    path: data.path,
  htmlWebpackPlugin: data.htmlWebpackPlugin,
  title: 'Custom Essay Writing Service | EssayPro UK',
  description: 'The Best Custom Essay Writing Service from Great Britain offering professional help by essay writers. Join now and receive a First Class paper!',
  keywords: '',
  headerClass: '',
  hreflang: {
    'en': data.path,
    'en-nz': '/nz' + data.path,
    'en-ie': '/ie' + data.path,
    'en-au': '/au' + data.path,
    'en-ae': '/ae' + data.path,
    'en-ca': '/ca' + data.path,
    'en-gb': '/gb' + data.path
  }
}) %>
      <!-- ================================== CONTENT START ==================================== -->
      <div class="page-home page-name__home">
        <%= require('../../common/templates/index/section-1.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-2.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-3.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-4.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-5.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-6.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-7.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-8.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-9.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-10.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
        <%= require('../../common/templates/index/section-11.ejs')({
          htmlWebpackPlugin: data.htmlWebpackPlugin,
          locale: data.locale,
          locale_link: data.locale_link
        }) %>
      </div>
      <!-- ================================== CONTENT END ==================================== -->
<%= require('../../common/footer.ejs')({
  locale: data.locale,
  path: data.path,
  htmlWebpackPlugin: data.htmlWebpackPlugin
}) %>
