<section class="section-6">
    <div class="container">
        <div class="text">
            <h2 class="text__title">Premium Papers from $9 per page </h2>
            <ul class="text__list">
                <li class="text__list_item right">
                    <p class="text__list_item__paragraph">Often we are reminded of the old saying <span class="bold">“You
                            get what you paid for”</span> which is applicable in all aspects of life. To buy the best essays
                        is not always cheap, however knowing that, we have done our very best to make it affordable. With
                        perpetually rising costs in education, students often lack extra funds. Some are often unable to
                        cover daily living expenses, let alone any extra costs they incur from buying papers.</p>
                    <p class="text__list_item__paragraph"><span class="bold">With prices starting as low as $9.00 per page,</span>
                        we create papers every student can afford to buy making sure that you get quality for your money,
                        not just the cheapest alternative.</p>
                </li>
                <li class="text__list_item left">
                    <p class="text__list_item__paragraph">Prices when buy essays vary, depending on length and level of
                        writing, and the average cost is around $9.75. Yet, only looking at prices when choosing an
                        essay writer is limiting. Sometimes the necessary expertise also requires a higher price-point.
                        Rest assured our expert writers deliver papers that often far surpass any additional cost.
                        <span class="bold">Placing an order to buy a paper is easy.</span> After clients explore the
                        many writers accessible online, they choose who to hire. Once writers accept work offered, they
                        start working on the assignments. Clients will then receive rough drafts to review for free.
                        After having approved the final draft, clients can download the finalized version of the paper.</p>
                </li>
            </ul>
            <div class="text__button">
                <a href="https://app.essayhub.com/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="text__button_order" rel="nofollow">Start Now</a>
            </div>
        </div>
    </div>
</section>
