@import "../../../../../../common/styles/theme/var";
@import "../../../../../../common/styles/theme/mixins";

@media screen
and (max-width: 1024px) {

	.section-6 {

		.writer {
			width: 100%;
			margin: 0;
		}

		.slick-slide {
			margin: 0 15px;
			outline: 0;
		}

	}

}
