@import "../../../../../../common/styles/theme/var";
@import "../../../../../../common/styles/theme/mixins";

@import "../../../../../../common/styles/regions/title/title";

.section-6 {
  padding: 66px 0 56px 0;

  .title {
    @extend .Title;
  }

  .writer {
    border: 1px solid #cbd1de;
    background: #fff;
    padding: 30px;
    margin: 35px 15px;
    width: 360px;
    display: inline-block;
    white-space: normal;
  }

  .writer-name {
    font-size: 22px;
    line-height: 20px;
    display: block;
    margin-top: 10px;
    word-wrap: break-word;
    width: calc(100% - 88px);
    float: left;
  }

  .writer-nick {
    font-size: 14px;
    color: #a8a9b3;
    display: block;
    word-wrap: break-word;
    width: calc(100% - 88px);
    float: left;
  }

  .text {
    color: #7a8399;
    font-size: 16px;
    font-weight: 100;
    clear: both;
    padding-top: 20px;
  }

  .avatar {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
  }

}
