
body {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #0082d5;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #0082d5;
    text-decoration: none !important;
  }

  &:focus {
    outline: 0 !important;
  }

}

a,
.button,
.btn-primary {

  &,
  &::before,
  &::after {
    transition: all .3s ease;
  }

}

.only-mobile {
  display: none;
}
.only-desktop {
  display: block;
}




