@media only screen
and (min-width: 768px)
and (max-width: 920px) {

  .component__comments-block {

    .left-block {
      width: 73%;
    }

    .rating-bar {
      display: block;
      margin: {
        top: 0;
        bottom: 7px;
      }
    }

    .rating-value {
      float: none;
    }

  }

}
