@media only screen
and (max-width: 767px) {

  .component__comments-block {

    .customer {
      float: none;

      &::after {
        content: ':';
      }

    }

    .left-block {
      float: none;
      margin-bottom: 5px;
    }

    .right-block {
      float: left;
      margin-left: 50px;
    }
    .rating-bar {
      margin-top: 2px;
    }

    .order__wo-mobile {
      display: none;
    }
    .order__only-mobile {
      clear: both;
      display: block;
      padding-top: 10px;
    }

  }

}
