@media only screen
and (min-width: 768px) {

  .component__comments-block {

    .left-block {
      width: 78%;
    }

    .comments-body {
      max-width: 482px;
    }

    .order__only-mobile {
      display: none;
    }

  }

}
