

.component__comments-container {
  border: 0;
  border-radius: 0;
}

.component__comments-block {
  border-bottom: 0;
  margin-bottom: 25px;
  padding: 0;
  overflow: hidden;
  position: relative;

  .left-block {
    float: left;

  }

  .right-block {
    float: right;
    position: relative;
  }

  .date {
    float: left;
  }
  .comments-body {
    margin-left: 50px;
    overflow: hidden;
  }

  .day {
    color: #54657e;
    font-size: 25px;
    line-height: 33px;
  }
  .month {
    color: #8493a8;
    font-size: 13px;
    line-height: 18px;
  }

  .customer {
    color: #3d4d65;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .order {
    color: #8493a8;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .comment {
    color: #54657e;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
  }

  .rating-bar {
    clear: none;
    float: right;
    margin-top: 2px;
  }

  .rating-value {
    color: #54657e;
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin-right: 8px;
  }

}

.component__comments-footer {

  .button-block {
    text-align: center;
  }

  .button {
    background: #fff;
    border: 1px solid #0082d5;
    border-radius: 20px;
    color: #0082d5;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    outline: 0;
    overflow: hidden;
    padding: 10px 45px;
    position: relative;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: #0082d5;
      color: #fff;

    }

  }

}
