@import "./var";

@mixin button-base {
	justify-content: flex-start;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 30px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	//height: 60px;
	line-height: 18px;
	padding: 17px 41px;
	text-align: center;
	text-transform: uppercase;

	&:hover,
	&:focus,
	&:active {
		background: #5a8be9;
		color: #fff;
		outline-offset: 0;
		outline: 0;
		box-shadow: none;
	}

}

@mixin button-center {
	text-align: center;
}

@mixin button-primary {
	background: #db9f26;
	border-color: #db9f26;

	&:hover,
	&:focus,
	&:active {
		background: #eeb632;
		border-color: #eeb632;
	}
}

@mixin button-secondary {
	background: #497fd6;
	border-color: #497fd6;

	&:hover,
	&:focus,
	&:active {
		background: #5a8be9;
		border-color: #5a8be9;
	}
}

@mixin button-primary-inverse {
	background: rgba(0,0,0,0);
	border-color: #f0ad4e;
	color: #db9f26;

	&:hover,
	&:focus,
	&:active {
		background: #eeb632;
		border-color: #eeb632;
		color: #fff;
	}
}

@mixin button-secondary-inverse {
	background: rgba(0,0,0,0);
	border-color: #497fd6;
	color: #497fd6;

	&:hover,
	&:focus,
	&:active {
		background: #5a8be9;
		border-color: #5a8be9;
		color: #fff;
	}
}
