//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
//@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
//@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

//@font-face {
//  font-family: 'Material Icons';
//  font-style: normal;
//  font-weight: 400;
//  //src: url(https://github.com/google/material-design-icons/raw/master/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
//  src: local('Material Icons'),
//  local('MaterialIcons-Regular'),
//  //url(https://github.com/google/material-design-icons/raw/master/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
//  //url(https://github.com/google/material-design-icons/raw/master/iconfont/MaterialIcons-Regular.woff) format('woff'),
//  //url(https://github.com/google/material-design-icons/raw/master/iconfont/MaterialIcons-Regular.ttf) format('truetype');
//}

@import "./var";

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a,
.link {
  //transition: all .5s ease;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

}

:focus {
  outline: 0 !important;
}

/*.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}*/



.material-icons {

  &.white {
    color: #fff;
  }

}

