@import "./var";

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  &::before,
  &::after {
    display: none;
  }

}

@media screen
and (max-width: 1200px) {

  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media screen
and (max-width: 767px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

}
