.section_16 {
  background-image: url(../../images/abouts_us__section__16--bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  min-height: 300px;
}


.calculator__title {
  color: #fff;
}

.section_16 {
  background-image: url(../../images/page__feedback__section__16--bg.png);

  &.calc__white {
    background-image: url(../../images/abouts_us__section__16--bg.png);
    margin-top: 15px;

    .calculator__title {
      font-size: 34px;
      color: #414B54;
      letter-spacing: 0;
    }
    .words__minprice--button.words__minprice {
      background: #F9FAFC !important;
      border-radius: 6px;
      span, span>.price {
        font-size: 24px;
        color: #414B54 !important;
      }
    }
    label {
      font-size: 14px;
      color: #414B54;
      letter-spacing: 0;
    }
  }

  @media screen and (max-width: 1120px) {
    background-color: #2B2D48;
    background-image: none;
  }

  .calculator__title {
    color: #fff;
  }

  .calculator__form-label {
    color: #DEE4ED !important;
  }

  .words__minprice--button.words__minprice {
    background-color: #1F2033 !important;
  }

  .price {
    color: #fff !important;
  }

  .priceText {
    color: #6C7680;
  }
}

