@import "../../../../common";

.page__become-a-writer {
  .section_10.light {
    height: 210px;
    background-image: url(../../../images/bg.png);
    background-size: 100%;

    .block__flex {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .h1 {
      margin: 40px 0 15px 0;
    }
    .block__half {
      margin: 15px 0 0 0;
    }
  }
  .section_content {
    padding: 30px 0;

    .h4 {
      margin-top: 30px;
    }
    .block__half {
      text-align: center;
      margin: 40px 0 60px 0;
    }
  }
}
