@media screen and (max-width: 820px){
  .page__become-a-writer {
    .section_10.light .container {
      width: 90%;
    }
    .section_content .container {
      width: 90%;
    }


  }
}
@media screen and (max-width: 630px){
  .page__become-a-writer .section_10.light .block__flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .page__become-a-writer .section_10.light .block__half {
    width: 100%;
  }
}
