@import "../../../../../common";

.section-3 {
  @extend .primary;
  background-color: #E1E5EB;
  background-image: linear-gradient(-180deg, #E1E5EB 0%, #EDF0F5 100%);
  height: auto;
  padding: 30px 0 60px;

  .container {
    width: 1200px;

    .text {
      text-align: center;
      margin: 0 auto;

      &__title {
        @extend .primary-title;
        padding: $zero;
      }
      &__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //align-items: center;

        &__list {
          list-style-type: none;
          padding: $zero;
          display: flex;
          flex-direction: column;
          margin: 5px 0;
          width: 538px;

          &__item {
            background: #FFFFFF;
            border-radius: 6px;
            padding: 22px 30px 16px 30px;
            //padding: 22px 30px 0px 30px;
            margin: 5px 0;
            //width: 538px;
            //height: 237px;
            cursor: $cursor;

            &_link {
              text-decoration: none;
            }

            .arrowshow {
              background-repeat: no-repeat;
              background-position: 100%;
            }

            .arrowDown {
              background-image: url(../../../../images/index/section_3/arrowDown.svg);
            }

            .arrowUp {
              background-image: url(../../../../images/index/section_3/arrowUp.svg);
            }

            &_div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              div {
                display: flex;
                flex-direction: row;
              }

              &_paragraph {
                font-weight: $weight;
                font-size: 18px;
                color: $primary-gray;
                letter-spacing: 0px;
                margin-left: 21px;
              }
              .icon {
                max-width: 32px;
              }

            }
            &_paragraph {
              font-weight: $weight;
              font-size: 15px;
              color: $primary-gray;
              letter-spacing: 0px;
              line-height: 24px;
              text-align: left;
              width: 478px;
            }
          }

        }
        .process {
          width: 600px;
          height: 100%;
        }

        @media screen and (max-width: 768px) {
          .process {
            width: 100%;
            height: 100%;
          }

        }
      }

      &__button {
        padding-top: 25px;
        text-align: center;
        margin-top: 40px;
        //margin-bottom: 55px;

        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }

        &_order {
          text-decoration: none;
          font-weight: $weight;
          font-size: 18px;
          color: $primary-color;
          padding: 18px 85px;

          background: #4CAF50;
          border-radius: 6px;
          margin-right: 20px;
        }
        .text__button_order:hover, .text__button_order:focus, .text__button_order:active {
          background-color: #38BA72;
          cursor: $cursor;
        }
      }
    }

  }

}

.showing {
  display: block;
}

.hidden {
  display: none;
}

.rotate-arrow {
  transform: rotate(-180deg);
}

.gray-button {
  background: #AFB5C2;
  padding: 18px 80px;
  border-radius: 6px;
  font-size: 18px;
  color: #FBFBFC;
  text-decoration: none;
}

.gray-button:hover,
.gray-button:active,
.gray-button:focus {
  background-color: #9AA1B0;
}
