@media screen and (max-width: 1199px) {
  .section-3 .container .text__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-3 .container .process {
    margin-top: 20px;
    width: 500px;
  }
}

@media screen and (max-width: 650px) {

  .container, .section-3 .container {
    width: 90%;
  }
  .section-3 .container .text__flex__list {
    text-align: left;
    width: 100%;
  }
  .section-3 .container .text__flex__list__item_paragraph {
    width: inherit;
  }
  .section-3 .container .text__flex a img {
    width: 100%;
  }
  .section-3 .container .text__title {
    text-align: left;
  }
  .section-3 .container .text__flex__list__item_div {
    align-items: center;
  }
  .section-3 .container .text__flex__list__item_div_paragraph {
    max-width: 210px;
  }
  .section-3 .text__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    //justify-content: space-around;

    .text__button_order {
      margin-right: 0;
    }
  }

  .section-3 .text__button a:last-child{
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  .section-3 {
    padding: 0;
    padding-bottom: 30px;
  }
  .section-3 .container .text__title {
    font-size: 26px;
    color: #414B54;
    letter-spacing: 0;
    margin: 0;
    padding: 30px 0 10px 0;
  }
  .section-3 .container .text__flex__list__item_div_paragraph {
    font-size: 16px;
    color: #414B54;
    letter-spacing: 0;
  }
  .section-3 .container .text__flex__list__item_paragraph {
    font-size: 14px;
    color: #414B54;
    letter-spacing: 0;
    line-height: 24px;
  }
  .process {
    display: none !important;
  }
  .section-3 {
    .text__button_order {
      margin-right: 0;
    }
  }
  .section-3 .container .text__button_order,
  .section-3 .container .gray-button {
    font-size: 15px;
  }
  //.section-3 .container .text__button_order {
  //  padding: 16px 34px;
  //}
  //.section-3 .container .gray-button {
  //  padding: 16px 72px;
  //}
}

@media screen and (min-width: 1200px) {
  .section-3 .container .process {
    margin-top: 85px;
  }
}
