@media screen and (max-width: 1225px) {
  .section-6 .container {
    width: 90%;
  }
  .section-6 .container .text__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

      .text__list_item {
        width: 100%;
      }

  }
}