@import "../../../../common";

//.section_10.center {
//    background-color: #2B2D48;
//    height: 400px;
//
//    .h1 {
//      text-align: center;
//      font-size: 34px;
//      color: $primary-color;
//      letter-spacing: 0;
//      line-height: 50px;
//      width: 100%;
//    }
//  }

.page__writers .section_10.center {
  height: 260px;
  background-size: 100%;
  background-image: url(../../../images/bg.png);
}
.page__writers .section_content {
    padding-bottom: 60px;
    padding-top: 0 !important;

    .container {
      width: 785px;
    }

    .h4.description {
      text-align: center;
      font-weight: 400;
    }
    .h3.large {
      padding: 40px 0;
      margin: 0;
    }
    .h2.title {
      margin: 0;
      padding-top: 60px;
    }
    .h3 {
      padding: 40px 0 20px 0;
      margin: 0;
    }
  .p.last {
    padding-bottom: 20px;
  }
  }
  .section_13 {
    font-weight: $weight;
    position: relative;
    height: 620px;
    background: #F0F1F7;

    .item-header {
      margin-top: 20px;
      padding-bottom: 15px;
    }

    .writerman {
      width: 60px;
      height: 60px;
      margin: 0 15px 0px 20px;
      border-radius: 50%;
    }
    .gold {
      width: 17px;
      height:20px;
      margin: 0px 0 0 0;
    }
    .stars {
      width: 78px;
      height: 13px;
    }
    .icon {
      width: 12px;
      height: 16px;
    }
    .list {
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      position: absolute;
      top: -100px;
      width: 1200px;
    }
    .item {
      width: 375px;
      height: 300px;
      background: $primary-color;
      border: 1px solid #E6E6E6;
      border-radius: 2px;
      margin: 15px 0;
    }
    .title {
      font-size: 17px;
      color: $primary-gray;
      margin: 0px 8px 4px 0;
      font-weight: 400;
    }
    .raiting-number {
      font-size: 16px;
      color: #54657E;
    }
    .row-raiting {
      font-size: 12px;
      color: #8493A8;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 160px;
    }
    .description {
      font-size: 14px;
      color: #6C767F;
      line-height: 20px;
      margin: 0 20px 15px 20px;
    }
    .types {
      background: #F0F1F7;
      border-radius: 2px;
      font-size: 12px;
      color: #6C767F;
      padding: 4px 10px;
      margin-right: 10px;
    }
    .light {
      font-size: 12px;
      margin: 0 0 0 10px;
    }
    .top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .item-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .item-footer {
      margin-left: 20px;
    }
    .country {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 13px;
    }
  }
