@media screen and (max-width: 1250px) {
  .section_13  {
    height: 900px;

    .container {
    width: 100%;


      .list {
        justify-content: center;
        width: 100%;

        .item {
          margin: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 997px) and (min-width: 920px) {
  //.section_13  .container .list .item {
  //  height: 365px;
  //}
  .section_13 {
    height: 950px;
  }
}
@media screen and (max-width: 920px) {
  .section_13 {
    height: 300px;
    .container {
      width: 100% !important;
      max-width: 100%;

      .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 385px;

        //.item {
        //  height:366px;
        //}
      }
    }
  }
}
@media screen and (max-width: 450px){
  .section_10.center span.h1 {
    text-align: left;
  }
}
@media screen and (max-width: 540px){
  .section_13 .item {
    height: auto;
  }
  .section_13 .country {
    padding-bottom: 10px;
  }
  .section_13 .container .list .item {
    margin: 0 15px 0 0;
    //width: 317px;
  }
  .section_13 .container .list {
    height: 366px;
    width: 100%;
  }
}

@media screen and (max-width: 376px) {
  .section_13 .item {
    width: 346px;
  }
}