@import "../../theme/var";
@import "../../theme/mixins";

.form {

	&__wrapper {
		width: 100%;
	}

	&__container {
		background-color: #fff;
		padding: 20px;
	}

	&__width {
		width: 100%;
	}

	&__title {
		color: #444d65;
		text-transform: uppercase;
	}

	&__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: #fff;
		border: 1px solid #d0d4d9;
		border-radius: 3px;
		color: #444d65;
		width: 100%;

		&:focus {
			border-color: #b8bbbf;
			outline: 0;
			outline-offset: 0;
		}
		::placeholder {
			color: #a1a6b2;
		}

	}

	/*&__valid {

		.input {
			border-color: #3f0;
		}

	}

	&__error {

		.input {
			border-color: #f30;
		}

		::placeholder {
			color: #f30;
		}

		.error-message {
			color: #f30;
			padding-top: 5px;
		}

	}*/

	&__button {
		@include button-base;

		background-color: #497fd6;
		border-radius: 3px;
		font-size: 18px;
		font-weight: 500;
		line-height: 18px;
		padding: 16px 41px;
		width: 100%;
	}

	&__footer-text {
		color: #444d65;
		text-align: center;
	}
	
}