@media screen and (max-width: 1250px) {
  .section-4 .container .list {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .section-4 .container {
    width: 90%;

    .title {
      width: 100%;
    }
  }
}
