<section class="section-1">
    <div class="background"></div>
    <div class="container">
        <div class="text">
            <h1 class="text__heading">A Custom Essay Writing Service That Will Save Your Grade!</h1>
            <p class="text__paragraph">Browse through our catalogue of top-tier writers, and choose your preferred
                writer to get you that A+!</p>
            <div class="text__button">
                <a href="https://app.essayhub.com/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="text__button_order" rel="nofollow">Order now</a>
                <a href="https://app.essayhub.com/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="text__button_auth" rel="nofollow">Sign Up</a>
            </div>
        </div>
        <div class="calculator calculator-theme__white additional__prices calculator-for__home">
            <%= require('../../calculator/calc/calc__additional__prices.ejs')({
                htmlWebpackPlugin: data.htmlWebpackPlugin
            }) %>
        </div>
    </div>
</section>
