@import "../../../../../common";

.section-6 {
  @extend .primary;
  //margin: 60px 0;

  .container {
    width: 1200px;

    .text {

      &__title {
        @extend .primary-title;
        padding: $zero;

      }
      &__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: $zero;

        &_item {
          width: 551px;

          &__paragraph {
            font-weight: $weight;
            font-size: 15px;
            color: $primary-gray;
            line-height: 26px;

            .bold {
              font-weight: 600;
            }
          }
        }
        .right {

        }
        .left {

        }
      }
      &__button {
        padding-top: 25px;
        text-align: center;

        &_order {
          text-decoration: none;
          font-weight: $weight;
          font-size: 18px;
          color: $primary-color;
          padding: 18px 36px;
          background: #4CAF50;
          border-radius: 6px;
          margin-right: 20px;
        }
        .text__button_order:hover, .text__button_order:focus, .text__button_order:active {
          background-color: #38BA72;
          cursor: $cursor;
        }
      }
    }
  }
}
