@media screen and (max-width: 1225px) {
  .section-6 .container {
    width: 90%;
  }
  .section-6 .container .text__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

      .text__list_item {
        width: 100%;
      }

  }
}

@media screen and (max-width: 540px){
  .section-6 {
    padding: 20px 0 50px 0;
  }
  .section-6 .container .text__button_order {
    margin: 0;
    padding: 16px 30px;
    font-size: 15px;
  }
  .section-6 .container .text__title {
    text-align: left;
    font-size: 26px;
    color: #414B54;
    letter-spacing: 0;
    margin-bottom: 0;
  }
  .section-6 .container .text__list_item__paragraph {
    font-size: 14px;
    color: #414B54;
    line-height: 22px;
  }
}