@media screen and (max-width: 920px) {
  .section-2 .container .list {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .list__item {
      width: 100%;
      margin: 0;
    }
  }
}
@media screen and (max-width: 540px) {
  .primary-title, .section-2 .container .title {
    text-align: left;
    font-size: 26px;
    color: #414A54;
    letter-spacing: 0;
  }
  .section-2 {
    padding-top: 0;
  }
  .list-title, .section-2 .container .list__item__flex_title {
    font-size: 16px;
    color: #414B54;
    margin-left: 15px;
  }
  .section-2 .container .list__item__paragraph {
    font-size: 14px;
    margin: 0;
    padding: 20px 0;
  }
  .section-2 .container .list .list__item {
    padding: 0 0 15px 0;
  }
}