</div>
<% data.locale = data.locale ? data.locale : 'us' %>
<% data.locale_link = data.locale != 'us' ? '/' + data.locale + '/' : '/' %>
<% data.locales = ['us', 'gb', 'au', 'ae', 'ca', 'ie', 'nz'] %>
<% data.locale_links = {us: '', gb: '/gb', au: '/au', ae: '/ae', ca: '/ca', ie: '/ie', nz: '/nz'} %>
<% data.locale_names = {
    us: 'Global',
    gb: 'United Kingdom',
    au: 'Australia',
    ae: 'UAE',
    ca: 'Canada',
    ie: 'Ireland',
    nz: 'New Zealand'
} %>

<footer class="footer">
    <div class="container">
        <div class="footer-parent">
            <div class="footer-child__first">
                <div class="footer-nav">
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item">
                            <a
                               href="<%- data.locale_link %>become-a-writer.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="footer-nav__link ga-event"
                               data-ga-category="home" data-ga-action="click"
                               data-ga-label="home-header Become a writer click">Become a writer</a>
                        </li>
                        <li class="footer-nav__item">
                            <a rel="nofollow" href="http://essaypro.money" class="footer-nav__link ga-event"
                               data-ga-category="home" data-ga-action="click"
                               data-ga-label="home-header Affiliate program click">Affiliate program</a>
                        </li>
                        <li class="footer-nav__item">
                            <a rel="nofollow"
                               href="<%= data.htmlWebpackPlugin.options.app_url %>/terms-and-conditions?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                               class="footer-nav__link">Terms and Conditions</a>
                        </li>
                        <li class="footer-nav__item">
                            <a
                               href="<%- data.locale_link %>privacy-policy.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="footer-nav__link ga-event"
                               data-ga-category="home" data-ga-action="click"
                               data-ga-label="home-header Privacy Policy click">Privacy Policy</a>
                        </li>
                    </ul>
                </div>

                <div class="payment-methods">
                    <img src="<%= require('./images/footer/visa__41x14__2x.png') %>" alt="Visa"
                         class="payment-methods__icon visa">
                    <img src="<%= require('./images/footer/mastercard__45x28__2x.png') %>" alt="MasterCard"
                         class="payment-methods__icon mastercard">
                    <img src="<%= require('./images/footer/amex__58x20__2x.png') %>" alt="American Express"
                         class="payment-methods__icon amex">
                    <img src="<%= require('./images/footer/paypal__61x18__2x.png') %>" alt="PayPal"
                         class="payment-methods__icon paypal">
                </div>
                <div class="lang-block">
                    <button id="lang" class="lang-button langmenu-target mdl-button mdl-js-button mdl-button--icon">
                        <i class="button-flag button-flag-<%= data.locale %>"></i>
                        <span class="land-name"><%= data.locale_names[data.locale] %></span>
                        <i class="button-lower"></i>
                    </button>

                    <ul class="langmenu">
                        <% data.locales.forEach(function(locale) { %>
                        <% if (locale != data.locale) { %>
                        <li class="langmenu__item">
                            <a
                               data-locale="<%- locale %>"
                               class="langmenu__link"
                               href="<%- data.locale_links[locale] %><%- data.path %>?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>">
                                <i class="button-flag button-flag-<%- locale %>"></i>
                                <span class="land-name">
                                    <%- data.locale_names[locale] %>
                                </span>
                            </a>
                        </li>
                        <% } %>
                        <% }); %>
                    </ul>

                </div>

            </div>
            <div class="footer-child__second">

                <div class="social-buttons">

                    <a href="https://www.facebook.com/essayprocom/" target="_blank"
                       class="social-button__link facebook">
                <span class="icon-block">
                  <i class="icon icon__facebook"></i>
                </span>
                        <span class="action-block">
                  <span class="action-name">Like</span>
                  <span class="action-counter">
                    <i class="icon icon__facebook-like"></i>
                    <span class="count">141K</span>
                  </span>
                </span>
                    </a>

                    <a href="https://twitter.com/EssayPro_" target="_blank" class="social-button__link twitter">
                <span class="icon-block">
                  <i class="icon icon__twitter"></i>
                </span>
                        <span class="action-block">
                  <span class="action-name">Follow</span>
                  <span class="action-counter">3K</span>
                </span>
                    </a>

                    <a href="https://plus.google.com/u/0/+Essayprocom/" target="_blank" class="social-button__link gp">
                <span class="icon-block">
                  <i class="icon icon__gp"></i>
                </span>
                        <span class="action-block">
                  <span class="action-name">Follow</span>
                  <span class="action-counter">135</span>
                </span>
                    </a>

                </div>

                <div class="footer-copyright">© <%= (new Date().getFullYear()) %> EssayPro. All rights reserved.</div>

            </div>
        </div>
    </div>
</footer>

</div>

<script src="/common.js"></script>
<% for (var chunk in data.htmlWebpackPlugin.files.chunks) { %>
<script async defer src="<%= data.htmlWebpackPlugin.files.chunks[chunk].entry %>">
</script>
<% } %>

</body>
</html>

<!-- <link rel="stylesheet"  href="/common.css" > -->

<script async defer>
    function commonCss() {
        var body = document.getElementsByTagName('body');

        var element1 = document.createElement('link');
        element1.rel = 'stylesheet';
        element1.type = 'text/css';
        element1.href = '/common.css';
        element1.media = 'non-existant-media';
        body[0].appendChild(element1);
        setTimeout(function () {
            element1.media = 'all';
        });
    }
    try {
        commonCss();
    } catch (e) {
    }

</script>



<% for ( var css in data.htmlWebpackPlugin.files.css) { %>
<script async defer>
    function pagesCss() {
        var body = document.getElementsByTagName('body');

        var element = document.createElement('link');
        element.rel = 'stylesheet';
        element.type = 'text/css';
        element.href = '<%= data.htmlWebpackPlugin.files.css[css] %>';
        element.media = 'non-existant-media';
        body[0].appendChild(element);
        setTimeout(function () {
            element.media = 'all';
        });
    }

    try {
        pagesCss();
    } catch (e) {
    }

</script>

<% } %>

