<section class="section-8">
    <div class="container">
        <div class="text">
            <h2 class="text__title">Frequently Asked Questions</h2>
            <div class="text__flex">
                <ul class="text__flex__list">
                    <li class="text__flex__list__item" data-open="1">What Services Does EssayHub Offer? <img
                                src="<%= require('./images/show.svg') %>" alt="Show"></li>
                    <li class="text__flex__list__item" data-open="2">Are Your Custom Writing Services Confidential?<img
                                src="<%= require('./images/show') %>" alt="Show"></li>
                    <li class="text__flex__list__item" data-open="3">How does your money back policy work?<img
                                src="<%= require('./images/show') %>" alt="Show"></li>
                    <li class="text__flex__list__item" data-open="4">Can I pay for my order using PayPal?<img
                                src="<%= require('./images/show') %>" alt="Show"></li>
                    <li class="text__flex__list__item" data-open="5">How fast can my paper be done?<img
                                src="<%= require('./images/show') %>" alt="Show"></li>
                    <li class="text__flex__list__item" data-open="6">How does your plagiarism policy work?<img
                                src="<%= require('./images/show') %>" alt="Show"></li>
                </ul>
                <div class="text__flex__paragraph hidden" data-text="1">
                    <p>EssayHub offers writing, editing, and proofreading services for all types of academic works
                        whether it be high school, college or university level. We deliver expert custom writing
                        services for all academic levels.</p>
                    <p>EssayHub only picks up for hire Ph.D. level professional academic writers who are highly
                        skilled. Many have experience with all types of writing, including: thesis/dissertations, custom
                        essays, research papers, term papers, admission essays, annotated bibliography, article reviews,
                        book/movie review, business plan, case study, coursework, creative writing, critical
                        thinking/review, literature review, multiple choice questions, presenting or speeches, and
                        reflective writing. So you never have to worry when you buy essays with us.</p>
                    <p>Writers are able to handle any type of writing requirements. They will fine tune their style to
                        reflect specific customer instructions and necessities so that what you buy holds true
                        value.</p>
                </div>
                <div class="text__flex__paragraph hidden" data-text="2">
                    <p>EssayHub offers writing, editing, and proofreading services for all types of academic works
                        whether it be high school, college or university level. We deliver expert custom writing
                        services for all academic levels.</p>
                    <p>EssayHub only picks up for hire Ph.D. level professional academic writers who are highly
                        skilled. Many have experience with all types of writing, including: thesis/dissertations, custom
                        essays, research papers, term papers, admission essays, annotated bibliography, article reviews,
                        book/movie review, business plan, case study, coursework, creative writing, critical
                        thinking/review, literature review, multiple choice questions, presenting or speeches, and
                        reflective writing. So you never have to worry when you buy essays with us.</p>
                    <p>Writers are able to handle any type of writing requirements. They will fine tune their style to
                        reflect specific customer instructions and necessities so that what you buy holds true
                        value.</p>
                </div>
                <div class="text__flex__paragraph hidden" data-text="3">
                    <p>EssayHub offers writing, editing, and proofreading services for all types of academic works
                        whether it be high school, college or university level. We deliver expert custom writing
                        services for all academic levels.</p>
                    <p>EssayHub only picks up for hire Ph.D. level professional academic writers who are highly
                        skilled. Many have experience with all types of writing, including: thesis/dissertations, custom
                        essays, research papers, term papers, admission essays, annotated bibliography, article reviews,
                        book/movie review, business plan, case study, coursework, creative writing, critical
                        thinking/review, literature review, multiple choice questions, presenting or speeches, and
                        reflective writing. So you never have to worry when you buy essays with us.</p>
                    <p>Writers are able to handle any type of writing requirements. They will fine tune their style to
                        reflect specific customer instructions and necessities so that what you buy holds true
                        value.</p>
                </div>
                <div class="text__flex__paragraph hidden" data-text="4">
                    <p>EssayHub offers writing, editing, and proofreading services for all types of academic works
                        whether it be high school, college or university level. We deliver expert custom writing
                        services for all academic levels.</p>
                    <p>EssayHub only picks up for hire Ph.D. level professional academic writers who are highly
                        skilled. Many have experience with all types of writing, including: thesis/dissertations, custom
                        essays, research papers, term papers, admission essays, annotated bibliography, article reviews,
                        book/movie review, business plan, case study, coursework, creative writing, critical
                        thinking/review, literature review, multiple choice questions, presenting or speeches, and
                        reflective writing. So you never have to worry when you buy essays with us.</p>
                    <p>Writers are able to handle any type of writing requirements. They will fine tune their style to
                        reflect specific customer instructions and necessities so that what you buy holds true
                        value.</p>
                </div>
                <div class="text__flex__paragraph hidden" data-text="5">
                    <p>EssayHub offers writing, editing, and proofreading services for all types of academic works
                        whether it be high school, college or university level. We deliver expert custom writing
                        services for all academic levels.</p>
                    <p>EssayHub only picks up for hire Ph.D. level professional academic writers who are highly
                        skilled. Many have experience with all types of writing, including: thesis/dissertations, custom
                        essays, research papers, term papers, admission essays, annotated bibliography, article reviews,
                        book/movie review, business plan, case study, coursework, creative writing, critical
                        thinking/review, literature review, multiple choice questions, presenting or speeches, and
                        reflective writing. So you never have to worry when you buy essays with us.</p>
                    <p>Writers are able to handle any type of writing requirements. They will fine tune their style to
                        reflect specific customer instructions and necessities so that what you buy holds true
                        value.</p>
                </div>
                <div class="text__flex__paragraph hidden" data-text="6">
                    <p>EssayHub offers writing, editing, and proofreading services for all types of academic works
                        whether it be high school, college or university level. We deliver expert custom writing
                        services for all academic levels.</p>
                    <p>EssayHub only picks up for hire Ph.D. level professional academic writers who are highly
                        skilled. Many have experience with all types of writing, including: thesis/dissertations, custom
                        essays, research papers, term papers, admission essays, annotated bibliography, article reviews,
                        book/movie review, business plan, case study, coursework, creative writing, critical
                        thinking/review, literature review, multiple choice questions, presenting or speeches, and
                        reflective writing. So you never have to worry when you buy essays with us.</p>
                    <p>Writers are able to handle any type of writing requirements. They will fine tune their style to
                        reflect specific customer instructions and necessities so that what you buy holds true
                        value.</p>
                </div>
            </div>
        </div>
    </div>
</section>
