// Primary --->
$weight: 300;
$primary-color: #fff;
$cursor: pointer;
$gray: #6C7680;
$zero: 0;
$primary-gray: #414B54;
$secondary-blue: #44A1EB;
$accent-color: #4CAF50;
$background-dark: #282E40;
$primary-text: #414B54;
$secondary-text: #8A9199;


.primary {
  position: relative;
}
.primary-title {
  text-align: center;
  font-weight: $weight;
  font-size: 34px;
  color: $primary-gray;
  letter-spacing: 0px;
}
.list-title {
  font-weight: $weight;
  font-size: 18px;
  color: $primary-gray;
  margin-left: 25px;
}

@media screen and (min-width: 541px) {
  .section-4 .container .list__item__flex_title {
    margin-left: 0px;
  }
}
