

.component__rating-bar {
  clear: both;
  position: relative;
  width: 88px;
  height: 15px;
  vertical-align: middle;
}
.component__rating-star {
  background: url(../../../images/svg/stars.svg) no-repeat 0 0;
  display: inline-block;
  height: 15px;
  position: absolute;
  width: 100%;

  &.active {
    background: url(../../../images/svg/stars_full.svg) no-repeat 0 0;
    display: inline-block;
    height: 15px;
    position: absolute;
    z-index: 1;
  }
}
