@media screen and (max-width: 1225px) {
  .section-5 .container {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .section-5 .container .text {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .section-5 {
    height: 800px;
  }
  
}
@media screen and (max-width: 400px) {
  .section-5 {
    height: auto;
  }

}