

.avatar {

  & {
    border-radius: 50% 50%;
  }

  &.type__reviews {

    &.size__small {
      width: 30px;
      height: 30px;
      border-radius: 50%;

      .avatar-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

    }

  }

}
