@import "../../../../common";

.section-3 {
  @extend .primary;
  background-color: #E1E5EB;
  background-image: linear-gradient(-180deg, #E1E5EB 0%, #EDF0F5 100%);
  height: auto;
  padding: 40px 0;

  .container {
    width: 1200px;

    .text {
      text-align: center;
      margin: 0 auto;

      &__title {
        @extend .primary-title;
        padding: $zero;
      }
      &__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &__list {
          list-style-type: none;
          padding: $zero;
          display: flex;
          flex-direction: column;
          margin: 5px 0;
          width: 538px;

          &__item {
            background: #FFFFFF;
            border-radius: 6px;
            padding: 22px 30px 16px 30px;
            margin: 5px 0;

            &_link {
              text-decoration: none;
            }

            &_div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              div {
                display: flex;
                flex-direction: row;
              }

              &_paragraph {
                font-weight: $weight;
                font-size: 18px;
                color: $primary-gray;
                letter-spacing: 0px;
                margin-left: 21px;
              }
              .icon {
                max-width: 40px;
              }
              .arrow, .arrowshow {
                width: 10px;
                height: 10px;

              }
            }
            &_paragraph {
              font-weight: $weight;
              font-size: 15px;
              color: $primary-gray;
              letter-spacing: 0px;
              line-height: 24px;
              text-align: left;
              width: 478px;
            }
          }

        }
        img {
          width: 600px;
        }
      }

      &__button {
        padding-top: 25px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 55px;

        &_order {
          text-decoration: none;
          font-weight: $weight;
          font-size: 18px;
          color: $primary-color;
          padding: 18px 36px;
          background: #4CAF50;
          border-radius: 6px;
          margin-right: 20px;
        }
        .text__button_order:hover, .text__button_order:focus, .text__button_order:active {
          background-color: #38BA72;
          cursor: $cursor;
        }
      }
    }

  }

}
.showing {
  display: block;
}
.hidden {
  display: none;
}

.rotate-arrow {
  transform: rotate(-180deg);
}