@media screen and (max-width: 1250px){
  .section-3 .container .text__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-3 .container .text__flex a  img {
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .container, .section-3 .container {
    width: 90%;
  }
  .section-3 .container .text__flex__list {
    text-align: left;
    width: 100%;
  }
  .section-3 .container .text__flex__list__item_paragraph {
    width: inherit;
  }
  .section-3 .container .text__flex a img {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .section-3 .container .text__flex a img {
    display: none;
  }
}
