@import '../../base/base';

@media only screen
and (min-width: 1025px) {

  .secondary-list {

    .list-item__content-block {
      max-width: none;
    }

  }
  .list-item__content-block {
    max-width: none;
  }

}
