@import '../../base/base';

@media only screen
and (max-width: 767px) {

  .primary-list-item {
    padding: {
      left: 0;
      right: 0;
    }
  }

  .secondary-list {
    margin-bottom: 0;

    .secondary-list-item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;

        p {
          margin-bottom: 0;
        }

      }

    }

  }

}
