@import '../../base/base';

@media only screen
and (min-width: 768px) {

  .primary-list-item {
    min-height: 110px;
  }
  .secondary-list {

    .list-item__content-block {
      max-width: 335px;
      min-height: 130px;
    }

  }
  .list-item__content-block {
    max-width: 300px;
    min-height: 110px;
  }

}
