@import '../../base/base';

.primary-list {
  @include list;
  overflow: hidden;
}

.primary-list-item {
  margin-bottom: 20px;

  .list-item__heading {
    line-height: 40px;
  }

}

.secondary-list {
  @include list;
  overflow: hidden;

  .list-item__content-block {
    background: url(../../../images/content/static/icon_success.svg) no-repeat 0 1px;
    margin: 0 auto;
    padding-left: 35px;
  }

  .list-item__heading {
    color: #3d4d65;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 1.2em;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.list-item__content-block {
}

.list-item__heading {
  color: #3d4d65;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 12px;
  text-transform: uppercase;
}

.list-item__content {
  color: #54657e;
  font-size: 16px;
  font-weight: 300;
}
