@import "../../../theme/var";
@import "../../../theme/mixins";

@import "../../menu/menu";

.header {
	display: flex;
	align-items: center;

	position: fixed;
	width: 100%;
	/*background-color: rgba(29,29,29,.7);*/
	background-color: rgba(8,16,26,.8);
	border-bottom: 0;
	z-index: 200;

	.logo-mobile {
		display: none;
	}

	.list {
		@extend .Menu;
	}

	&.header__home {
		background-color: #fff;
		border-bottom-color: #0082d5;

		.link {
			color: #fff;

			&:hover,
			&:focus {
				color: #81bbff;
			}

      //.arrow-down {
      //  background-image: url(./assets/dropdown_caret_secondary.svg);
      //}

      &:hover {

        .arrow-down {
          background-image: url(../../../images/menu/arrow_down_blue.svg);
        }

      }

		}

		.list {}

		.auth {

			.link {

				&.sign-in {
					color: #fff;

					&:hover,
					&:focus {
						color: #81bbff;
					}

				}

				&.sign-up {
					border-color: #f0ad4e;
					color: #f0ad4e;

					&:hover,
					&:focus {
						background-color: #f0ad4e;
						color: #fff;
					}

				}

			}

		}

		.child {

			&.list {
				background-color: rgba(255,255,255,.9);
				border-color: #0082d5;
			}

		}

	}

}
