@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (min-width: 1001px) {

	.header {
    justify-content: space-between;
		height: 60px;
		padding: 0 30px;

		.logo {
			height: 44px;
		}

	}

  .left {
    display: inline-flex;
    align-items: center;
  }

	.left-button,
	.right-button {
		display: none;
	}

}
