@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 1000px) {

	.header {
		justify-content: space-between;

		height: 46px;

		.logo-mobile {
			height: 32px;
			display: block;
			margin: auto;
		}

		.logo-desktop {
			display: none;
		}

		.logo {
			height: 32px;
		}

	}

}
