<section class="section-footer">
    <div class="container">
        <div class="text">
            <h2 class="text__title">Order your paper from the  helpful professionals at EssayHub </h2>
            <p class="text__paragraph">Buy an essay today and always feel fully confident that the work
                will be excellent. The Hub's community of writers is exceptional at proofreading,
                essay writing or any form of editing services that you might need.</p>
            <div class="text__button">
                <a href="https://app.essayhub.com/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="text__button_order" rel="nofollow">Order now</a>
            </div>
        </div>
    </div>
</section>
