@import "../../../../common";

.section-8 {
  @extend .primary;
  padding: 60px 0 106px 0;

  .container {
    @extend .container;

    .text {

      &__title {
        @extend .primary-title;
      }
      &__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &__list {
          list-style-type: none;
          padding: $zero;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 426px;

          &__item {
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: center;
          }
        }
        &__paragraph {
          width: 680px;
          font-weight: $weight;
          font-size: 16px;
          color: $primary-gray;
          line-height: 24px;
        }
      }
    }

  }
}
.hidden {
  display: none;
}
.gray {
  //background: #F2F4F7;
  //border-radius: 3px 3px 0px 3px 3px;
  //font-size: 16px;
  color: $primary-gray;
  background-image: url(../images/bg_bigtriangle.png);
} //тут нужно переделать css, сделать стиль выбранного элемента.
