@media screen and (max-width: 1225px) {
  .section-8 .container {
    width: 90%;
  }
  .section-8 .container .text__flex__paragraph {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .section-8 .container .text__flex {
    display: flex;
    flex-direction: column;
  }

}
