@import "../../../../../common";

.section-5 {
  @extend .primary;
  background-image: url(../../../../images/index/section_5/bg_section5.png);
  height: 700px;
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    width: 1200px;

    .text {
      width: 551px;
      //padding-top: 67px;
      padding-top: 28px;
      margin-left: 30px;

      &__title {
        @extend .primary-title;
        padding: $zero;
        text-align: left;
      }
      &__paragraph {
        font-weight: $weight;
        font-size: 15px;
        color: $primary-gray;
        line-height: 26px;
        //height: 262px;
        //overflow: hidden;

      }
    &__button_link {
      text-decoration: none;
        font-weight: $weight;
        font-size: 16px;
        color: #216EBE;
      cursor: $cursor;
      }
    }
  }
}
.clip {
  display: none;
}

//#vn-click{
//  display:inline-block
//}
//#vn-info{
//  display:none;
//}
