@media screen and (max-width: 1225px) {
  .section-5 .container {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .section-5 {
    height: 660px;
    background-image: url(../../../../images/index/section_5/bg_section5.png);
    background-color: #F1F2F4;
    //background-position-y: 100%;
    background-position: 47% 50%;
  }
}

@media screen and (max-width: 800px) {
  .section-5 {
    background-position: 40% 50%;
  }
}

@media screen and (max-width: 620px) {
  .section-5 {
    background-image: url(../../../../images/index/section_5/bg_320.png);
    background-position: 100% 100%;
  }

  .section-5 .container .text {
    width: initial;
    margin-left: 0;
  }
}

@media screen and (max-width: 540px) {

  .section-5 .container .text {
    margin: 0;
  }
  .section-5 {
    height: 800px;
  }
  .section-5 .container .text__title {
    font-size: 26px;
    color: #414B54;
    letter-spacing: 0;
    margin: 18px 0 0 0;
  }
  .section-5 .container .text__paragraph {
    font-size: 14px;
    color: #414B54;
    line-height: 24px;
  }
}
