<section class="section-7">
    <div class="container">
        <div class="text">
            <h2 class="text__title">Check Out EssayHub’s Customer Reviews!</h2>
            <span class="text_green">4.92 <img src="<%= require('./images/rating.svg') %>" alt="Rating"></span>
            <p class="text__average">Avg rate for the last month</p>
            <ul class="text__list">
                <li class="text__list_item">
                    <div class="text__list_item-head">
                        <div class="right">
                            <img src="<%= require('./images/icon.svg') %>" alt="Customer">
                            <h3 class="customer">Customer 13101</h3>
                        </div>
                        <div class="left">
                            <span>5</span>
                            <img src="<%= require('./images/rating_feedback.svg') %>" alt="Rating">
                        </div>
                    </div>
                    <div class="text__list_item-body">
                        Wow, ordering from EssayHub was one of the most pleasant experiences I have ever had. Not only was my work sent to me hours before the deadline, but the content was absolutely fantastic! Would order from them again!
                    </div>
                    <div class="text__list_item-footer">
                        <span class="footer_left">TopClassWriter</span>
                        <span class="footer_right">Essay on Communications and Media</span>
                    </div>
                </li>
                <li class="text__list_item">
                    <div class="text__list_item-head">
                        <div class="right">
                            <img src="<%= require('./images/icon.svg') %>" alt="Customer">
                            <h3 class="customer">Customer 13101</h3>
                        </div>
                        <div class="left">
                            <span>5</span>
                            <img src="<%= require('./images/rating_feedback.svg') %>" alt="Rating">
                        </div>
                    </div>
                    <div class="text__list_item-body">They literally do what is said in their website! I was a day away from my deadline and was booked with other projects and tasks. I ordered an essay on the subject of WWII and the writer seemed to be super well-versed on the topic, as if he actually partook in the event! Thank you EssayHub!!</div>
                    <div class="text__list_item-footer">
                        <span class="footer_left">TopClassWriter</span>
                        <span class="footer_right">Essay on Communications and Media</span>
                    </div>
                </li>
                <li class="text__list_item">
                    <div class="text__list_item-head">
                        <div class="right">
                            <img src="<%= require('./images/icon.svg') %>" alt="Customer">
                            <h3 class="customer">Customer 13101</h3>
                        </div>
                        <div class="left">
                            <span>5</span>
                            <img src="<%= require('./images/rating_feedback.svg') %>" alt="Rating">
                        </div>
                    </div>
                    <div class="text__list_item-body">I was definitely skeptical at first about my assignment when I requested it on the website. I mean, an essay related to neurology sounds like a daunting task, even for a bio major. But the writer definitely proved me wrong!</div>
                    <div class="text__list_item-footer">
                        <span class="footer_left">TopClassWriter</span>
                        <span class="footer_right">Essay on Communications and Media</span>
                    </div>
                </li>
                <li class="text__list_item">
                    <div class="text__list_item-head">
                        <div class="right">
                            <img src="<%= require('./images/icon.svg') %>" alt="Customer">
                            <h3 class="customer">Customer 13101</h3>
                        </div>
                        <div class="left">
                            <span>5</span>
                            <img src="<%= require('./images/rating_feedback.svg') %>" alt="Rating">
                        </div>
                    </div>
                    <div class="text__list_item-body">I decided to put my trust in EssayHub. Although essay writing services sound like scams, I was genuinely pleased with the quality of work I received and it got me an A, so i’m looking forward to working with them again!</div>
                    <div class="text__list_item-footer">
                        <span class="footer_left">TopClassWriter</span>
                        <span class="footer_right">Essay on Communications and Media</span>
                    </div>
                </li>

            </ul>
            <div class="text__button">
                <a class="text__button_fedback" href="<%= data.htmlWebpackPlugin.options.frontend_url %>/service-reviews.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>">View all reviews</a>
            </div>
        </div>
    </div>
</section>
