@import "../../../../common";

.page__feedback {
  .section_10.center {
    height: 260px;
    background-image: url(../../../images/bg.png);
  }
  .section-7 {
    height: 700px;
    position: relative;
    .container .text__list.center {

      justify-content: space-between;
      position: absolute;
      top: -90px;
      width: 1200px;

      p.customer {
        color: #6C767F;
        margin-left: 10px;
      }
    }
  }
  .section_content .img-concern {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;

    .flex-main {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #2B2D48;
      width: 100%;
      height: 200px;
    }
    .flex-first {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

    }

    .icon {
      max-width: 142px;
    }
    .h2 {
      font-size: 34px;
      color: $primary-color;
      font-weight: 400;
      max-width: 529px;
      margin-left: 53px;
    }
    .button__green {
      padding: 13px 35px;
    }


  }
  .section_content {
    .p.last {
      padding-bottom: 20px;
    }
    .h3 {
      margin: 40px 0 30px 0;
    }
  }
  .section_content .h2.title {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .non-padding {
    padding: 0 !important;
  }
}
.page__feedback .h2.title {
  padding: 0 0 45px 0;
}

.section_12 {
  background-image: url(../../../images/feedback/prefooter_laptop.png);
  background-color: #282E40;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 9%;

  display: flex;
  flex-direction: row;

  .block__half {
    width: 50%;
  }

  .h3 {
    font-weight: $weight;
    font-size: 22px;
    color: #FFFFFF;
    width: 500px;
    margin-top: 45px;
  }
  .p {
    font-weight: $weight;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 25px;
    width: 500px;
    margin-bottom: 30px;
  }
}
