//@media screen and (max-width: 1250px) {
//  .page__feedback .section-7 .container .text__list.center {
//    width: 90%;
//  }
//}
@media screen and (max-width: 1350px) {
  .section_12 {
    background-position: 50%;
    background-size: cover;
    .h3, .p {
      width: 90%;
    }
  }
}

@media screen and (max-width: 1215px) {
  .page__feedback {
    .section-7 .container .text__list.center {
      justify-content: space-around;
    }
  }
  .section_content .img-concern {
    width: 90%;
  }
}

@media screen and (max-width: 1120px) {

    .section_16 {
      background-color: #2B2D48;
      background-image: none !important;
    }

}

@media screen and (max-width: 920px) {
  .page__feedback {
    .section-7 {
      height: 250px;

      .container .text__list.center {
        overflow-x: scroll;
        overflow-y: hidden;
        //height: 312px;
        height: 290px;
        width: inherit;
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        padding-bottom: 0;
      }
      .container .text__list_item {
        margin: 12px 10px;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .section_12 {
    background-image: none;
    height: 340px;
    .block__half:first-child {
      display: none;
    }
    .block__half {
      width: 90%;
      margin: 0 auto;
      padding-top: 45px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .h3 {
        text-align: center !important;
        width: 290px;
        margin: 0 auto;
        line-height: 36px;
      }
      .p {
        width: 290px;
        margin: 0 auto;
        line-height: 22px;
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
      }

      .button__green {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .section_12 {
    background-size: cover;
  }
}
@media screen and (max-width: 1250px) and (min-width: 920px) {
  .page__feedback {
    .section-7 {
      height: 700px;
      .container .text__list.center {
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      .container .text__list_item {
        width: 47%;
      }
    }
  }
}


@media screen and (max-width: 616px) {
  .page__feedback .section_content .img-concern {
    height: auto;
  }
  .page__feedback .section_content .img-concern .flex-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 250px;
    }
  .page__feedback .section_content .img-concern .h2 {
      margin: 30px;
      max-width: 350px !important;

  }
  .page__feedback .section_content .img-concern .icon{
    max-width: 77px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 998px) {
  .page__feedback .section_content .img-concern .h2 {
    max-width: 450px;
  }
}
@media screen and (max-width: 890px) {
  .page__feedback .section_content .img-concern .h2 {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .page__feedback .section_content .img-concern .h2 {
    max-width: 200px;
  }
}
@media screen and (max-width: 400px) {
  .page__feedback .section_content .img-concern .flex-main {
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .page__feedback {
    .block__half {
      margin-right: 10px;
    }
  }
  .page__feedback .section_content .img-concern .h2 {
    margin-left: 20px;
  }
}