@import "../../../../../common";

.section-7 {
  @extend .primary;
   //height: 835px;
  background-image: linear-gradient(-180deg, #E2E5EB 0%, #EDF0F5 100%);

  .container {
    width: 1200px;
    position: relative;

    .text {
      text-align: center;

      &__title {
        @extend .primary-title;
        padding: 60px 0 18px 0;
        margin: 0;
      }
      &_green {
        font-weight: $weight;
        font-size: 22px;
        color: #4CAF50;
      }
      &__average {
        font-weight: $weight;
        font-size: 15px;
        color: $primary-gray;
      }
      &__list {
        list-style-type: none;
        padding: 0 0 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &_item {
          list-style-type: none;
          background: $primary-color;
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
          border-radius: 3px;
          width: 580px;
          height: 220px;
          padding: 10px 30px 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          box-sizing: border-box;
          margin: 12px 0;

          &-head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .right {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;

              img {
                width: 26px;
              }
              h3 {
                font-weight: $weight;
                font-size: 14px;
                color: $gray;
                margin-left: 10px;
              }
            }
            .left {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;

              span {
                font-weight: $weight;
                font-size: 14px;
                color: $gray;
                margin-right: 5px;
              }
              img {
                width: 88px;

              }
            }
          }

          &-body {
            font-weight: $weight;
            font-size: 15px;
            color: $primary-gray;
            line-height: 22px;
            text-align: left;
            height: 150px;
          }

          &-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            padding-bottom: 20px;

            .footer_left, .footer_right {
              font-weight: $weight;
              font-size: 14px;
              color: $gray;
              text-align: center;
            }
          }
          p.customer {
            color: #6C767F;
            margin-left: 10px;
          }

        }
      }

      &__button {
        text-align: center;
        padding-bottom: 60px;

        &_fedback {
          text-decoration: none;
          font-weight: $weight;
          font-size: 18px;
          color: $primary-color;
          background: #216EBE;
          border-radius: 6px;
          padding: 18px 50px;
        }
        &_fedback:hover, &_fedback:focus, &_fedback:active {
          background-color: #0082d5;
          cursor: $cursor;
        }
      }
    }
  }
}
