@media screen and (max-width: 1250px) and (min-width: 920px){
  .section-7 .container .text__list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .section-7 .container .text__list_item {
    width: 47%;
    margin: 12px;
    //height: 295px;
  }
                              //Не править, едет страница фиидбэков
  //.section-7 .container {
  //  width: 100%!important;
  //  max-width: 100% !important;
  //}


}

//@media screen and (max-width: 1215px) {
//  .section-7 .container .text__list {
//    justify-content: space-around;
//  }
//}

@media screen and (max-width: 1200px) {
  .section-7 .container .text__list_item-body {
    height: 200px;
  }
}

@media screen and (max-width: 920px){
  .section-7 .container .text__list_item-body {
    height: 130px;
  }

  .section-7 .container {
    max-width: 100%;
    width: 100% !important;
  }
  .section-7 .container .text__list {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 290px;
    width: 100%;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 40px;
    flex-direction: column;
  }
  .section-7 .container .text__list_item {
    margin: 12px 10px;
    border: 1px solid #dfe4eb;
  }
}

@media screen and (max-width: 540px) {

  .section-7 .container .text__title {
    font-size: 26px;
    color: #414B54;
    text-align: center !important;
    padding: 40px 0 18px 0;
  }
  .section-7 .text__average {
    margin-top: 0;
  }
  .section-7 .container .text__list_item {
    width: 300px;
    height: 400px;
    //height: auto;
    padding: 22px 20px 16px 20px;
  }
  .section-7 .container .text__list_item-body {
    font-size: 15px;
    color: #414B54;
    line-height: 18px;
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 150px;
    margin: 0 auto;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    //line-height: 17px;
  }
  .section-7 .container .text__list_item-footer .footer_left,
  .section-7 .container .text__list_item-footer .footer_right {
    font-size: 12px;
    color: #6C767F;

  }
  .section-7 .container .text__list_item-footer {
    flex-direction: column;
    padding: 0;
  }
  .section-7 .container .text__button_fedback {
    padding: 16px 30px;
    font-size: 15px;
  }
}

@media screen and (max-width: 368px) and (min-width: 320px) {
  //.section-7 .container .text__list {
  //  width: 320px;
  //}
  .section-7 .container .text__list_item {
    margin: 12px 10px 0 0;
  }
}
