@import "../../../../common";

.page__privacy-policy  {
    .section_10.center.light {
      height: 210px;
      background-image: url(../../../images/bg.png);
      background-size: 100%;
      .h1.top {

      }
    }


  .section_content {
    padding: 60px 0;
  }

  .list.padding {
    padding-left: 20px;
    font-size: 15px;
    color: #414B54;
    letter-spacing: 0;
    line-height: 25px;
     .item {  font-size: 15px;
      color: #414B54;
      letter-spacing: 0;
      line-height: 25px;
     }
  }
  .p.last {
    padding: 0 0 20px 0;
  }
}
