$mobile-width: 767px;
$mobile-1-width: 540px;
$mobile-2-width: 541px;
$mobile-3-width: 560px;
$mobile-4-width: 561px;
$tablet-width: 768px;
$tablet-1-width: 920px;
$tablet-2-width: 921px;
$tablet-end-width: 1000px;
$tablet-desktop-width: 1001px;
$desktop-width: 1025px;

$mobile-menu-width: 1000px;
$desktop-menu-width: 1001px;

@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin mobile-1 {
	@media (max-width: #{$mobile-1-width}) {
		@content;
	}
}

@mixin mobile-540 {
  @media (max-width: 540px) {
    @content;
  }
}

@mixin mobile-560 {
  @media (max-width: 560px) {
    @content;
  }
}

@mixin mobile-561-767 {
	@media (min-width: 561px) and (max-width: 767px) {
		@content;
	}
}

@mixin mobile-700 {
	@media (max-width: 700px) {
		@content;
	}
}

@mixin mobile-701-767 {
	@media (min-width: 701px) and (max-width: 767px) {
		@content;
	}
}

@mixin tablet-979 {
	@media (max-width: 979px) {
		@content;
	}
}

@mixin mobile-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile-541 {
  @media (min-width: 541px) {
    @content;
  }
}

@mixin mobile-668-767 {
	@media (min-width: 668px) and (max-width: 767px) {
		@content;
	}
}

@mixin mobile-half-2 {
	@media (min-width: #{$mobile-4-width}) and (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin tablet-1 {
	@media (min-width: #{$tablet-width}) and (max-width: #{$tablet-1-width}) {
		@content;
	}
}

@mixin tablet-2 {
	@media (min-width: #{$tablet-2-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin tablet-half-1 {
	@media (min-width: 768px) and (max-width: 1000px) {
		@content;
	}
}

@mixin tablet-half-2 {
	@media (min-width: 1001px) and (max-width: 1024px) {
		@content;
	}
}

@mixin mobile-tablet {
	@media (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin tablet-start {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablet-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-921 {
  @media (min-width: 921px) {
    @content;
  }
}

@mixin tablet-1001 {
  @media (min-width: 1001px) {
    @content;
  }
}

@mixin tablet-1021 {
  @media (min-width: 1021px) {
    @content;
  }
}

@mixin tablet-end {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-end-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$tablet-desktop-width}) {
    @content;
  }
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktop-1025-1280 {
	@media (min-width: 1025px) and (max-width: 1280px) {
		@content;
	}
}

@mixin desktop-1281 {
	@media (min-width: 1281px) {
		@content;
	}
}

@mixin desktop-fullhd {
  @media (min-width: 1361px) and (max-width: 1920px) {
    @content;
  }
}

@mixin desktop-ultrahd {
  @media (min-width: 1921px) and (max-width: 2560px) {
    @content;
  }
}

@mixin mobile-610-767 {
  @media (min-width: 610px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-menu {
  @media (max-width: #{$mobile-menu-width}) {
    @content;
  }
}

@mixin desktop-menu {
  @media (min-width: #{$desktop-menu-width}) {
    @content;
  }
}
