@import '../../base/base';

.content-footer {
  border-top: 1px solid #4a90e2;
  overflow: hidden;

  .content-footer__link-block {
    margin: 50px 0;
    text-align: center;
  }

  .content-footer__link {
    border: 1px solid #0082d5;
    border-radius: 20px;
    color: #0082d5;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-align: center;

    &:hover,
    &:focus {
      background-color: #0082d5;
      color: #fff;
    }

  }

}
