@import "../../../../common";

.page__how-it-works {


  .section_10.center {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url(../../../images/bg.png);

    .container {
      max-width: 1200px;
      position: relative;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .flex__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .h1 {
      padding-top: 50px;
    }
    p.description {
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: -0.14px;
      line-height: 36px;
    }
  }

  .section_content {
    padding: 0;

    .h4.description {
      font-weight: $weight;
      text-align: center;
      font-size: 18px;
      color: #5E6977;
      letter-spacing: -0.14px;
      line-height: 2px;
      padding: 0;
    }
  .light-gray {
    font-weight: 600;
  }
    .with-padding {
      padding-top: 25px;
    }
  }

  .section_11 {
    overflow: hidden;

    .block__half {
      width: 498px;
      height: 600px;
      padding-top: 145px;

      .p {
        font-weight: $weight;
        font-size: 15px;
        color: #6C767F;
        letter-spacing: 0;
        line-height: 25px;
        padding-bottom: 35px;
      }
    }
    video {
      width: 100%;
    }
    .block__half.first {
      padding: 0;
      height: 500px;
      width: 625px;
      position: relative;

      .block__image {
        background-size: contain;
        background-repeat: no-repeat;
        height: 415px;
        background-position: 0;
        position: absolute;
        left: -160px;
        top: 40px;
        width: 100%;
      }
    }
    .block__half.second {
      padding: 0;
      position: relative;
      height: 500px;
      width: 625px;

      .block__image {
        background-size: contain;
        background-repeat: no-repeat;
        height: 415px;
        background-position: 0;
        position: absolute;
        top: 50px;
        width: 100%;
        right: -145px;
      }
    }
    .block__half.third {
      padding: 0;
      height: 500px;
      width: 625px;
      position: relative;

      .block__image {
        background-size: contain;
        background-repeat: no-repeat;
        height: 415px;
        background-position: 0;
        position: absolute;
        left: -160px;
        top: 40px;
        width: 100%;

      }
    }
    .block__half.fourth {
      padding: 0;
      position: relative;
      height: 500px;
      width: 625px;

      .block__image {
        background-size: contain;
        background-repeat: no-repeat;
        height: 415px;
        background-position: 0;
        position: absolute;
        top: 50px;
        width: 100%;
        right: -145px;
      }
    }
    .h3 {
      font-weight: $weight;
      font-size: 22px;
      color: $primary-gray;
    }

  }
//@media screen and (min-width: 1201px){
//  .section_11 + .section_11 .block__half {
//    padding-top: 180px;
//  }
//}


  .section_11:nth-child(odd) {

  }

  .section_11:nth-child(even) {
    background-color: #F0F2F8;
  }

  .section_11:nth-child(odd) .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    //min-height: 653px;
  }
  .section_11:nth-child(even) .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    //margin: -28px; ///???
  }

  .p.light {
    font-weight: $weight;
    font-size: 15px;
    color: #6C767F;
    letter-spacing: 0;
    line-height: 25px;
  }

}

.section_12 {
  background-image: url(../../../images/how_it_works/prefooter_laptop.png);
  background-color: #282E40;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 9%;

  margin-top: 60px;

  display: flex;
  flex-direction: row;

  .block__half {
    width: 50%;
  }

  .h3 {
    font-weight: $weight;
    font-size: 22px;
    color: #FFFFFF;
    width: 500px;
    margin-top: 45px;
  }
  .p {
    font-weight: $weight;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 25px;
    width: 500px;
    margin-bottom: 30px;
  }
}

.video__header {
  width: 665px;
  position: absolute;
  top: -73px;
  left: -20px;
}

