
.page__how-it-works {

  @media screen and (max-width: 1200px) {

    .section_11:nth-child(odd) .container {
      display: flex;
      flex-direction: initial;
      justify-content: initial;
      align-items: center;
      min-height: initial;
    }
    .section_11:nth-child(even) .container {
      display: flex;
      flex-direction: initial;
      justify-content: initial;
      align-items: initial;
      margin: 0 auto; ///???
    }

    .section_11:nth-child(odd) .container, .section_11:nth-child(even) .container {
      flex-direction: column;
      align-items: center;
    }

    .section_11:nth-child(even) {
      margin: initial;
    }

    .block__half .block__image {
      background-size: contain !important;
      background-position: 100% !important;
    }
    .section_11 .block__half.first {
      height: 360px;
    }

    .section_11 .block__half {
      width: 100%;
      height: 360px;
      text-align: center;
      padding-top: 250px;
    }

    .section_11 + .section_11 .block__half:last-child {
      padding-top: 130px;
    }

    .section_11 .block__half:first-child .block__image {
      margin: 0;
      position: relative;
      left: 0;
    }
    .section_11 {
      height: 900px;
    }
    .section_11 .block__image video {
      position: absolute;
      top: 53px;
      left: 0;
    }
    .section_11 .video__header {
      width: 665px;
      position: relative;
      top: 0;
    }
  }

  @media screen and (max-width: 980px) {
    section.section_11:nth-child(3n) .block__half .p {
      padding-bottom: 50px;
    }

    .section_11 .block__half:last-child {
      padding-top: 250px;
    }

    .section_11 + .section_11 .block__half:last-child {
      padding-top: 130px;
    }

    .section_11 + .section_11 + .section_11 .block__half:last-child {
      padding-top: 130px;
    }

    .section_11 + .section_11 + .section_11 + .section_11 .block__half:last-child {
      padding-top: 130px;
    }

  }

  @media screen and (max-width: 767px) {

    .section_11 {
      //height: 700px;
      height: 700px;
    }

    .section_11.se {
      height: 720px;
    }

    .section_11 .block__half:last-child {
      padding-top: 50px;
    }

    .section_11 + .section_11 .block__half:last-child {
      padding-top: 180px;
    }

    .section_11 + .section_11 + .section_11 .block__half:last-child {
      padding-top: 0;
    }

    .section_11 .block__half.third {
      height: 430px;
    }

    .section_11 + .section_11 + .section_11 + .section_11 .block__half:last-child {
      padding-top: 180px;
    }

    .section_11:nth-child(even) .block__half:first-child {
      height: 250px;
    }

    .section_11 .block__half.second .block__image {
      width: 500px;
      height: 250px;
    }

    .section_11 .block__half.fourth .block__image {
      width: 500px;
      height: 250px;
    }
    .section_11 .video__header {
      width: 425px;
      position: absolute;
      top: 20px;
      left: -13px;
    }
    .section_11 .block__image video {
      width: 399px;
    }
    .section_11 .block__half.first,
    .section_11 .block__half.second,
    .section_11 .block__half.third,
    .section_11 .block__half.fourth {
      width: 400px;
    }

  }

  @media screen and (max-width: 540px) {
    .section_11 .block__half:last-child {
      padding-top: 30px;
    }

    .section_11 + .section_11 .block__half:last-child {
      padding-top: 30px;
    }

    .section_11 + .section_11 + .section_11 .block__half:last-child {
      padding-top: 30px;
    }

    .section_11 + .section_11 + .section_11 + .section_11 .block__half:last-child {
      padding-top: 30px;
    }

    .section_11:nth-child(even) .block__half:first-child {
      height: 170px;
    }

    .section_11 .block__half.second .block__image {
      width: 310px;
      height: 170px;
    }

    .section_11 .block__half.fourth .block__image {
      width: 310px;
      height: 170px;
    }
    .section_11 .block__half.first, .page__how-it-works .section_11 .block__half.second, .page__how-it-works .section_11 .block__half.third, .page__how-it-works .section_11 .block__half.fourth {
      width: 320px;
    }
    .section_11 .block__half.first, .page__how-it-works .section_11 .block__half.second, .page__how-it-works .section_11 .block__half.third, .page__how-it-works .section_11 .block__half.fourth {
      width: 320px;
    }
    .section_11 .video__header {
      width: 340px;
      top: 0;
      left: -10px;
    }
    .section_11 .block__image video {
      width: 320px;
    }
    .section_11:nth-child(even) .block__half:first-child,
    .section_11:nth-child(odd) .block__half:first-child {
      width: 320px;
      height: 300px;
    }
    .section_11 .block__half {
      padding-top: 100px;
    }

    .section-11.fi {
      height: 640px !important;
    }
    .section_11.se {
      height: 670px;
    }
    .section_11.th {
      height: 660px;
    }
    .section_11.fiv {
      height: 630px;
    }
    .section_11 .block__half .p {
      padding-bottom: 40px !important;
    }

  }

  .section_content {
    padding-top: 30px;
  }
  .section_content .h2.title {
    margin-bottom: 0 !important;
  }
  .section_content .list {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  @media screen and (max-width: 368px) {

    .section-11 {
      height: 700px;
    }

    .section_11.se {
      height: 710px;
    }

    .section_11.th {
      height: 690px;
    }
    .section_11.fiv {
      height: 670px;
    }

    .section_11 .video__header {
      width: 100%;
      top: 26px;
      left: 5px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .section_12 {
    background-position: 50%;
  }
  .section_12 .h3, .section_12 .p {
    width: 90%;
  }
}

@media screen and (max-width: 1250px) {
  .section_10 {
    background-size: cover;

    .container {
      width: 90%;
    }
  }

  .section_12 {
    background-size: cover;
  }
}

@media screen and (max-width: 660px) {
  .section_12 {
    background-image: none;
    height: 340px;
    .block__half:first-child {
      display: none;
    }
    .block__half {
      width: 90%;
      margin: 0 auto;
      padding-top: 45px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .h3 {
        text-align: center !important;
        //width: 290px;
        margin: 0 auto;
        line-height: 36px;
      }
      .p {
        //width: 290px;
        margin: 0 auto;
        line-height: 22px;
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
      }

      .button__green {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .section_12 {
    height: 340px;
    background-image: none;
  }
  .section_12 .block__half {
    width: 90%;
    margin: 0 auto;
  }
  .section_12 .h3,
  .section_12 .p {
    width: 100%;
  }
  .section_12 .block__half:first-child {
    display: none;
  }
  .page__how-it-works .section_content .h4.description {
    line-height: 2;
  }
  .page__how-it-works .section_11 .video__header {
    left: -4px;
  }

}

@media screen and (max-width: 1250px) and (min-width: 1200px) {
  .page__how-it-works .section_11 .video__header {
    width: 667px;
    left: -21px;
  }
  .page__how-it-works .section_11 .block__image video {
    width: 625px;
  }
}
@media screen and (max-width: 321px) {
  .page__how-it-works .section_11 .video__header {
    left: 4px;
  }
}