@import './var.scss';

.list-reviews {
  list-style: none outside none;
  margin: 0;
  padding: 0;

  @at-root .page-feedbacks & {

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      margin-bottom: 50px;
    }

  }

}

.item-reviews {

  & {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @at-root .page-feedbacks & {

      @include desktop {
        width: calc(50% - 15px);
      }

    }

  }

  .size-mobile & {

    @include mobile {
      width: 100%;
      max-width: 290px;
      margin-bottom: 30px;
      padding: 20px;

      border: 1px solid #dfe4eb;
      border-radius: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      &__customers-info {
        justify-content: space-between;
        order: -2;

        width: 100%;
      }

      &__customers-comment {
        order: -1;
        width: 100%;
        margin: 10px 0;
      }

      &__customers-stat {
        width: 100%;
        margin-bottom: 15px;
      }

      &__customers-category {
        width: 100%;
        margin-bottom: 15px;

        .id {
          display: none;
        }

      }

    }

    @include desktop {
      width: 100%;
      max-width: 535px;
      margin-bottom: 30px;
      padding: 20px;

      border: 1px solid #dfe4eb;
      border-radius: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      &__customers-comment {
        width: 100%;
        margin: 15px 0;
      }

      &__customers-info,
      &__customers-stat {
        height: 30px;
      }

      &__customers-category,
      &__writers-info {
        height: 24px;
      }

    }

  }

  &__customers-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .name {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-right: 10px;
    }

    .avatar {
      margin-right: 10px;
    }

    .title {}

    .title-link {
      color: #424b59;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    .date {
      color: #54657e;
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
    }

  }

  &__customers-stat {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .stat-writers__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .value {
      margin-right: 5px;

      color: #5c6573 !important;
      font-size: 20px;
      font-weight: 300 !important;
      line-height: 24px;
    }

    .rating-bar {
      clear: none;
    }

  }

  &__customers-comment {

    p {
      margin-bottom: 15px;

      color: #5c6573;
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  &__customers-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #54657e;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    a {
      color: #54657e;
      font-weight: 400;
    }

    .word-divider {
      margin: 0 5px;
    }

  }

  &__writers-info {

    .link {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;

      color: #54657e;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    .icon-status {
      margin-left: 5px;
    }

    .status {
      margin-top: 6px !important;
      margin-left: 5px !important;
      float: right;
    }

  }



  &__left {
    margin-right: 20px;
  }

  &__center {
    flex: 1;
  }

  &__right {
    margin-left: 20px;
  }

  &__date {
    min-width: 30px;
    text-align: center;

    .day,
    .month {
      display: block;
    }

    .day {
      color: #54657e;
      font-size: 25px;
      font-weight: 400;
    }

    .month {
      color: #8493a8;
      font-size: 13px;
      font-weight: 400;
    }

  }

  &__title {
    margin-bottom: 7px;

    .customer {
      color: #3d4d65;
      font-size: 15px;
      font-weight: 400;
    }

    .order {
      color: #8493a8;
      font-size: 14px;
      font-weight: 300;
    }

  }

  &__content {
    color: #54657e;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    line-height: 24px;
  }

}
