@import './var.scss';

.page-name__home {

  .list-reviews {

    @include mobile {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @include tablet-768 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    @include tablet {
      justify-content: center;

      margin-bottom: 10px;
    }

    @include desktop {
      margin-bottom: 10px;
    }

  }

  .item-reviews {

    @include mobile {
      width: 100%;
      min-width: 290px;
      max-width: 290px;
      margin: 0 20px 17px 0;

      &:last-child {
        margin: 0 0 17px 0;
      }

    }

    @include tablet-768 {
      margin-bottom: 30px;
    }

    @include tablet {
      width: calc(50% - 30px);
      min-width: 290px;
      max-width: 350px;
      margin: 0 15px 30px;
    }

    @include tablet-1021 {

      & {
        width: calc(33.333333% - 30px);
        min-width: 290px;
        max-width: 350px;
        margin: 0 15px 30px;
      }

    }

    @include desktop {
      width: calc(33.333333% - 30px);
      max-width: 350px;
      margin: 0 15px 30px;
    }

    /* Common */
    &__customers-info {
      justify-content: space-between;
      order: -2;

      width: 100%;
    }

    &__customers-comment {
      order: -1;
      width: 100%;
      margin: 10px 0;
    }

    &__customers-stat {
      width: 100%;
      margin-bottom: 15px;
    }

    &__customers-category {
      width: 100%;
      margin-bottom: 15px;

      .essay-id {
        display: none;
      }

    }

  }

}

.page-feedbacks,
.page-name__profile {

  @include mobile-560 {
    .heading_mob-centering {
      float: initial;

      .heading-title {
        text-align: center;
      }
    }
  }

  .average_rating--value {
    color: #54657E;
    font-size: 14px;
    font-weight: 100;
    text-align: right;
    width: 170px;

    @include mobile {
      text-align: center;
      width: initial;
    }

  }

  .average_rating--value .number {
    font-weight: 500;
  }



  .list-reviews {

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

      margin-bottom: 40px;
    }

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

      margin-bottom: 10px;
    }

    //@include tablet-979 {
    //  justify-content: flex-start;
    //
    //  max-width: 290px;
    //}

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      margin-bottom: 10px;
    }

  }

  .item-reviews {

    @include mobile {
      width: 100%;
      max-width: 290px;
      margin-bottom: 30px;
      padding: 20px;

      background-color: #fff;
      border: 1px solid #dfe4eb;
      border-radius: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      &__customers-info {
        justify-content: space-between;
        order: -2;

        width: 100%;
      }

      &__customers-comment {
        order: -1;
        width: 100%;
        margin: 10px 0;
      }

      &__customers-stat {
        width: 100%;
        margin-bottom: 15px;
      }

      &__customers-category {
        width: 100%;
        margin-bottom: 15px;

        .essay-id {
          display: none;
        }

      }

    }

    @include desktop {
      width: 100%;
      max-width: 555px;
      margin-bottom: 30px;
      padding: 20px;

      background-color: #fff;
      border: 1px solid #dfe4eb;
      border-radius: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      &__customers-info,
      &__customers-stat {
        height: 30px;
      }

      &__customers-comment {
        width: 100%;
        margin: 15px 0;
      }

      &__customers-category,
      &__writers-info {
        height: 20px;
      }

    }

    @include desktop {
      width: calc(50% - 15px);

      &:nth-child(odd) {
        margin-right: 15px;
      }

      &:nth-child(even) {
        margin-left: 15px;
      }

    }

    /* Common */

    @include mobile {

      &__customers-info {
        justify-content: space-between;
        order: -2;

        width: 100%;
      }

      &__customers-comment {
        order: -1;
        width: 100%;
        margin: 10px 0;
      }

      &__customers-stat {
        width: 100%;
        margin-bottom: 15px;
      }

      &__customers-category {
        width: 100%;
        margin-bottom: 15px;

        .essay-id {
          display: none;
        }

      }

    }

    @include mobile-610-767 {
      width: calc(50% - 30px);
      min-width: 290px;
      max-width: 350px;
      margin: 0 15px 30px;
    }

    @include tablet {
      width: calc(50% - 30px);
      min-width: 290px;
      max-width: 350px;
      margin: 0 15px 30px;

      &__customers-info {
        justify-content: space-between;
        order: -2;

        width: 100%;
      }

      &__customers-comment {
        order: -1;
        width: 100%;
        margin: 10px 0;
      }

      &__customers-stat {
        width: 100%;
        margin-bottom: 15px;
      }

      &__customers-category {
        width: 100%;
        margin-bottom: 15px;

        .essay-id {
          display: none;
        }

      }

    }

    //@include tablet-979 {
    //  margin-left: 0;
    //  margin-right: 0;
    //}

  }

  .comments-footer {

    //@include tablet-979 {
    //  max-width: 290px;
    //}

  }

}

.page-name__profile {

  .list-reviews {

    @include desktop {
      margin-bottom: 50px;
    }

  }

  .item-reviews {

    @include desktop {
      width: 100%;
      max-width: 555px;
      margin-bottom: 30px;
      padding: 20px;

      &:nth-child(odd) {
        margin-right: 0;
      }

      &:nth-child(even) {
        margin-left: 0;
      }

    }

  }

}
