@import './var.scss';

.list-reviews {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.item-reviews {

  & {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    padding: 20px;

    background-color: #fff;
    border: 1px solid #dfe4eb;
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  .size-mobile & {
    width: 100%;
    max-width: 290px;
    margin-bottom: 30px;
    padding: 20px;

    background-color: #fff;
    border: 1px solid #dfe4eb;
    border-radius: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    &__customers-info {
      justify-content: space-between;
      order: -2;

      width: 100%;
    }

    &__customers-comment {
      order: -1;
      width: 100%;
      margin: 10px 0;
    }

    &__customers-stat {
      width: 100%;
      margin-bottom: 15px;
    }

    &__customers-category {
      width: 100%;
      margin-bottom: 15px;

      .essay-id {
        display: none;
      }

    }

  }

  &__customers-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .link {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-right: 10px;
    }

    .avatar {
      margin-right: 10px;
    }

    .title {
      color: #424b59;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    .date {
      color: #54657e;
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
    }

  }

  &__customers-stat {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .stat-writers__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .value {
      margin-right: 5px;

      color: #5c6573 !important;
      font-size: 20px;
      font-weight: 300 !important;
      line-height: 24px;
    }

    .rating-bar {
      clear: none;
    }

  }

  &__customers-stat.feedback_top--stat {
    justify-content: flex-end;
    margin-bottom: 0 !important;
  }

  @media screen and (max-width: 767px) {
    &__customers-stat.feedback_top--stat {
      justify-content: center;
      margin-bottom: 0 !important;
    }

  }

  &__customers-comment {

    p {
      height: 75px;
      max-height: 75px;
      margin-bottom: 15px;

      overflow: hidden;

      color: #5c6573;
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
      white-space: normal;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  &__customers-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #54657e;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    .link {
      color: #54657e;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }

  }

  &__writers-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .link {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;

      color: #54657e;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }

    .icon-status {
      margin-left: 5px;
    }

    .status {
      margin-top: 6px !important;
      margin-left: 5px !important;
      float: right;
    }

  }

}
