@import "../../../../common";

.page__professional-essay-help {
  .section_10.light {
    height: 210px;
    background-image: url(../../../images/bg.png);
    background-size: 100%;

    .h1 {
      margin: 0;
      text-align: center;
      font-size: 34px;
      color: #fff;
      letter-spacing: 0;
      line-height: 50px;
      width: 100%;
      padding-top: 100px;
    }
  }
  .section_content {
    padding: 15px 0 30px 0;

    .quote {
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .img {
        background-image: url(../../../images/about_us/before.png);
        width: 100px;
        background-repeat: no-repeat;
        max-width: 100px;
        background-size: 80%;
        margin-top: 30px;
      }


      .text {
        font-weight: 400;
        max-width: 100%;
        font-size: 22px;
        color: #6C767F;
        line-height: 30px;
        display: flex;
        flex-direction: row;


        p {
          margin-left: 20px;
        }
      }
    }
    .h3 {

      margin: 45px 0 10px 0;
    }
    .p {
      padding: 10px 0;
    }
  }
  .not-full {
    max-width: 1192px;
    margin: 0 auto;
  }
  .img-concern {
    max-width: 1200px;
    margin: 0 auto;

    .flex-main {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #2B2D48;
      width: 100%;
      height: 200px;
    }
    .flex-first {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

    }

    .icon {
      max-width: 142px;
    }
    .h2 {
      font-size: 34px;
      color: $primary-color;
      font-weight: 400;
      max-width: 529px;
      margin-left: 53px;
    }
    .button__green {
      padding: 13px 35px;
    }
}
  .section_16 {
    margin-top: 35px;
  }
}
.page__services {
  .section_10.light {
    height: 210px;
    background-image: url(../../../images/bg.png);
    background-size: 100%;

    .h1 {
      margin: 0;
      padding-top: 100px;
      font-size: 34px;
      color: $primary-color;
      letter-spacing: 0;
      line-height: 50px;
    }
  }
  .section_content {
    padding: 15px 0 30px 0;

    .img {
      background-image: url(../../../images/about_us/before.png);
      background-repeat: no-repeat;
      width: 100px;
      margin-top: 7px;
      background-size: 64%;
    }
    .quote .text p {
      font-size: 22px;
      color: #6C767F;
      line-height: 30px;
      margin: 0;
    }
    .text {
      display: flex;
      flex-direction: row;
    }
    .quote {
      margin: 20px 0;
    }

    .h3 {

      margin: 45px 0 10px 0;
    }

    .h4 {
      margin-top: 30px;
      font-size: 22px;
      color: #43484D;
    }
    .p {
      padding: 20px 0;
    }
    .section_content--gray {
      list-style-type: none;
      padding: 0;

      .li-item {
        font-size: 15px;
        color: #414B54;
        padding: 30px 15px;
        letter-spacing: 0;
        line-height: 25px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        //width: 783px;
        //height: 135px;
      }
      .bullet {
        margin: 0;
      }
      p.bullet:before {
        content: "\2022";
        margin-right: 10px;
        margin-left: 10px;
      }
      .li-item:nth-child(odd) {
        background: #F0F2F8;
      }
    }
    .p.strong {
      font-weight: 600;
    }
    .man.guys {
      //background-image: url(../../../images/guys.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 1192px;
      height: 405px;
      margin-left: -206px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .man.girl {
      //background-image: url(../../../images/girl.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 1192px;
      height: 405px;
      margin-left: -206px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .man {
      background-image: url(../../../images/bg_man.png);
      //background-color: #F0F2F8;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 83%;
      width: 1192px;
      height: 405px;
      margin-left: -206px;
      margin-top: 20px;
      margin-bottom: 20px;

      .h3 {
        margin: 0;
        padding: 40px 0 0 0;
      }

      .p {
        max-width: 392px;
      }

    }
    @media screen and (max-width: 1260px) {
      .man {
        width: 100%;
        margin-left: 0;
        background-size: contain;
        background-position: 0 0;
      }
    }

  }
  .section_12 {
    background-image: url(../../../images/prefooter_laptop.png);
    background-color: #282E40;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 9%;

    margin-top: 60px;

    display: flex;
    flex-direction: row;

    .block__half {
      width: 50%;
    }

    .h3 {
      font-weight: $weight;
      font-size: 22px;
      color: #FFFFFF;
      width: 500px;
      margin-top: 45px;
    }
    .p {
      font-weight: $weight;
      font-size: 15px;
      color: #FFFFFF;
      line-height: 25px;
      width: 500px;
      margin-bottom: 30px;
    }
  }

  .section_15 {
    background-image: url(../../../images/service_faq/bg_faq.png);
    background-color: #2A2E47;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 44%;

    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 785px;
    }

    .block__half {

      .h2 {
        font-size: 34px;
        color: $primary-color;
        letter-spacing: 0;
        margin: 0;
        font-weight: 400;
      }
    }
    .block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .h2 {
        font-size: 34px;
        color: #DEE4ED;
        letter-spacing: 0;
      }
      .p {
        font-size: 15px;
        color: #DEE4ED;
        letter-spacing: 0;
        width: 243px;
        margin-left: 15px;
      }
    }
  }
}

.full {
  background-image: url(../../../images/custom_essay_writing/bg_man2.png);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .flex-main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .flex-first {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
  }
  .block__half {
    flex: 1;
  }
  .icon {
    max-width: 111px;
  }
  .h2 {
    font-size: 34px;
    color: $primary-color;
    font-weight: 400;
    max-width: 529px;
    margin-left: 60px;
  }
  .button__green {
    padding: 13px 35px;
  }
  .full {
    background-image: url(../../../images/custom_essay_writing/bg_man2.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .flex-main {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .flex-first {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex: 2;
    }
    .block__half {
      flex: 1;
    }
    .icon {
      max-width: 111px;
    }
    .h2 {
      font-size: 34px;
      color: $primary-color;
      font-weight: 400;
      max-width: 529px;
      margin-left: 60px;
    }
    .button__green {
      padding: 13px 35px;
    }
  }

}