.page__professional-essay-help {
  @media screen and (max-width: 820px){
    .section_10.light .container {
      width: 90%;
    }
    .section_content .container {
      width: 90%;
    }

  }
@media screen and (max-width: 920px) {
  .full .flex-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .man {
    background-image: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 1215px) {
   .img-concern {
    width: 90%;
  }
}
@media screen and (max-width: 616px) {
 .img-concern .flex-main {
    flex-direction: column;
  }
  .img-concern .h2 {
     margin-left: 20px;
   }
   .img-concern {
    height: auto;
  }
   .img-concern .flex-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
   .img-concern .h2 {
    margin: 30px;
    max-width: 350px !important;

  }
   .img-concern .icon{
    max-width: 77px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 998px) {
  .img-concern .h2 {
    max-width: 450px;
  }
}
@media screen and (max-width: 890px) {
  .img-concern .h2 {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .img-concern .h2 {
    max-width: 200px;
  }
}
@media screen and (max-width: 400px) {
  .img-concern .flex-main {
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .img-concern .h2 {
    margin-left: 20px;
  }
}
}



.page__services  {
  @media screen and (max-width: 820px){
    .section_10.light .container {
      width: 90%;
    }
    .section_content .container {
      width: 90%;
    }


  }
  @media screen and (max-width: 920px) {
    .full .flex-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .section_content .man,
    .section_content .man.guys,
    .section_content .man.girl  {
      background-image: none;
      width: 100%;
      padding: 0;
      margin: 0;
      height: auto;
    }
    .section_content .man .container,
    .section_content .man.guys .container,
    .section_content .man.girl .container{
      max-width: 100%;
      width: 100% !important;
      padding: 0!important;
      margin: 0;
    }

    .section_content .man.girl .p,
    .section_content .man.guys .p,
    .section_content .man .p {
      max-width: 100%;
      margin: 0;
    }
  }

  @media screen and (max-width: 540px){
    .full .icon {
      max-width: 77px;
      margin-left: 15px;
    }
    .section_15 .block__half .h2 {
      margin: 0;
    }
    .full .h2 {
      margin: 30px;
    }

  }
  @media screen and (max-width: 1250px) and (min-width: 768px){
    .section_14 {
      height: 1400px;

      .container {
        width: 90%;
      }

      .list {
        width: 100%;
      }
      .block__link {
        width: 49%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .section_14 {
      height: 1790px;

      .container {
        width: 90%;
      }

      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 820px){
    .section_15 {
      background-size: cover;

      .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    .section_15 .block__half {
      padding: 10px 0;
    }
    .section_15 .block .p {
      margin-left: 15px;
    }
  }

  @media screen and (max-width: 600px) {
    .section_14 {
      height: 2000px;
      .block__link {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 540px) {
    .section_14 {
      height: 2100px;
    }
  }
  @media screen and (max-width: 500px) {
    .section_14 {
      height: 2300px;
    }
    .section_15 .block__half .h2{
      text-align: center !important;
      margin-top: 15px;
      margin-right: 15px;
    }
    .section_15 .block .p {
      padding: 10px 0 20px 0;
    }
    .section_15 {
      height: 210px;
    }
  }
  @media screen and (max-width: 420px) {
    .section_14 {
      height: 2500px;
    }
  }
  @media screen and (max-width: 520px) and (min-width: 450px) {
    .section_15 .block__half {
      padding: 10px 0;
      text-align: center;
    }
    .section_15 .block .p {
      margin-left: 15px;
    }
    .section_15 {
      height: 240px;
    }
  }
  @media screen and (max-width: 390px) and (min-width: 349px) {
    .section_14 {
      height: 2400px;
    }
  }
  @media screen and (max-width: 348px) and (min-width: 320px) {
    .section_14 {
      height: 2650px;
    }
  }
  @media screen and (max-width: 990px) and (min-width: 850px) {
    .section_14 {
      height: 1250px;
    }
  }
  @media screen and (max-width: 1250px) and (min-width: 1120px) {
    .section_14 {
      height: 1200px !important;
    }
  }
  @media screen and (max-width: 1120px) and (min-width: 990px) {
    .section_14 {
      height: 1300px !important;
    }
  }
  @media screen and (max-width: 500px) and (min-width: 480px) {
    .section_14 {
      height: 2000px !important;
    }
  }
  @media screen and (max-width: 480px) and (min-width: 448px) {
    .section_14 {
      height: 2050px !important;
    }
  }
  @media screen and (max-width: 448px) and (min-width: 420px) {
    .section_14 {
      height: 2250px !important;
    }
  }
  @media screen and (max-width: 420px) and (min-width: 400px) {
    .section_14 {
      height: 2300px !important;
    }
  }
  @media screen and (max-width: 386px) and (min-width: 354px) {
    .section_14 {
      height: 2530px !important;
    }
  }
  @media screen and (max-width: 350px) and (min-width: 344px) {
    .section_14 {
      height: 2600px !important;
    }
  }
  @media screen and (max-width: 336px) and (min-width: 326px) {
    .section_14 {
      height: 2700px !important;
    }
  }
  @media screen and (max-width: 325px) and (min-width: 320px) {
    .section_14 {
      height: 2850px !important;
    }
  }
  @media screen and (max-width: 1350px) {
    .section_12 {
      background-position: 50%;
    }
    .section_12 .h3, .section_12 .p {
      width: 90%;
    }
  }

  @media screen and (max-width: 1250px) {
    .section_10 {
      background-size: cover;

      .container {
        width: 90%;
      }
    }

    .section_12 {
      background-size: cover;
    }
  }

  @media screen and (max-width: 660px) {
    .section_12 {
      background-image: none;
      height: 340px;
      .block__half:first-child {
        display: none;
      }
      .block__half {
        width: 90%;
        margin: 0 auto;
        padding-top: 45px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .h3 {
          text-align: center !important;
          //width: 290px;
          margin: 0 auto;
          line-height: 36px;
        }
        .p {
          //width: 290px;
          margin: 0 auto;
          line-height: 22px;
          padding-top: 30px;
          text-align: center;
          padding-bottom: 30px;
        }

        .button__green {
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 540px) {
    .section_12 {
      height: 340px;
      background-image: none;
    }
    .section_12 .block__half {
      width: 90%;
      margin: 0 auto;
    }
    .section_12 .h3,
    .section_12 .p {
      width: 100%;
    }
    .section_12 .block__half:first-child {
      display: none;
    }
  }
  @media screen and (max-width: 920px) {
    .full .flex-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 540px){
    .full .icon {
      max-width: 77px;
      margin-left: 15px;
    }
    .section_15 .block__half .h2 {
      margin: 0;
    }
    .full .h2 {
      margin: 30px;
    }
  }
}
@media screen and (max-width: 1260px) {
  .page__services .section_content .man,
  .page__services .section_content .man.guys,
  .page__services .section_content .man.girl {
    width: 100%;
    background-size: contain;
    background-position: 0 0;
    margin: 0 auto;
  }

}
