@import './var';

.page-type__static {

  &.page-name__faq {

    .es-page-heading {
      margin-bottom: 0;
    }

  }

  &.page-name__faq-writer {
    padding-top: 100px;
    padding-bottom: 60px;

    .es-page-heading {
      margin-bottom: 0;
    }

    .back {
      margin-bottom: 40px;
    }

    .back-link {
      color: #0282d5;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;

      &:hover,
      &:focus {
        color: #24a4f7;
      }

    }

  }

}

.faq-list {}

.faq-item {
  /*margin-bottom: 30px;*/

  &:last-child {
    margin-bottom: 0;
  }

  &__ask {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 30px 50px;

    border-bottom: 1px solid #dfe5ed;

    p {
      color: #424b59;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  &__ask-content {
    flex: 1;

    padding-right: 30px;
  }

  &__ask-action {

  }

  &__ask-title {
    margin-bottom: 10px;

    color: #5c6573;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  &__question {
    background-color: #f2f4f7;

    p {
      margin-bottom: 15px;

      color: #424b59;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  &__question-content {
    padding: 30px 30px 35px 50px;
  }

  &__question-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
  }

  &__question-title {
    flex: 1;

    padding-right: 30px;
    margin-bottom: 0;

    color: #0282d5;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  &__toggle {
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;

    background-color: rgba(0,0,0,0);
    background-image: url(../../../images/faq/arrow_up__16x8.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px 8px;
    border: 0;
    box-shadow: none;
    outline: 0;

    .collapsed & {
      background-image: url(../../../images/faq/arrow_down__16x8.svg);
    }

  }

  &__close {
    display: block;
    width: 15px;
    height: 15px;

    background-image: url(../../../images/faq/icon__close__15x15__2x.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
  }

}
