@import './var';

.faq-menu {

	@include mobile-767 {
		margin-bottom: 30px;
	}

	@include tablet-768 {
		margin-bottom: 30px;

		border: 1px solid #d7dee7;
		border-radius: 4px;
	}

	&__title {
		border-bottom: 1px solid #d7dee7;

		color: #5c6573;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;

		@include mobile-767 {
			padding: 15px 0 20px;
		}

		@include tablet-768 {
			padding: 15px 20px;
		}

	}

	&__list {
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}

	&__item {
		border-bottom: 1px solid #d7dee7;

		&:last-child {

			@include tablet-768 {
				border-bottom: 0;
			}

		}

	}

	&__link {
		display: block;
		position: relative;

		color: #424b59;
		font-weight: 300;

		@include mobile-767 {
			padding: 25px 20px 25px 0;

			font-size: 14px;
			line-height: 20px;
		}

		@include tablet-768 {
			padding: 20px 35px 20px 15px;

			font-size: 16px;
			line-height: 20px;
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -6px;

			width: 6px;
			height: 12px;

			background: url(../../../images/faq/arrow_right__6x12.svg) no-repeat 50% 50%;
			background-size: 6px 12px;

			@include mobile-767 {
				right: 0;
			}

			@include tablet-768 {
				right: 15px;
			}

		}

	}

}

.faq-block {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}