@import './var';

.page-type__static {

	&.page-name__faq-detail {

		.back {
			margin-bottom: 30px;
		}

		.es-page-main {

			@include tablet-768 {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}

		}

		.es-page-content {

			@include mobile-767 {
				margin-bottom: 30px;
			}

			@include tablet-768 {
				flex: 1;
			}

		}

		.es-page-sidebar {

			@include mobile-767 {
				border-top: 1px solid #d7dee7;
				margin-left: -15px;
				margin-right: -15px;
				padding: 0 15px;
			}

			@include tablet-768 {
				width: 347px;
				margin-left: 30px;
			}

		}

	}

}

.faq-detail {

	&__image {
		width: 100%;
		height: auto;
	}

	h2 {
		margin-bottom: 25px;

		color: #5c6573;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
	}

	h3 {
		margin-bottom: 20px;

		color: #5c6573;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}

	p {
		color: #424b59;
		font-weight: 300;

		@include mobile-767 {
			margin-bottom: 15px;

			font-size: 14px;
			line-height: 22px;
		}

		@include tablet-768 {
			margin-bottom: 35px;

			font-size: 16px;
			line-height: 24px;
		}

	}

}