@import "../../../common";


$opensans-font-path: "./../../../../common/fonts/opensans/" !default;


//@font-face {
//  font-family: "Open Sans";
//  src: local(OpenSans Light), url('#{$opensans-font-path}OpenSans-Light.eot');
//  src: url("#{$opensans-font-path}OpenSans-Light.eot?#iefix") format('embedded-opentype'),
//  url("#{$opensans-font-path}OpenSans-Light.woff2") format("woff2"),
//  url("#{$opensans-font-path}OpenSans-Light.woff") format("woff"),
//  url("#{$opensans-font-path}OpenSans-Light.ttf") format("truetype");
//  font-weight: 300;
//}

@font-face {
  font-family: "Open Sans";
  src: local(OpenSans Regular), url('#{$opensans-font-path}OpenSans-Regular.eot');
  src: url("#{$opensans-font-path}OpenSans-Regular.eot?#iefix") format('embedded-opentype'),
  url("#{$opensans-font-path}OpenSans-Regular.woff2") format("woff2"),
  url("#{$opensans-font-path}OpenSans-Regular.woff") format("woff"),
  url("#{$opensans-font-path}OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}


@font-face {
  font-family: "Open Sans";
  src: url('#{$opensans-font-path}OpenSans-Bold.eot');
  src: url("#{$opensans-font-path}OpenSans-Bold.eot?#iefix") format('embedded-opentype'),
  url("#{$opensans-font-path}OpenSans-Bold.woff2") format("woff2"),
  url("#{$opensans-font-path}OpenSans-Bold.woff") format("woff"),
  url("#{$opensans-font-path}OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

footer {
  @extend .primary;
  padding: 30px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;

    .flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .flex_1 {


        .flex__paragraph {
          font-weight: $weight;
          font-size: 12px;
          color: $gray;
        }
        .flex__list {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: $zero;

          .flex__list_item {
            font-weight: $weight;
            font-size: 14px;
            margin-right: 15px;

            .flex__list_item-link {
              text-decoration: none;
              color: $gray;
            }
          }
        }
      }
      .flex_2 {
        display: flex;
        flex-direction: row;

        .flex_2__pay-block {
          margin: 0 10px;

          img {
            width: 78px;
          }

        }
      }
    }

  }
}
footer .container .flex .flex_1 .flex__list .flex__list_item .flex__list_item-link:hover,
footer .container .flex .flex_1 .flex__list .flex__list_item .flex__list_item-link:focus,
footer .container .flex .flex_1 .flex__list .flex__list_item .flex__list_item-link:active {
  color: #414B54;
}
.lang-block {

  .lang-button {
    background: $primary-color;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-size: 14px;
    color: $primary-gray;
    width: 173px;
    height: 40px;
    text-align: center;
  }

  .land-name {
    font-size: 14px;
    color: $primary-gray;
    text-transform: none;
  }

}



@media screen
and (max-width: 936px) {

  .footer-bottom {

    .left-block {
      justify-content: center;
      flex-direction: column;

    }

    .copyright-wrap {
      margin-bottom: 20px;
      justify-content: center;
    }

    .right-block {
      display: none;
    }

    .lang-block {

    }

  }

}

.LangButton {
  display: inline-block;
  width: auto;
  height: 100%;
  margin: 0 20px;
  padding: 15px;

  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 0;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: transparent;
  }

}

.lang-button {
  @extend .LangButton;
}

.lang {

}

.lang-block {
  position: relative;
}

.mdl-menu__outline {
  width: auto !important;
}

.button-flag {
  background-image: url(../../../images/footer/global.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

//.button-flag-gb {
//  background-image: url(../../../images/svg/uk.svg);
//}
//
//.button-flag-au {
//  background-image: url(../../../images/svg/au.svg);
//}
//
//.button-flag-us {
//  background-image: url(../../../images/svg/us.svg);

  &.button-flag {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }



//.button-flag-ie {
//  background-image: url(../../../images/svg/ie.svg);
//}
//
//.button-flag-nz {
//  background-image: url(../../../images/svg/nz.svg);
//}
//
//.button-flag-ca {
//  background-image: url(../../../images/svg/ca.svg);
//}
//
//.button-flag-ae {
//  background-image: url(../../../images/svg/uae.svg);
//}

.land-name {
  color: #4b546b;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.button-lower {
  //background-image: url(../../../images/svg/icon_button_lower.svg);
  background-size: 7px 6px;
  background-position: 50% 50%;
  display: inline-block;
  line-height: 6px;
  width: 7px;
  height: 6px;
  vertical-align: middle;
}

.mdl-menu {
  padding-bottom: 1px;
}

.mdl-menu__item {
  width: auto;
  height: auto;
  padding: 0 13px;
  background-color: #fcfcfc;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-right: 0;

  &:hover,
  &:focus {
    background: #fcfcfc;
  }

}

.mdl-menu__link {
  display: inline-block;
  font-size: 0;
  padding: 0 15px;
  vertical-align: middle;
}

.langmenu {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 50px;

  list-style: none outside none;
  margin: 0;
  padding: 0;

  border: 1px solid #d9d9d9;
  border-radius: 3px;

  .active & {
    display: block;
  }

  &__item {
    border-bottom: 1px solid #d9d9d9;

    &:first-child {

      .langmenu__link {
        border-radius: 3px 3px 0 0;
      }

    }

    &:last-child {
      border-bottom: 0;

      .langmenu__link {
        border-radius: 0 0 3px 3px;
      }

    }

  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 48px;
    padding: 0 15px;

    background-color: #fcfcfc;

    &:hover,
    &:focus {
      background-color: #fefefe;

      .land-name {
        color: #6d768d;
      }

    }

    .land-name {
      white-space: nowrap;
    }

  }
}
.hidden {
  display: none;
}
.rotate-arrow {
  transform: rotate(-180deg);
}
