@media screen and (max-width: 1225px) {
  footer .container {
    width: 90%;
  }
}
@media screen and (max-width: 920px) {
  footer .container .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 540px) {
  footer .container .flex .flex_1 .flex__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  footer .container .flex .flex_2 .flex_2__pay-block img {
    width: 66px;
    z-index: 3;
  }
}

@media screen and (max-width: 368px) {
  footer .container .flex .flex_2 .flex_2__pay-block {
    margin: 0 10px 0 0;
  }
}
