@media only screen
and (min-width: 768px)
and (max-width: 1024px) {

  .page-home,
  .ui-content,
  .ui-footer {

    .container {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }

  }

}
