@import '../../base/base';

.content-header {
  margin-bottom: 20px;

  .container {
    height: 143px;
  }

  .heading-image {
    float: right;
    width: 330px;
    margin-top: 5px;
    margin-right: 80px;
  }

  .heading-title {
    color: #fff;
    float: none;
    font-size: 40px;
    font-weight: 300;
    margin: 30px 0 10px;
    text-align: center;
    letter-spacing: -.02em;
  }

  .heading-text {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

    .text-title {
      font-family: inherit;
      font-size: 24px;
      font-weight: 300;
      line-height: inherit;
      letter-spacing: inherit;
      margin-top: 0;
      margin-bottom: 0;
    }

  }

}
