@import './var';

.page-type__static {

  &.page-name__faq {

    @include mobile {
      padding-top: 66px;
    }

    @include tablet {
      padding-top: 76px;
    }

    @include tablet-1001 {
      padding-top: 125px;
    }

    .es-page-heading {
      margin-bottom: 0;
    }

  }

  &.page-name__faq-writer {

    @include mobile {
      padding-top: 66px;
      padding-bottom: 40px;
    }

    @include tablet {
      padding-top: 76px;
      padding-bottom: 50px;
    }

    @include tablet-1001 {
      padding-top: 100px;
      padding-bottom: 60px;
    }

    .es-page-heading {
      margin-bottom: 0;
    }

    .back {

      @include mobile {
        margin-bottom: 20px;
      }

      @include tablet {
        margin-bottom: 30px;
      }

      @include tablet-1001 {
        margin-bottom: 40px;
      }

    }

    .back-link {
      color: #0282d5;
      font-weight: 300;

      &:hover,
      &:focus {
        color: #24a4f7;
      }

      @include mobile {
        font-size: 16px;
        line-height: 18px;
      }

      @include tablet-768 {
        font-size: 18px;
        line-height: 20px;
      }

    }

  }

}

.faq-list {}

.faq-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  /*padding: 30px 30px 30px 50px;*/

  border-bottom: 1px solid #dfe5ed;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    align-items: flex-start;

    background-color: #f2f4f7;

    .faq-item__title {
      color: #0282d5;
    }

    .faq-item__action {
      align-self: flex-start;
    }

    .faq-item__toggle {
      display: block;
      position: static;
      width: 15px;
      height: 15px;
      padding: 0;

      background-color: rgba(0,0,0,0);
      background-image: url(../../../images/faq/icon__close__15x15__2x.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      border: 0;
      box-shadow: none;
      outline: 0;

      font-size: 0;

      @include mobile {
        margin: 22px 0 0;
      }

      @include tablet-768 {
        margin: 30px 0 0;
      }

    }

    .icon__arrow-down {
      display: none;
    }

  }

  &__content {
    flex: 1;

    @include mobile {
      padding: 20px 0 20px 20px;
    }

    @include tablet-768 {
      padding: 30px 0 30px 50px;
    }

  }

  &__action {
    width: 16px;
    height: 16px;

    @include mobile {
      margin: 0 20px;
    }

    @include tablet-768 {
      margin: 0 30px;
    }

  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    padding: 0;

    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    outline: 0;
    font-size: 0;
  }

  .icon__arrow-down {
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;

    background-color: rgba(0,0,0,0);
    background-image: url(../../../images/faq/arrow_down__16x8.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px 8px;
    border: 0;
    box-shadow: none;
    outline: 0;

    font-size: 0;
  }

  &__title {
    margin-bottom: 10px;

    color: #5c6573;
    font-weight: 400;

    @include mobile {
      font-size: 16px;
      line-height: 20px;
    }

    @include tablet-768 {
      font-size: 18px;
      line-height: 24px;
    }

  }

  &__description {
    color: #424b59;
    font-weight: 300;

    @include mobile {
      font-size: 15px;
      line-height: 20px;
    }

    @include tablet-768 {
      font-size: 16px;
      line-height: 24px;
    }

    a {
      color: #0082d5;

      &:hover,
      &:focus {
        color: #22a4e7;
      }

    }

  }

}
