@import "./styles/styles";
@import "./styles/styles__1000_less";
@import "./styles/styles__1001_more";

.side-nav__button-left,
.side-nav__button-right {
	@extend .SideNavButton;
}

.side-nav__button-right {
  position: absolute;
  top: 0;
  right: 0;
}

.mdl-side-nav {
	@extend .SideNav;
}
