
//// 404
.error-page {
  background-image: linear-gradient(0deg, #F3F6F8 0%, #E2E7EB 100%);
  position: relative;
  padding: 142px 0 201px 0;

  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .img-error {
    max-width: 254px;
  }
  .title.error {
    font-size: 100px;
    color: #D1D6DE;
    letter-spacing: 0;
    margin: 0;
  }
  .description.error {
    font-size: 40px;
    color: #3D414C;
    letter-spacing: 0;
    margin: 0;
  }
  .error-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;

    .description {
      font-size: 18px;
      color: #7A818C;
      letter-spacing: 0;
      line-height: 26px;
      width: 326px;
      text-align: left;
    }
  }
  .button-group {
    text-align: center;

    .button-link {
      width: 196px;
    }
    .button-link:hover, .button-link:focus {
      background-color: #0074bc;
      border-color: #0074bc;
      color: #fff;
    }
  }
}
@media screen and (max-width: 540px) {
  .error-page {

    .description.error {
      font-size: 40px !important;
      margin: 50px 0;
    }
    .title.error {
      font-size: 100px !important;
    }
    .error-message {
      display: flex;
      flex-direction: column;
      align-items: center;

      .description {
        margin: 25px 0 0 0;
      }
    }
  }
}
@media screen and (max-width: 368px) {
  .error-page {
    padding: 142px 0 100px 0;

    .container {
      width: 100%;
    }
    .error-message {
      .description {
        width: 100%;
      }
    }
  }
}
