
.products.common-page .description {
  padding-left: 10px;
  color: #7A818C;
  font-size: 19px;
  font-weight: 400;
  padding-top: 10px;
  line-height: 29px;
  max-width: initial;
  text-align: center;
  display: block;
}

.products.common-page .h2page {
  //width: 785px;
  margin: 30px auto;
  margin-top: 60px;
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
  padding-bottom: 20px;
  padding-top: 25px;
  //width: initial;
  padding-left: 24px;
  padding-right: 24px;
}

.products.common-page p,
.products.common-page .item,
.products.common-page .list {
  width: 785px;
  margin: 0 auto;

}

.products.common-page p.updown20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.products.common-page .list {
  margin-top: -8px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 1360px;
}

.writers-h {
  display: flex !important;
  flex-direction: column !important;
}

.writers-h > li {
  text-align: left !important;
}

.products.common-page .item {
  margin: 0 0 0 -20px;
  text-indent: 0;
  //text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  width: 23%;
  //align-items: center;
}

.horizontal_ul_blocks-wrapper .item:before {
  content: "· ";
  font-size: 80px !important;
  padding-right: initial !important;
  vertical-align: middle;
  line-height: 26px;
}

.products.common-page .list > .item > ul > li {
  margin-top: -10px;
  line-height: 39px;
}

.products.common-page .list > .item > ul > li {
  margin: 0 0 0 -20px;
  text-indent: 0;
}

.products.common-page .list > .item > ul {
  padding-left: 14px;
}

.products.common-page p,
.products.common-page .list {
  margin: 10px auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.products.common-page p {
  font-weight: 300;
  text-align: left;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  /* width: 70%; */
  margin: 0 auto;
  //padding-bottom: 40px;
}

@media screen and (max-width: 878px) {
  .products.common-page p {
    width: initial;
    padding-left: 24px;
    padding-right: 24px;
  }

  .products.common-page p,
  .products.common-page .item,
  .products.common-page .list {
    width: initial;
    padding-left: 15px;
    padding-right: 15px;
  }

}


/*!* ==========================================================================*/
/*11. Common Pages */
/*========================================================================== *!*/

.common-page .title {
  font-size: 32px;
  font-weight: 400;
  display: block;
}

.common-page header {
  height: 62px;
  //margin: 30px 0;
  //padding: 0 0;
  padding-top: 30px;
}

.common-page .description {
  font-size: 18px;
  color: #7A818C;
  padding-top: 14px;
  line-height: 25px;
  padding-left: 8px;
  max-width: 500px;
}

.common-page {
  padding-top: 30px;
  background-color: #fff;
  position: relative;
  font-size: 16px;
  color: #3D414D;
  font-weight: 300;
}
.pad {
  padding-bottom: 60px;
}
.products.common-page {
  padding: 0 0 60px 0;
}

.common-page .common_page-header {

  min-height: 197px;
  padding-top: 45px;
  background: linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -webkit-linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -moz-linear-gradient(bottom, #F2F5F7, #E1E7EB);
}

.common-page .common_page-header .container {
  position: relative;
  text-align: center;
  padding: 0 25px 20px;
}

.common_page-header .title-text {
  font-size: 39px;
  color: #3D414D;
  font-weight: 300;
  letter-spacing: .1px;
  padding-bottom: 8px;
  padding-top: 15px;
}

.common_page-header .title-text.h1 {
  margin: 0;
}

.common_page-header .title-description {
  letter-spacing: 0.4px;
  color: #7A818C;
  font-size: 17px;
  line-height: 35px;
  /* font-weight: 300; */
}

.common-page .content-header .container {
  width: 787px;
  margin: 0 auto;
}

.common-page .block_hr-line {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
  background-image: -moz-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
  background-image: -ms-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
  background-image: -o-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
}

.common-page .block_hr-line.last {
  margin-left: 15%;
  margin-right: 15%;
}

.common-page .block.except_first {
  padding-top: 30px;
}

.common-page .block.odd .content_right {
  width: 222px;
}

.common-page .content-title {
  color: #3D414D;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;

}

.common-page .block.odd .content_left {
  padding-top: 9px;
  width: 700px;
}

.common-page .block.even .content_left {
  width: 260px;
}

.common-page .content-text {
  color: #3D414D;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 15px;

}

.common-page .content-header {
  padding-top: 47px;
  padding-bottom: 66px;
}

.common-page .block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  padding-bottom: 20px;
}

.common-page .block.even .content_right {
  padding-top: 13px;
  width: 700px;
  padding-left: 24px;
}

.common-page .block.third .content_left {
  padding-top: 13px;
}

.common-page .block.third .content_right .image {
  padding-left: 34px;
}

.common-page .block.first .content_right .image {
  padding-left: 38px;
}

.common-page .block.fourth .content_left .image {
  padding-right: 38px;
}

.common-page .content_bottom {
  padding-bottom: 40px;
}

.content_bottom .container {
  width: 787px;
  margin: 0 auto;
}

.content_bottom p {
  margin-bottom: 19px;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.common-page .title.h2 {
  padding: 60px 0;
  display: block;
}

.common-page .content_bottom-inner.down {
  padding-top: 32px;
}

.common-page .content_bottom-inner.down li {
  margin: 0 0 0 -20px;
  text-indent: 0;
}

.common-page .content_bottom-inner.down li:before {
  content: "· ";
  font-size: 34px;
  padding-right: 6px;
  vertical-align: middle;
}

.common-page .content_bottom-inner.down li:before {
  content: "· ";
  font-size: 34px;
  padding-right: 6px;
}

.common-page .content_bottom-inner.down .list.child li:before {
  content: "· ";
  font-size: 34px;
  padding-right: 14px;
}

.common-page .content_bottom-inner.down .list.parent {
  margin-top: -8px;
  margin-bottom: 0;
}

.common-page .content_bottom-inner.down .item.child {
  margin-top: -10px;
  line-height: 39px;
}

.common-page .content_bottom-inner.down .list.child {
  padding-left: 14px;
}

.common-page .content_bottom-inner.down .imageBig {
  margin-top: 32px;
  background-size: cover;
  background: no-repeat 50% 50%;
  width: 100%;
  max-height: 619px;
}

.common-page .container.second {
  padding-top: 60px;
}

.common-page .footer .section-6.container {
  padding-top: 0;
}

.common-page .footer .section-6 .footer_block-left {
  margin-right: 0px;
  padding-top: 117px;
  letter-spacing: .1px;
  width: 100%;
  max-width: 640px;
  text-align: left;
}

.common-page .footer .section-6 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: center;
  align-items: flex-start;
  width: 100%;
  padding: 0 85px;
  padding-bottom: 58px;
}

.common-page .section-6 .title {
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 12px;
  letter-spacing: -.1px;
  line-height: 50px;
  margin: 0;
}

.common-page .footer .section-6 .footer_block-right {
  position: relative;
}

.common-page .footer .section-6.container {
  border: none;
}

.common-page .auth__link {
  display: block;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 23px;
  position: relative;
}

.common-page .auth__sign-in {
  background-color: white;
  border-color: white;
  border-radius: 3px;
  color: #0082D5;
}

.common-page .auth__sign-up {
  background-color: #0082D5;
  border-color: #0082D5;
  border-radius: 3px;
  color: #fff;
}

.home .common-page .auth {
  padding-right: 0px;
}

.common-page .description {
  padding-left: 10px;
  color: #7A818C;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  max-width: 500px;
  line-height: 29px;
}

.common-page .footer .container {
  padding-top: 24px;
}

.common-page .footer .section-6.container {
  padding-top: 4px;
}

.common-page .footer {
  background-color: #2e313a;
  padding: 55px 0 39px 0;
  position: relative;
  background: linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -webkit-linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -moz-linear-gradient(bottom, #F2F5F7, #E1E7EB);
}

.common-page .block .content_up {
  display: none;
}

.common-page .block_hr-line.hide {
  display: none;
}

.content_bottom p.bottom_text {
  font-size: 25px;
  font-weight: 400;
  padding: 15px 0 40px;
  line-height: 38px;
}

/*newproducts*/
.content_bottom.products {

}

.container.second.products {
  padding-top: 30px;
}

.content-header.products {
  padding-bottom: 0;
}

.button-link.ga-event.products {
  width: 220px;
  margin-bottom: 30px;
}

@media screen and (max-width: 540px) {

  .common-page .common_page-header .container {
    width: 320px;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

  .common-page .content-header .container {
    width: 320px;
    margin: 0 auto;
  }

  .common-page .content_left {
    padding-top: 9px;
    width: 300px;
  }

  .content_bottom .container {
    width: 320px;
    margin: 0 auto;
  }

  .common-page .block {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .common-page .block.even .content_right,
  .common-page .block.odd .content_left {
    width: 300px;
    margin: 0 auto;
  }

  .common-page .block.odd .content_right,
  .common-page .block.even .content_left {
    display: none;
  }

  .common-page .block .content_up {
    display: block;
  }

  .common-page .block_hr-line {
    width: 100%;
    border-top: 1px solid #D9D9D9;
    background-image: none;
    margin: 0;
    height: 0;
  }

  .common-page .block_hr-line {
    display: none;
  }

  .common-page .block_hr-line.hide {
    display: block;
  }

  .common-page .content_bottom-inner.down .howItWorks_img-wrapper .imageBig {
    padding: 0;
    margin: 0;
  }

  .common-page .container.second {
    padding-top: 20px;
  }

  .common-page .footer .section-6 .footer_block-left {
    margin-right: 0px;
    padding-top: 0px;
    letter-spacing: .1px;
    width: 100%;
    max-width: 640px;
    text-align: left;
  }

  .common-page .footer .section-6 {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0 24px;
  }

  .common-page .footer {
    background-color: #2e313a;
    padding: 40px 0 39px 0;
    position: relative;
    background: linear-gradient(bottom, #F2F5F7, #E1E7EB);
    background: -webkit-linear-gradient(bottom, #F2F5F7, #E1E7EB);
    background: -moz-linear-gradient(bottom, #F2F5F7, #E1E7EB);
  }

  .common-page .section-6 .title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 12px;
    /*letter-spacing: -.1px;*/
    line-height: 32px;
    margin: 0;
    display: block;
  }

  .common-page .description {
    padding-left: 10px;
    color: #7A818C;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    max-width: inherit;
    line-height: 24px;
    text-align: center;
  }

  .common-page .footer .section-6 .footer_block-right {
    position: relative;
    /* text-align: center; */
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .common-page .title.h2 {
    padding: 60px 24px;
  }

  .common-page .footer .description {
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .common-page .common_page-header .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  .common-page .content-header .container {
    width: inherit;
    margin: inherit;
  }

  .content_bottom .container {
    width: inherit;
    margin: inherit;
  }

  .common-page .footer .section-6 .footer_block-left {
    margin-right: 0px;
    padding-top: 0px;
    letter-spacing: .1px;
    width: 100%;
    max-width: inherit;
    text-align: left;
    padding-left: 70px;
    padding-right: 70px;
  }

  .common-page .footer .section-6 {
    /* margin-top: 47px; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: center; */
    -ms-flex-pack: justify;
    /* justify-content: center; */
    /* align-items: center; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0 24px;
    padding-bottom: 36px;
  }

  .common-page .footer {
    background-color: #2e313a;
    padding: 40px 0 39px 0;
    position: relative;
    background: -webkit-linear-gradient(bottom, #F2F5F7, #E1E7EB);
    background: -moz-linear-gradient(bottom, #F2F5F7, #E1E7EB);
    background: linear-gradient(bottom, #F2F5F7, #E1E7EB);
  }

  .common-page .section-6 .title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 12px;
    line-height: 32px;
    margin: 0;
  }

  .common-page .description {
    color: #7A818C;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    max-width: inherit;
    line-height: 24px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .common-page .footer .section-6 .footer_block-right {
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 921px) {
  .common-page .footer .section-6 .footer_block-left {
    margin-right: 0;
    padding-top: 117px;
    letter-spacing: .1px;
    width: 60%;
    text-align: left;
  }

  .common-page .footer .section-6 {
    padding: 0 24px;
    padding-bottom: 58px;
  }

  .common-page .title.h2 {
    width: 785px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 922px) and (max-width: 1140px) {
  .common-page .footer .section-6 {
    padding: 0 34px;
    padding-bottom: 58px;
  }

  .common-page .title.h2 {
    width: 785px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1140px) {
  .common-page .header {
    margin: 30px 0;
    width: 1155px;
  }

  .common-page .title.h2 {
    width: 785px;
    margin: 0 auto;
  }

  .common-pa.header {
    //margin: 0 auto;
    width: 1140px;
  }

  .common-page .footer .section-6.container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 33px;
  }

}

@media screen and (min-width: 1360px) {
  .common-page .content_bottom-inner.down .howItWorks_img-wrapper {
    width: 1360px;
    margin: 0 auto;
  }
}

/*!* ==========================================================================*/
/*11. ProductsCommon-Pages ----->>>>>>> COLLEGE ESSAY HELP*/
/*========================================================================== *!*/

.products.common-page .description {
  padding-left: 10px;
  color: #7A818C;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  line-height: 26px;
  max-width: initial;
  text-align: center;
  display: block;
}

.products.common-page .container {
  //width: 785px;
  padding: 0;
  margin: 0 auto;
}

.products.common-page .container .content-title {
  font-weight: 400;
  text-align: left;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
}

.products.common-page .container .content-text {
  font-size: 16px;
  line-height: 28px;
  color: #3D4D65;

  padding-top: 0;
}

.products.common-page .section-4 {
  background-color: #F8F9FA;
  position: relative;
  padding: 34px 0 46px 0;
  background-image: none;
}

.products.common-page .section_textDivider-2, .products.common-page .section_textDivider-1, .products.common-page .section_textDivider-3, .products.common-page .section-4, .products.common-page .section-5 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.products.common-page .section_textDivider-1 {
  background-color: #F8F9FA;
}

.products.common-page .section-5 {
  background-color: #F6F9FC;
}

.products.common-page .section_textDivider-2 {
  background-color: #3D414D;
  height: 190px;
}

.products.common-page .section_textDivider-2 .block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  padding-bottom: initial;
  align-items: center;
  justify-content: space-around;
  height: 190px;
}

.products.common-page .section_textDivider-2 .button-block {
  padding-top: 0;
}

.products.common-page .section_textDivider-2 .block_left {
  font-size: 26px;
  color: #fff;
}

.products.common-page .section_textDivider-3 {
  background-color: #F8F9FA;
  height: 350px;
}

.products.common-page .section_textDivider-3 .block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  height: 350px;
}

.products.common-page .section_textDivider-3 .button-block {
  padding-top: 0;
}

.products.common-page .section_textDivider-3 .block_left .title {
  font-size: 26px;
  font-weight: 400;
  color: #3D414D;
}

.products.common-page .section_textDivider-3 .block_right .image {
  width: 400px;
}

.products.common-page .section_textDivider-3 .block_left .description {
  font-size: 16px;
  color: #3D4D65;
  text-align: left;
  line-height: 26px;
  padding: 20px 0 20px;
}

.products.common-page .section_textDivider-3 .block_left .button-block {
  text-align: left;
}

.products.common-page .section_textDivider-3 .block_left .button-link {
  width: 137px;
  height: 44px;
  text-align: center;
}

.products.common-page .footer {
  margin-top: 50px;
}

@media screen and (max-width: 878px) {
  .products.common-page .container {
    width: initial;
    padding-left: 24px;
    padding-right: 24px;
  }


  .products.common-page .section-4 .list {
    padding-left: 24px;
    padding-right: 24px;
  }

  .products.common-page .button-link {
    width: 248px;
  }

  .products.common-page .section_textDivider-3 {
    background-color: #F8F9FA;
    height: 510px;
    padding-top: 70px;

  }

  .products.common-page .section_textDivider-1 {
    padding: 10px 0;
  }

  .products.common-page .section_textDivider-3 .block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    flex-direction: column;
    line-height: 0;
  }

  .products.common-page .description {

    padding-right: initial;
    text-align: center;
  }

  .products.common-page footer .description {
    text-align: left;
  }

  .products.common-page .section_textDivider-3 .block_left .description {
    text-align: center;
  }

  .products.common-page .section_textDivider-3 .block_left .button-block {
    text-align: center;
  }

  .products.common-page .section_textDivider-3 .block_left .title {
    text-align: center;
  }

  .products.common-page .section_textDivider-3 .block_right {
    padding: 30px 0;
  }

}

@media screen and (max-width: 540px) {

  .products.section-1 .text-block {
    padding: 10px 0 2px;
  }

  .products.common-page .section_textDivider-2 .block {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 878px) {

  .products.common-page .section_textDivider-1 .form-block {
    background-color: #F8F9FA;
  }

  .products.common-page .section-4 .block_title .mobile {
    display: none;
  }

  .products.common-page .button-link {
    width: 248px;
  }

  .products.common-page .section_textDivider-2 .button-link {
    width: 238px;
  }

  .products.common-page .footer .section-6 .footer_block-left {
    width: 50%;
  }

  .products.common-page .section-6 .title {
    line-height: 40px;
  }

  .products.common-page .footer .description {

    padding-right: initial;
    text-align: left;
  }

}


/// CUSTOM ESSAY

.section_textDivider-1 {
  padding: 16px 0 35px 0;
}


.section_textDivider-1 .title-divad {
  color: #414B54;
  font-size: 25px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 20px;
  text-align: center;
}


@media screen and (min-width: 1360px) {
  .products.common-page .first-block, .products.common-page .section_textDivider-1 .form-block {
    width: 1360px;
    margin: 0 auto;
  }
}



