
/// FAQ PAGE

.faq_pages-head {
  position: relative;
  padding: 108px 0 30px 0;
  background-image: linear-gradient(0deg, #F2F5F7 0%, #E1E7EB 100%);
}

.faq_pages-head .container {
  max-width: 1140px;
  padding: 0;
}

.faq_pages-head .text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.faq_pages-head .title {
  font-weight: 400;
  font-size: 40px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
  margin-left: 30px;
}

.faq_pages-head .faq-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 3.33px;
  background-image: url(../images/arrow_back.svg);
  background-position: 18% 49%;
  background-repeat: no-repeat;

  font-weight: 400;
  font-size: 16px;
  color: #7A818C;
  line-height: 24px;
  //margin-left: 14px;

}
.faq-link.margin {
  margin-top: 2%; ///????
}

.faq_pages-head .faq-link:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1160px) {
  .faq_pages-head > .container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .faq_pages-head .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .faq_pages-head .title {
    margin: 0;
    padding-top: 10px;
  }
}

///

.section-faq-page {
  position: relative;
  padding: 40px 0 100px 0px;
}

.section-faq-page .container {
  width: 1140px;
  padding: 0;
}

.section-faq-page .text-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.section-faq-page .content {
  max-width: 750px;
}

.section-faq-page .title {
  font-weight: 400;
  font-size: 18px;
  color: #3D4D65;
  //margin-top: 40px;
}

.section-faq-page img {
  width: 750px;
  margin-top: 20px;
}

.section-faq-page .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 24px;
}

.section-faq-page .sidebar {
  width: 326px;
  display: flex;
  flex-direction: column;
}

.section-faq-page .link-questions {
  font-weight: 300;
  font-size: 16px;
  color: #0082D5;
  margin: 10px 0;
  text-decoration: none;
}

@media screen and (max-width: 1160px) {
  .section-faq-page .text-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .section-faq-page .container {
    width: 90%;
  }
  .section-faq-page .text-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-faq-page .content {
    width: 100%;
  }
  .section-faq-page img {
    width: 100%;
  }

}
