$mobile-width: 767px;
$mobile-1-width: 540px;
$mobile-2-width: 541px;
$mobile-3-width: 560px;
$mobile-4-width: 561px;
$tablet-width: 768px;
$tablet-1-width: 920px;
$tablet-2-width: 921px;
$tablet-end-width: 1000px;
$tablet-desktop-width: 1001px;
$desktop-width: 1025px;

$mobile-menu-width: 1000px;
$desktop-menu-width: 1001px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-1 {
  @media (max-width: #{$mobile-1-width}) {
    @content;
  }
}

@mixin mobile-540 {
  @media (max-width: 540px) {
    @content;
  }
}

@mixin mobile-560 {
  @media (max-width: 560px) {
    @content;
  }
}

@mixin mobile-561-767 {
  @media (min-width: 561px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin mobile-701-767 {
  @media (min-width: 701px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-979 {
  @media (max-width: 979px) {
    @content;
  }
}

@mixin mobile-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile-541 {
  @media (min-width: 541px) {
    @content;
  }
}

@mixin mobile-668-767 {
  @media (min-width: 668px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-half-2 {
  @media (min-width: #{$mobile-4-width}) and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-1 {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-1-width}) {
    @content;
  }
}

@mixin tablet-2 {
  @media (min-width: #{$tablet-2-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-half-1 {
  @media (min-width: 768px) and (max-width: 1000px) {
    @content;
  }
}

@mixin tablet-half-2 {
  @media (min-width: 1001px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-start {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-921 {
  @media (min-width: 921px) {
    @content;
  }
}

@mixin tablet-1001 {
  @media (min-width: 1001px) {
    @content;
  }
}

@mixin tablet-1021 {
  @media (min-width: 1021px) {
    @content;
  }
}

@mixin tablet-end {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-end-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$tablet-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-1025-1280 {
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop-1281 {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin desktop-fullhd {
  @media (min-width: 1361px) and (max-width: 1920px) {
    @content;
  }
}

@mixin desktop-ultrahd {
  @media (min-width: 1921px) and (max-width: 2560px) {
    @content;
  }
}

@mixin mobile-610-767 {
  @media (min-width: 610px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-menu {
  @media (max-width: #{$mobile-menu-width}) {
    @content;
  }
}

@mixin desktop-menu {
  @media (min-width: #{$desktop-menu-width}) {
    @content;
  }
}


$mobile-width: 767px;
$mobile-1-width: 540px;
$mobile-2-width: 541px;
$mobile-3-width: 560px;
$mobile-4-width: 561px;
$tablet-width: 768px;
$tablet-1-width: 920px;
$tablet-2-width: 921px;
$tablet-end-width: 1000px;
$tablet-desktop-width: 1001px;
$desktop-width: 1025px;

$mobile-menu-width: 1000px;
$desktop-menu-width: 1001px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-1 {
  @media (max-width: #{$mobile-1-width}) {
    @content;
  }
}

@mixin mobile-540 {
  @media (max-width: 540px) {
    @content;
  }
}

@mixin mobile-560 {
  @media (max-width: 560px) {
    @content;
  }
}

@mixin mobile-561-767 {
  @media (min-width: 561px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin mobile-701-767 {
  @media (min-width: 701px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-979 {
  @media (max-width: 979px) {
    @content;
  }
}

@mixin mobile-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile-541 {
  @media (min-width: 541px) {
    @content;
  }
}

@mixin mobile-668-767 {
  @media (min-width: 668px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-half-2 {
  @media (min-width: #{$mobile-4-width}) and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-1 {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-1-width}) {
    @content;
  }
}

@mixin tablet-2 {
  @media (min-width: #{$tablet-2-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-half-1 {
  @media (min-width: 768px) and (max-width: 1000px) {
    @content;
  }
}

@mixin tablet-half-2 {
  @media (min-width: 1001px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-start {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-921 {
  @media (min-width: 921px) {
    @content;
  }
}

@mixin tablet-1001 {
  @media (min-width: 1001px) {
    @content;
  }
}

@mixin tablet-1021 {
  @media (min-width: 1021px) {
    @content;
  }
}

@mixin tablet-end {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-end-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: #{$tablet-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-1025-1280 {
  @media (min-width: 1025px) and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop-1281 {
  @media (min-width: 1281px) {
    @content;
  }
}

@mixin desktop-fullhd {
  @media (min-width: 1361px) and (max-width: 1920px) {
    @content;
  }
}

@mixin desktop-ultrahd {
  @media (min-width: 1921px) and (max-width: 2560px) {
    @content;
  }
}

@mixin mobile-610-767 {
  @media (min-width: 610px) and (max-width: 767px) {
    @content;
  }
}

@mixin mobile-menu {
  @media (max-width: #{$mobile-menu-width}) {
    @content;
  }
}

@mixin desktop-menu {
  @media (min-width: #{$desktop-menu-width}) {
    @content;
  }
}


html {
  font-family: sans-serif;
  /* 1 */

  -ms-text-size-adjust: 100%;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0
}

article,
aside,
details,
  /* 1 */

figcaption,
figure,
footer,
header,
main,
  /* 2 */

menu,
nav,
section,
summary {
  /* 1 */

  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

progress {
  vertical-align: baseline
}

template,
  /* 1 */

[hidden] {
  display: none
}

a {
  /* 1 */

  -webkit-text-decoration-skip: objects;
  /* 1 */

  background-color: transparent;
  /* 2 */
}

a:active,
a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  /* 1 */

  text-decoration: underline;
  /* 2 */

  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: inherit
}

b,
strong {
  font-weight: bolder
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */

  font-size: 1em;
  /* 2 */
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  /* 1 */

  height: 0;
  /* 1 */

  overflow: visible;
  /* 2 */
}

button,
input,
select,
textarea {
  font: inherit;
  /* 1 */

  margin: 0;
  /* 2 */
}

optgroup {
  font-weight: bold
}

button,
input {
  /* 1 */

  overflow: visible
}

button,
select {
  /* 1 */

  text-transform: none;
}

button,
html [type="button"],
  /* 1 */

[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  box-sizing: border-box;
  /* 1 */

  color: inherit;
  /* 2 */

  display: table;
  /* 1 */

  max-width: 100%;
  /* 1 */

  padding: 0;
  /* 3 */

  white-space: normal;
  /* 1 */
}

textarea {
  overflow: auto
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */

  font: inherit;
  /* 2 */
}

html,
body {
  margin: 0;
  padding: 0
}

li {
  list-style-type: none;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    -webkit-text-size-adjust: none
  }

  body {
    -webkit-text-size-adjust: none;
  }
}

*,
*:before,
*::before,
*:after,
*::after {
  box-sizing: border-box
}

span {
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0
}

a,
.link {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:focus,
a:active,
.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
  cursor: pointer;
  color: #fff;

}

a:hover {
  color: #0082D5;
}

a:visited,
.link:visited {
  text-decoration: none;
  cursor: pointer;

}

:focus {
  outline: 0 !important
}

.material-icons.white {
  color: #fff
}

select::-moz-focus-inner {
  border: 0;
  outline: 0
}


body {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #0082d5;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #0082d5;
    text-decoration: none !important;
  }

  &:focus {
    outline: 0 !important;
  }

}


.footer a:hover {
  color: #0082D5;
}


@mixin list {
  list-style: none outside none;
  padding-left: 0;
}

a,
.button,
.btn-primary {

  &,
  &::before,
  &::after {
    transition: all .3s ease;
  }

}

.only-mobile {
  display: none;
}
.only-desktop {
  display: block;
}


.mdl-layout__container {
  position: static
}

.wrapper {
  width: 100%;
  &_isMobile {
    height: 750px;
  }
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.green_text {

  color: #12A15D;
}

.light-green_text {

  color: #7BB251;
}

.yellow_text {

  color: #F5A623;
}

.red_text {

  color: #F17878;
}

.container {
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

.container::before,
.container::after {
  display: none
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
    padding-left: 24px;
    padding-right: 24px
  }

  .container {
    width: 95%;
  }
}

@media screen and (min-width: 921px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (min-width: 621px) and (max-width: 920px) {
  .home .container {
  }

  .home .container {
    margin: 0 auto;
  }
}

.auth__item:first-child {
  padding-right: 10px;
}

.auth__item > a {
  font-weight: 400;
}

.auth {

  display: -ms-flexbox;
  display: flex
}

.auth__list {

  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none outside none;
  margin: 0;
  padding-left: 0;
}

.auth__link {
  display: block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 24px;
  position: relative
}

.auth__link__nav--close {

}

.auth__sign-in {
  background-color: white;
  border-color: white;
  border-radius: 3px;
  color: #0082D5;
}

.auth__sign-in:hover,
.auth__sign-in:focus {
  //color: #0068A8;
  color: #0062AE;
}

.auth__sign-up {
  background-color: #0082D5;
  border-color: #0082D5;
  border-radius: 3px;
  color: #fff
}

.auth__sign-up:hover, .auth__sign-up:focus {
  background-color: #0074BC;
  border-color: #0074BC;
  color: #fff;
}

.auth__sign-in,
.auth__sign-up {
  white-space: nowrap
}

@media screen and (max-width: 920px) {
  .home .auth {
  }

  .home .auth {
    padding-right: 22px;
  }
}

@media screen and (max-width: 768px) {
  .auth {
    padding-right: 10px
  }

  .auth__link {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    white-space: nowrap;
  }

  .auth__link {
    height: 30px;
    line-height: 27px;
    padding: 0px 13px;
    white-space: nowrap
  }

  .auth__item:first-child {
    padding-right: 10px;
  }

  .auth__item > a {
    font-weight: 500;
    font-size: 13px;
  }

  .auth {
    padding-right: 10px;
  }
}

@media screen and (max-width: 540px) {
  .auth__list li.auth__item:first-child {
    display: none;
  }
}

/*!* ==========================================================================*/
/*5. Common */
/*========================================================================== *!*/
.button-block {
  text-align: center
}

.button-block a:hover {
  background-color: #0074BC;
  color: white;
}

.button-link {
  display: inline-block;
  width: 156px;
  height: 48px;
  background-color: #0082D5;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  line-height: 48px;
  white-space: nowrap;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .button-link {
    line-height: 48px;
    height: 48px;
  }

  .button-link {
    height: 48px;
    line-height: 48px;
    margin-top: -10px;
  }

}

.calcAddition {
  display: none;
}

/*!* ==========================================================================*/
/*0.ProductsSection-1 */
/*========================================================================== *!*/

@media screen and (max-width: 350px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media screen and (min-width: 768px) {

  .auth__item:first-child {
    padding-right: 17px;
  }

  .home .auth {
    padding-right: 22px;
  }

}

@media screen and (min-width: 921px) {
  .home .auth {
    padding: 0;
  }

  .auth__item:first-child {
    padding-right: 15px;
  }

  .auth__link {
    display: block;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 23px;
    position: relative;
  }

}

@media screen and (min-width: 668px) and (max-width: 768px) {

  .home .auth {
    padding-right: 22px;
  }

  .auth__item:first-child {
    padding-right: 17px;
  }

  .auth__link {
    display: block;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 9px 22px;
    position: relative;
    height: 40px;
    line-height: 21px;
  }

  .header, .header_inner {
    -ms-flex-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    top: 0;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 65px;
  }

}



/*!* ==========================================================================*/
/*14. Mdl lib */
/*========================================================================== *!*/

.mdl-layout__drawer-button {

  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 54px;
  margin: 0;
  z-index: 1500 !important;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.mdl-layout__drawer-button[aria-expanded="true"] {
  background-color: #414b54
}

.mdl-layout__drawer-right {

  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;

  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: auto;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 35
}

.active {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.mdl-layout__drawer {
  z-index: 1500
}

.mdl-layout__obfuscator {
  z-index: 1499
}

.mdl-layout__obfuscator-right {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  visibility: hidden;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.mdl-layout__drawer-right.active ~ .mdl-layout__obfuscator-right {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible
}

.mdl-layout__drawer-right > .mdl-layout-title {
  line-height: 56px;
  padding-left: 16px
}

.mdl-layout__drawer,
.mdl-layout__drawer-right {
  background-color: #333640;
  border: 0;
  box-shadow: none;
  top: 54px
}

.mdl-layout__drawer,
.mdl-layout__drawer-right {
  width: auto
}

.mdl-layout__drawer {
  width: 210px
}

.mdl-layout__drawer-button,
.mdl-layout__drawer,
.mdl-layout__drawer-right,
.mdl-layout__obfuscator,
.mdl-layout__obfuscator-right {
  position: fixed
}

@media screen and (max-width: 768px) {
  .mdl-layout__drawer-button {
    height: 54px
  }

  .mdl-layout__drawer-button {
    height: 54px;
  }
}

@media screen and (min-width: 921px) {
  .mdl-layout__drawer-button {
    display: none
  }

  .mdl-layout__drawer-button {
    display: none;
  }
}


//// AUTH mobile menu

.auth.mobile {
  padding: 0;
  margin-left: 50px;
}

.auth.mobile .auth__list li.auth__item:first-child {
  display: block;
}

.auth.mobile .auth__sign-up {
  background: #0082D5;
  width: 135px;
  height: 50px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 2;
  border-radius: 0;
}

.auth.mobile .auth__sign-in {
  background: #3D414C;
  width: 135px;
  height: 50px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 2;
  border: 0;
  border-radius: 0;
}

.auth.mobile .auth__item {
  padding: 0;
}

.auth.mobile img {
  margin-left: -32px;
  margin-top: 10px;
}

@media screen and (max-width: 450px) {
  .auth.mobile .auth__sign-in, .auth.mobile .auth__sign-up {
    line-height: 3;
  }
}

@media screen and (min-width: 880px) {
  .content-title.h2page.left, .h2page.left {
    width: 785px;
    padding: 0 !important;
  }
}

.link-text:hover {
  color: #73D0FF;
}

.link-text.gray-text:hover {
  color: #7A818C;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
}

.mfp-wrap {
  z-index: 1043;
  outline: none !important;
  overflow-x: hidden;
  overflow-y: auto;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-preloader {
  display: none;
}

.mfp-content img {
  width: 100%;
}

button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mobileLogo {
  display: none;
}

@media screen and (max-width: 540px) {
  .landscapeLogo {
    display: none;
  }

  .mobileLogo {
    display: block;
  }
}

.section-writers .item-footer {
  border-top: 1px solid #E6E6E6;
}

.text p {
  font-weight: 300;
  font-size: 16px;
  color: #3D414D;
  line-height: 28px;
}

///
.header__white .list.child {
  background-color: #3D414D;
  border: 1px solid #3D414D;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  width: auto;
  padding: 5px 0 0 0;
  border-radius: 5px;
}

.header__white .list.child .nav__link {
  color: #fff;
}

.header__white .list.child .item {
  //padding: 5px;
}

.header__white .child.list .item:hover {
  background-color: #323640;

}



.logo-block .logo_firstWord {
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: .15px;
  font-size: 21px;
  padding: 0;
}

.logo-block .logo_secondWord {
  font-weight: 400;
}



.header__white .logo-block .logo_firstWord {
  height: 35px;
}

/*!* ==========================================================================*/
/*6. Header + Navigation*/
/*========================================================================== *!*/


// for common normal first block
html, body {
   margin: 0;
   padding: 0;
}

.logo-block .logo_firstWord {
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: .15px;
  font-size: 21px;
  padding: 0 !important;
}

@media screen and (min-width: 880px){
  .content-title.h2page.left, .h2page.left {
    width: 785px;
    padding: 0 !important;
  }
}

.container {
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

.header__white .logo-block .logo_firstWord {
   height: 35px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.mobileLogo {
  display: none;
}

@media screen and (max-width: 540px) {
  .landscapeLogo {
    display: none;
  }

  .mobileLogo {
    display: block;
  }
}

a:visited, .link:visited {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: #0082d5;
  cursor: pointer;
}
a, .link {
  text-decoration: none;
  color: #fff;
}
.products.common-page.reviews .title, .products.common-page.prices .title {
  max-width: 785px;
  font-weight: 400;
  text-align: left;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
  margin: 60px auto !important;
  margin-bottom: 30px !important;
}

.title.new {
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  color: #3d4d65;
  line-height: 50px;
}

.section-14 {
  padding: 60px 0;
}
.products.common-page.guarantees, .products.common-page.write-my-essay {
  padding-top: 60px;
}
.left {
  text-align: left !important;
}

.products.common-page.privacy .title, .products.common-page.guarantees .title {
  max-width: 785px;
  font-weight: 400;
  text-align: left;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
  margin: 0 auto !important;
  padding: 60px 0 30px 0;
}

// end of common normal first block
header {
  z-index: 1000;
  position: fixed;
  margin: 30px 0;
}

.header__not-fixed {
  position: absolute;
}

.logo_hidden {
  display: none !important;
}

.nav__dropdown--relative {
  position: relative;
}

header, .header_inner {
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  top: 0;
  width: 100%;
  transition-duration: .2s;

}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

@media screen and (max-width: 920px) {
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;;
  }

  header .divider {
    display: none;
  }

  .header__left {
    -ms-flex-align: center;
    -webkit-box-align: center;
    display: flex;
    padding-right: 22px;
    z-index: 1;
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  header {
    -ms-flex-pack: justify;
    height: 52px;
    justify-content: space-between;
    -webkit-box-pack: justify;
    position: fixed;
  }

  .header__logo {
    display: inline-flex;
    margin-left: 14px;
  }

  .header__logo.is-active {
    margin-left: 64px;
  }

  .header__logo-mobile {
    height: 32px;
  }

  .header__logo-desktop {
    display: none;
  }

  .header__logo {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 0
  }

  .header__logo.is-active {
    margin-left: 64px
  }

  .header__logo-mobile {
    height: 32px
  }

  .header__logo-desktop {
    display: none
  }

  header, .header_inner {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    //height: 65px;
    height: 50px;
  }

  .nav_link-i.toggle_nav-mob {
    padding-top: 6px;
  }

  .image-logoNav {

  }
}

@media screen and (max-width: 540px) {
  .logo-block .logo_firstWord {
    float: right;
    padding-left: 30px;
  }

  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: inherit;
    align-items: center;;
  }

  .header__white .header__left {
    align-items: baseline;
  }

  header .divider {
    display: none;
  }

  .header__left {
    -ms-flex-align: center;
    -webkit-box-align: center;
    display: flex;
    padding-right: 22px;
    z-index: 1;
    padding-left: 15px;
    width: 72%;
  }
  .header_inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .logo-block .logo_firstWord {
    padding-left: 15px !important;
  }

  .header__white .logo-block .logo_firstWord {
    height: 37px !important;
  }

}



@media screen and (min-width: 541px) {
  .logo-block .logo_firstWord {
    margin-top: 3px;
  }

  .header__white .logo-block .logo_firstWord {
    margin-top: -4px;
  }


}


@media screen and (min-width: 768px) {

  .header__logo-mobile {
    display: none;
  }

  .header__logo-desktop {
    display: inline-flex;
    height: 40px;
  }

  .header__logo-mobile {
    display: none
  }

  .header__logo-desktop {
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 40px
  }

  .section-1 {
    height: 590px;
  }

  .header, .header_inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    padding-top: 0;
  }

  .header, .header_inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    padding-top: 0;
  }
  .header__white .logo-block .logo_firstWord {
    margin-top: -9px;
  }

}


/*NAV KILL*/
@media screen and (min-width: 921px) and (max-width: 1140px) {

  .header__left,
  .header__right {
    padding-left: 24px;
  }
}

@media screen and (min-width: 921px) {

  header {
    height: 60px;
    //margin: 0 auto;
    padding: 0 0;
    position: fixed;
    z-index: 1000;
  }

  .header__left,
  .header__right {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header .divider {
  }

  .section-1 {
  }

  .header__left,
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    margin-top: -1px;
  }

  .logo-block .logo_firstWord {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    color: #3D414D;
    letter-spacing: .15px;
    padding-left: 23px;
  }



}

/*NAV KILL*/
@media screen and (min-width: 540px) and (max-width: 1140px) {
  .logo-block .logo_firstWord {
    padding-left: 15px;
    margin-left: 16px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: transparent;
  box-shadow: none;
  //padding-left: 30px;

  font-size: 14px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 300;
  //padding: 40px 0 30px 0;
}

.column h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  color: #7A818C;
  letter-spacing: 0px;
  line-height: 30px;
  //padding-left: 10px;
}

.nav__list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 30px;
}

.nav__list-footer > .nav_mobile-item > .nav__link {
  padding: 0;
}

.nav__list.nav__list-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav__item {
  text-align: center;
}

.nav__link {
  white-space: nowrap;
  padding: 0 15px;
  text-decoration: none;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0px;
}

.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: #73D0FF !important;
}

#nav-mob {
  display: none;
}

.mdl-menu__container {
  /* display: block; */
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  overflow: visible;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;

  left: -45px !important;
}

.mdl-menu__container.is-animating, .mdl-menu__container.is-visible {
  z-index: 999;
  visibility: visible;
}

.mdl-menu__container.is-visible .mdl-menu__outline {
  opacity: 1;
  /*transform: scale(1);*/
  z-index: 999;
}

.mdl-menu__container.is-visible .mdl-menu {
  opacity: 1;
  z-index: 999;
}

header .link.ga-event .arrow-down.scrollTop {
  background: url(./../images/dropdown_triangle.svg) no-repeat;
  background-size: 12px 7px;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 12px;
  height: 7px;
}

header .link.ga-event .arrow-down.scrollBot {
  background: url(./../images/triangleblack.svg) no-repeat;
  background-size: 12px 7px;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 12px;
  height: 7px;
}

header .link.ga-event:hover .arrow-down {
  background: url(./../images/blue_main_triangle.svg) no-repeat;
  background-size: 12px 7px;
}

header.header__white {
  margin: 0;
}

header.header__white .link.ga-event .arrow-down {
  background: url(./../images/triangleblack.svg) no-repeat;
  background-size: 12px 7px;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 12px;
  height: 7px;
}

.header__white .link.ga-event:hover .arrow-down {
  background: url(./../images/dropdown_triangle-hover.svg) no-repeat;
  background-size: 12px 7px;
}

.mdl-menu__outline {
  display: block;
  background: #fff;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /*transform: skew(0);*/
  transform-origin: 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  will-change: transform;
  /*transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);*/
  z-index: -1;

}

.mdl-menu__outline {
  width: auto !important;
  background-color: transparent;
}

header .child.list, .Menu.child {
  display: block;
  background-color: #3D414D;
  border: 1px solid #3D414D;
  border-radius: 5px !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
  width: auto;
  padding: 5px 0 0 0;
}

.mdl-menu {
  position: absolute;
  list-style: none;
  top: 0;
  left: 31px;
  height: auto;
  width: auto;
  min-width: 124px;
  margin: 0;
  min-height: 54px;
  opacity: 0;
  z-index: -1;
}

.mdl-menu__outline:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 7px solid transparent;
  border-bottom-color: #3D414D;
  /* border: 6px solid transparent; */
  top: -7px;
  //left: 162px;
  left: 126px;
}

header .child.list .link, .Menu.child .link {
  display: block;
  //padding: 8px 18px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  /* height: 40px; */
  /* width: 234px; */
  padding: 10px 30px;
  line-height: 20px;
  /* background-color: red; */
}

header .child.list .link:hover {
  background-color: #323640;
  color: white !important;
}

.header__left {
  position: relative;
}

/*NAV KILL*/
@media screen and (max-width: 1040px) {
  .nav.normal {
    display: none;
  }

  #nav-mob {
    display: block;
  }

  #site-canvas {
    width: 100%;
    height: 100%;
    position: relative;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .show-nav #site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);

    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }

  #nav-mob {
    width: 100%;
    visibility: hidden;
    height: auto;
    //position: absolute;
    top: 0;
    left: -300px;
    padding: 15px;
  }
  .show-nav #nav-mob {
    visibility: visible;
  }

  .nav_mob .nav_mobile-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }
  .secondpart {
    font-weight: 400;
    font-size: 14px;
    color: #7A818C;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding-left: 25px;
  }
  .nav-hr {
    width: 85%;
    margin: 0 auto;
    opacity: 0.1;
    background: #FFFFFF;

  }
  .mob_menu {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    margin: -15px 0 10px 18px;
  }
  .mob_menu > li {
    text-align: center;
  }
  .mob_menu .item2 {
    padding: 0 0 0 24px;
  }
  .mob_menu .second {
    font-weight: 500;
    //padding: 16px 40px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    background: #3D414D;
    border-color: #494D59;
    line-height: 3;
    border-radius: 0;
    width: 135px;
    height: 50px;
  }
  .mob_menu .third {
    font-weight: 500;
    //padding: 16px 40px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    background: #0082D5;
    line-height: 3;
    border-radius: 0;
    width: 135px;
    height: 50px;
  }
  .nav_mob .nav__link.mobile {
    border: 0;
    display: block;
    padding: 15px 25px;
    outline: none;
    //box-shadow: inset 0 -1px rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .nav__link > .mobile {
    color: white;
  }
  .nav_mob {
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: none;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 20px;

    width: 100%;
    height: 100%;
    position: relative;

    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-justify-content: space-between;
  }

  .icon.nav_mob-i {
    width: 23px;
    background-size: 22px 22px;
    height: 44px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 50%;

    //margin: -12px;
  }

  .icon.nav_mob-i.onOpen_i {
    background-image: url(./../images/menu.svg);
  }
  .header__white .icon.nav_mob-i.onOpen_i {
    background-image: url(./../images/open_black.svg);
  }

  .icon.nav_mob-i.onClose_i {
    background-image: url(./../images/close.svg);
    background-size: initial;
  }

  .icon.nav_mob-i.onOpen_i:hover,
  .icon.nav_mob-i.onClose_i:hover {
    cursor: pointer;
  }

  .icon .nav_mob-i {
    background-image: url("./../images/iconwhiteheader.svg");
  }

  .nav_mob .nav_link-i {
    display: flex;
    -webkit-box-align: baseline;
    position: absolute;
    top: 0px;
    left: 25px;

  }

}

@media screen and (max-width: 1170px) and (min-width: 920px) {
  .auth {
    margin-right: 17px;
  }
}

@media screen and (min-width: 921px) {
  .nav__list {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1140px) {
  .header_wrapper {
    width: 1140px;
  }

  .header_inner {
    width: 1140px;
  }

  .header_inner {
    width: 1140px;
    margin: 0 auto;
  }

  //.logo-block .logo_firstWord {
  //  padding-left: 17px !important;
  //
  //}
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .header__logo {
    margin-left: 54px
  }

  .header__logo.is-active {
    margin-left: 64px;
  }

  .header__logo.is-active {
    margin-left: 64px
  }

  .header__logo {
    margin-left: 54px;
  }

  .auth__link {
    display: block;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 10px 23px;
    position: relative;
  }

}

/*!* ==========================================================================*/
/* 6.1 Header white */
/*========================================================================== *!*/

.header__white {
  height: 60px;
  padding: 0 0;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);

}

.header__white .nav__link {
  font-weight: 400;
  font-size: 16px;
  color: #3D414D;
  letter-spacing: 0px;
}

.header__white .nav__list {

  height: 60px;

}

.blue-color {
  color: #0082D5 !important;
}

.header__white .nav__link:hover {
  color: #0082D5 !important;

}

.nav__link_active {
  border-bottom: 1px solid #0082D5;
  height: 100%;
  line-height: 4.5;
  color: #0082D5 !important;
}



@media screen and (max-width: 1000px) {
  .SideNavButton, .side-nav__button-left,
  .side-nav__button-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 46px;
    height: 46px;
  }
  .SideNavButton .icon-user, .side-nav__button-left .icon-user,
  .side-nav__button-right .icon-user {
    //background: url(/8834ee65a5b317766f89014e559d23a8.svg) no-repeat 50% 50%;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  .SideNav, .mdl-side-nav {
    background: #333640;
    list-style: none outside none;
    margin: 0;
    padding: 10px 0;
    top: 46px;
    width: auto;
  }
  .SideNav li, .mdl-side-nav li {
    line-height: normal;
    padding: 0;
  }
  .SideNav a, .mdl-side-nav a {
    height: auto;
    line-height: normal;
  }
  .SideNav .item-divider, .mdl-side-nav .item-divider {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.1;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .SideNav .link, .mdl-side-nav .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    background-position: 15px 50%;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
    /*box-shadow: inset 0 -1px rgba(0,0,0,.2);*/
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  .SideNav .link:hover, .mdl-side-nav .link:hover, .SideNav .link:focus, .mdl-side-nav .link:focus {
    color: #fff;
  }
  .SideNav .link.primary, .mdl-side-nav .link.primary {
    color: #fff;
  }
  .SideNav .link.primary:hover, .mdl-side-nav .link.primary:hover, .SideNav .link.primary:focus, .mdl-side-nav .link.primary:focus {
    color: #fff;
  }
  .SideNav .link.secondary, .mdl-side-nav .link.secondary {
    color: #fff;
    font-weight: 300;
  }
  .SideNav .link.secondary:hover, .mdl-side-nav .link.secondary:hover, .SideNav .link.secondary:focus, .mdl-side-nav .link.secondary:focus {
    color: #fff;
  }
}

.link-text.gray-text {
  font-weight: 300;
  font-size: 14px;
  color: #7A818C;
  letter-spacing: 0;
  text-transform: uppercase;

  padding: 10px 20px;
}

@media screen and (min-width: 1001px) {
  .SideNavButton, .side-nav__button-left,
  .side-nav__button-right,
  .SideNav,
  .mdl-side-nav {
    display: none;
  }
}

.side-nav__button-right {
  position: absolute;
  top: 0;
  right: 0;
}

.mdl-layout__drawer-left {
  left: -320px;
  z-index: 35;
  width: 320px;
  min-width: 320px;
  height: auto;
  max-height: none;
}

.mdl-layout__drawer-left.active {
  left: 0;
  z-index: 9999;
  top: 0;
  background: #333640;
  height: 100%;
}

.mdl-layout__drawer-left {
  left: 0;
  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  transform: translateX(-320px);
}

.mdl-layout__drawer-right {
  right: 0;
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px);
}

.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.mdl-layout__drawer-left.active ~ .mdl-layout__obfuscator-left {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

.mdl-layout__drawer-left > .mdl-layout-title {
  line-height: 56px;
  padding-left: 16px;
}

.mdl-layout__drawer-left {
  background-color: #374355;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 46px;
}

.mdl-layout__drawer-left {
  width: 320px;
}

.mdl-layout__drawer-button,
.mdl-layout__drawer-left,
.mdl-layout__drawer-right,
.mdl-layout__obfuscator-left,
.mdl-layout__obfuscator-right {
  position: fixed;
}

.mdl-layout__obfuscator {
  z-index: 20;
}

.subnav {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 300;
  width: 100%;
  height: 100%;
  list-style: none outside none;
  margin: 0;
  padding: 10px 0;
  background-color: #374355;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.subnav.open {
  left: 0;
}

.subnav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px 10px 46px;
  color: #adb9ca;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.subnav-link:hover, .subnav-link:focus {
  color: #fff;
}

.subnav-link.primary {
  color: #ced6e2;
}

.subnav-link.primary:hover, .subnav-link.primary:focus {
  color: #fff;
}

.subnav-link.secondary {
  color: #adb9ca;
}

.subnav-link.secondary:hover, .subnav-link.secondary:focus {
  color: #fff;
}

.subnav-link.link-back {
  margin-left: -30px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.mdl-menu__container.is-visible, .mdl-menu__container.is-animating {
  z-index: 999;
  visibility: visible;
}

.material-icons.white {
  color: #fff;
}

header {
  .mdl-menu__container {
    top: 30px;
  }
}
.header__white {
  .mdl-menu__container {
    top: 60px;
  }
}
