
/*!* ==========================================================================*/
/* 18. Section - 12 */
/*========================================================================== *!*/

.section-12 {
  background-color: #fff;
}

.section-12 .text {
  //width: 750px;
  width: 55%;
  text-align: left;
  padding: 60px 0;
  margin: 0 auto;
}



.text .bold-text {
  font-weight: 300;
  font-size: 22px;
  color: #3D414D;
  line-height: 38px;
}

@media screen and (max-width: 920px) {
  .section-12 .text {
    width: 100%;
  }
}

/*!* ==========================================================================*/
/* 21. Section - 15 */
/*========================================================================== *!*/

.section-15 {
  position: relative;
  background: #F8F9FA;
  padding: 60px 0;
}

.section-15 > .container {
  max-width: 1140px;
  padding: 0;
}

.section-15 .title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
}

.section-15 .description {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  padding-bottom: 30px;
}

.section-15 .list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.section-15 .item {
  //width: 361px;
  width: 351px;
}

.section-15 .item__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.section-15 .item__image {
  width: 45px;
  height: 40px;
}

.section-15 .item__title {
  font-weight: 400;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  padding-left: 20px;
}

.section-15 .item__description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
}

@media screen and (max-width: 1359px) {
  .section-15 .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-15 .item {
    width: 100%;
  }
}

/*!* ==========================================================================*/
/* 22. Section - 16 */
/*========================================================================== *!*/

.section-16 {
  position: relative;
  background-color: #fff;
  padding: 50px 0 0 0;
}

.section-16 > .container {
  max-width: 1140px;
  padding: 0;
}

.section-16 .title {
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
}

.section-16 .description {
  font-weight: 300;
  text-align: left;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  width: 70%;
  margin: 0 auto;
  // padding-bottom: 40px;
  margin-bottom: 16px;
}

.section-16 .club-feedback-list {
  font-family: Roboto, sans-serif;
  font-size: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //width: 80%;
  //margin: 0 auto;
}

.section-16 .club-feedback-list-item {
  background-color: #fff;
  border: 1px solid #cad3df;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  padding: 15px;
  text-align: left;
  vertical-align: top;
  width: 360px
}

.section-16 .block-feedbacks {
  border-bottom: 0;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 0;
  overflow: hidden;
  position: relative
}

.section-16 .block_hr-line {
  border: 0;
  height: 1px;
  background-color: #D8D8D8;
  width: 1060px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.page-block__button {
  background: #0082D5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  padding: 15px 30px;
}

.page-block__button:hover {
  background: #0074bc;
  border-color: #0074bc;
  color: #fff;
}

.section-16 .block-feedbacks .left-block {
  float: left
}

.section-16 .block-feedbacks .left-block .comments-body {
  padding-bottom: 5px;
}

.section-16 .block-feedbacks .right-block {
  float: right;
  position: relative
}

.section-16 .block-feedbacks .date {
  float: left
}

.section-16 .block-feedbacks .comments-body {
  //margin-left: 50px;
  overflow: hidden
}

.section-16 .block-feedbacks .day {
  color: #54657e;
  font-size: 25px;
  line-height: 33px
}

.section-16 .block-feedbacks .month {
  color: #8493a8;
  font-size: 13px;
  line-height: 18px
}

.section-16 .block-feedbacks .customer {
  color: #7A818C;
  float: left;
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
  margin-bottom: 5px
}

.section-16 .block-feedbacks .order {
  color: #8493a8;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.section-16 .block-feedbacks .comment-text {
  color: #54657e;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0
}

.section-16 .block-feedbacks .rating-value {
  color: #54657E;
  float: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  margin-right: 8px
}

.section-16 .block-feedbacks .writer-rating-bar {
  margin-top: 2px;
  float: right;
  clear: both;
  position: relative;
  width: 80px;
  height: 15px;
  vertical-align: middle
}

.section-16 .block-feedbacks .rating-star {
  background: url(./../images/icon__rate_star__empty.svg) left center repeat-x;
  display: inline-block;
  height: 15px;
  position: absolute;
  width: 100%
}

.section-16 .block-feedbacks .rating-star.active {
  background: url(./../images/icon__rate_star__full.svg) left center repeat-x;
  display: inline-block;
  height: 15px;
  position: absolute;
  z-index: 1
}

.section-16 .block-feedbacks .customer {
  float: none !important;
  margin-right: 0;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.customer img {
  padding-right: 10px;
}

.gray {
  font-weight: 300;
  font-size: 18px;
  color: #7A818C;
}

.section-16 .block-feedbacks .customer::after {
  content: ':'
}

.section-16 .block-feedbacks .left-block {
  float: none;
  margin-right: 0;
  margin-bottom: 0px;
  width: 100%
}

.section-16 .block-feedbacks .right-block {
  float: left !important;
  margin-bottom: 8px;
}

.section-16 .block-feedbacks .writer-rating-bar {
  clear: none;
  float: right;
  margin-top: 2px
}

.section-16 .block-feedbacks .rating-value {
  color: #54657e;
  float: left;
  font-size: 18px;
  line-height: 24px;
  margin-right: 8px
}

.section-16 .block-feedbacks .order__wo-mobile {
  display: none
}

.section-16 .block-feedbacks .order__only-mobile {
  clear: both;
  display: block !important;
  padding-top: 10px
}

.section-16 .block-feedbacks .order-info {
  border-top: 1px solid #DAE0E6;
  padding-top: 8px
}

.section-16 .block-feedbacks .comment-text {
  overflow: hidden;
  text-overflow: clip;
  min-height: 75px;
  white-space: normal;
  color: #3D4D65;
}

.section-16 .block-feedbacks .writer {
  color: #8493a8;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  border: none;
  padding: 0;
  float: right;
}

.section-16 .block-feedbacks .writer-link {
  color: #3d4d65;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 5px;
}

.section-16 .block-feedbacks .writer-status-block {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle
}

.section-16 .block-feedbacks .status {
  border-radius: 50%;
  display: block;
  width: 6px;
  height: 6px;
  margin-left: 3px
}

.section-16 .block-feedbacks .status.online {
  background-color: #04be5b
}

.section-16 .block-feedbacks .status.offline {
  background-color: #e0108e
}

.section-16 .block .content-title {
  color: #7A818C;
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
}

.section-16 .block .content-text {
  color: #7A818C;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.section-16 .center {
  text-align: center;
  padding: 50px 0 60px 0;
}

@media screen and (max-width: 1359px) {
  .section-16 .club-feedback-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-16 .club-feedback-list-item {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1150px) {
  .section-16 #club-feedback-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and(max-width: 768px) {
  .section-16 #club-feedback-list {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 240px;
    display: flex;
    flex-direction: column;
  }
  .section-16 #club-feedback-list li {
    margin: 0 10px;
  }
}

/*!* ==========================================================================*/
/* 23. Section - 17 */
/*========================================================================== *!*/

.section-17 {
  background-color: #fff;
  position: relative;
}

.section-17 .text {
  margin: 0 auto;
  width: 765px;
}

.section-17 .title {
  font-weight: 400;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
  text-align: center;
}

.section-17 .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  padding: 0 0 50px 0;
}

@media screen and (max-width: 768px) {
  .section-17 .text {
    width: 90%;
  }
}

/*!* ==========================================================================*/
/*24. Footer */
/*========================================================================== *!*/
.footer {
  background-color: #2e313a;
  //padding: 59px 0 39px 0;
  position: relative;
  background: linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -webkit-linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -moz-linear-gradient(bottom, #F2F5F7, #E1E7EB);
}

.footer .item__image {
  height: 28px;
  padding-right: 10px;
}

.footer .title {
  font-size: 32px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
  font-weight: 400;
  text-align: left;
}

.footer .item__title {
  font-weight: 300;
  font-size: 16px;
  color: #1E2E42;
  letter-spacing: 0.17px;
  vertical-align: super;
}

.footer .text-block {
  width: 619px;
}

.footer .flex-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
}

.footer .description {
  font-weight: 300;
  font-size: 18px;
  color: #7A818C;
  letter-spacing: 0px;
  line-height: 26px;
  text-align: left;
  //padding: 40px 0;
}

.footer .list-three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.list-three .item__top {
  padding-right: 40px;
}

.footer .item-title {
  font-weight: 300;
  font-size: 16px;
  color: #1E2E42;
  letter-spacing: 0.17px;
}

.footer .flex-block {

  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer .logo-block {
  -ms-flex-pack: justify;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer .nav__link {
  font-weight: 300;
  font-size: 14px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 30px;
}

.footer .nav__link:hover {
  color: #0082D5 !important;
}

.nav__list.nav__list-footer {
  padding: 0;
}

.footer .footer-logo {
  padding-left: 0px;
  width: 147px;
}

.footer .copyright-text {
  color: #7A818C;
  font-size: 12px;
  margin: auto 0 auto 35px;
  line-height: 14px;
  font-weight: 400;
  padding-left: 30px;
}

.footer .copyright-text span {
  display: block
}

.footer .pay-block__img-wrapper {

  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: 0;
  padding: 0 10px;
}

.footer .pay-block__img-wrapper.footerAccept {
  font-weight: 400;
  font-size: 18px;
  color: #1E2E42;
  align-items: center;
  flex: 1;
}

.footer .social img {
  padding: 0 10px;
}

.footer .pay-block__img-wrapper:last-child {
  margin-right: 0
}

.footer .pay-block__img-wrapper img[alt~="Visa"] {
  width: 58px;
  height: 18px;
}

.footer .pay-block__img-wrapper img[alt~="MasterCard"] {
  width: 50px;
  height: 30px;
}

.footer .pay-block__img-wrapper img[alt~="American-Express"] {
  width: 67px;
  height: 22px;
}

.footer .pay-block__img-wrapper img[alt~="PayPal"] {
  width: 79px;
  height: 21px;
}

.footer .footer-text {
  color: #5c6166;
  font-size: 12px;
  margin: 18px auto 0;
  text-align: center
}

.footer .copyright-text {
  margin-left: 0;
}

.footer .copyright-text span {
  display: inline-block;
}

.footer .pay-block {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.footer .logo-block {
  -ms-flex-direction: column;
}

.footer .copyright-text {
  margin-left: 0
}

.footer .copyright-text span {
  display: inline-block
}

.footer .flex-block {
  -ms-flex-pack: center;
}

.footer .container {
  //border-top: solid 1px #DAE0E6;
  padding-top: 33px;
}

.footer-line {
  border: 1px solid #DAE0E6;
}

@media screen and (max-width: 1000px) {
  .footer .flex-footer {
    display: flex;
    flex-direction: column;
  }
  .footer .list-three {
    display: none;
  }
  .footer .title {
    text-align: center;
  }
  .footer .description {
    text-align: center;
  }
  .footer .text-block {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {

  .footer .flex-block {
    -ms-flex-pack: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: -webkit-center;
  }
  .footer .pay-block {
    margin: 0 auto;
    padding: 10px 0 10px 0;
  }

  .footer .logo-block {
    -ms-flex-pack: start;
    margin-bottom: 0;
  }

  .footer .flex-block {
    -ms-flex-pack: center;
  }

  .footer .logo-block {
    -ms-flex-pack: start;;
    margin-bottom: 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }

}

@media screen and (max-width: 968px) {
  .footer .pay-block__img-wrapper.footerAccept {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer .flex-block {
    -webkit-box-orient: vertical;

    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
  .footer .social {
    display: none;
  }

  .footer .logo-block {
    margin-bottom: 20px;
  }

  .footer .logo-block {
    margin-bottom: 20px;
  }

  .footer .flex-block {
    -webkit-box-orient: vertical;

    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer .pay-block__img-wrapper {
    width: 78px;
  }
}

@media screen and (max-width: 375px) {
  .footer .flex-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .footer .pay-block__img-wrapper {
    margin-top: 15px;
    width: 75px;
  }

  .section-6 {
    padding-bottom: 10px;
    margin: 0 auto;
  }

  .footer .logo-block {
    -webkit-box-orient: vertical;

    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
  }

  .footer .logo_firstWord {
    float: initial;
    padding-left: initial;
  }

  .footer .copyright-text {
    padding-left: 0;
  }

  .footer .pay-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: inherit;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo-block .logo_firstWord {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    color: #3D414D;
    letter-spacing: .15px;
    display: inline-block;
    //padding-left: 15px;
  }

  .footer .pay-block__img-wrapper.footerAccept {
    display: none;
  }

  .footer .copyright-text {
    color: #7A818C;
    font-size: 12px;
    margin: auto 0 auto 35px;
    line-height: 14px;
    font-weight: 400;
    display: inline-block;
  }
}

@media screen and (min-width: 969px) {
  .footer .pay-block__img-wrapper.footerAccept {
    display: flex;
  }
}

@media screen and (min-width: 1141px) {

  .footer .container {
    width: 1140px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    //border-top: solid 1px #DAE0E6;
    padding-top: 20px;
  }

  .footer .calcAddition {
    display: inline;
    font-weight: 400;
    font-size: 16px;
    color: #3D414D;
  }

  .footer .form-block {
    /* text-align: center; */
    width: 458px;
    margin: 0 auto;
  }

}

//iPhone 5, iPhone6 Nexus

@media screen and (min-width: 320px) and (max-width: 450px) {
  .section-4 .p-item {
    width: 230px;
  }
  .section-4 .img-item {
    width: 80%;
  }

  .section-5 .block-feedbacks .writer {
    float: left;
  }
  .section-5 .block-feedbacks .left-block {
    width: 80%;
  }
  .section-5 .club-feedback-list-item {
    width: 100%;
  }
  .section-16 .club-feedback-list-item {
    width: 100%;
  }
  .section-2 .item__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  .section-14 .description {
    width: 100%;
  }
  .section-16 .description {
    width: 100%;
  }
  .section-17 .description {
    width: 100%;
  }
  .section-17 .text {
    margin: 0 auto;
    width: 100%;
  }

}

//* --- CALC --- * //

.calculator-theme__white {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  padding: 18px 25px 25px 25px;

  .calculator__content {
    padding: 15px 0 18px 0;
  }
  .button-filled__primary:hover {
    background-color: #36AF6C;
  }
  .calculator_header {
    width: 458px;
    height: 414px;
  }
  .calculator__title {
    font-weight: 400;
    font-size: 32px;
    color: #3D414D;
    letter-spacing: 0px;
    line-height: 50px;
  }
  .calculator__form-label {
    width: 30%;
    font-weight: 500;
    font-size: 16px;
    color: #3D414D;
    letter-spacing: 0px;

    .label {
      font-weight: 500;
      font-size: 16px;
      color: #3D414D;
      letter-spacing: 0px;
    }
  }
  .calculator__form-field {
    width: 70%;
  }
  .calculator__form-dropdown {
    width: 100%;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    color: #3D414D;
  }
  .calculator__form-dropdown-half {
    width: 192px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    color: #3D414D;
  }
  .dropdown-menu {
    width: 100%;
    border-top-color: transparent;

    .dropdown-menu__item {
      background-color: #fff;
      color: #3D414D;
    }
    .dropdown-menu__item:hover, .calculator .dropdown-menu__item:focus {
      background-color: #F6F9FC;
    }
  }
  .secelted-value {
    font-weight: 400;
    font-size: 14px;
    color: #3D414D;
    letter-spacing: 0px;
  }

  .calculator__form-button__select-increment, .calculator__form-button__select-decrement {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    color: #3D414D;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;

  }
  .calculator__form-button__select-increment {
    background-image: url("../images/plus.svg");

  }
  .calculator__form-button__select-decrement {
    background-image: url("../images/min.svg");
  }
  .calculator__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 6px 18px 0 0;
  }
  .calculator__result-title, .calculator__result-value {
    font-weight: 500;
    font-size: 18px;
    color: #0076C1;
    letter-spacing: 0px;
  }
  .button-filled__primary {
    background: #38BA72;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: 125px;
    width: 173px;
    height: 48px;
    padding-right: 45px;
  }
  .calculator-theme__white, .calculator_header {
    width: 413px;
    height: 364px;
  }

}

@media screen and (max-width: 1024px) {
  form {
    width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .calculator-theme__white {
    padding: 0;

    .calculator__content {
      padding: 0 20px;
    }
    .calculator_header {
      width: 300px !important;
      height: 425px;
      font-weight: 400;
      font-size: 25px;
      color: #414B54;
      letter-spacing: 0px;

      .calculator__title {
        padding-top: 15px;
        padding-left: 20px;
        font-size: 24px;
        color: #414B54;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 5px;
      }
    }
    .calculator__form-label {
      display: none;
    }
    .calculator__form-field {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      color: #959BA3;
      letter-spacing: 0px;
    }
    .calculator__form-dropdown-half {
      width: 163px;
    }
    .calculator__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px 0;
    }
    .calculator__result {
      line-height: 0;
      font-weight: 400;
      font-size: 16px;
      color: #216EBE;
      letter-spacing: 0;
    }
    .calculator__result-block {
      padding: 10px 0;
    }
    .button-filled__primary {
      background-position: 208px;
      width: 256px;
      height: 48px;
      padding-right: 24px;
    }
  }
  .footer .form-block {
    text-align: center;
    margin: 0 auto;
  }
  .calculator__form-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
  }
  .calculator__form-select-half {
    width: 172px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
  }
}

@media screen and (max-width: 1141px) and (min-width: 1023px) {
  .footer .text-block {
    width: 45%;
  }
  .footer .form-block {
    width: inherit;
  }
}

@media screen and (max-width: 680px) {

  .calculator__form-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
  }
  .calculator__form-select-half {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    width: 162px;
  }
  .section-13 .calculator-theme__white {
    z-index: 999;
  }

  .section-1 > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

/*NULIFCATION*/

li.item:before, li.club-feedback-list-item:before {
  content: initial !important;
  font-size: initial !important;
  padding-right: initial !important;
  vertical-align: initial !important;
}

.section-4 .list .block_content {
  width: initial !important;
  text-align: center;
}

.section-5 .club-feedback-list-item {
  width: 360px !important;;
}

.section-5 .club-feedback-list {
  margin-bottom: 0 !important;
}

.common-page .title {
  margin: initial !important;
  width: initial !important;
}

.products.common-page .section_textDivider-3 .block_left .description {
  width: initial !important;
}

.products.common-page .section_textDivider-3 .block_right .image {
  width: 400px !important;
  background-size: initial !important;
  background: initial !important;
  max-height: initial !important;
  max-width: initial !important;
}

.products.common-page .section_textDivider-2 .block_left .block_left-content {
  font-size: 26px !important;
  color: #fff !important;
}

@media screen and (max-width: 800px) {
  .section-5 .club-feedback-list-item {
    margin-right: 20px !important;
    margin-bottom: 17px !important;
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 1141px) {
  .section-5 .club-feedback-list {
    width: 1140px !important;
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 768px) {
  .section-5 .club-feedback-list-item {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
    margin-left: 15px !important;
    margin-right: 0 !important;
  }

  .section-5 .title {
    margin-bottom: 35px !important;
  }
}

.horizontal_ul_blocks-inner ul > p {
  padding-bottom: 10px;
}

.horizontal_ul_blocks-wrapper {

  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: initial;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  /* -webkit-box-align: start; */
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: baseline;
  width: 785px;
  margin: 30px auto;
}

.horizontal_ul_blocks-inner ul, .horizontal_ul_blocks-inner li, .horizontal_ul_blocks-inner p {
  width: 100% !important;
  margin: 0px !important;
}

.section-4.optional .item img {
  width: initial !important;
}

.section-4.optional .item a {
  color: inherit;
}

.section-4.optional i {
  display: none !important;
}

.section-4.optional .item .landscape {
  display: block !important;
}

.section-4.optional .list li {
  width: 300px !important;
}

@media screen and (min-width: 20px) and (max-width: 668px) {
  .section-4.optional .list li {
    width: 300px !important;
    text-align: center;
  }

  .horizontal_ul_blocks-wrapper {
    width: 300px;
    margin: 0 auto;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .horizontal_ul_blocks-inner {
    margin-top: 15px;
    margin-bottom: 15px;

  }

  .section-4.optional .list {

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .section-3 .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {

  .section-3 .list .item.first_item {
    width: 100% !important;
  }

  .section-3 .list .item {
    width: 50% !important;
    margin-bottom: 20px !important;
  }

}

@media screen and (max-width: 878px) {
  .section-3 .item.first_item {
    padding-left: initial !important;
    padding-right: initial !important;
  }
}

@media screen and (min-width: 768px) {
  .section-3 .item {
    width: 33% !important;
  }

  .section-3 .list {
    margin-bottom: 70px !important;
  }

}

@media screen and (min-width: 921px) {
  .section-3 .container {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }
}

@media screen and (min-width: 1200px) {
  .section-3 .container {
    width: 1140px !important;
    margin: 0 auto !important;
  }
}

.calculator .dropdown-menu {
  margin: -2px 0 0;
  padding: 0;
  //background-color: #292d34;
  //border: 1px solid #979797;
  border: 1px solid #C4C4C4;
  border-top: 0;
  border-top-color: transparent;
  border-radius: 0 0 5px 5px;
  box-shadow: none;
}

.calculator-theme__white .calculator .dropdown-menu__list {
  max-height: 194px;
}

//

#club-feedback-list {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
}

.section-13#club-feedback-list {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.club-comments-block {
  text-align: -webkit-left;
}

@media screen and (max-width: 768px) {

  .section-5 #club-feedback-list {
    //justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 240px;
    display: flex;
    flex-direction: column;
  }
}

/// SECTION types

.section-types {
  position: relative;
  background-color: #F8F9FA;
  padding: 60px 0;
}

.section-types .container {
  max-width: 785px;
  margin: 0 auto;
}

.section-types .text {
  margin: 0 auto;
}

.section-types .title {
  text-align: left;
  font-weight: 400;
  font-size: 32px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
}

.section-types .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
}

.section-types .title-list {
  font-weight: 400;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
}

.section-types .list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 144px;
  flex-wrap: wrap;

}

.section-types .item {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 48px;
}

/// SECTION text
.section-text {
  position: relative;
  padding: 0 0 60px 0;
}

.section-text .container {
  max-width: 785px;
  margin: 0 auto;
}

.section-text .title {
  font-weight: 400;
  font-size: 32px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
  margin-top: 60px;
}

.section-text .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
}

@media screen and (max-width: 1140px) {
  .section-5 #club-feedback-list {
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .section-writers .container {
    width: 90%;
  }
  .section-writers .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;

    li {
      margin: 15px;
    }
  }
  .section-meettheteam {
    position: relative;
    padding: 850px 0 53px 0;
  }
}

@media screen and (max-width: 922px) and (min-width: 769px) {
  .section-meettheteam {
    margin: 0;
    padding: 0;
  }
  .section-10.writers {
    padding: 0;
  }
}

@media screen and (max-width: 920px) {
  .section-writers .list {
    position: relative;
    top: 0;
    left: 0;
    //justify-content: center;
    //width: 100%;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 768px) {
  .section-10.writers {
    padding-bottom: 30px;
  }
  .section-writers .list {
    position: relative;
    top: 0;
    left: 0;
    //justify-content: center;
    //width: 100%;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .section-meettheteam {
    padding: 30px 0;
  }
  .section-meettheteam .title {
    text-align: left;
  }
  .section-text .title {
    text-align: left;
  }
  .section-types .title {
    text-align: left;
  }

  .section-types .list {
    display: flex;
    flex-direction: row;
  }
  .section-types .item {
    width: 45%;
  }
  .section-5 #club-feedback-list {
    justify-content: center;
  }
}

/// FAQ PAGE

.faq_pages-head {
  position: relative;
  padding: 108px 0 30px 0;
  background-image: linear-gradient(0deg, #F2F5F7 0%, #E1E7EB 100%);
}

.faq_pages-head .container {
  max-width: 1140px;
  padding: 0;
}

.faq_pages-head .text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.faq_pages-head .title {
  font-weight: 400;
  font-size: 40px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
  margin-left: 30px;
}

.faq_pages-head .faq-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 3.33px;
  background-image: url(../images/arrow_back.svg);
  background-position: 18% 49%;
  background-repeat: no-repeat;

  font-weight: 400;
  font-size: 16px;
  color: #7A818C;
  line-height: 24px;
  //margin-left: 14px;

}

.faq-link.margin {
  margin-top: 2%; ///????
}

.faq_pages-head .faq-link:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1160px) {
  .faq_pages-head > .container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .faq_pages-head .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .faq_pages-head .title {
    margin: 0;
    padding-top: 10px;
  }
}

///

.section-faq-page {
  position: relative;
  padding: 40px 0 100px 0px;
}

.section-faq-page .container {
  width: 1140px;
  padding: 0;
}

.section-faq-page .text-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.section-faq-page .content {
  max-width: 750px;
}

.section-faq-page .title {
  font-weight: 400;
  font-size: 18px;
  color: #3D4D65;
  //margin-top: 40px;
}

.section-faq-page img {
  width: 750px;
  margin-top: 20px;
}

.section-faq-page .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 24px;
}

.section-faq-page .sidebar {
  width: 326px;
  display: flex;
  flex-direction: column;
}

.section-faq-page .link-questions {
  font-weight: 300;
  font-size: 16px;
  color: #0082D5;
  margin: 10px 0;
  text-decoration: none;
}

@media screen and (max-width: 1160px) {
  .section-faq-page .text-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .section-faq-page .container {
    width: 90%;
  }
  .section-faq-page .text-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-faq-page .content {
    width: 100%;
  }
  .section-faq-page img {
    width: 100%;
  }

}

.calculator__content.calc-mini {
  display: flex;
  flex-direction: column;
  align-items: center;
  //width: 1140px;
  margin: 0 auto;
  width: 900px;
}

.calc-mini > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.calculator__content.calc-mini .calculator__form-button__select:hover,
.calculator__content.calc-mini .calculator__form-select:hover,
.calculator__content.calc-mini .calculator__form-button__select-decrement:hover,
.calculator__content.calc-mini .calculator__form-button__select-increment:hover {
  border-color: #C4C4C4;
}

.calculator__content.calc-mini .calculator__form-select {
  position: relative;
  height: 45px;
  padding: 0px 35px 0 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  color: #5C6166;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  outline: none;
  width: 205px;
  background-color: white;
}

.calculator__content.calc-mini .calculator__form-select-half {
  position: relative;
  height: 45px;
  padding: 0px 35px 0 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  color: #5C6166;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  outline: none;
  width: 105px;
  background-color: white;
  border: 1px solid #D9D9D9;
}

.calculator__content.calc-mini .calculator__form-button__select, .calculator__content.calc-mini .calculator__form-button__select-decrement, .calculator__content.calc-mini .calculator__form-button__select-increment {
  background-color: white;

}

.calculator__content.calc-mini .calculator__form-button__select-decrement {
  background-image: url(../images/min.svg);
  border: 1px solid #D9D9D9;
}

.calculator__content.calc-mini .calculator__form-button__select-increment {
  background-image: url(../images/plus.svg);
  border: 1px solid #D9D9D9;
}

.calculator__content.calc-mini .calculator__button {
  height: 45px;
  padding: 0 0;
  background-color: #38BA72;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 0;
  margin-left: 10px;
  width: 225px;
}

.calculator__content.calc-mini .calculator__form-select {
  border: 1px solid #D9D9D9;
}

.calculator__content.calc-mini .calculator__button:hover, .calculator__content.calc-mini .calculator__button:focus {
  background-color: #37AB6B;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .calculator__content.calc-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 298px;
  }
  .calc-mini > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calc-mini .calculator__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .calculator__content.calc-mini .calculator__form-select {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #5C6166;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    outline: none;
    width: 258px;
  }
  .calculator__content.calc-mini .calculator__form-select-half {
    width: 160px;
  }
  .calculator__content.calc-mini .calculator__button {
    margin: 0;
    width: 260px;
  }
}

@media screen and (min-width: 921px) {
  .calculator__form-row.mobile {
    display: none;
  }
}

.section-3.reviews .list {
  width: 100%;
}

.section-3.reviews .button-block .button-link:hover {
  color: white;
}

.section-3.reviews .title.center, .section-5.reviews .title.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.products.common-page.reviews .title, .products.common-page.prices .title {
  max-width: 785px;
  font-weight: 400;
  text-align: left;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
  margin: 60px auto !important;
  margin-bottom: 30px !important;
}

.list.reviews {
  max-width: 785px;
}

.list.reviews .item {
  width: 785px;
  margin: 0 auto;
  font-weight: 300;
  text-align: left;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  //padding-bottom: 40px;
}

.section_textDivider-3 > .container {
  max-width: 785px;
}

@media screen and (max-width: 830px) {
  .products.common-page.reviews .title,
  .products.common-page.privacy .title,
  .products.common-page.guarantees .title,
  .products.common-page.prices .title {
    //width: 90% !important;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    color: #3D4D65;
    line-height: 50px;
    padding-bottom: 20px;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .products.common-page.reviews p {
    width: 90%;
    padding: 0;
  }
  .products.common-page.reviews .list.reviews {
    width: 90%;
    padding: 0;

    .item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1350px) {
  .section-4 .list.write-my-essay {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    width: 90%;
  }
  .products.common-page .section-4 .list {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .products.common-page.prices {
    margin-top: 272px;
    padding-top: 160px;
  }
  .products.common-page .section_textDivider-3 .block_left .description {
    margin: 20px 0;
  }
}

@media screen and (max-width: 650px) {
  .products.common-page.reviews {
    margin-top: 272px;
    padding-top: 160px;
  }
  .products.common-page.write-my-essay {
    margin-top: 272px;
    padding-top: 160px;
  }
  .products.common-page.custom-essay {
    margin-top: 272px;
    padding-top: 160px;
  }
  .products.common-page.college {
    margin-top: 272px;
    padding-top: 160px;
  }
}

.products.common-page.buyanessay > .container {
  max-width: 785px;
}

.products.common-page.buyanessay h2 {
  font-weight: 400;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
}

.products.common-page.buyanessay .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}

.products.common-page.buyanessay .list-nonstyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0;
}

.products.common-page.buyanessay .item-02 {
  width: 100%;
  padding: 5px 0;
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  margin: 0 auto;
  text-align: left;
  list-style-type: none;
}

@media screen and (max-width: 650px) {
  .products.common-page.buyanessay {
    margin-top: 272px;
    padding-top: 180px;
  }
  .products.common-page.buyanessay h2 {
    padding-left: 0;
  }
}

.products.common-page.writing-help > .container {
  max-width: 785px;
}

.products.common-page.writing-help h2 {
  width: 100%;
}

.products.common-page.writing-help .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .products.common-page.writing-help {
    margin-top: 272px;
    padding-top: 180px;
  }
  .products.common-page.writing-help h2 {
    padding-left: 0;
  }
}

.products.common-page.write-my-research-paper > .container {
  max-width: 785px;
}

.products.common-page.write-my-research-paper h2 {
  width: 100%;
}

.products.common-page.write-my-research-paper .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0;
}

.products.common-page.privacy .title, .products.common-page.guarantees .title {
  max-width: 785px;
  font-weight: 400;
  text-align: left;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
  margin: 0 auto !important;
  padding: 60px 0 30px 0;
}

@media screen and (max-width: 650px) {
  .products.common-page.write-my-research-paper {
    margin-top: 272px;
    padding-top: 180px;
  }
  .products.common-page.write-my-research-paper h2 {
    padding-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .products.common-page.privacy {
    margin-top: 272px;
    padding-top: 180px;
  }
}

@media screen and (max-width: 650px) {
  .products.common-page.guarantees {
    margin-top: 272px;
    padding-top: 150px;
  }
  .products.common-page.guarantees h2 {
    //padding-left: 0;
  }
}

///
@media screen and (max-width: 1359px) {
  .products.common-page .section-4 .list {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 540px) {
  .products.common-page .section-4 .list {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;

  }
}

//// SAFARI calculator
.calculator-theme__white .calculator__form-field.safari {
  width: initial !important;
}

@media screen and (max-width: 1000px) {
  .Menu, .header .list {
    display: none;
  }
}

//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator
//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator
//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator
//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator//// SAFARI calculator


//// HORIZONTAL CALCT
.calculator.calculator-theme__white.horizontal {
  width: 850px;
  margin: 0 auto;
  background-color: #F8F9FA;
  box-shadow: none;
  padding: 0;
  height: 100px;
}

.calculator.calculator-theme__white.horizontal .calculator__form-label {
  display: none;
}

.calculator.calculator-theme__white.horizontal .calculator__result-block {
  display: none;
}

.calculator.calculator-theme__white.horizontal .type {
  display: none;
}

.calculator.calculator-theme__white.horizontal .calculator__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 850px;
}

.calculator.calculator-theme__white.horizontal .calculator__form-row, .calculator.calculator-theme__white.horizontal .calculator__form-field {
  width: 205px;
  min-width: initial;
}

.calculator.calculator-theme__white.horizontal .calculator__form-dropdown-half {
  width: 105px;
}

.calculator.calculator-theme__white.horizontal .button-filled__primary {
  width: 215px;
  background-image: none;
  padding: 0;
  height: 44px;
}

.calculator.calculator-theme__white.horizontal .calculator__button-block {
  margin-left: -195px;
  margin-top: 28px;
}

.calculator.calculator-theme__white.horizontal form {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 845px;
}

.calculator.calculator-theme__white.horizontal .calculator__main {
  min-width: 845px;
}

.calculator.calculator-theme__white.horizontal .calculator__form-row {
  margin: 0 5px;
}

.calculator.calculator-theme__white.horizontal .calculator__title {
  color: #414B54;
  font-size: 25px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (max-width: 1029px) {
  .calculator.calculator-theme__white.horizontal .button-filled__primary {
    width: 170px;
  }
  .calculator.calculator-theme__white.horizontal .calculator__button-block {
    margin-left: -195px;
    margin-top: 57px;
  }
  .calculator.calculator-theme__white.horizontal {
    height: 130px;
  }
}

@media screen and (max-width: 872px) {
  .calculator.calculator-theme__white.horizontal {
    height: auto;
  }
  .calculator.calculator-theme__white.horizontal .calculator__content {
    display: flex;
    flex-direction: column;
  }
  .calculator.calculator-theme__white.horizontal .type {
    display: block;
  }
  .calculator-theme__white .calculator_header {
    margin: 0 auto;
  }
  .calculator-theme__white .calculator__main {
    width: 100%;
  }
  .calculator.calculator-theme__white.horizontal form {
    display: block;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 3px;
    width: 298px;
    background-color: #F8F9FA;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 11px;
    min-width: initial;
  }
  .calculator.calculator-theme__white.horizontal .calculator__button-block {
    margin-left: 0;
    margin-top: 0;
  }
  .calculator-theme__white.horizontal .calculator__form-dropdown {
    position: relative;
    height: 40px;
    padding: 0 35px 0 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #5C6166;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    outline: none;
    width: 258px;
  }
  .calculator.calculator-theme__white.horizontal .calculator__main {
    min-width: initial;
  }

  .calculator.calculator-theme__white.horizontal .calculator__content {
    width: initial;
  }

  .calculator-theme__white.horizontal .calculator__form-dropdown-half {
    position: relative;
    height: 40px;
    padding: 0 35px 0 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: #5C6166;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    outline: none;
  }
  .calculator-theme__white.horizontal .calculator__form-button__select-decrement {
    //background-size: 12px 2px;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
    width: 39px;
    height: 40px;
    margin-top: 0;
  }
  .calculator-theme__white.horizontal .calculator__form-button__select-increment {
    border-radius: 0 3px 3px 0;
    margin-right: -1px;
    width: 39px;
    height: 40px;
    margin-top: 0;
  }
  .calculator.calculator-theme__white.horizontal .calculator__form-row {
    margin: 5px 0;
  }
  .calculator.calculator-theme__white.horizontal .calculator__form-dropdown-half {
    width: 181px;
  }
  .calculator.calculator-theme__white.horizontal .button-filled__primary {
    width: 256px;
    height: 48px;
    padding: 0 0;
    background-color: #38BA72;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    margin: 0;
  }
  .calculator.calculator-theme__white.horizontal .calculator__result-block {
    display: block;
  }
  .calculator.calculator-theme__white.horizontal .calculator__title {
    color: #414B54;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0;
    padding-top: 14px;
    padding-left: 6px;
    text-align: left;
    margin-left: 15px;
  }
  .calculator-theme__white.horizontal .calculator_header {
    padding-top: 15px;
  }
  .calculator.calculator-theme__white.horizontal {
    width: 100%;
  }
  .calculator.calculator-theme__white.horizontal div#pages_fields_3.calculator__form-row {
    min-width: 255px;
  }

}

@media screen and (max-width: 873px) {
  .calculator-theme__white.horizontal .calculator__form-field > .dropdown {
    width: 258px;
  }
  .calculator-theme__white.horizontal .calculator__form-field > .dropdown-half {
    width: 180px;
  }
}

@media screen and (min-width: 874px) {
  .calculator-theme__white.horizontal .calculator__form-field > .dropdown-half {
    width: 105px;
  }
  .calculator-theme__white.horizontal .calculator__form-field .dropdown-half .dropdown-menu {
    min-width: 105px;
  }
}

.section-faq-page .text-body .list {
  padding: 0;
  padding-left: 20px;
  .item {
    font-weight: 300;
    font-size: 16px;
    color: #3D4D65;
    line-height: 24px;
    list-style-type: disc;
  }
}

@media screen and (max-width: 540px) {
  h1.title, h2.title {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  p.description {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}



@media screen and (max-width: 540px) {
  .section-writers .container {
    width: 91%;
  }
  .section-writers .list li {
    margin: 0 15px 0 0;
  }
  .section-writers .item-footer {
    //height: 50px;
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #E6E6E6;
  }
  .section-writers .item-footer a {
    line-height: 1.5;
    font-size: 16px;
    padding: 7px;
  }
  .section-writers .heading {
    height: 70px;
  }
  .section-writers .item-header .writerman {
    width: 70px;
    height: 70px;
  }
  .section-writers .item {
    width: 290px;
    height: 253px;
    padding: 15px 15px 0 15px;
  }
  .row-orders, .row-raiting {
    font-size: 14px !important;
    font-weight: 200 !important;
  }
  .section-writers .row-raiting .stars {
    width: 74px;
  }
  .section-writers .item-body p {
    margin: 0;
    font-weight: 200;
  }
  .section-writers .item-body {
    height: 66px;
    font-size: 14px;
    color: #3D4D65;
    line-height: 22px;
    margin-top: -30px;
  }
  .section-faq .container .list .item .title {
    font-size: 18px !important;
  }
  .section-faq .container .list .item {
    width: 100%;
    height: 176px;
  }

  .section-2 .item__title {
    line-height: 21px;
  }

  .section-4 .list {
    width: 100%;
  }
  .section-4 .container {
    width: 100%;
    padding: 0 !important;
  }
  .section-4 .list {
    width: 100%;
  }
  .section-4 .item {
    padding: 0 15px;
    width: 100%;
  }
  .section-4 .h2-item {
    width: 100%;
  }
  .section-4 .p-item {
    width: 100%;
  }
  .section-4 .description {
    padding: 0 15px;
  }
  .section-2 .container {
    width: 100%;
    padding: 0 15px;
  }
  .section-9 .block {
    padding-left: 0;
  }
  .section-9 .container {
    width: 100%;
    padding: 0 15px;
  }
  .es-section__list {
    margin: 0;
  }
  .section-7 .button-group {
    padding-top: 30px;
  }
  .section-8 {
    padding: 30px 0;
  }
  .section-5 .title {
    margin-bottom: 20px;
  }
  .section-5 {
    padding: 30px 0;
  }
  .footer .container {
    width: 100%;
    padding: 0 15px;
  }
  .footer .pay-block {
    margin: -15px;
  }
  .section-11 > .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .section-11 {
    padding: 30px 0 0 0;
  }
  .section-11 .title {
    padding-bottom: 30px;
    margin: 0;
  }
  .page-block, .page-block__revers {
    padding-bottom: 60px;
  }
  .section-12 > .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .footer .logo_firstWord {
    padding: 0 !important;
  }
  .section-14 > .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .section-15 {
    padding: 30px 0;
  }
  .section-15 > .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .section-16 {
    padding: 30px 0;
  }
  .section-16 > .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .section-17 > .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .section-16 .center {
    text-align: center;
    padding: 30px 0;
  }
  .section-16 .block-feedbacks .comment-text {
    width: 84%;
  }
  .section-faq .container {
    width: 100%;
    padding: 0 15px;
  }
  .section-8 .container {
    width: 100%;
    padding: 0 15px;
  }

  .products.common-page .section-4 .list {
    -webkit-align-content: center;
    text-align: -webkit-center;
    margin: 30px auto;
  }
  .products.common-page.custom-essay, .products.common-page.college {
    padding-top: 60px;
  }
  .products.common-page .container {
    width: 100%;
    padding: 0 15px;
  }
  .products.common-page p, .products.common-page .item, .products.common-page .list {
    padding: 0 15px;
  }
  .products.common-page .section_textDivider-3 .block_right .image {
    width: 100% !important;
  }
  .products.common-page .section_textDivider-3 {
    padding-top: 30px;
  }
  .products.common-page .section_textDivider-3 .block {
    line-height: 34px;
    padding-top: 60px;
  }
  .h2page.left {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .products.common-page .h2page {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }
  .products.common-page.reviews {
    padding-top: 60px;
  }
  .products.common-page.reviews .title, .products.common-page.privacy .title, .products.common-page.guarantees .title, .products.common-page.prices .title {
    padding: 0 15px;
  }
  .section-3.reviews {
    padding: 30px 0;
  }
  .section-3.reviews .list {
    justify-content: center;
  }
  .products.common-page.reviews .list.reviews {
    width: 100%;
  }
  .products.common-page.guarantees, .products.common-page.prices {
    padding-top: 60px;
  }
  .section-types .list {
    height: auto;
  }
  .section-9 {
    padding: 30px 0;
  }
  .footer .text-block {
    width: 100%;
  }
  .section-faq-page .sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section-types .list {
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .section-faq .container .list .item .description {
    margin-bottom: 0;
    height: auto;
  }
  .section-faq .container .list .item {
    height: 100%;
  }
}

@media screen and (min-width: 880px) {
  .products.common-page .list {
    width: 1200px;
    margin: 10px auto;
    text-align: -webkit-center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 880px) {
  .products.common-page .item {
    flex-direction: column;
    width: 50% !important;
    display: flex;
    align-items: center;
  }
}

.products.common-page.guarantees, .products.common-page.write-my-essay {
  padding-top: 60px;
}

.section-16 .margin-top {
  margin-top: 44px;
}

.section-16 .margin-bot {
  margin-bottom: 50px;
}

.title.new {
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  color: #3d4d65;
  line-height: 50px;
}

@media screen and (max-width: 540px) {
  .title.new {
    text-align: left;
  }
}

.section-14 {
  padding: 60px 0;

  .description {
    padding: 0;
  }
}
