
/*!* ==========================================================================*/
/* 21. Section - 15 */
/*========================================================================== *!*/

.section-15 {
  position: relative;
  background: #F8F9FA;
  padding: 60px 0;
}

.section-15 > .container {
  max-width: 1140px;
  padding: 0;
}

.section-15 .title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
}

.section-15 .description {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  padding-bottom: 30px;
}

.section-15 .list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.section-15 .item {
  //width: 361px;
  width: 351px;
}

.section-15 .item__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.section-15 .item__image {
  width: 45px;
  height: 40px;
}

.section-15 .item__title {
  font-weight: 400;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  padding-left: 20px;
}

.section-15 .item__description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
}

@media screen and (max-width: 1359px) {
  .section-15 .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-15 .item {
    width: 100%;
  }
}
