
/*!* ==========================================================================*/
/* 17. Section - 11 */
/*========================================================================== *!*/

.section-11 {
  background-color: #fff;
  padding: 60px 0 0 0;
}

.section-11 > .container {
  width: 1140px;
  padding: 0;
}

.section-11 .title {
  font-weight: 400;
  font-size: 32px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.section-11 .page-section {
  width: 100%;
  margin: 0 auto;
}

.page-block__first img {
  width: 650px;
  height: auto;
}

.page-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 150px;
}

.page-block__revers {
  padding-bottom: 150px;
}

.page-block__revers:last-child {
  padding-bottom: 0;
}

.number {

  background-image: url(./../images/graycir.png);
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  min-width: 50px !important;
  min-height: 50px !important;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #3D414D;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}
.page-block__button {
  background: #0082D5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  padding: 15px 30px;
}

.page-block__button:hover {
  background: #0074bc;
  border-color: #0074bc;
  color: #fff;
}

.page-block__title {
  font-weight: 300;
  font-size: 22px;
  color: #3D414D;
  line-height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.title-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.page-block__description {
  font-weight: 300;
  font-size: 18px;
  color: #3D414D;
  line-height: 28px;
  padding: 10px 0 30px 0;
}

.page-block__second {
  width: 50%;
}

.page-block__revers {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.page-block .page-block__first {
  padding-right: 50px;
}

.page-block__revers .page-block__second {
  padding-right: 50px;
}

@media screen and (max-width: 1359px) {
  .section-11 > .container {
    width: 100%;
  }
  .page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-block__revers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-block__second {
    width: 650px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .page-block .page-block__first {
    padding-right: 0;
  }
  .page-block__revers .page-block__second {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .section-11 > .container {
    max-width: 95%;
  }
  .section-11 .page-block__first img {
    width: 100%;
    height: auto;
  }
  .section-11 .page-block__second {
    width: 100%;
  }
  .section-11 .page-block__button {
    text-align: center;
  }
  .section-11 .center {
    text-align: center;
  }
}
