/*!* ==========================================================================*/
/* 15. Section-9 */
/*========================================================================== *!*/

.section-9 {
  position: relative;
  background-color: #fff;
  padding: 40px 0 75px 0;
}

.section-9 .block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1140px;
  margin: 0 auto;
  //padding-left: 20px;
}

.section-9 .block_left {
  width: 48%;
}

.section-9 .block_right {
  width: 48%;
}

.section-9 .block .content-title {
  font-weight: 400;
  font-size: 18px;
  color: #414450;
  letter-spacing: 0;
  line-height: 28px;

}

.section-9 .block .content-text {
  color: #7a818c;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@media screen and (max-width: 1180px) {
  .section-9 .block {
    display: flex;
    flex-direction: column;
    width: 100%;

    .block_left, .block_right {
      width: 100%;
    }
  }
}
