
/*!* ==========================================================================*/
/*11. Section-5 */
/*========================================================================== *!*/

.section-5 {
  position: relative;
  padding: 45px 0;
  background-color: #F6F9FC;
}

.section-5 .button-group {
  text-align: center;
}

.section-5 .button-group > a:hover {
  background-color: #0074BC;
  border-color: #0074BC;
  color: #fff;
}

.section-5 .title {
  color: #3D414D;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
  display: block;
}

.section-5 .title:after {
  width: 70px;
  display: block
}

.section-5 .widget-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 55px
}

.section-5 .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.section-5 .club-feedback-list {
  font-family: Roboto, sans-serif;
  font-size: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;;
}

.section-5 .club-feedback-list-item {
  background-color: #fff;
  border: 1px solid #cad3df;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  padding: 15px;
  text-align: left;
  vertical-align: top;
  width: 360px
}

.section-5 .block-feedbacks {
  border-bottom: 0;
  margin-bottom: 25px;
  padding: 0;
  overflow: hidden;
  position: relative
}

.section-5 .block_hr-line {
  border: 0;
  height: 1px;
  background-color: #D8D8D8;
  width: 1060px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.section-5 .block-feedbacks .left-block {
  float: left
}

.section-5 .block-feedbacks .left-block .comments-body {
  padding-bottom: 5px;

}

.comments-body {
  width: 320px;
}

.section-5 .block-feedbacks .right-block {
  float: right;
  position: relative
}

.section-5 .block-feedbacks .date {
  float: left
}

.section-5 .block-feedbacks .comments-body {
  //margin-left: 50px;
  overflow: hidden
}

.section-5 .block-feedbacks .day {
  color: #54657e;
  font-size: 25px;
  line-height: 33px
}

.section-5 .block-feedbacks .month {
  color: #8493a8;
  font-size: 13px;
  line-height: 18px
}

.section-5 .block-feedbacks .customer {
  color: #7A818C;
  float: left;
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
  margin-bottom: 5px
}

.section-5 .block-feedbacks .order {
  color: #8493a8;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.section-5 .block-feedbacks .comment-text {
  color: #54657e;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0
}

.section-5 .block-feedbacks .rating-value {
  color: #54657E;
  float: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  margin-right: 8px
}

.section-5 .block-feedbacks .writer-rating-bar {
  margin-top: 2px;
  float: right;
  clear: both;
  position: relative;
  width: 80px;
  height: 15px;
  vertical-align: middle
}

.section-5 .block-feedbacks .rating-star {
  background: url(./../images/icon__rate_star__empty.svg) left center repeat-x;
  display: inline-block;
  height: 15px;
  position: absolute;
  width: 100%
}

.section-5 .block-feedbacks .rating-star.active {
  background: url(./../images/icon__rate_star__full.svg) left center repeat-x;
  display: inline-block;
  height: 15px;
  position: absolute;
  z-index: 1
}

.section-5 .block-feedbacks .customer {
  float: none !important;
  margin-right: 0;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.customer img {
  padding-right: 10px;
}

.gray {
  font-weight: 300;
  font-size: 18px;
  color: #7A818C;
}

.section-5 .block-feedbacks .customer::after {
  content: ':'
}

.section-5 .block-feedbacks .left-block {
  float: none;
  margin-right: 0;
  margin-bottom: 0px;
  width: 100%
}

.section-5 .block-feedbacks .right-block {
  float: left !important;
  margin-bottom: 8px;
  //margin-left: 50px
}

.section-5 .block-feedbacks .writer-rating-bar {
  clear: none;
  float: right;
  margin-top: 2px
}

.section-5 .block-feedbacks .rating-value {
  color: #54657e;
  float: left;
  font-size: 18px;
  line-height: 24px;
  margin-right: 8px
}

.section-5 .block-feedbacks .order__wo-mobile {
  display: none
}

.section-5 .block-feedbacks .order__only-mobile {
  clear: both;
  display: block !important;
  padding-top: 10px
}

.section-5 .block-feedbacks .order-info {
  border-top: 1px solid #DAE0E6;
  padding-top: 8px
}

.section-5 .block-feedbacks .comment-text {
  overflow: hidden;
  text-overflow: clip;
  min-height: 75px;
  white-space: normal;
  color: #3D4D65;
}

.section-5 .block-feedbacks .writer {
  color: #8493a8;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  border: none;
  padding: 0;
  float: right;
}

.section-5 .block-feedbacks .writer-link {
  color: #3d4d65;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 5px;
}

.section-5 .block-feedbacks .writer-status-block {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle
}

.section-5 .block-feedbacks .status {
  border-radius: 50%;
  display: block;
  width: 6px;
  height: 6px;
  margin-left: 3px
}

.section-5 .block-feedbacks .status.online {
  background-color: #04be5b
}

.section-5 .block-feedbacks .status.offline {
  background-color: #e0108e
}

.section-5 .block .content-title {
  color: #7A818C;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}

.section-5 .block .content-text {
  color: #7A818C;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.section-5 #club-feedback-list {

}

@media screen and (max-width: 1200px) {
  .section-5 .widget-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .section-5 .widget {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 35px;
  }

  .section-5 .widget:last-child {
    margin-bottom: 0;
  }

  .section-5 .widget {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 35px
  }

  .section-5 .widget:last-child {
    margin-bottom: 0
  }

  .section-5 .widget-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 920px) {
  .section-5 .feedback-text {
    height: 135px
  }

  .section-5 .feedback-text {
    height: 135px;
  }
}

@media screen and (max-width: 800px) {
  .section-5 .container {
    width: 100%
  }

  .section-5 .title {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 35px;
  }

  .section-5 .club-feedback-list {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    white-space: nowrap;
  }

  .section-5 .club-feedback-list-item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 17px !important;
    margin-left: 0;
  }

  .section-5 .club-feedback-list-item:last-child {
    margin-right: 0;
  }

  .section-5 .block-feedbacks {
    margin-bottom: 8px;
  }

  .section-5 .title {
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 35px;
    color: #3D414D;
  }

  .section-5 .club-feedback-list {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    white-space: nowrap
  }

  .section-5 .club-feedback-list-item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 17px !important;
    margin-left: 0
  }

  .section-5 .club-feedback-list-item:last-child {
    margin-right: 0
  }

  .section-5 .block-feedbacks {
    margin-bottom: 8px
  }

  .section-5 .container {
    width: 100%;
  }

  .section-5 .block_hr-line {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .section-5 .title {
    font-size: 26px;
    line-height: 36px
  }

  .section-5 .feedbacks {
    margin: 0 -15px 30px;
  }

  .section-5 .feedback-text {
    height: 100px;
  }

  .section-5 .feedbacks {
    margin: 0 -15px 30px
  }

  .section-5 .feedback-text {
    height: 100px
  }

  .section-5 .title {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .section-5 .feedback-text {
    height: 127px
  }

  .section-5 .feedback-text {
    height: 127px;
  }
}

@media screen and (min-width: 768px) {
  .section-5 .container {
    width: 100%
  }

  .section-5 .block-feedbacks {
    margin-bottom: 10px;
  }

  .section-5 .club-feedback-list-item {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 30px !important;
    margin-left: 15px;
  }

  .section-5 .block-feedbacks {
    margin-bottom: 10px
  }

  .section-5 .club-feedback-list-item {
    margin-top: 0;
    margin-bottom: 30px !important;
    margin-left: 15px;
    margin-right: 0;
  }

  .section-5 .block {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    width: 720px;
    margin: 0 auto;
  }

  .section-5 .block_hr-line {
    width: 720px;
  }

  .section-5 .block_left {
    width: 48%;
  }

  .section-5 .block_right {
    width: 48%;
  }

  .section-5 .container {
    width: 100%;
  }

  .section-5 .title {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 35px;
    color: #3D414D;
  }
}

@media screen and (min-width: 1141px) {
  .section-5 .club-feedback-list {
    width: 1140px;
    margin: 0 auto;
  }

  .section-5 .block {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1100px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .section-5 .block_hr-line {
    width: 1060px;
  }

  .section-5 .block_left {
    width: 48%;
  }

  .section-5 .block_right {
    width: 48%;
  }
}

@media screen and (min-width: 1201px) {
  .section-5 .container {
    width: 1200px
  }

  .section-5 .widget {
    margin-right: 35px;
  }

  .section-5 .widget:last-child {
    margin-right: 0;
  }

  .section-5 .widget {
    margin-right: 35px;
  }

  .section-5 .widget:last-child {
    margin-right: 0;
  }

  .section-5 .container {
    width: 1200px;
  }

  .section-5 .widget {
    margin-right: 35px;
  }

  .section-5 .widget:last-child {
    margin-right: 0;
  }

  .section-5 .widget {
    margin-right: 35px
  }

  .section-5 .widget:last-child {
    margin-right: 0
  }

  .section-5 .container {
    width: 1200px;
  }

  .section-5 .container {
    width: 1200px;
  }
}
