
/*!* ==========================================================================*/
/*8. Section-2 */
/*========================================================================== *!*/
.section-2 {
  position: relative;
  padding: 57px 0 44px 0;
}

.section-2 > .container {
  max-width: 1140px;
  padding: 0;
}

.section-2 .title {
  color: #3D414D;
  font-weight: 400;
  text-align: center;
  display: block;
}

.section-2 .title::after {
  width: 70px;
  height: 2px;
  margin: 15px auto 0;
  background-color: #FFF;
  display: block
}

.section-2 .list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.section-2 .item__image {
  margin-bottom: 10px
}

.section-2 .item__image-1 {
  width: 30px;
  height: 28px
}

.section-2 .item__image-2 {
  width: 30px;
  height: 28px
}

.section-2 .item__image-3 {
  width: 30px;
  height: 28px
}

.section-2 .item__title {
  color: #434654;
  font-size: 18px;;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  height: 14px;
  margin: 0;
}

.section-2 .item__description {
  color: #737980;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px
}

@media screen and (max-width: 768px) {
  .section-2 .title {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 35px
  }

  .section-2 .item__image {
    margin-bottom: 0px
  }

  .section-2 .item__title {
    color: #434654;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    height: 14px;
    vertical-align: top;
    padding-left: 10px;
  }

  .section-2 .list .item {
    padding-bottom: 20px
  }

  .section-2 .list .item .item__top .item__title {
    display: inline-block;
  }

  .section-2 .title::after {
    width: 60px;
  }

  .section-2 p,
  .section-2 .item__description {
    font-size: 14px;
  }

  .section-2 .title::after {
    width: 60px
  }

  .section-2 p,
  .section-2 .item__description {
    font-size: 14px
  }

  .section-2 .title {
    font-size: 34px;
    line-height: 44px;
  }
}

@media screen and (max-width: 540px) {
  .section-2 .title {
    font-size: 26px;
    line-height: 36px
  }

  .section-2 .title::after {
    width: 50px;
  }

  .section-2 .title::after {
    width: 50px
  }

  .section-2 .title {
    font-size: 24px;
    line-height: 34px;
  }
}

@media screen and (min-width: 921px) {

  .section-2 .title {
    font-size: 42px
  }

  .section-2 .title {
    font-size: 32px;
    padding-left: 8px;
    padding-bottom: 22px;
  }

  .section-2 .list {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    flex-direction: row;
    justify-content: space-between;
    //width: 875px;
  }

  .section-2 .item {
    margin-bottom: 10px;
  }

  .item.item-4 {
    margin-bottom: 35px;
  }

  .section-2 .item:nth-child(2n+1) {
    width: 45%;
  }

  .section-2 .item:nth-child(2n) {
    width: 45%;
  }

  .section-2 .item__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-2 .item__description {
    color: #737980;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 5px;
  }

  .section-2 .item__image {
    margin-right: 15px;
    width: 42px;
    height: 36px;
  }

  .section-2 .item__title {
    color: #434654;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    height: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1140px) {

  .section-2 .title {
    font-size: 42px
  }

  .section-2 .title {
    font-size: 32px;
    padding-left: 8px;
    padding-bottom: 22px;
  }

  .section-2 .list {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    width: 663px;
    flex-direction: row;
    justify-content: space-between;
  }

  .section-2 .item {
    margin-bottom: 10px;
  }

  .item.item-4 {
    margin-bottom: 35px;

  }

  .section-2 .item:nth-child(2n+1) {

    width: 45%;
  }

  .section-2 .item:nth-child(2n) {
    width: 45%;
  }


  .footer .form-block {
    margin: 0 auto;
    width: 298px;
  }

  .section-2 .item__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
  }

  .section-2 .item__description {
    color: #737980;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 5px;
  }

  .section-2 .item__image {
    margin-right: 15px;
    width: 42px;
    height: 36px;
  }

  .section-2 .item__title {
    color: #434654;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    height: 14px;
  }

}
