
/*!* ==========================================================================*/
/* 13. Section-7 */
/*========================================================================== *!*/

.section-7 {
  background-image: url("../images/bg_section7.png");
  position: relative;
  padding: 37px 0 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-7 .title {
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0px;
  font-weight: 400;
  text-align: center;
}


.es-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1140px;
  margin: 70px auto;
  padding: 0;

}

.section-7 .es-section__item {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 40px;
  width: 200px;
  font-weight: 300;
}

.section-7 .button-group {
  text-align: center;
}

.section-7 .button-link__tertiary:hover, .section-1 .button-link__tertiary:focus, .section-1 .button-link__tertiary:active {
  background: #0074BC;
  border-color: #0074BC;
  color: #fff;
}

.section-7 .button-group .button-link {
  width: 205px;
}

@media screen and (max-width: 1360px) {
  .es-section__list {
    width: 900px;
  }
}

@media screen and (max-width: 900px) {
  .es-section__list {
    width: 700px;
  }
}

@media screen and (max-width: 1000px) {
  .es-section__list {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .es-section__list {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .es-section__list {
    width: 90%;
  }
}

@media screen and (max-width: 540px){
  .es-section__item {
    font-size: 12px !important;
    color: #fff;
    letter-spacing: 0;
    line-height: 32px;
    width: 46% !important;
    font-weight: 300;
  }
  .es-section__list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}