
/*!* ==========================================================================*/
/*12. Section-6 */
/*========================================================================== *!*/

.section-6 {
  padding-bottom: 70px;
  margin: 0 auto;
}

.section-6 .title {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

.section-6 .description {
  text-align: center;
  font-size: 18px;
  color: #7A818C;
  font-weight: 300;
  padding-bottom: 15px;
}

.common-page .section-6 .description {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .section-6 .button-link {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    margin-right: 24px;
    width: 156px;
  }

  .section-6 .text-block {
    width: 60%;
  }

  .section-6 .title,
  .section-6 .description {
    margin-bottom: 32px;
  }

  .section-6 .title {
    font-size: 50px;
    line-height: 62px;
  }

  .section-6 .description {
    font-size: 16px;
    line-height: 22px;
  }

  .section-6 .button-link {
  }

  .section-6 .or {
    margin-right: 24px;
  }

  .section-6 .text-block {
    width: 60%;
    padding-top: 123px;
  }

  .section-6 .title,
  .section-6 .description {
    margin-bottom: 32px
  }

  .section-6 .title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 19px;
  }

  .section-6 .description {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 31px;
  }

  .section-6 .button-link {
  }

  .section-6 .or {
    margin-right: 24px
  }

  .section-6 .container {
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 47px;
  }

  .footer .form-block {
    margin: 0 auto;
    width: 298px;
  }

  .auth__item:first-child {
    padding-right: 17px;
  }

  .home .auth {
    padding-right: 22px;
  }

}

@media screen and (min-width: 769px) {
  .section-6 {
    width: 700px;
  }
}
