
/*!* ==========================================================================*/
/* 20. Section - 14 */
/*========================================================================== *!*/

.section-14 {
  background-color: #fff;
  position: relative;
}

.section-14 > .container {
  max-width: 1140px;
}

.section-14 .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  padding:  0;
  width: 765px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section-14 .description {
    width: 90%;
  }
}
