
/*!* ==========================================================================*/
/* 16. Section - 10 */
/*========================================================================== *!*/

.section-10 {
  //background-color: #7A818C;
  background-image: linear-gradient(0deg, #F2F5F7 0%, #E1E7EB 100%);
}

.section-10 .container {
  width: 762px;
  padding: 0;
}

.it-works {
  text-align: center;
  padding: 120px 0 60px 0;
  //width: 55%;
  margin: 0 auto;
}

.it-works .title {
  font-weight: 400;
  font-size: 40px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
}

.it-works .description {
  font-weight: 300;
  font-size: 19px;
  color: #7A818C;
  letter-spacing: 0px;
  line-height: 26px;
}

@media screen and (max-width: 500px) {
  .section-10 .it-works {
    width: 100%;
  }
  .section-10 .title {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    color: #3D414D;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
  }
  .section-10 .description {
    font-weight: 300;
    font-size: 16px;
    color: #7A818C;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .section-10 .container {
    width: 90%;
  }
}


/// SECTION-WRITERS

.section-writers {
  position: relative;
}

.section-writers .container {
  max-width: 1140px;
  padding: 0;
}

.section-writers .list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: -270px;
  /* left: 25%; */
  width: 1140px;
}

.section-writers .item {
  background: #FFFFFF;
  //box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20);
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 360px;
  height: 323px;
  padding: 20px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
}

.section-writers .item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.section-writers .item-header .writerman {
  width: 100px;
  height: 100px;
}

.section-writers .heading {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  margin-left: 23px;
}

.section-writers .title {
  font-weight: 400;
  font-size: 18px;
  color: #3D414D;
  margin: 0;
}

.section-writers .row-raiting {
  font-weight: 300;
  color: #3D414D;
}

.section-writers .row-raiting .stars {
  width: 98px;
  //height: 18px;
}

.section-writers .raiting-number {
  font-size: 16px;
  color: #3D414D;
  font-weight: 400;
}

.section-writers .row-orders {
  font-weight: 300;
  font-size: 16px;
  color: #3D414D;
}

.section-writers .orders-number {
  font-weight: 400;
}

.section-writers .item-body {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  height: 130px;
}

.section-writers .item-body p {
  margin: 20px 0;
}

.section-writers .item-footer {
  height: 54px;
  text-align: center;
  padding: 25px 0;
}

.section-writers .item-footer a {
  font-weight: 500;
  font-size: 18px;
  color: #0082D5;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 999;
  padding: 23px 112px;
}

.section-writers .item-footer a:hover {
  color: #0074BC;
}

.section-writers hr {
  border-top: 0px solid #E6E6E6;
  width: 100%
}

@media screen and (max-width: 450px) {
  .section-writers .item-footer a {
    padding: 0;
    //line-height: 2.5;
  }
}

///
.section-10.writers {
  padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .section-10.writers {
    padding-bottom: 30px;
  }
  .section-writers {
    position: relative;
    top: 0;
    left: 0;
  }
  .section-writers .list {
    justify-content: center;
  }
  .section-meettheteam {
    padding: 30px 0;
  }
  .section-meettheteam .title {
    text-align: left;
  }
  .section-text .title {
    text-align: left;
  }
  .section-types .title {
    text-align: left;
  }
  .section-types {
    display: flex;
    flex-direction: row;
  }
  .section-5 #club-feedback-list {
    //justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 240px;
    display: flex;
    flex-direction: column;
  }
}


.section-meettheteam {
  position: relative;
  padding: 460px 0 53px 0;
}

.section-meettheteam .container {
  max-width: 785px;
  margin: 0 auto;
}

.section-meettheteam .text {
  margin: 0 auto;
}

.section-meettheteam .title {
  font-weight: 400;
  text-align: left;
  font-size: 32px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
  margin-top: 60px;
}

.section-meettheteam .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
}


