
/*!* ==========================================================================*/
/* 22. Section - 16 */
/*========================================================================== *!*/

.section-16 {
  position: relative;
  background-color: #fff;
  padding: 50px 0 0 0;
}

.section-16 > .container {
  max-width: 1140px;
  padding: 0;
}

.section-16 .title {
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
}

.section-16 .description {
  font-weight: 300;
  text-align: left;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  width: 70%;
  margin: 0 auto;
  // padding-bottom: 40px;
  margin-bottom: 16px;
}

.section-16 .club-feedback-list {
  font-family: Roboto, sans-serif;
  font-size: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //width: 80%;
  //margin: 0 auto;
}

.section-16 .club-feedback-list-item {
  background-color: #fff;
  border: 1px solid #cad3df;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  padding: 15px;
  text-align: left;
  vertical-align: top;
  width: 360px
}

.section-16 .block-feedbacks {
  border-bottom: 0;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 0;
  overflow: hidden;
  position: relative
}

.section-16 .block_hr-line {
  border: 0;
  height: 1px;
  background-color: #D8D8D8;
  width: 1060px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.section-16 .block-feedbacks .left-block {
  float: left
}

.section-16 .block-feedbacks .left-block .comments-body {
  padding-bottom: 5px;
}

.section-16 .block-feedbacks .right-block {
  float: right;
  position: relative
}

.section-16 .block-feedbacks .date {
  float: left
}

.section-16 .block-feedbacks .comments-body {
  //margin-left: 50px;
  overflow: hidden
}

.section-16 .block-feedbacks .day {
  color: #54657e;
  font-size: 25px;
  line-height: 33px
}

.section-16 .block-feedbacks .month {
  color: #8493a8;
  font-size: 13px;
  line-height: 18px
}

.section-16 .block-feedbacks .customer {
  color: #7A818C;
  float: left;
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
  margin-bottom: 5px
}

.section-16 .block-feedbacks .order {
  color: #8493a8;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.section-16 .block-feedbacks .comment-text {
  color: #54657e;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0
}

.section-16 .block-feedbacks .rating-value {
  color: #54657E;
  float: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  margin-right: 8px
}

.section-16 .block-feedbacks .writer-rating-bar {
  margin-top: 2px;
  float: right;
  clear: both;
  position: relative;
  width: 80px;
  height: 15px;
  vertical-align: middle
}

.section-16 .block-feedbacks .rating-star {
  background: url(./../images/icon__rate_star__empty.svg) left center repeat-x;
  display: inline-block;
  height: 15px;
  position: absolute;
  width: 100%
}

.section-16 .block-feedbacks .rating-star.active {
  background: url(./../images/icon__rate_star__full.svg) left center repeat-x;
  display: inline-block;
  height: 15px;
  position: absolute;
  z-index: 1
}

.section-16 .block-feedbacks .customer {
  float: none !important;
  margin-right: 0;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.customer img {
  padding-right: 10px;
}

.gray {
  font-weight: 300;
  font-size: 18px;
  color: #7A818C;
}

.section-16 .block-feedbacks .customer::after {
  content: ':'
}

.section-16 .block-feedbacks .left-block {
  float: none;
  margin-right: 0;
  margin-bottom: 0px;
  width: 100%
}

.section-16 .block-feedbacks .right-block {
  float: left !important;
  margin-bottom: 8px;
  //margin-left: 50px
}

.section-16 .block-feedbacks .writer-rating-bar {
  clear: none;
  float: right;
  margin-top: 2px
}

.section-16 .block-feedbacks .rating-value {
  color: #54657e;
  float: left;
  font-size: 18px;
  line-height: 24px;
  margin-right: 8px
}

.section-16 .block-feedbacks .order__wo-mobile {
  display: none
}

.section-16 .block-feedbacks .order__only-mobile {
  clear: both;
  display: block !important;
  padding-top: 10px
}

.section-16 .block-feedbacks .order-info {
  border-top: 1px solid #DAE0E6;
  padding-top: 8px
}

.section-16 .block-feedbacks .comment-text {
  overflow: hidden;
  text-overflow: clip;
  min-height: 75px;
  white-space: normal;
  color: #3D4D65;
}

.section-16 .block-feedbacks .writer {
  color: #8493a8;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0;
  border: none;
  padding: 0;
  float: right;
}

.section-16 .block-feedbacks .writer-link {
  color: #3d4d65;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 5px;
}

.section-16 .block-feedbacks .writer-status-block {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle
}

.section-16 .block-feedbacks .status {
  border-radius: 50%;
  display: block;
  width: 6px;
  height: 6px;
  margin-left: 3px
}

.section-16 .block-feedbacks .status.online {
  background-color: #04be5b
}

.section-16 .block-feedbacks .status.offline {
  background-color: #e0108e
}

.section-16 .block .content-title {
  color: #7A818C;
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
}

.section-16 .block .content-text {
  color: #7A818C;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.section-16 .center {
  text-align: center;
  padding: 50px 0 60px 0;
}

@media screen and (max-width: 1359px) {
  .section-16 .club-feedback-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-16 .club-feedback-list-item {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1150px) {
  .section-16 #club-feedback-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and(max-width: 768px) {
  .section-16 #club-feedback-list {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 240px;
    display: flex;
    flex-direction: column;
  }
  .section-16 #club-feedback-list li {
    margin: 0 10px;
  }
}
