
/*!* ==========================================================================*/
/*7. Section-1 */
/*========================================================================== *!*/
.section-1 {
  position: relative;
}

.section-1 .background {
  background-image: url(./../images/bg_768.jpg);
  background-position: 10% 0;
  background-repeat: no-repeat;
  background-size: 768px 600px;
  width: 100%;
  height: 600px;
  position: absolute;
  background-attachment: fixed;
}

.section-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: center;
  align-items: flex-start;
  position: relative;
  height: 100%
}

.section-1 .title {
  color: #fff;
  font-weight: 400;
  line-height: 37px;
  width: 80%;
  display: block;
}

.section-1 .description {
  color: #646A73;
  line-height: 24px;
  font-weight: 300;
}

/*@media screen and (min-width: 1140px) {*/
.section-1 .title__staticPageColor {
  color: #ffffff !important;

}

.section-1 .description__staticPageColor {
  color: #BDCEE1 !important;
}

/*}*/

.section-1 .button-group {
  font-size: 0;
}

.section-1 .button-link {
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  height: 60px;
  line-height: 58px;
  text-align: center;
  white-space: nowrap;
  margin-right: 24px;
  text-transform: none;
}

.section-1 .button-link:hover,
.section-1 .button-link:focus,
.section-1 .button-link:active {
  color: #fff;
  text-decoration: none;
  outline-offset: 0;
  outline: 0;
  box-shadow: none;
}

.section-1 .button-link:last-child {
  margin-right: 0
}

.section-1 .button-link__primary {
  background: #54bb53;
  border-color: #54bb53
}

.section-1 .button-link__primary:hover,
.section-1 .button-link__primary:focus,
.section-1 .button-link__primary:active {
  background: #6adc56;
  border-color: #6adc56
}

.section-1 .button-link__secondary {
  background: #fff;
  border-color: #fff;
  color: #216ebe
}

.section-1 .button-link__secondary:hover,
.section-1 .button-link__secondary:focus,
.section-1 .button-link__secondary:active {
  background: #fff;
  border-color: #fff;
  color: #44a1eb
}

.section-1 .button-link__tertiary {
  background: #0082D5;
  border-color: #0082D5;
  color: #fff;
  text-transform: none;
}

.section-1 .button-link__tertiary:hover,
.section-1 .button-link__tertiary:focus,
.section-1 .button-link__tertiary:active {
  background: #0074BC;
  border-color: #0074BC;
  color: #fff
}

.section-1 .form-block {
  position: relative
}

.section-1 .or {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.calcAddition {
  display: none;
}

/*!* ==========================================================================*/
/*0.ProductsSection-1 */
/*========================================================================== *!*/

.products.section-1 {

  background: linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -webkit-linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -moz-linear-gradient(bottom, #F2F5F7, #E1E7EB);

}

@media screen and (max-width: 768px) {
  .section-1 .container {
    -webkit-box-pack: justify;;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-top: 105px;
  }

  .section-1 .text-block {
    width: 100%;
    padding-top: 123px;
  }

  .section-1 .title {
    font-size: 24px;
  }

  .section-1 .description {
    font-size: 17px;
    margin-bottom: 30px;
  }

  .section-1 .button-link {
    width: 179px;
    height: 50px;
    padding: 0;
    font-size: 16px;
    line-height: 48px;
  }

  .section-1 .text-block {
    width: 100%;
  }

  .section-1 .title,
  .section-1 .description {
  }

  .section-1 .title {
    font-size: 24px;
  }

  .section-1 .description {
    font-size: 17px;
    //width: 80%;
  }

  .section-1 .button-link {
    width: 179px;
    height: 48px;
    padding: 0;
    font-size: 18px;
    line-height: 48px;
    font-weight: 500;
  }

  .section-1 .container {
    -ms-flex-pack: justify;
  }
}

@media screen and (max-width: 680px) {
  .section-1 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    padding-top: 0
  }

  .section-1 .background__page {
    height: 750px !important;
  }

  .section-1 .button-group {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-1 .text-block,
  .section-1 .form-block {
    width: 100%;
  }

  .section-1 .button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .section-1 .text-block,
  .section-1 .form-block {
    width: 100%
  }


  .section-1 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 70px;
    z-index: 1;
  }

  .section-1 .text-block {
    padding: 24px 0 20px;
  }

  .section-1 .title {
    width: 100%;
    text-align: center;
    margin: 0px 20px;
    padding-bottom: 12px;
    color: #fff;
    font-weight: 400;
    margin: 0;
  }

  .section-1 .description {
    text-align: center;
    margin: 0 30px;
    padding-bottom: 24px;
    color: white;
    font-weight: 300;
  }
}

@media screen and (max-width: 540px) {
  .section-1 .button-group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 290px;
    margin: auto;
  }

  .section-1 .button-link {
    margin-right: 10px;
  }

  .section-1 .button-link:nth-child(2) {
    margin-right: 0;
  }

  .section-1 .button-link:nth-child(1),
  .section-1 .button-link:nth-child(2) {
    margin-bottom: 10px;
  }

  .section-1 .or {
    display: none;
  }

  .section-1 .text-block,
  .section-1 .form-block {
    width: 100%;
  }

  .section-1 .text-block {
    padding: 60px 0 2px;
  }

  .section-1 .button-group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 290px;
    margin: auto
  }

  .section-1 .button-link {
    margin-right: 10px
  }

  .section-1 .button-link:nth-child(2) {
    margin-right: 0
  }

  .section-1 .button-link:nth-child(1),
  .section-1 .button-link:nth-child(2) {
    margin-bottom: 10px
  }

  .section-1 .or {
    display: none;
  }

}

@media screen and (max-width: 350px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-1 .title {
    text-align: center;
    margin: 35px 0px 0 0;
    padding-bottom: 12px;
    color: #fff;
  }

  .section-1 .description {
    text-align: center;
    margin: 0 10px;
    padding-bottom: 24px;
    color: #fff;
  }

}

@media screen and (max-width: 320px) {
  .section-1 .button-link {
    margin-right: 0
  }

  .section-1 .button-link {
    margin-right: 0;
  }
}

@media screen and (min-width: 541px) {
  .section-1 .or {
    font-size: 18px;
    line-height: 24px;
  }

  .section-1 .background__page {
    height: 610px;
  }
}

@media screen and (min-width: 768px) {

  .section-1 .background {
    background-image: url(./../images/bg_1360.jpg);
    background-position: 0 0;
    background-size: 1360px 600px;
  }


  .section-1 .container {
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .section-1 .button-link {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    margin-right: 24px;
    width: 156px;
  }

  .section-1 .text-block {
    width: 100%;
  }

  .section-1 .title,
  .section-1 .description {
    margin-bottom: 32px;
    color: #FFFFFF;
  }

  .section-1 .title {
    font-size: 50px;
    line-height: 62px;
  }

  .section-1 .description {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
  }

  .section-1 .button-link {
  }

  .section-1 .or {
    margin-right: 24px;
  }

  .section-1 .text-block {
    width: 60%;
    padding-top: 123px;
  }

  .section-1 .title,
  .section-1 .description {
    margin-bottom: 32px;
  }

  .section-1 .title {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 19px;
  }

  .section-1 .description {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 31px;
  }

  .section-1 .button-link {
  }

  .section-1 .or {
    margin-right: 24px
  }

  .section-1 .container {
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 120px;
  }

  .auth__item:first-child {
    padding-right: 17px;
  }

  .home .auth {
    padding-right: 22px;
  }


}

@media screen and (min-width: 921px) {

  .home .auth {
    padding: 0;
  }

  .section-1 .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-1 .text-block {
    max-width: 620px;
    margin-right: 24px;
    width: 100%;
  }

  .section-1 .title,
  .section-1 .description {
    margin-bottom: 56px;
  }

  .section-1 .description {
    max-width: 436px;
  }

  .section-1 .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 600px;
    padding-top: 100px;
    padding-bottom: 30px
  }

  .section-1 .text-block {
    max-width: 620px;
    margin-right: 0;
    padding-top: 79px;
    letter-spacing: .1px;
    width: 100%;
  }

  .section-1 .title {
    margin-bottom: 2px;
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 20px;
  }

  .section-1 .description {
    margin-bottom: 2px;
    font-size: 32px;
    line-height: 25px;
  }

  .section-1 .description {
    max-width: 436px;
    font-size: 18px;
    padding-bottom: 15px;
  }


  .section-1 .button-link {
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
    margin-right: 24px;
    width: 156px;
  }

  .auth__item:first-child {
    padding-right: 15px;
  }

  .auth__link {
    display: block;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 23px;
    position: relative;
  }

}

@media screen and (min-width: 1361px) {
  .section-1 .background {
    background-image: url(./../images/bg_1920.jpg);
    background-size: 1920px 600px;
  }

}

@media screen and (min-width: 1141px) {
  .section-1 .container {
    margin: 0 auto;
    width: 1140px;
    padding-right: 0;
    padding-left: 0;
  }

  .section-1 .calcAddition {
    display: inline;
    font-weight: 400;
    font-size: 16px;
    color: #3D414D;
  }

}

@media screen and (min-width: 668px) and (max-width: 768px) {


  .home .auth {
    padding-right: 22px;
  }

  .auth__item:first-child {
    padding-right: 17px;
  }

  .auth__link {
    display: block;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 9px 22px;
    position: relative;
    height: 40px;
    line-height: 21px;
  }

  .header, .header_inner {
    -ms-flex-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    top: 0;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 65px;
  }

  .section-1 .description {
    margin-bottom: 32px;
    color: #fff;
  }
}

@media screen and (min-width: 921px) and (max-width: 1100px) {
  .section-1 .button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }

  .section-1 .button-link:nth-child(2) {
    margin-right: 0;
  }

  .section-1 .or {
    display: block;
    width: 100%;
    margin: 15px 0;
    text-align: center;
  }

  .section-1 .text-block {
    max-width: 520px;
  }

  .section-1 .button-link:nth-child(2) {
    margin-right: 0
  }

  .section-1 .or {
    display: block;
    width: 100%;
    margin: 15px 0;
    text-align: center
  }

  .section-1 .text-block {
    max-width: 520px
  }

  .section-1 .button-group {
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.section-1 .calculator-theme__white {
  margin-top: 30px;
}
