
/*!* ==========================================================================*/
/* 19. Section - 13 */
/*========================================================================== *!*/

.section-13 {
  position: relative;
  height: 540px;
}

.section-13.writers .background {
  background-image: url("../images/bg_writers.png");
  background-size: cover;
}


.section-13.faq .background {
  background-image: url("../images/gb_faq.png");
  background-size: cover;
}

.section-13.custom-essay .background {
  background-image: url(./../images/custom-essay-bg.png);
  background-size: cover;
}

/// WRITE MY ESSAY



.mfp-img {
  max-height: 880px;
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  padding: 138px 0px;
  margin: 0px auto;
  cursor: -webkit-zoom-out;
}


.section-13.write-my-essay .background {
  background-image: url(../images/write-my-essay.png);
  background-size: cover;
}

.section-13.college .background {
  background: -webkit-linear-gradient(bottom, #F2F5F7, #E1E7EB);
  background: -moz-linear-gradient(bottom, #F2F5F7, #E1E7EB);
}

.section-13.college .title {
  color: #3D414D;
}

.section-13.college .description {
  color: #646A73;
}

/// prices

.section-13.prices .background {
  background-image: url(./../images/bg_prices.png);
  background-size: cover;

}


////

.section-13.privacy .background {
  background-image: url(./../images/bg_prices.png);
  background-size: cover;

}

.section-13.guarantees .background {
  background-image: url(./../images/bg_guarantees.png);
  background-size: cover;

}

.section-13.reviews .background {
  background-image: url(./../images/reviews_essayhelp.png);
  background-size: cover;

}

//// writing help

.section-13.writing-help .background {
  background-image: url(./../images/bg_prices.png);
  background-size: cover;
}

//// write-my-research-paper

.section-13.write-my-research-paper .background {
  background-image: url(./../images/bg_reserch.png);
  background-size: cover;
}


//// buy-an-essay
.section-13.buy-an-essay .background {
  background-image: url(./../images/buy-an-essay.png);
  background-size: cover;
}


.section-13 > .container {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-13 .form-block {
  width: 50%;
  position: relative;
  padding: 92px 0
}

.section-13 .background {
  background-position: 7% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 540px;
  //position: fixed;
  background-attachment: fixed;
  background-image: url(./../images/bg_about_us.png);
  position: absolute;
}

.section-13 .text-block {
  max-width: 620px;
  width: 50%;
  margin-right: 0;
  letter-spacing: .1px;
  position: relative;
  padding-top: 188px;
}

.section-13 .title {
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 40px;
}

.section-13 .description {
  font-weight: 300;
  font-size: 18px;
  color: #BDCEE1;
  letter-spacing: 0px;
  line-height: 26px;
}

.section-13 .calculator-theme__white {
  position: relative;
  margin-top: 90px;
}

@media screen and (max-width: 1360px) {
  .section-13 .background {
    background-size: initial;
  }
}

@media screen and (max-width: 650px) {
  .section-13 > .container {
    display: flex;
    flex-direction: column;
  }
  .section-13 .background {
    height: 950px;
  }
  .section-13 .text-block {
    width: 100%;
    text-align: center;
  }
  .section-14 {
    margin-top: 415px;
  }
}
