
/*!* ==========================================================================*/
/*10. Section-4 */
/*========================================================================== *!*/

.section-4 {
  background-color: #F5F9FC;
  position: relative;
  padding: 50px 0 46px 0;
  background-image: url(../images/newlaptop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-4 .button-group {
  margin: 0 auto;
  text-align: center;
}

.section-4 .button-group > a {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;
}

.section-4 .button-group > a:hover {
  background-color: #0074BC;
  border-color: #0074BC;
  color: #fff;
}

.section-4 .img-block {
  width: 55%;
}

.section-4 .title {
  color: #3D414D;
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 10px;
  display: block;
}

.section-4 .description {
  color: #7A818C;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 14px;
  letter-spacing: 0px;
  line-height: 35px;
}

.section-4 .first-block {
}

.section-4 .item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 30px;

}

.section-4 .block_item-1 > .img-item {
  margin-bottom: -15px;
  min-width: 70px;
}

.section-4 .block_item-2 > .img-item {
  margin-bottom: -15px;
  min-width: 70px;
}

.section-4 .block_item-3 > .img-item {
  margin-bottom: -10px;
  min-width: 70px;
}

.section-4 .block_item-4 > .img-item {
  margin-bottom: -10px;
  min-width: 70px;
}

.section-4 .list {
  display: flex;
  flex-direction: column;
}

.section-4 .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-4 .block_title {
  color: #5C6166;
  font-size: 16px;
  margin: auto 0;
  padding: 10px;
  font-weight: 400;
  text-align: center;
}

.section-4 .img-box {
  width: 941px;
}

.section-4 .img-item {
  padding-right: 25px;
}

.section-4 .h2-item {
  font-weight: 400;
  font-size: 18px;
  color: #1E2E42;
  letter-spacing: 0.2px;
}

.section-4 .p-item {
  font-weight: 300;
  font-size: 14px;
  color: #7A818C;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
}

.section-4 .list .block_content {
  color: #7A818C;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.section-4 .list {
  width: 452px;
  padding: 0;
}

.section-4 .flex-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.section-4 .item:last-child {
  margin-bottom: 0
}

.section-4 .item .landscape {
  height: 140px;
  margin-bottom: 20px;
}

.section-4 .block {
  width: 100%
}

.section-4 .img-item img {
  min-width: 35px;
  width: 44px;
  height: 44px;
}

.section-4 .item .block_icon {
  display: none;
}


@media screen and (max-width: 768px) {
  .section-4 .img-block {
    display: none;
  }
  .section-4 .first-block {
    width: 100%;
    padding: 0;
  }
  .section-4 .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .section-4 .item {
    width: 300px;
    display: flex;
    flex-direction: row;
  }
  .section-4 .img-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 70px;
  }
  .section-4 .h2-item {
    width: 240px;
    //padding-left: 10px;
  }
  .section-4 .p-item {
    width: 358px;
    //padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .section-4 .img-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .section-4 .item {
    display: flex;
    flex-direction: row;
  }
  .section-4 .h2-item {
    //width: 320px;
    text-align: left;
    //padding-left: 20px;
  }
  .section-4 .p-item {
    //padding-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1359px) {
  .section-4 .img-box {
    display: none;
    width: 0;
  }
  .section-4 .first-block {
    padding-left: 0;
  }
  .section-4 .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .section-4 .item {
    width: 45%;
  }

}

@media screen and (max-width: 1360px) {
  .section-4 {
    height: auto;
  }
}

@media screen and (max-width: 1304px) {
  .section-4 .img-block {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: 1359px) {
  .section-4 {
    background-color: #F6F9FC;
    background-image: none;
  }
  .section-4 .img-block {
    width: 0;
  }

}
