
/*!* ==========================================================================*/
/* 14. Section-8 */
/*========================================================================== *!*/

.section-8 {
  position: relative;
  background-color: #fff;
  padding: 60px 0 60px 0;
}

.section-8 .container {
  max-width: 1140px;
  padding: 0;
}

.section-8 .title {
  font-weight: 400;
  font-size: 32px;
  color: #3D414D;
  letter-spacing: 0px;
  line-height: 50px;
  text-align: center;
}

.section-8 .list {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}

.section-8 .item {
  font-size: 16px;
  color: #7A818C;
  letter-spacing: 0px;
  line-height: 26px;
  font-weight: 300;
  width: 554px;
}

@media screen and (max-width: 1180px) {
  .section-8 .item {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .section-8 .list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-8 .item {
    width: 100%;
    margin: 10px 0;
  }
}
@media screen and (max-width: 368px) {
  .section-8 .container {
    width: 90%;
  }
  .section-2 > .container {
    width: 90%;
  }
  .section-4 .text {
    width: 240px;
  }
}
