
/*!* ==========================================================================*/
/* 23. Section - 17 */
/*========================================================================== *!*/

.section-17 {
  background-color: #fff;
  position: relative;
}

.section-17 .text {
  margin: 0 auto;
  width: 765px;
}

.section-17 .title {
  font-weight: 400;
  font-size: 32px;
  color: #3D4D65;
  line-height: 50px;
  text-align: center;
}

.section-17 .description {
  font-weight: 300;
  font-size: 16px;
  color: #3D4D65;
  line-height: 28px;
  padding: 0 0 50px 0;
}

@media screen and (max-width: 768px) {
  .section-17 .text {
    width: 90%;
  }
}
