
/*!* ==========================================================================*/
/*9. Section-3 */
/*========================================================================== *!*/
.section-3 {
  position: relative;
  padding: 45px 0 26px 0;
  background-color: #F6F7F8;
}

.section-3 .title {
  color: #3D414D;
  font-weight: 400;
  text-align: center;
  display: block;
}

.section-3 .title::after {
  width: 70px;
  height: 2px;
  margin: 15px auto 0;
  background-color: #fff;
  content: "";
}

.section-3 .list {
  list-style: none outside none;
  margin: 0;
  padding: 0
}

.section-3 .item {
  text-align: center
}

.section-3 .item__image {
  height: 70px;
  margin-bottom: 20px
}

.section-3 .item__title {
  color: #7A818C;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  display: block;
}

.section-3 .description {
  line-height: 24px;
  color: #7A818C;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 20px;
}

@media screen and (max-width: 920px) {
  .section-3 .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .section-3 .item {
    width: 50%;
    margin-bottom: 20px;
  }

  .section-3 .item__image {
    height: 50px;
  }

  .section-3 .item__title {
    font-size: 14px;
    line-height: 19px;
  }

  .section-3 .item__number {
    color: #54bb53;
  }

  .section-3 .item {
    width: 50%;
    margin-bottom: 20px
  }

  .item.first_item {
    width: 100%;
  }

  .section-3 .item__image {
    height: 50px
  }

  .section-3 .item__title {
    font-size: 14px;
    line-height: 19px
  }

  .section-3 .item__number {
    color: #0082D5;
    margin-right: 5px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
  }

  .section-3 .list {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .section-3 .title {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 35px
  }

  .section-3 .title::after {
    width: 60px;
  }

  .section-3 .title::after {
    width: 60px
  }

  .section-3 .title {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 540px) {
  .section-3 .title {
    font-size: 26px;
    line-height: 36px
  }

  .section-3 .title::after {
    width: 50px;
  }

  .section-3 .item__title {
    font-size: 14px;
    line-height: 19px;
  }

  .section-3 .title::after {
    width: 50px
  }

  .section-3 .item__title {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  .section-3 .title {
    font-size: 24px;
    line-height: 34px;
  }

  .section-3 .description {
    line-height: 24px;
    color: #7A818C;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section-3 .title {
    font-size: 42px
  }

  .section-3 .title {
    font-size: 32px;
    padding-bottom: 26px;
  }

  .section-3 .list {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }


  .item.first_item {
    width: 33%;
  }

  .section-3 .item {
    width: 33%;
    margin-bottom: 20px;
    border-right: solid 2px #E6E6E6;
    padding-top: 34px;
    padding-bottom: 29px;
    margin-left: 2px;
  }

  .item.second_item > li:last-child {
    border: none;

  }

  .section-3 .description {
    line-height: 27px;
    color: #7A818C;
    font-weight: 300;
    font-size: 16px;
    padding-top: 14px;
  }

  .section-3 .item__number {
    color: #0082D5;
    margin-right: 5px;
    font-size: 50px;
    line-height: 38px;
    font-weight: 300;
  }

  .section-3 .item__title {
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
  }

}

@media screen and (min-width: 1200px) {
  .section-3 .description > span {
    width: 50%;
    float: left;
  }

  .section-3 .container {
    width: 1140px;
    margin: 0 auto;
  }

  .section-3 .description > span:last-child {
    padding-left: 30px;
  }

  .button-block {
    text-align: center;
    clear: both;
    padding-top: 20px;
  }

  .button-link {
    display: inline-block;
    width: 156px;
    height: 48px;
    background-color: #0082D5;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    white-space: nowrap;
    font-weight: 400;
  }

}

@media screen and (min-width: 921px) {
  .section-3 {
    padding: 48px 0
  }

  .section-3 .title {
    margin-bottom: 48px;
  }

  .section-3 .list {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 55px;
  }

  .section-3 .title {
    margin-bottom: 48px
  }

  .section-3 .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .section-3 {
    padding: 48px 0px 32px 0;
  }
}
