
///// SECTION-FAQ

.section-faq {
  position: relative;
  padding: 60px 0;

  .container {
    max-width: 1140px;
    padding: 0;

    .list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      width: 1140px;
      margin: 0;

      .item {
        background: #FFFFFF;
        box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.50);
        border-radius: 4px;
        width: 556px;
        height: 150px;
        padding: 20px;
        margin: 15px 0;

        a {
          text-decoration: none;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
        }

        .title {
          font-weight: 400;
          font-size: 18px;
          color: #3D4D65;
        }
        .text {

        }
        .description {
          font-weight: 300;
          font-size: 16px;
          color: #3D4D65;
          line-height: 24px;
          overflow: hidden;
          width: 496px;
          height: 71px;
        }
        img {
          width: 7px;
          margin-top: 35px;
          margin-left: 10px;
        }

      }
    }
  }
}

.section-faq .container .list .item:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.50);
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .section-faq {

    .container {
      width: 100%;
      padding: 0 15px;

      .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    }
  }
}

@media screen and (max-width: 560px) {
  .section-faq {
    .container {
      .list {
        width: 100%;

        .item {
          width: 100%;
          height: 165px;

          .description {
            width: 100%
          }
        }
      }
    }
  }
}

@media screen and (min-width: 560px) and (max-width: 600px) {
  .section-faq .container .list .item {
    width: 100%;
  }
}
