
/*!* ==========================================================================*/
/* 18. Section - 12 */
/*========================================================================== *!*/

.section-12 {
  background-color: #fff;
}

.section-12 .text {
  //width: 750px;
  width: 55%;
  text-align: left;
  padding: 60px 0;
  margin: 0 auto;
}

.text p {
  font-weight: 300;
  font-size: 16px;
  color: #3D414D;
  line-height: 28px;
}

.text .bold-text {
  font-weight: 300;
  font-size: 22px;
  color: #3D414D;
  line-height: 38px;
}

@media screen and (max-width: 920px) {
  .section-12 .text {
    width: 100%;
  }
}
