@import "../../../../common";

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: auto;
}

.mdl-layout__container {
  position: static;

  .wrapper {
    position: relative;
    width: 100%;
  }
}

.mdl-layout__container.notmain {
  padding-bottom: 60px;
}

#header {

  .image-logoNav {
    margin-top: -2px;
    width: 121px;
    background-repeat: no-repeat !important;
    background-size: 180px 37px !important;
  }

  @media screen and (max-width: 1150px) {
    .image-logoNav {
      vertical-align: middle;
    }
  }

  .logo_hidden {
    display: none !important;
  }

  .header_inner {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    -webkit-align-items: center;

    .header__left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .nav {
        width: 100%;

        &__list {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding-left: 20px;
          //max-width: 574px;

          .nav_mobile-item {
            padding: 0 5px;
            flex: 0 0 auto;

            .nav__link {
              font-weight: $weight;
              font-size: 15px;
              text-decoration: none;
              color: $primary-color;
              padding: 10px;
            }
            .nav__link:active, .nav__link:focus, .nav__link:hover {
              font-size: 15px;
              color: #9596A3;
              cursor: $cursor;
            }
          }
        }
      }
    }
    .header__right {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      max-width: 200px;

      @media screen and (max-width: 1150px) {
        align-items: center;
      }

      .auth {
        width: 100%;

        @media screen and (max-width: 1150px) {
          height: 60px;
          display: flex;
        }

        .auth__list {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: $zero;
          @media screen and (max-width: 1150px) {
            align-items: center;
          }
          .auth__item
            //padding: 0 12px;
          .auth__link {
            font-weight: $weight;
            font-size: 15px;
            color: $primary-color;
            text-decoration: none;

          }
          .auth__sign-up {
            background: #216EBE;
            border-radius: 6px;
            color: $primary-color;
            padding: 10px 20px;
          }
          .auth__sign-up:hover, .auth__sign-up:focus {
            background-color: #0082d5;
            border-color: #0082d5;
            color: $primary-color;
            cursor: $cursor;
          }
        }
      }
    }
  }

}

.header__not-fixed {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  height: 60px;
  position: absolute;
  z-index: 2000;

  .auth__sign-in:hover {
    color: #9596A3 !important;
  }

}

.header__white {
  height: 60px;
  padding: 0;
  position: fixed;
  z-index: 2000;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);

  .header_inner {
    padding-top: 0 !important;
  }

  .auth__sign-in {
    background-color: #fff !important;
    border-color: #fff !important;
    border-radius: 3px !important;
    color: #000 !important;
  }

  .auth__sign-in:hover {
    color: #0082D5 !important;
  }

  .nav__link {
    font-weight: 400;
    font-size: 16px;
    color: #3d414d !important;
    letter-spacing: 0;
  }

}

.auth__item {
  flex: 0 0 auto;
}

.auth__item:first-child {
  padding: 0 5px;
}

.icon.nav_mob-i {
  width: 23px;
  background-size: 22px 22px;
  height: 60px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: 0 50%;
  vertical-align: middle;

  //margin: -12px;
}

.icon.nav_mob-i.onOpen_i {
  background-image: url(../../../images/header/menu.svg);
}

.header__white .icon.nav_mob-i.onOpen_i {
  background-image: url(../../../images/header/open_black.svg);
}

.icon.nav_mob-i.onClose_i {
  background-image: url(../../../images/header/close.svg);
  background-size: initial;
}

.icon.nav_mob-i.onOpen_i:hover,
.icon.nav_mob-i.onClose_i:hover {
  cursor: pointer;
}

.show-nav .nav_mobile-item .mobile {
  color: $primary-color !important;
}

//// FOR MOBILE MENU
#nav-mob {
  width: 320px !important;
  height: 100% !important;
  top: 0px;
  position: fixed;
  background-color: #333640;
  border: 0;
  box-shadow: none;
  min-width: 320px;
  max-height: none;
  left: 0;
  display: none;
  //left: -320px; //откомментировать после стилизации

  .auth__list.mob_menu {
    width: 320px;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none outside none;
  }
  .icon.nav_mob-i.first {
    //background-image: url(./../../images/close.svg);
  }
  .nav_mobile-list {
    list-style: none outside none;
    line-height: 2;
  }

  .nav__link.mobile {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    cursor: $cursor;
  }

  .nav__link.mobile:hover {
    color: #0082d5;
  }
  .auth__item .auth__sign-up:hover {
    background-color: #0082d5;
    border-color: #0082d5;
    color: #fff;
    cursor: pointer;
  }
  .auth__link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: $primary-color;
    cursor: $cursor;

  }
  .auth__item {

    .auth__sign-up {
      background: #0082d5;
      border-radius: 0;
      letter-spacing: 0;
      text-align: center;
      line-height: 2;
      padding: 15px 34px;
    }
    .auth__sign-in {
      background: #3d414c;
      border: 0;
      border-radius: 0;
      padding: 15px 45px;
      margin-right: 20px;
    }

  }
  .auth__item.item2 {
    margin-left: 6px;
  }
  .auth__item.item1 {
    margin-left: 15px;
  }
}

.show-nav {
  //left: 0 !important;
  display: block !important;
}
.header__white .mdl-menu__container {
  top: 40px !important;
}
.mdl-menu__container.is-visible {
  z-index: 999;
  visibility: visible;
}

.auth__sign-in {
  margin-right: 20px;
}

#nav-mob .auth__item .auth__sign-in {
  margin: 0;
  background: #3d414c !important;
  color: white !important;
}

//services dropdown
.nav__dropdown--relative {
  position: relative;
}

header .link.ga-event .arrow-down.scrollTop {
  background: url(../../../images/header/dropdown_triangle.svg) no-repeat;
  background-size: 12px 7px;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 12px;
  height: 7px;
}

header .link.ga-event .arrow-down.scrollBot {
  background: url(../../../images/header/triangleblack.svg) no-repeat;
  background-size: 12px 7px;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 12px;
  height: 7px;
}

header .link.ga-event:hover .arrow-down {
  background: url(../../../images/header/Triangle-1.svg) no-repeat;
  background-size: 12px 7px;
}

header.header__white .link.ga-event .arrow-down {
  background: url(../../../images/header/triangleblack.svg) no-repeat;
  background-size: 12px 7px;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 12px;
  height: 7px;
}

.header__white .link.ga-event:hover .arrow-down {
  background: url(../../../images/header/dropdown_triangle-hover.svg) no-repeat;
  background-size: 12px 7px;
}

.Menu.child, header .child.list {
  display: block;
  background-color: #3d414d;
  border: 1px solid #3d414d;
  border-radius: 5px !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
  width: auto;
  padding: 5px 0 0;
}

.Menu.child .link, header .child.list .link {
  display: block;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  color: #fff !important;
  padding: 10px 30px;
  line-height: 20px;
}

.mdl-menu__outline {
  background-color: transparent;
}

.mdl-menu__container.is-visible, .mdl-menu__container.is-animating {
  z-index: 999;
  visibility: visible;
}

.mdl-menu__container.is-animating, .mdl-menu__container.is-visible {
  z-index: 999;
  visibility: visible;
}

.mdl-menu__container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  overflow: visible;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
}

.mdl-menu__container {
  display: block;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
  margin: 0;
  padding: 0;
  border-width: initial;
  border-style: none;
  border-color: initial;
  overflow: visible;
}

.mdl-menu__container.is-visible .mdl-menu__outline {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 999;
}

.mdl-menu__outline.mdl-menu--top-left {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.mdl-menu__outline {
  width: auto !important;
  background-color: transparent;
}

.mdl-menu__outline {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  will-change: transform;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -moz-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -moz-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.mdl-menu__container.is-visible .mdl-menu {
  opacity: 1;
  z-index: 999;
  position: relative;
}

.mdl-menu {
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  min-width: 124px;
  padding: 8px 0;
  margin: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  z-index: -1;
}

.mdl-menu__container.is-visible .mdl-menu__item {
  opacity: 1;
}

.mdl-menu__item {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  margin: 0;
  outline-color: rgb(189, 189, 189);
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  line-height: 48px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  height: auto;
  padding: 0 13px;
  background-color: #fcfcfc;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0;

}

.mdl-menu__container.is-visible .mdl-menu__outline {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 999;
}

.mdl-button--icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal;
}

a, .mdl-accordion, .mdl-button, .mdl-card, .mdl-checkbox, .mdl-dropdown-menu, .mdl-icon-toggle, .mdl-item, .mdl-radio, .mdl-slider, .mdl-switch, .mdl-tabs__tab {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.mdl-menu__outline.mdl-menu--top-left {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.mdl-menu.mdl-menu--top-left {
  top: auto;
  bottom: 0;
}

.mdl-menu {
  padding-bottom: 1px !important;
}

.mdl-menu__container.is-visible .mdl-menu__item {
  opacity: 1;
}
