@media screen and (min-width: 1151px) {
  .icon.nav_mob-i.onOpen_i {
    display: none;
  }

  #header .image-logoNav {
    margin-top: 7px;
  }

  #header.header__white .image-logoNav {
    margin-top: 7px;
  }
}

#header.header__white .nav__link:hover {
  color: #0082D5 !important;
}

@media screen and (max-width: 1250px) {
  #header .header_inner {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media screen and (max-width: 1150px) {
  #header .header_inner .header__left .nav.normal {
    display: none;
  }
  .logo_firstWord {
    margin-left: 15px;
  }
}

@media screen and (max-width: 540px) {
  #header .header_inner .header__right .auth .auth__list .auth__item
  .auth__link {
    font-size: 13px;
    padding: 8px 15px;
  }
  #header .header_inner .header__right .auth__sign-in {
    display: none;
  }
  #header .image-logoNav {
    max-width: 110px;
  }

}

@media screen and (max-width: 400px) {
  #nav-mob {
    width: 296px !important;
    min-width: 296px;
  }
}
@media screen and (min-width: 400px) {
  #nav-mob {
    width: 305px !important;
    min-width: 305px;
  }
}
