<section class="section-8">
  <div class="container">
    <div class="section-block">
      <h2 class="es-section-heading">Top Essay Writers</h2>
      <div class="section-content block-writers">
        <ul id="writers-list" class="writers-list"></ul>
      </div>
      <div class="es-section__button-block">
        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>custom-essay-writers.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="button-outline__primary pill button-for__link ga-event" data-ga-category="home" data-ga-action="click" data-ga-label="home-section-8 Writers click">
          <span class="button-text">Show Them All!</span>
        </a>
      </div>
    </div>
  </div>
</section>
