<section class="es-section es-section-6">
  <div class="container">
    <h2 class="es-section-heading">Features</h2>
    <ul class="es-section__list">
      <li class="es-section__item">
        <p class="title">Any Deadline. Any Subject.</p>
        <p class="description">Our experts will complete your assignment within a tight timeframe.</p>
      </li>
      <li class="es-section__item">
        <p class="title">Email and SMS notifications</p>
        <p class="description">Stay informed about order and service updates, new messages, uploaded files, etc.</p>
      </li>
      <li class="es-section__item">
        <p class="title">Detailed writers profiles</p>
        <p class="description">See writer’s rates, reviews, number of completed papers and completion rates.</p>
      </li>
      <li class="es-section__item">
        <p class="title">Online chat with writers</p>
        <p class="description">Talk to your expert online, discuss your paper, ask additional questions.</p>
      </li>
      <li class="es-section__item">
        <p class="title">Plagiarism free</p>
        <p class="description">Our service has a very strict plagiarism policy. Our experts write custom essays from scratch only.</p>
      </li>
      <li class="es-section__item">
        <p class="title">Affordable prices</p>
        <p class="description">Average price per page for essay writing is $9.50. You will choose comfortable price among writers’ offers.</p>
      </li>
    </ul>
  </div>
</section>
