<section class="es-section es-section-7">
  <div class="container">
    <h2 class="es-section-heading">People Trust Us</h2>
    <div class="es-section-block">
      <div class="first-block"></div>
      <div class="second-block">
        <h3 class="es-section__title">People Trust Us</h3>
        <p class="es-section__description">15+ years of experience in custom writing and focus on quality makes us the best essay writing service on the market. We help thousands of students every year who often become our satisfied customers and fans.</p>
        <p class="es-section__link-block">
          <a href="https://www.facebook.com/essayprocom/" target="_blank" class="facebook-link">EssayPro.com on Facebook</a>
        </p>
      </div>
    </div>
  </div>
</section>
