<section class="es-section es-section-11">
  <div class="container">
    <h2 class="es-section-heading">Get Started Now</h2>
  </div>
  <div class="calculator-type__minimal calculator-theme__light">
    <div class="calculator">
      <form method="get" action="<%= data.htmlWebpackPlugin.options.app_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>">
        <input type="hidden" name="tap_s" value="<%= data.htmlWebpackPlugin.options.tap_s %>" />
        <div class="calculator__content">

          <div class="calculator__first-block">
            <div class="calculator__form-row">
              <div class="calculator__form-field">

                <div class="dropdown">
                  <button id="service_selected" type="button" class="calculator__form-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="selected-value">Writing</span>
                    <span class="placeholder">Service</span>
                    <span class="calculator__form-select-arrow"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="service_selected">
                    <ul class="dropdown-menu__list">
                      <li class="dropdown-menu__item" data-calc-value="1">Writing</li>
                      <li class="dropdown-menu__item" data-calc-value="2">Rewriting</li>
                      <li class="dropdown-menu__item" data-calc-value="3">Editing</li>
                    </ul>
                  </div>
                </div>

                <div class="select">
                  <select name="order_service" id="service" class="calculator__form-select">
                    <option value="1" selected="selected">Writing</option>
                    <option value="2">Rewriting</option>
                    <option value="3">Editing</option>
                  </select>
                  <span class="calculator__form-select-arrow"></span>
                </div>

              </div>
            </div>
            <div class="calculator__form-row">
              <div class="calculator__form-field">

                <div class="dropdown">
                  <button id="type_selected" type="button" class="calculator__form-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="selected-value">2 weeks</span>
                    <span class="placeholder">Deadline</span>
                    <span class="calculator__form-select-arrow"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="type_selected">
                    <ul class="dropdown-menu__list">
                      <li class="dropdown-menu__item" data-calc-value="0">6 hours</li>
                      <li class="dropdown-menu__item" data-calc-value="6">12 hours</li>
                      <li class="dropdown-menu__item" data-calc-value="12">1 day</li>
                      <li class="dropdown-menu__item" data-calc-value="24" >2 days</li>
                      <li class="dropdown-menu__item" data-calc-value="48">3 days</li>
                      <li class="dropdown-menu__item" data-calc-value="72">5 days</li>
                      <li class="dropdown-menu__item" data-calc-value="120">7 days</li>
                      <li class="dropdown-menu__item" data-calc-value="168">10 days</li>
                      <li class="dropdown-menu__item" data-calc-value="336">2 weeks</li>
                      <li class="dropdown-menu__item" data-calc-value="720">1 month</li>
                      <li class="dropdown-menu__item" data-calc-value="1440">2 months</li>
                    </ul>
                  </div>
                </div>

                <div class="select">
                  <select name="order_deadline" id="deadline" class="calculator__form-select">
                    <option value="0">6 hours</option>
                    <option value="6">12 hours</option>
                    <option value="12">1 day</option>
                    <option value="24" >2 days</option>
                    <option value="48">3 days</option>
                    <option value="72">5 days</option>
                    <option value="120">7 days</option>
                    <option value="168">10 days</option>
                    <option value="336" selected="selected">2 weeks</option>
                    <option value="720">1 month</option>
                    <option value="1440">2 months</option>
                  </select>
                  <span class="calculator__form-select-arrow"></span>
                </div>

              </div>
            </div>
            <div class="calculator__form-row">
              <div class="calculator__form-field-group">
                <div class="calculator__form-field">
                  <button id="pages_decrement" type="button" class="calculator__form-button__select-decrement"></button>
                </div>
                <div class="calculator__form-field">

                  <div class="dropdown dropdown-half">
                    <button id="pages_selected" type="button" class="calculator__form-dropdown-half" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="selected-value">1 page</span>
                      <span class="placeholder">Pages</span>
                      <span class="calculator__form-select-arrow"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="pages_selected">
                      <ul class="dropdown-menu__list">
                        <li class="dropdown-menu__item" data-calc-value="1">1 page</li>
                        <li class="dropdown-menu__item" data-calc-value="2">2 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="3">3 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="4">4 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="5">5 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="6">6 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="7">7 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="8">8 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="9">9 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="10">10 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="11">11 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="12">12 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="13">13 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="14">14 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="15">15 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="16">16 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="17">17 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="18">18 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="19">19 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="20">20 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="21">21 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="22">22 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="23">23 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="24">24 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="25">25 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="26">26 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="27">27 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="28">28 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="29">29 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="30">30 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="31">31 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="32">32 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="33">33 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="34">34 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="35">35 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="36">36 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="37">37 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="38">38 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="39">39 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="40">40 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="41">41 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="42">42 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="43">43 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="44">44 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="45">45 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="46">46 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="47">47 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="48">48 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="49">49 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="50">50 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="51">51 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="52">52 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="53">53 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="54">54 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="55">55 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="56">56 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="57">57 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="58">58 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="59">59 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="60">60 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="61">61 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="62">62 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="63">63 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="64">64 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="65">65 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="66">66 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="67">67 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="68">68 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="69">69 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="70">70 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="71">71 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="72">72 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="73">73 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="74">74 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="75">75 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="76">76 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="77">77 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="78">78 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="79">79 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="80">80 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="81">81 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="82">82 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="83">83 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="84">84 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="85">85 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="86">86 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="87">87 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="88">88 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="89">89 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="90">90 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="91">91 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="92">92 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="93">93 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="94">94 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="95">95 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="96">96 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="97">97 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="98">98 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="99">99 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="100">100 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="101">101 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="102">102 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="103">103 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="104">104 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="105">105 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="106">106 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="107">107 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="108">108 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="109">109 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="110">110 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="111">111 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="112">112 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="113">113 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="114">114 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="115">115 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="116">116 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="117">117 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="118">118 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="119">119 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="120">120 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="121">121 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="122">122 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="123">123 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="124">124 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="125">125 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="126">126 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="127">127 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="128">128 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="129">129 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="130">130 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="131">131 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="132">132 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="133">133 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="134">134 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="135">135 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="136">136 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="137">137 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="138">138 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="139">139 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="140">140 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="141">141 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="142">142 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="143">143 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="144">144 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="145">145 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="146">146 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="147">147 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="148">148 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="149">149 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="150">150 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="151">151 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="152">152 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="153">153 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="154">154 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="155">155 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="156">156 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="157">157 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="158">158 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="159">159 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="160">160 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="161">161 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="162">162 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="163">163 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="164">164 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="165">165 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="166">166 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="167">167 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="168">168 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="169">169 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="170">170 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="171">171 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="172">172 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="173">173 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="174">174 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="175">175 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="176">176 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="177">177 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="178">178 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="179">179 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="180">180 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="181">181 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="182">182 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="183">183 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="184">184 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="185">185 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="186">186 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="187">187 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="188">188 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="189">189 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="190">190 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="191">191 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="192">192 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="193">193 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="194">194 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="195">195 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="196">196 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="197">197 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="198">198 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="199">199 pages</li>
                        <li class="dropdown-menu__item" data-calc-value="200">200 pages</li>
                      </ul>
                    </div>
                  </div>

                  <div class="select">
                    <select name="order_pages" id="pages" class="calculator__form-select-half">
                      <option value="1" selected="selected">1 page</option>
                      <option value="2">2 pages</option>
                      <option value="3">3 pages</option>
                      <option value="4">4 pages</option>
                      <option value="5">5 pages</option>
                      <option value="6">6 pages</option>
                      <option value="7">7 pages</option>
                      <option value="8">8 pages</option>
                      <option value="9">9 pages</option>
                      <option value="10">10 pages</option>
                      <option value="11">11 pages</option>
                      <option value="12">12 pages</option>
                      <option value="13">13 pages</option>
                      <option value="14">14 pages</option>
                      <option value="15">15 pages</option>
                      <option value="16">16 pages</option>
                      <option value="17">17 pages</option>
                      <option value="18">18 pages</option>
                      <option value="19">19 pages</option>
                      <option value="20">20 pages</option>
                      <option value="21">21 pages</option>
                      <option value="22">22 pages</option>
                      <option value="23">23 pages</option>
                      <option value="24">24 pages</option>
                      <option value="25">25 pages</option>
                      <option value="26">26 pages</option>
                      <option value="27">27 pages</option>
                      <option value="28">28 pages</option>
                      <option value="29">29 pages</option>
                      <option value="30">30 pages</option>
                      <option value="31">31 pages</option>
                      <option value="32">32 pages</option>
                      <option value="33">33 pages</option>
                      <option value="34">34 pages</option>
                      <option value="35">35 pages</option>
                      <option value="36">36 pages</option>
                      <option value="37">37 pages</option>
                      <option value="38">38 pages</option>
                      <option value="39">39 pages</option>
                      <option value="40">40 pages</option>
                      <option value="41">41 pages</option>
                      <option value="42">42 pages</option>
                      <option value="43">43 pages</option>
                      <option value="44">44 pages</option>
                      <option value="45">45 pages</option>
                      <option value="46">46 pages</option>
                      <option value="47">47 pages</option>
                      <option value="48">48 pages</option>
                      <option value="49">49 pages</option>
                      <option value="50">50 pages</option>
                      <option value="51">51 pages</option>
                      <option value="52">52 pages</option>
                      <option value="53">53 pages</option>
                      <option value="54">54 pages</option>
                      <option value="55">55 pages</option>
                      <option value="56">56 pages</option>
                      <option value="57">57 pages</option>
                      <option value="58">58 pages</option>
                      <option value="59">59 pages</option>
                      <option value="60">60 pages</option>
                      <option value="61">61 pages</option>
                      <option value="62">62 pages</option>
                      <option value="63">63 pages</option>
                      <option value="64">64 pages</option>
                      <option value="65">65 pages</option>
                      <option value="66">66 pages</option>
                      <option value="67">67 pages</option>
                      <option value="68">68 pages</option>
                      <option value="69">69 pages</option>
                      <option value="70">70 pages</option>
                      <option value="71">71 pages</option>
                      <option value="72">72 pages</option>
                      <option value="73">73 pages</option>
                      <option value="74">74 pages</option>
                      <option value="75">75 pages</option>
                      <option value="76">76 pages</option>
                      <option value="77">77 pages</option>
                      <option value="78">78 pages</option>
                      <option value="79">79 pages</option>
                      <option value="80">80 pages</option>
                      <option value="81">81 pages</option>
                      <option value="82">82 pages</option>
                      <option value="83">83 pages</option>
                      <option value="84">84 pages</option>
                      <option value="85">85 pages</option>
                      <option value="86">86 pages</option>
                      <option value="87">87 pages</option>
                      <option value="88">88 pages</option>
                      <option value="89">89 pages</option>
                      <option value="90">90 pages</option>
                      <option value="91">91 pages</option>
                      <option value="92">92 pages</option>
                      <option value="93">93 pages</option>
                      <option value="94">94 pages</option>
                      <option value="95">95 pages</option>
                      <option value="96">96 pages</option>
                      <option value="97">97 pages</option>
                      <option value="98">98 pages</option>
                      <option value="99">99 pages</option>
                      <option value="100">100 pages</option>
                      <option value="101">101 pages</option>
                      <option value="102">102 pages</option>
                      <option value="103">103 pages</option>
                      <option value="104">104 pages</option>
                      <option value="105">105 pages</option>
                      <option value="106">106 pages</option>
                      <option value="107">107 pages</option>
                      <option value="108">108 pages</option>
                      <option value="109">109 pages</option>
                      <option value="110">110 pages</option>
                      <option value="111">111 pages</option>
                      <option value="112">112 pages</option>
                      <option value="113">113 pages</option>
                      <option value="114">114 pages</option>
                      <option value="115">115 pages</option>
                      <option value="116">116 pages</option>
                      <option value="117">117 pages</option>
                      <option value="118">118 pages</option>
                      <option value="119">119 pages</option>
                      <option value="120">120 pages</option>
                      <option value="121">121 pages</option>
                      <option value="122">122 pages</option>
                      <option value="123">123 pages</option>
                      <option value="124">124 pages</option>
                      <option value="125">125 pages</option>
                      <option value="126">126 pages</option>
                      <option value="127">127 pages</option>
                      <option value="128">128 pages</option>
                      <option value="129">129 pages</option>
                      <option value="130">130 pages</option>
                      <option value="131">131 pages</option>
                      <option value="132">132 pages</option>
                      <option value="133">133 pages</option>
                      <option value="134">134 pages</option>
                      <option value="135">135 pages</option>
                      <option value="136">136 pages</option>
                      <option value="137">137 pages</option>
                      <option value="138">138 pages</option>
                      <option value="139">139 pages</option>
                      <option value="140">140 pages</option>
                      <option value="141">141 pages</option>
                      <option value="142">142 pages</option>
                      <option value="143">143 pages</option>
                      <option value="144">144 pages</option>
                      <option value="145">145 pages</option>
                      <option value="146">146 pages</option>
                      <option value="147">147 pages</option>
                      <option value="148">148 pages</option>
                      <option value="149">149 pages</option>
                      <option value="150">150 pages</option>
                      <option value="151">151 pages</option>
                      <option value="152">152 pages</option>
                      <option value="153">153 pages</option>
                      <option value="154">154 pages</option>
                      <option value="155">155 pages</option>
                      <option value="156">156 pages</option>
                      <option value="157">157 pages</option>
                      <option value="158">158 pages</option>
                      <option value="159">159 pages</option>
                      <option value="160">160 pages</option>
                      <option value="161">161 pages</option>
                      <option value="162">162 pages</option>
                      <option value="163">163 pages</option>
                      <option value="164">164 pages</option>
                      <option value="165">165 pages</option>
                      <option value="166">166 pages</option>
                      <option value="167">167 pages</option>
                      <option value="168">168 pages</option>
                      <option value="169">169 pages</option>
                      <option value="170">170 pages</option>
                      <option value="171">171 pages</option>
                      <option value="172">172 pages</option>
                      <option value="173">173 pages</option>
                      <option value="174">174 pages</option>
                      <option value="175">175 pages</option>
                      <option value="176">176 pages</option>
                      <option value="177">177 pages</option>
                      <option value="178">178 pages</option>
                      <option value="179">179 pages</option>
                      <option value="180">180 pages</option>
                      <option value="181">181 pages</option>
                      <option value="182">182 pages</option>
                      <option value="183">183 pages</option>
                      <option value="184">184 pages</option>
                      <option value="185">185 pages</option>
                      <option value="186">186 pages</option>
                      <option value="187">187 pages</option>
                      <option value="188">188 pages</option>
                      <option value="189">189 pages</option>
                      <option value="190">190 pages</option>
                      <option value="191">191 pages</option>
                      <option value="192">192 pages</option>
                      <option value="193">193 pages</option>
                      <option value="194">194 pages</option>
                      <option value="195">195 pages</option>
                      <option value="196">196 pages</option>
                      <option value="197">197 pages</option>
                      <option value="198">198 pages</option>
                      <option value="199">199 pages</option>
                      <option value="200">200 pages</option>
                    </select>
                    <span class="calculator__form-select-arrow"></span>
                  </div>
                </div>
                <div class="calculator__form-field">
                  <button id="pages_increment" type="button" class="calculator__form-button__select-increment"></button>
                </div>
              </div>
            </div>
          </div>

          <div class="calculator__second-block">
            <div class="calculator__button-block">
              <button type="submit" class="button-filled__primary pill w-full ga-event" data-ga-category="home" data-ga-action="click" data-ga-label="Write My Essay">
                <span class="button-text native">Write My Essay</span>
              </button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
