<section class="es-section es-section-2">
  <div class="container">
    <h2 class="es-section-heading">Need a high-quality custom essay?<br> Let the Pros handle it for you!</h2>
    <div class="es-section-content">
      <p class="es-section__description">Our essay writers will gladly help you with:</p>
      <div class="es-section__list-columns" itemscope itemtype="http://schema.org/Service">
        <ul class="es-section__list">
          <li class="es-section__item" itemprop="name"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>">Custom Essay</a> (any type)</li>
          <li class="es-section__item" itemprop="name">Admission Essay</li>
          <li class="es-section__item" itemprop="name">Annotated Bibliography</li>
          <li class="es-section__item" itemprop="name">Article Review</li>
          <li class="es-section__item" itemprop="name">Book / Movie Review</li>
          <li class="es-section__item" itemprop="name">Business Plan</li>
          <li class="es-section__item" itemprop="name">Case Study</li>
          <li class="es-section__item" itemprop="name">Coursework</li>
          <li class="es-section__item" itemprop="name">Creative Writing</li>
          <li class="es-section__item" itemprop="name">Critical Thinking / Review</li>
          <li class="es-section__item" itemprop="name">Literature Review</li>
          <li class="es-section__item" itemprop="name">Multiple Choice Questions</li>
          <li class="es-section__item" itemprop="name">Presentation or Speech</li>
          <li class="es-section__item" itemprop="name">Reflective Writing</li>
          <li class="es-section__item" itemprop="name">Report</li>
          <li class="es-section__item" itemprop="name"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>research-paper.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>">Research Paper</a></li>
          <li class="es-section__item" itemprop="name">Research Proposal</li>
          <li class="es-section__item" itemprop="name"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>term-paper.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>">Term Paper</a></li>
          <li class="es-section__item" itemprop="name">Thesis / <a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>dissertation-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>">Dissertation</a></li>
          <li class="es-section__item" itemprop="name">Editing and proofreading</li>
        </ul>
      </div>
    </div>
    <div class="es-section__button-block">
      <a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="button-filled__primary pill button-for__link ga-event" data-ga-category="home" data-ga-action="click" data-ga-label="CLICK FOR INSTANT HELP!">
        <span class="button-text">Click for Instant Help!</span>
      </a>
    </div>
  </div>
</section>
