<section class="section-1 theme__dark">
    <div class="container">
        <div class="flex-block">
            <div class="section-block">
                <h1 class="section-heading">Custom Essay Writing Service</h1>
                <p class="section-text">We'll make the grade</p>
                <div class="es-section__button-group">
                    <a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.app_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                       class="button-filled__primary pill button-for__link ga-event" data-ga-category="home"
                       data-ga-action="click" data-ga-label="Write My Essay!">
                        <span class="button-text native">Write My Essay!</span>
                    </a>
                    <a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.app_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                       class="button-filled__warning pill button-for__link ga-event" data-ga-category="home"
                       data-ga-action="click" data-ga-label="Find Your Writer!">
                        <span class="button-text native">Find Your Writer!</span>
                    </a>
                </div>
            </div>
            <div class="calculator-type__vertical calculator-theme__dark calculator-for__home">
                <%= require('../calc/calc.ejs')({
                    htmlWebpackPlugin: data.htmlWebpackPlugin,
                    locale: data.locale,
                    locale_link: data.locale_link
                }) %>
            </div>
        </div>
    </div>
    <div class="section-bottom-block">
        <div class="section-heading">No more sleepless nights…</div>
        <div class="section-heading-small">100% Plagiarism Free Work.
            <span class="only-desktop">Any Topic or Difficulty can be Handled!</span>
        </div>
    </div>
</section>
