<section class="es-section es-section-3">
  <div class="container">
    <h2 class="es-section-heading">Custom essay writers for hire</h2>
    <div class="es-section-content">
      <p class="es-section__description">We employ the best writers on the market. Their rating is based on customer reviews and rates. Our writers produce original high quality papers on any topic even with the tightest deadlines.</p>
      <div class="es-section__image-block">
        <a href="<%= require('./images/sections/es_section_3__desktop@2x.png') %>" class="with-popup">
          <img src="<%= require('./images/sections/es_section_3__desktop.png') %>" data-rjs="<%= require('./images/sections/es_section_3__desktop@2x.png') %>" class="es-section__image es-section__image-landscape" alt="">
        </a>
        <a href="<%= require('./images/sections/es_section_3__mobile@2x.png') %>" class="with-popup">
          <img src="<%= require('./images/sections/es_section_3__mobile.png') %>" data-rjs="<%= require('./images/sections/es_section_3__mobile@2x.png') %>" class="es-section__image es-section__image-mobile" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
