<section class="es-section es-section-5">
  <div class="container">
    <div class="es-section-content">
      <h2 class="es-section__title">Can you write my essay the way I need it?</h2>
      <p class="es-section__description">Yes, we can. Our writers have vast experience in custom essay writing and are able to work under pressure within a limited timeframe. You may upload samples of your papers and our experts will write your essay using your style of writing. Join us and study smart.</p>
      <p class="es-section__button-block">
        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>essay-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="button-filled__warning pill button-for__link ga-event" data-ga-category="home" data-ga-action="click" data-ga-label="home-body-1 CanYouWriteEssay click">
          <span class="button-text">Transform Your Grade!</span>
        </a>
      </p>
    </div>
  </div>
</section>
