<section class="es-section es-section-10">
  <div class="container">
    <h2 class="es-section-heading">As Seen On</h2>
    <ul class="es-section__list">
      <li class="es-section__item">
        <img src="<%= require('./images/brands/brand_01.png') %>" data-rjs="<%= require('./images/brands/brand_01@2x.png') %>" class="brand-logo" alt="Lifehack">
      </li>
      <li class="es-section__item">
        <img src="<%= require('./images/brands/brand_02.png') %>" data-rjs="<%= require('./images/brands/brand_02@2x.png') %>" class="brand-logo" alt="The Huffington Post">
      </li>
      <li class="es-section__item">
        <img src="<%= require('./images/brands/brand_03.png') %>" data-rjs="<%= require('./images/brands/brand_03@2x.png') %>" class="brand-logo" alt="Blogher">
      </li>
      <li class="es-section__item">
        <img src="<%= require('./images/brands/brand_04.png') %>" data-rjs="<%= require('./images/brands/brand_04@2x.png') %>" class="brand-logo" alt="Mashable">
      </li>
      <li class="es-section__item">
        <img src="<%= require('./images/brands/brand_05.png') %>" data-rjs="<%= require('./images/brands/brand_05@2x.png') %>" class="brand-logo" alt="BuzzFeed">
      </li>
      <li class="es-section__item">
        <img src="<%= require('./images/brands/brand_06.png') %>" data-rjs="<%= require('./images/brands/brand_06@2x.png') %>" class="brand-logo" alt="Techco">
      </li>
    </ul>
  </div>
</section>
