<section class="es-section es-section-4">
  <div class="container">
    <h2 class="es-section-heading">Essay Help in 3 simple steps</h2>
    <div class="es-section-content">

      <div class="es-section__tabs">
        <div class="es-section__tabs-heading">

          <div id="th-1" class="es-section__tab-heading">
            <div class="left-block">
              <i class="icon icon__order"></i>
            </div>
            <div class="right-block">
              <div class="title">Submit an order</div>
              <p class="description">Fill in your paper requirements and place an order. You will receive price offers from our experts within 5 mins.</p>
            </div>
          </div>

          <div id="th-2" class="es-section__tab-heading">
            <div class="left-block">
              <i class="icon icon__writer"></i>
            </div>
            <div class="right-block">
              <div class="title">Pick the writer</div>
              <p class="description">Choose the best writer by price, rating and customer reviews. Deposit the agreed amount and your writer will begin working.</p>
            </div>
          </div>

          <div id="th-3" class="es-section__tab-heading">
            <div class="left-block">
              <i class="icon icon__essay"></i>
            </div>
            <div class="right-block">
              <div class="title">Download your paper</div>
              <p class="description">Download your 100% original custom essay and pay your writer online.</p>
            </div>
          </div>

        </div>
        <div class="es-section__tabs-panel">

          <div id="tp-1" class="es-section__tab-panel">
            <a href="<%= require('./images/sections/es_section_4__tp_1@2x.png') %>" class="with-popup">
              <img src="<%= require('./images/sections/es_section_4__tp_1.png') %>" data-rjs="<%= require('./images/sections/es_section_4__tp_1@2x.png') %>" class="tab-panel__image" alt="Place Free Order">
            </a>
          </div>

          <div id="tp-2" class="es-section__tab-panel">
            <a href="<%= require('./images/sections/es_section_4__tp_2@2x.png') %>" class="with-popup">
              <img src="<%= require('./images/sections/es_section_4__tp_2.png') %>" data-rjs="<%= require('./images/sections/es_section_4__tp_2@2x.png') %>" class="tab-panel__image" alt="Pick The Writer">
            </a>
          </div>

          <div id="tp-3" class="es-section__tab-panel">
            <a href="<%= require('./images/sections/es_section_4__tp_3@2x.png') %>" class="with-popup">
              <img src="<%= require('./images/sections/es_section_4__tp_3.png') %>" data-rjs="<%= require('./images/sections/es_section_4__tp_3@2x.png') %>" class="tab-panel__image" alt="Download the completed essay">
            </a>
          </div>

        </div>
      </div>

    </div>
    <div class="es-section__button-block">
      <a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>order-custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="button-filled__primary pill button-for__link ga-event" title="How to Order a Custom Essay" data-ga-category="home" data-ga-action="click" data-ga-label="home-body-5 Learn more click">
        <span class="button-text">Let's Break It Down!</span>
      </a>
    </div>
  </div>
</section>
