<section class="section-9">
  <div class="container">
    <div class="section-block">
      <div class="section-block--heading" id="feedbacksHeading">
        <div class="es-section__block--heading">
          <h2 class="es-section-heading">Customer Reviews</h2>
        </div>
      </div>
      <div class="section-content block-feedbacks">
        <ul id="feedbacks-list" class="list-reviews"></ul>
      </div>
      <div class="es-section__button-block">
        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %><%- data.locale_link %>custom-essay-writing-reviews.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="button-outline__primary pill button-for__link ga-event" data-ga-category="home" data-ga-action="click" data-ga-label="home-footer-1 Reviews click">
          <span class="button-text">In Case This Isn't Enough...</span>
        </a>
      </div>
    </div>
  </div>
</section>
