

@media screen
and (max-width: 540px) {

	.calculator {

    & {
      box-shadow: 0 1px 14px 0 rgba(0, 0, 0, .1);
      //margin: 45px auto 30px;
    }

  }/*

		&__header {
			padding: 16px 16px 0;
		}

		&__content {
			padding: 16px;
		}

		&__result {
			font-size: 16px;
			margin-bottom: 16px;
			text-align: center;
		}

		&__form-row {

			& {
				flex-wrap: wrap;
				margin-bottom: 16px;
			}

			& > .calculator__form-field {
				width: 100%;
			}

		}

		&__form-label,
		&__form-field-group,
		&__form-select,
		&__form-select-half {
			width: 100%;
			max-width: none;
		}

		&__form-field-group {
			justify-content: space-between;

			.calculator__form-field {

				&:nth-child(1),
				&:nth-child(3) {
					flex-shrink: 1;
				}

				&:nth-child(2) {
					flex-grow: 5;
				}

			}

		}

		&__form-label {
			font-size: 14px;
			line-height: 19px;
			margin-bottom: 7px;
		}

		&__footer {
			flex-wrap: wrap;
			padding: 0 16px 16px;
			width: 100%;
		}

		&__result,
		&__button {
			width: 100%;

			&-block {
				width: 100%;
			}

		}

	}*/

}
