@import "../../../../../../common";

.calculator {

	& {
		background-color: #fff;
    border: none;
		border-radius: 5px;
    //width: 235px;
    text-align: left;
	}

	//&__header {
	//	padding: 7px 15px 0;
	//}

	&__title {
		color: $primary-gray;
		font-size: 20px;
		font-weight: 500;
		line-height: 36px;
		margin-bottom: 0;
	}

	&__content {
		//padding: 16px 15px;
	}

	&__form-row {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	&__form-label {
		width: 100%;
		max-width: 103px;
		margin-right: 10px;

		color: #5c6166;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
	}

	&__form-field {
		position: relative;

		&-group {
			display: inline-flex;
			justify-content: flex-end;
			align-items: center;
		}

	}

	&__form-select {
		position: relative;
		width: 205px;
		height: 45px;
		padding: 0 35px 0 16px;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: #fff;
    border: 1px solid #d9d9d9;
		border-radius: 5px;
		color: #8a9099;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		outline: none;

		&:hover,
		&:focus {
			-moz-outline-style: none;
			z-index: 20;
		}

		&:hover {
			border-color: #979797;
		}

		&:focus {
			border-color: #979797;
		}

	}

	&__form-select-half {
		@extend .calculator__form-select;
		width: 107px;
		border-radius: 0;
    padding: 0 20px 0 10px;
	}

	&__form-select-arrow {
		width: 7px;
		height: 7px;
		position: absolute;
		top: 50%;
		right: 15px;
		z-index: 20;
		margin-top: -3px;
		background: url(./assets/select_arrow.svg) no-repeat 50% 50%;
		background-size: 7px 6px;
	}

	&__form-button__select {
		display: block;
		position: relative;
		width: 50px;
		height: 45px;
		padding: 0;

    background-color: rgba(41, 45, 51, 1);
    //border: 1px solid #42464D;

		&:hover,
		&:focus {
			z-index: 20;
		}

		&:hover {
			border-color: #979797;
		}

		&:focus {
			border-color: #44a1eb;
		}

		&-decrement,
		&-increment {
			@extend .calculator__form-button__select;
      background-color: #fff;
			background-position: 50% 50%;
			background-repeat: no-repeat;
      border: 1px solid #d9d9d9;
		}

		&-decrement {
			background-image: url(./assets/decrement_gray.svg);
			background-size: 12px 2px;
			border-radius: 5px 0 0 5px;
			margin-right: -1px;
		}

		&-increment {
			background-image: url(./assets/increment_gray.svg);
			background-size: 12px 12px;
			border-radius: 0 5px 5px 0;
			margin-left: -1px;
		}

	}

	&__footer {
		display: flex;
		flex-direction: column;
		//align-items: center;


		border-radius: 5px;
		padding: 0 15px 15px 15px;
	}

	&__result-block {
    text-align: left;
  }

	&__result {
		color: #0076c1;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
    margin-bottom: 12px;
	}

	&__result-title {
    display: inline-block;
	}

	&__result-value {
    color: #0076c1;
    font-weight: 500;
  }

	&__button-block {}

	&__button {
		width: 100%;
		height: 45px;
		padding: 0 24px;

		background-color: #0282d5;
		border: 1px solid transparent;
		border-radius: 5px;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		white-space: nowrap;

		&:hover,
		&:focus {
			background-color: #30baff;
		}

	}

}
