@import './var.scss';

.subnav {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 300;

  width: 100%;
  height: 100%;

  list-style: none outside none;
  margin: 0;
  padding: 10px 0;

  background-color: #374355;
  transition: all .3s ease;

  &.open {
    left: 0;
  }

}

.subnav-item {
}

.subnav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 20px 10px 46px;

  color: #adb9ca;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  &:hover,
  &:focus {
    color: #fff;
  }

  &.primary {
    color: #ced6e2;

    &:hover,
    &:focus {
      color: #fff;
    }

  }

  &.secondary {
    color: #adb9ca;

    &:hover,
    &:focus {
      color: #fff;
    }

  }

  &.link-back {
    margin-left: -30px;

    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

}

.side-nav__button-left,
.side-nav__button-right {

  &.active {
    background-color: #374355;
  }

}

.side-nav__button-left {

  .icon__menu-close {
    display: none;
  }

  &.active {

    .icon__menu {
      display: none;
    }

    .icon__menu-close {
      display: inline-block;
    }

  }

}

.side-nav__button-right {

  .icon__user-close {
    display: none;
  }

  &.active {

    .icon__user {
      display: none;
    }

    .icon__user-close {
      display: inline-block;
    }

  }

}

.mdl-menu__container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  overflow: visible;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
}

.mdl-menu.is-animating {
  transition: opacity .2s cubic-bezier(.4, 0, .2, 1), clip .3s cubic-bezier(.4, 0, .2, 1)
}

.mdl-menu.mdl-menu--bottom-right {
  left: auto;
  right: 0
}

.mdl-menu__container.is-visible, .mdl-menu__container.is-animating {
  z-index: 999;
  visibility: visible;
}

.mdl-menu__container.is-visible .mdl-menu__outline {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 999;
}

.mdl-menu__outline {
  width: auto !important;
}

.mdl-menu__outline {
  background-color: transparent;
}

.mdl-menu__outline {
  display: block;
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  will-change: transform;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -moz-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -moz-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.mdl-menu__outline {
  background-color: transparent;
}

.mdl-menu__outline {
  width: auto !important;
}

.Menu.child, .header .child.list {
  display: block;
  width: auto;
  background-color: rgba(32, 43, 58, 0.9);
  border: 1px solid #fff;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
  margin-top: 20px;
}

.mdl-menu__container.is-visible .mdl-menu {
  opacity: 1;
  z-index: 999;
}

.mdl-menu {
  padding-bottom: 1px;
}

.mdl-menu {
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  min-width: 124px;
  padding: 8px 0;
  margin: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  z-index: -1;
}

.Menu.child .link, .header .child.list .link {
  display: block;
  padding: 8px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
}

.Menu .link:hover, .header .list .link:hover, .Menu .link:focus, .header .list .link:focus, .Menu .link:active, .header .list .link:active {
  color: #81bbff;
}
