@import '../../../../styles/base/base';

@media only screen
and (max-width: 767px) {


  .page-feedbacks {
    padding-top: 66px;

    .feedbacks-list {
      flex-direction: column;

    }

    .feedbacks-list-item {
      width: 100%;

      &:nth-child(2n+1) {
        padding-right: 0;
        //float: left;
      }

      &:nth-child(2n) {
        padding-left: 0;
      }
    }

  }

}
