@import '../../../../styles/base/base';

@media only screen
and (min-width: 421px) {

  .page-feedbacks {

    /*.feedbacks-list-item {
      display: inline-block;
      vertical-align: top;
      width: 50%;

      &:nth-child(2n+1) {
        padding-right: 10px;
        float: left;
      }

      &:nth-child(2n) {
        padding-left: 10px;
      }
    }*/

  }

}
