@import '../../../../styles/base/base';

.page-feedbacks {



  .feedbacks-list {
    @include list();
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .feedbacks-list-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &:nth-child(2n+1) {
      padding-right: 15px;
      //float: left;
    }

    &:nth-child(2n) {
      padding-left: 15px;
    }

  }

  .comments-container {
    border: 0;
    border-radius: 0;
  }

  .comments-block {
    border-bottom: 0;
    margin-bottom: 25px;
    padding: 0;
    overflow: hidden;
    position: relative;

    .left-block {
      float: left;
    }

    .right-block {
      float: right;
      position: relative;
    }

    .date {
      float: left;
    }
    .comments-body {
      margin-left: 50px;
      overflow: hidden;
    }

    .day {
      color: #54657e;
      font-size: 25px;
      line-height: 33px;
    }
    .month {
      color: #8493a8;
      font-size: 13px;
      line-height: 18px;
    }

    .customer {
      color: #3d4d65;
      float: left;
      font-size: 15px;
      line-height: 20px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .order {
      color: #8493a8;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 5px;
    }
    .comment {
      color: #54657e;
      font-size: 15px;
      font-style: italic;
      font-weight: 300;
      line-height: 25px;
      margin-bottom: 0;
    }

    .rating-bar {
      clear: none;
      float: right;
      margin-top: 2px;
    }

    .rating-value {
      color: #54657e;
      float: left;
      font-size: 20px;
      line-height: 20px;
      margin-right: 8px;
    }
  }

  .rating-bar {
      clear: both;
      position: relative;
      width: 88px;
      height: 15px;
      vertical-align: middle;
  }

  .rating-star {
    background: url(../../../../images/svg/stars.svg) no-repeat 0 0;
    display: inline-block;
    height: 15px;
    position: absolute;
    width: 100%;

    &.active {
      background: url(../../../../images/svg/stars_full.svg) no-repeat 0 0;
      display: inline-block;
      height: 15px;
      position: absolute;
      z-index: 1;
    }
  }

  .comments-footer {

    .button-block {
      text-align: center;
    }

    .button {
      background: #fff;
      border: 1px solid #0082d5;
      border-radius: 20px;
      color: #0082d5;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      outline: 0;
      overflow: hidden;
      padding: 10px 45px;
      position: relative;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: #0082d5;
        color: #fff;

      }

    }
  }

  .comments-block {

    .customer {
      float: none;

      &::after {
        content: ':';
      }

    }

    .left-block {
      float: none;
      margin-bottom: 5px;
    }

    .right-block {
      float: left;
      margin-left: 50px;
    }
    .rating-bar {
      margin-top: 2px;
    }

    .order__wo-mobile {
      display: none;
    }
    .order__only-mobile {
      clear: both;
      display: block;
      padding-top: 10px;
    }

  }

  .writer {
    color: #8493a8;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
  }

  .writer-link {
    color: #3d4d65;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  .status-block {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }
  .status {
    border-radius: 50%;
    display: block;
    width: 6px;
    height: 6px;
    margin-top: 6px;
    margin-left: 3px;

    &.online {
      background-color: #04be5b;
    }

    &.offline {
      background-color: #e0108e;
    }
  }

  .comments-footer {
    margin-bottom: 20px;
  }

}
