@import '../../../../styles/base/base';

@media only screen
and (min-width: 768px)
and (max-width: 920px) {

  .page-feedbacks {

    .comments-block {

      .rating-bar {
        clear: none;
        float: right;
        margin-top: 2px;
      }

      .rating-value {
        float: left;
        font-size: 20px;
        line-height: 20px;
        margin-right: 8px;
      }

    }

  }

}
