.layout__global {
  //padding-top: 60px;

  .container {

    &::before,
    &::after {
      content: "";
      display: table;
    }

  }

}

/*.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}*/
