<% data.headerClass = data.headerClass ? data.headerClass : '' %>
<% data.locale = data.locale ? data.locale : 'us' %>
<% data.locale_link = data.locale != 'us' ? '/' + data.locale + '/' : '/' %>


<!doctype html>
<html class="no-js desktop" lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%- data.title %></title>
    <meta name="description" content="<%- data.description %>">
    <meta name="keywords" content="<%- data.keywords %>">

    <% if (data.robots) { %>
    <meta name="robots" content="<%- data.robots %>">
    <% } %>

    <link rel="canonical" href="<%- data.htmlWebpackPlugin.options.site_url %> <%- data.path %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%- data.title %>">
    <meta name="twitter:site" content="@EssayHub_">
    <meta name="twitter:description" content="<%- data.description %>">
    <meta name="twitter:image"
          content="<%- data.htmlWebpackPlugin.options.site_url %>/shared/images/og/share-image.jpg">

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%- data.htmlWebpackPlugin.options.site_url %>"/>
    <meta property="og:title" content="<%- data.title %>"/>
    <meta property="og:description" content="<%- data.description %>"/>
    <meta property="og:site_name" content="EssayHub.com"/>
    <meta property="og:image"
          content="<%- data.htmlWebpackPlugin.options.site_url %>/shared/images/og/share-image.jpg"/>
    <meta property="og:image:secure_url"
          content="<%- data.htmlWebpackPlugin.options.site_url %>/shared/images/og/share-image.jpg"/>
    <meta property="og:image:type" content="image/jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="628"/>

    <meta property="fb:app_id" content="1377613392528854"/>
    <meta property="fb:admins" content="100001134396007,100000069951593"/>

    <!--<link rel="publisher" href="https://plus.google.com/+Essaypro"/>-->

    <link rel="apple-touch-icon" sizes="57x57" href="/shared/images/icons/apple-icon-57x5757x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/shared/images/icons/apple-icon-57x5760x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/shared/images/icons/apple-icon-57x5772x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/shared/images/icons/apple-icon-57x5776x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/shared/images/icons/apple-icon-57x57114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/shared/images/icons/apple-icon-57x57120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/shared/images/icons/apple-icon-57x57144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/shared/images/icons/apple-icon-57x57152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/shared/images/icons/apple-icon-57x57180x180.png">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/shared/images/icons/android-icon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/shared/images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/shared/images/icons/manifest.json">
    <link rel="shortcut icon" href="/shared/images/icons/favicon.ico">
    <meta name="application-name" content="EssayHub.com"/>
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/shared/images/icons/ms-icon-144x144.png">
    <meta name="msapplication-square70x70logo" content="/shared/images/icons/ms-icon-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/shared/images/icons/ms-icon-150x150.png"/>
    <meta name="msapplication-square310x310logo" content="/shared/images/icons/ms-icon-310x310.png"/>
    <meta name="msapplication-config" content="/shared/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./common.css">

    <% for ( var css in data.htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= data.htmlWebpackPlugin.files.css[css] %>">
    <% } %>

</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your
    browser</a> to improve your experience.</p>
<![endif]-->


<div class="mdl-layout__container">
    <div class="wrapper home mdl-layout mdl-js-layout has-drawer is-upgraded is-small-screen" id="wrapper">
        <div id="site-canvas">
            <header id="header" class="header__not-fixed">
                <div class="header_inner">
                    <div class="header__left logo-block">
                        <!--mobile-->
                        <div id="nav-mob" class="nav nav_mob mdl-layout__drawer is-visible">
                            <ul class="auth__list mob_menu">
                                <li class="auth__item item1"><a class="nav_link-i toggle_nav-mob"><i
                                                class="icon nav_mob-i first"></i></a></li>
                                <li class="auth__item item2"><a
                                            rel="nofollow"
                                            href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/login?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                            class="auth__link auth__sign-in ga-event second">Login</a></li>
                                <li class="auth__item"><a
                                            rel="nofollow"
                                            href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                            class="auth__link auth__sign-up ga-event third">Sign Up</a>
                                </li>
                            </ul>
                            <div class="first">
                                <ul class="nav_mobile-list">
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Home</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/writers.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Writers</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/how-to-buy-an-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">How
                                            It
                                            Works</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/service-faq.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">F.A.Q.</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/about-essay-writing-service.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">About
                                            us</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/service-reviews.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                           class="nav__link ga-event mobile">Customer reviews</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/blog"
                                           class="nav__link ga-event mobile">Blog</a>
                                    </li>

                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Custom Essay
                                            Writing</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/professional-essay-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Professional
                                            Essay Help</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/write-my-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Write My
                                            Essay</a>
                                    </li>
                                    <li class="nav_mobile-item">
                                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/buy-an-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Buy An Essay</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <a class="nav_link-i toggle_nav-mob" rel="nofollow"><i class="icon nav_mob-i onOpen_i"></i></a>
                        <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="logo_firstWord">
                            <img src="<%= require('../header/images/logo.png') %>" class="image-logoNav landscapeLogo"
                                 data-logo="white" alt="EssayHub"/>
                            <img src="<%= require('../header/images/logo_white_header.png') %>"
                                 class="image-logoNav landscapeLogo logo_hidden"
                                 data-logo="black" alt="EssayHub"/>
                        </a>


                        <!--landscape-->
                        <nav id="nav-normal" class="nav normal">
                            <ul class="nav__list">
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/writers.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">Writers</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/how-to-buy-an-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">How
                                        It
                                        Works</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/service-faq.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">F.A.Q.</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/about-essay-writing-service.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="nav__link ga-event mobile">About
                                        us</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/service-reviews.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                       class="nav__link ga-event mobile">Customer reviews</a>
                                </li>
                                <li class="nav_mobile-item">
                                    <a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/blog?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                       class="nav__link ga-event mobile">Blog</a>
                                </li>
                                <li class="nav_mobile-item nav__dropdown--relative">
                                    <a id="learn" class="link ga-event nav__link ga-event mobile">Services
                                        <i class="arrow-down scrollTop"></i>
                                    </a>

                                    <!--dropdown-->
                                    <div class="mdl-menu__container is-upgraded"
                                         style="left: 6px;top: 26px;width: 330px;height: 200px;">
                                        <div class="mdl-menu__outline mdl-menu--bottom-left">
                                            <ul class="list child mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events">
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/custom-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">Custom Essay
                                                        Writing</a>
                                                </li>
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/professional-essay-help.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">Professional Essay
                                                        Help</a>
                                                </li>
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/write-my-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">Write My Essay</a>
                                                </li>
                                                <li class="item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/buy-an-essay.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                                    class="link ga-event nav__link ">Buy An Essay</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>


                    </div>
                    <div class="header__right">
                        <div class="auth">
                            <ul class="auth__list">
                                <li class="auth__item"><a
                                            rel="nofollow"
                                            href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/login?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                            class="auth__link auth__sign-in ga-event">Login</a></li>
                                <li class="auth__item"><a
                                            rel="nofollow"
                                            href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                            class="auth__link auth__sign-up ga-event">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>


