@import './var';

.footer {
  background-color: #323d4d;

  @include mobile {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  @include tablet {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include desktop {
    padding-top: 35px;
    padding-bottom: 30px;
  }

}

.footer-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }

}

.footer-child {

  &__first {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 25px;
    }

    @include tablet {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 25px;
    }

    @include desktop {
      width: 100%;
      margin-bottom: 30px;
    }

  }

  &__second {
    display: flex;
    flex-direction: column;

    @include desktop {
      width: 100%;
    }

  }

  &__third {

  }

}

.footer-nav {
  display: inline-flex;
  align-items: center;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
  }

  @include tablet {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style: none outside none;
    margin: 0;
    padding: 0;

    @include mobile {
      justify-content: center;
      flex-wrap: wrap;

      max-width: 290px;
    }

  }

  &__item {
    display: inline-flex;
    align-items: center;

    height: 18px;
    margin-right: 15px;
    padding-right: 15px;

    border-right: 1px solid #5c6573;

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      border-right: 0;
    }

    @include mobile {

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 20px;
      }

      &:nth-child(2) {
        margin-right: 0;
        padding-right: 0;

        border-right: 0;
      }

    }

  }

}

.footer-copyright,
.footer-divider,
.footer-nav__link {
  color: #a1a9b3;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;

  white-space: nowrap;
}

.footer-copyright {
  text-align: center;
}

.footer-nav__link {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

}

.footer-divider {
  margin: 0 10px;

  font-size: 16px;

  @include mobile {
    display: none;
  }

}

.payment-methods {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  @include mobile {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__icon {
    display: block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &.visa {
      width: 41px;
      height: 14px;
      background-size: 41px 14px;
    }

    &.mastercard {
      width: 45px;
      height: 28px;
      background-size: 45px 28px;
    }

    &.amex {
      width: 58px;
      height: 20px;
      background-size: 58px 20px;
    }

    &.paypal {
      width: 61px;
      height: 18px;
      background-size: 61px 18px;
    }

  }

}

.lang-block {

  .lang-button {
    background-color: #2d3645;
    border: 1px solid #424b59;
  }

  .land-name {
    color: #a1a9b3;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-transform: none;
  }

}


.mdl-menu__container.is-visible, .mdl-menu__container.is-animating {
  z-index: 999;
  visibility: visible;
}
.mdl-menu__container.is-animating, .mdl-menu__container.is-visible {
  z-index: 999;
  visibility: visible;
}
.mdl-menu__container {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  overflow: visible;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
}
.mdl-menu__container {
  display: block;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: -1;
  margin: 0;
  padding: 0;
  border-width: initial;
  border-style: none;
  border-color: initial;
  overflow: visible;
}

.mdl-menu__container.is-visible .mdl-menu__outline {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 999;
}
.mdl-menu__outline.mdl-menu--top-left {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.mdl-menu__outline {
  width: auto !important;
  background-color: transparent;
}
.mdl-menu__outline {
  display: block;
  background: rgb(255,255,255);
  margin: 0;
  padding: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  will-change: transform;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -moz-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -moz-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}

.mdl-menu__container.is-visible .mdl-menu {
  opacity: 1;
  z-index: 999;
}
.mdl-menu {
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  min-width: 124px;
  padding: 8px 0;
  margin: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  z-index: -1;
}

.mdl-menu__container.is-visible .mdl-menu__item {
  opacity: 1;
}

.mdl-menu__item {
  display: block;
  color: rgba(0,0,0, 0.87);
  text-align: left;
  margin: 0;
  outline-color: rgb(189,189,189);
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  line-height: 48px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  height: auto;
  padding: 0 13px;
  background-color: #fcfcfc;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 0;

}

.mdl-menu__container.is-visible .mdl-menu__outline {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  z-index: 999;
}


.mdl-button--icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal;
}
a, .mdl-accordion, .mdl-button, .mdl-card, .mdl-checkbox, .mdl-dropdown-menu, .mdl-icon-toggle, .mdl-item, .mdl-radio, .mdl-slider, .mdl-switch, .mdl-tabs__tab {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.mdl-menu__outline.mdl-menu--top-left {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.mdl-menu.mdl-menu--top-left {
  top: auto;
  bottom: 0;
}
.mdl-menu {
  padding-bottom: 1px !important;
}

.mdl-menu__container.is-visible .mdl-menu__item {
  opacity: 1;
}
