@import './var';

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    margin-bottom: 20px;
  }

  @include tablet-start {
    margin-bottom: 30px;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px 16px;

    /*transition: background-image 0.3s ease;*/

    &.icon__facebook {
      width: 9px;
      height: 18px;

      background-image: url(../../../images/social/icon__facebook__9x18__2x.png);
      background-size: 9px 18px;
    }

    &.icon__twitter {
      width: 15px;
      height: 12px;

      background-image: url(../../../images/social/icon__twitter__15x12__2x.png);
      background-size: 15px 12px;
    }

    &.icon__gp {
      width: 18px;
      height: 12px;

      background-image: url(../../../images/social/icon__gp__18x12__2x.png);
      background-size: 18px 12px;
    }

    &.icon__facebook-like {
      width: 8px;
      height: 8px;
      margin-right: 4px;

      background-image: url(../../../images/social/icon__facebook_like__8x8__2x.png);
      background-size: 8px 8px;
    }

  }

}

.social-button {

  &__link {
    display: inline-flex;
    align-items: center;

    height: 32px;

    border-radius: 3px;

    transition: none;

    &:last-child {
      margin-right: 0;
    }

    @include mobile {
      width: 90px;
      margin-right: 10px;
    }

    @include tablet-start {
      width: 130px;
      margin-right: 50px;
    }

    &.facebook {
      background-color: #4065b4;

      .icon-block {
        background-color: #34569b;
      }

      .action-counter {
        background-image: url(../../../images/social/counter_facebook__39x22__2x.png);
      }

      &:hover,
      &:focus {
        background-color: #34569b;

        .icon-block {
          background-color: #355087;
        }

        .action-counter {
          background-image: url(../../../images/social/counter_facebook_hover__39x22__2x.png);
        }

      }

    }

    &.twitter {
      background-color: #0693e3;

      .icon-block {
        background-color: #0682c9;
      }

      .action-counter {
        background-image: url(../../../images/social/counter_twitter__39x22__2x.png);
      }

      &:hover,
      &:focus {
        background-color: #0687d1;

        .icon-block {
          background-color: #0078c2;
        }

        .action-counter {
          background-image: url(../../../images/social/counter_twitter_hover__39x22__2x.png);
        }

      }

    }

    &.gp {
      background-color: #de4937;

      .icon-block {
        background-color: #c44436;
      }

      .action-counter {
        background-image: url(../../../images/social/counter_gp__39x22__2x.png);
      }

      &:hover,
      &:focus {
        background-color: #cc4233;

        .icon-block {
          background-color: #b84133;
        }

        .action-counter {
          background-image: url(../../../images/social/counter_gp_hover__39x22__2x.png);
        }

      }

    }

    .icon-block {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 32px;
      height: 32px;

      border-radius: 3px 0 0 3px;
    }

    .action-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;

      padding: 0 5px 0 10px;
    }

    .action-name {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }

    .action-counter {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 39px;
      height: 22px;
      padding-left: 3px;

      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 39px 22px;

      color: #fff;
      font-size: 10px;
      font-weight: 500;
      line-height: 11px;

      @include mobile {
        display: none;
      }

    }

  }

}
