

.mdl-layout__drawer-button-left {
	height: 46px;
	margin: 0;
	margin-bottom: 0;
	z-index: 1500;

	.material-icons {
		color: #44a1eb;
	}

}

.side-nav__button-left {
  position: absolute;
  top: 0;
  left: 0;
}

.mdl-layout__drawer-button[aria-expanded=true] {
  background-color: #374355;
}

.mdl-layout__drawer-left {
  left: -320px;
  z-index: 35;

  width: 320px;
  min-width: 320px;
  height: auto;
  max-height: none;

  &.active {
    left: 0;
  }

}

.mdl-layout__drawer-left,
.mdl-layout__drawer-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: auto;
	height: auto;
	max-height: none;
	position: absolute;
	top: 0;
	bottom: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	box-sizing: border-box;
	border-right: 1px solid #e0e0e0;
	background-color: #374355;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	will-change: transform;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	color: #424242;
	overflow: visible;
	overflow-y: auto;
	z-index: 35;
}

.mdl-layout__drawer-left {
  left: 0;

  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
}

.mdl-layout__drawer-right {
  right: 0;

  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
}

.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.mdl-layout__obfuscator-left,
.mdl-layout__obfuscator-right {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 25;
	visibility: hidden;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.mdl-layout__drawer-left.active~.mdl-layout__obfuscator-left,
.mdl-layout__drawer-right.active~.mdl-layout__obfuscator-right {
	background-color: rgba(0,0,0,.5);
	visibility: visible;
}

.mdl-layout__drawer-left>.mdl-layout-title,
.mdl-layout__drawer-right>.mdl-layout-title {
	line-height: 56px;
	padding-left: 16px;
}

.mdl-layout__drawer-left,
.mdl-layout__drawer-right {
	background-color: #374355;
	border: 0;
	box-shadow: none;
	top: 46px;
}

.mdl-layout__drawer-left {
  width: 320px;
}

.mdl-layout__drawer-right {
	width: auto;
}

.mdl-layout__drawer-button,
.mdl-layout__drawer-left,
.mdl-layout__drawer-right,
.mdl-layout__obfuscator-left,
.mdl-layout__obfuscator-right {
	position: fixed;
}

.mdl-layout__obfuscator {
  z-index: 20;
}
