<section class="section-3">
    <div class="container"><h2 class="title">Why Choose Our Essay Writing Service?</h2>
        <ul class="list">
            <li class="item first_item"><span class="item__number">15 000+</span>
                <span class="item__title ">Papers Written Annually!</span></li>
            <li class="item second_item"><span class="item__number">250+</span>
                <span class="item__title">Writers available</span></li>
            <li class="item second_item"><span class="item__number">90%</span>
                <span class="item__title">Return Rate of Clients</span></li>
        </ul>
        <p class="description"><span>Simple, our quality is unmatched. Over 95% of our papers receive A’s, and a majority of our clients always come back for seconds. As well as writing authentic work, we also provide essay editing and proofreading for low prices. Need active help? Work with our professional paper writers via live chat for instant support.</span>
            <span>Most college essay writing services do not offer the variety of support that we do! Lastly, professionals who work for our site must maintain over a 90% service review rate. We do this to make sure that our clients always receive fantastic work from elite experts!</span>
        </p>
        <div class="button-block"><a href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                     class="button-link ga-event"
                                     data-ga-category="home" data-ga-action="click"
                                     data-ga-label="home-body-3 Order now click" rel="nofollow">Get started</a></div>
    </div>
</section>
