<section class="section-5">
    <div class="container">
        <h2 class="title">Latest Customer Reviews</h2>
        <div class="section-content block-feedbacks">
            <ul id="club-feedback-list" class="club-feedback-list">
                <li class="club-feedback-list-item">
                    <div class="club-comments-block">
                        <div class="left-block">

                            <div class="comments-body">
                                <div class="customer"><img src="<%= require('../../images/person.svg')%>" alt="Customer">Customer 87231</div>
                                <div class="order order__wo-mobile">Essay on Literature</div>
                                <div class="comment-text">Great writer! Listened to all the order details I gave
                                    him, and sent me a final copy of it a few hours before the
                                    initial deadline!
                                </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="writer-rating-bar">
                                <div class="rating-star active" style="width: 100%"></div>
                                <div class="rating-star"></div>
                            </div>
                            <div class="rating-value">5<span class="gray">/5</span></div>
                        </div>
                        <div class="writer"><a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                       class="writer-link">Smartwriter99</a>
                            <span class="writer-status-block">
                        <span class="status online"></span>
                      </span>
                        </div>
                        <div class="comments-body order__only-mobile order-info">
                            <div class="order">Essay on Literature</div>
                        </div>
                    </div>
                </li>

                <li class="club-feedback-list-item">
                    <div class="club-comments-block">
                        <div class="left-block">
                            <div class="comments-body">
                                <div class="customer"><img src="<%= require('../../images/person.svg')%>" alt="Customer">Customer 21280</div>
                                <div class="order order__wo-mobile">Essay on Business</div>
                                <div class="comment-text">Never used online services for writing guidance before, but if all of their writers do such a good job - then I highly recommend!
                                </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="writer-rating-bar">
                                <div class="rating-star active" style="width: 100%"></div>
                                <div class="rating-star"></div>
                            </div>
                            <div class="rating-value">5<span class="gray">/5</span></div>
                        </div>
                        <div class="writer"><a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                       class="writer-link">Smartwriter99</a>
                            <span class="writer-status-block">
                        <span class="status online"></span>
                      </span>
                        </div>
                        <div class="comments-body order__only-mobile order-info">
                            <div class="order">Essay on Business</div>
                        </div>
                    </div>
                </li>

                <li class="club-feedback-list-item">
                    <div class="club-comments-block">
                        <div class="left-block">
                            <div class="comments-body">
                                <div class="customer"><img src="<%= require('../../images/person.svg')%>" alt="Customer">Customer 12772</div>
                                <div class="order order__wo-mobile">Essay on English</div>
                                <div class="comment-text">The writer took into consideration every detail I
                                    asked. Definitely will use again :)
                                </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="writer-rating-bar">
                                <div class="rating-star active" style="width: 80%"></div>
                                <div class="rating-star"></div>
                            </div>
                            <div class="rating-value">4<span class="gray">/5</span></div>
                        </div>
                        <div class="writer"><a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registratio?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                       class="writer-link">Stellarwriter-1</a>
                            <span class="writer-status-block">
                        <span class="status offline"></span>
                      </span>
                        </div>
                        <div class="comments-body order__only-mobile order-info">
                            <div class="order">Essay on English</div>
                        </div>
                    </div>
                </li>

                <li class="club-feedback-list-item">
                    <div class="club-comments-block">
                        <div class="left-block">
                            <div class="comments-body">
                                <div class="customer"><img src="<%= require('../../images/person.svg')%>" alt="Customer">Customer 21096</div>
                                <div class="order order__wo-mobile">Essay on Business</div>
                                <div class="comment-text">The writer followed every single step I gave.
                                    Highly impressed.
                                </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="writer-rating-bar">
                                <div class="rating-star active" style="width: 100%"></div>
                                <div class="rating-star"></div>
                            </div>
                            <div class="rating-value">5<span class="gray">/5</span></div>
                        </div>
                        <div class="writer"><a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                       class="writer-link">EliteWriter2</a>
                            <span class="writer-status-block">
                        <span class="status offline"></span>
                      </span>
                        </div>
                        <div class="comments-body order__only-mobile order-info">
                            <div class="order">Essay on Business</div>
                        </div>
                    </div>
                </li>

                <li class="club-feedback-list-item">
                    <div class="club-comments-block">
                        <div class="left-block">
                            <div class="comments-body">
                                <div class="customer"><img src="<%= require('../../images/person.svg')%>" alt="Customer">Customer 21574</div>
                                <div class="order order__wo-mobile">Essay on History</div>
                                <div class="comment-text">Good paper. The writer kept me informed about the
                                    progress of my task. For sure satisfied with the way they work on this
                                    website.
                                </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="writer-rating-bar">
                                <div class="rating-star active" style="width: 100%"></div>
                                <div class="rating-star"></div>
                            </div>
                            <div class="rating-value">5<span class="gray">/5</span></div>
                        </div>
                        <div class="writer"><a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                       class="writer-link">smartKeen</a>
                            <span class="writer-status-block">
                        <span class="status online"></span>
                      </span>
                        </div>
                        <div class="comments-body order__only-mobile order-info">
                            <div class="order">Essay on History</div>
                        </div>
                    </div>
                </li>

                <li class="club-feedback-list-item">
                    <div class="club-comments-block">
                        <div class="left-block">
                            <div class="comments-body">
                                <div class="customer"><img src="<%= require('../../images/person.svg')%>" alt="Customer"> Customer 21618</div>
                                <div class="order order__wo-mobile">Order 20851 on Management</div>
                                <div class="comment-text">Everything was done quickly without any questions.
                                    Online essay help has never been so easy for me.
                                </div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="writer-rating-bar">
                                <div class="rating-star active" style="width: 100%"></div>
                                <div class="rating-star"></div>
                            </div>
                            <div class="rating-value">5<span class="gray">/5</span></div>
                        </div>
                        <div class="writer"><a rel="nofollow" href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                                       class="writer-link">WriterPhil</a>
                            <span class="writer-status-block">
                        <span class="status offline"></span>
                      </span>
                        </div>
                        <div class="comments-body order__only-mobile order-info">
                            <div class="order">Essay on Management</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="button-group"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/reviews.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="button-link button-link__tertiary ga-event">More Reviews</a>
        </div>
    </div>
</section>
