<section class="section-4">
    <div class="container">
        <h2 class="title">How It Works</h2>
        <p class="description">Step-By-Step Guide To Academic Satisfaction</p>
            <div class="flex-column">
                <div class="img-block">

                </div>


                <div class="first-block">
                    <ul class="list">
                        <li class="item block_item-1">
                            <div class="img-item">
                                <img src="<%= require('../../images/icon1.svg')%>" alt="Fill in Details">
                            </div>
                            <div class="text">
                                <h3 class="h2-item">1. Fill in Details + Calculate the Price</h3>
                                <p class="p-item">Choose your paper requirements with our handy price calculator to approximate the cost of your custom essay! The paper will be written exactly the way you need it.</p>

                            </div>
                        </li>
                        <li class="item block_item-2">
                            <div class="img-item">
                                <img src="<%= require('../../images/icon2.svg')%>" alt="Choose Your Essay Writer">
                            </div>
                            <div class="text">
                                <h3 class="h2-item">2. Choose Your Essay Writer</h3>
                                <p class="p-item">Feel free to browse our catalogue of professional writers. Once you have chosen your preferred expert, accept their bid to begin the writing process!
                                </p>
                            </div>
                        </li>
                        <li class="item block_item-3">
                            <div class="img-item">
                                <img src="<%= require('../../images/icon3.svg')%>" alt="Receive and Check your Masterpiece">
                            </div>
                            <div class="text">
                                <h3 class="h2-item">3. Receive and Check your Masterpiece!</h3>
                                <p class="p-item">After our experts submit the assignment to you, we request that you fully inspect and proofread the text. EssayService’s goal is to make sure that the work is written within your unique specifications. </p>

                            </div>
                        </li>
                        <li class="item block_item-4">
                            <div class="img-item">
                                <img src="<%= require('../../images/icon4.svg')%>" alt="Post-Satisfaction Payment">
                            </div>
                            <div class="text">
                                <h3 class="h2-item">4. Post-Satisfaction Payment</h3>
                                <p class="p-item">You do not have to spend a penny of your money until you are 100% pleased with the work you have received! Until the essay writer has completed the task EXACTLY the way you need it, his job is not done. Most essay writing services do not offer this, but we understand the damages that come from plagiarism. Your paper will be a 100% authentic piece of customized writing!</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="button-group"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/how-it-works.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="button-link button-link__tertiary ga-event">Learn more</a>
        </div>
    </div>
</section>
