<section class="section-1" id="header_color_change">
    <div class="background"></div>
    <div class="container">
        <div class="text-block"><h1 class="title">Custom Essay Writing Service</h1>
            <p class="description">Solving educational assignments all over the world!</p>
            <div class="button-group"><a href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                         class="button-link button-link__tertiary ga-event" rel="nofollow">Place an Order</a>
            </div>
        </div>
            <div class="calculator calculator-theme__white calculator-for__home">
                <%= require('../calc/calc.ejs')({
                    htmlWebpackPlugin: data.htmlWebpackPlugin,
                    locale: data.locale,
                    locale_link: data.locale_link
                }) %>
            </div>
    </div>
</section>
