<section class="section-2">
    <div class="container"><h2 class="title">Features</h2>
        <ul class="list">
            <li class="item item-1">
                <div class="item__top"><img src="<%= require('../../images/f_list_fouth.svg') %>"
                                            class="item__image item__image-1"
                                            alt="Deadline Punctuality">
                    <h3 class="item__title">Essays Customized for Your Style</h3></div>
                <p class="item__description">We strive to create 100% original work that suits each client individually. Because of this, our writers will commonly request work from the client to understand their unique writing style. Put your trust in our professional paper writers to emulate the style and remove any thought of plagiarism from your professors mind!</p>
            </li>
            <li class="item item-2">
                <div class="item__top"><img src="<%= require('../../images/f_list_second.svg') %>"
                                            class="item__image item__image-2"
                                            alt="24/7 Writers' Online Availability">
                    <h3 class="item__title">24/7 Online Help</h3></div>
                <p class="item__description">Hate prolonged waiting for responses from live chats? So do we! Our customer support team provide 24/7 instant help to answer any and all of your questions! Also, our writers are ready to adjust their work for any grievances you might have  during the order process. Everything is always in a progressive direction here at EssayService!</p></li>
            <li class="item item-4">
                <div class="item__top"><img src="<%= require('../../images/f_list_fifth.svg') %>"
                                            class="item__image item__image-3"
                                            alt="Fast and perfect is our forte">
                    <h3 class="item__title">Complete Confidentiality</h3></div>
                <p class="item__description">Who are you again? Though this should be an unspoken fact, it is important that you understand that the information you share with us will remain 100% anonymous.
                </p></li>
            <li class="item item-5">
                <div class="item__top"><img src="<%= require('../../images/f_list_first.svg') %>"
                                            class="item__image item__image-3"
                                            alt="Customized to your style">
                    <h3 class="item__title">Deadline Punctuality</h3></div>
                <p class="item__description">"Will you write my essay before the deadline?". We guarantee an on-time delivery of your work. Your essay will be sent to you two hours AT THE LATEST before the deadline by your unique expert.</p></li>
            <li class="item item-3">
                <div class="item__top"><img src="<%= require('../../images/f_list_third.svg') %>"
                                            class="item__image item__image-3"
                                            alt="Complete Confidentiality">
                    <h3 class="item__title">Plagiarism Free Services</h3></div>
                <p class="item__description">The word plagiarism is the devil in our essay writing bible! We check uploaded documents thoroughly and guarantee a CHEAT FREE product. </p></li>
            <li class="item item-6">
                <div class="item__top"><img src="<%= require('../../images/f_list_six.svg') %>"
                                            class="item__image item__image-3"
                                            alt="The best customer support out there">
                    <h3 class="item__title">Outstanding Customer Support</h3></div>
                <p class="item__description">Our customer service team will gladly answer all your questions and resolve any issues. Receive instant support for any of your inquiries within minutes!</p>
            </li>
        </ul>
    </div>
</section>
