<section class="section-7">
    <div class="container">
        <h2 class="title">Our Essay Writers will gladly help you with:</h2>
        <div class="es-section__list-columns">
            <ul class="es-section__list">
                <li class="es-section__item" >Custom Essay (any type)</li>
                <li class="es-section__item" >Business Plan</li>
                <li class="es-section__item" >Literature Review</li>
                <li class="es-section__item" >Research Paper</li>
                <li class="es-section__item" >Admission Essay</li>
                <li class="es-section__item" >Case Study</li>
                <li class="es-section__item" >Multiple Choice Questions</li>
                <li class="es-section__item" >Research Proposal</li>
                <li class="es-section__item" >Annotated Bibliography</li>
                <li class="es-section__item" >Coursework</li>
                <li class="es-section__item" >Presentation or Speech</li>
                <li class="es-section__item" >Term Paper</li>
                <li class="es-section__item" >Article Review</li>
                <li class="es-section__item" >Creative Writing</li>
                <li class="es-section__item" >Reflective Writing</li>
                <li class="es-section__item" >Thesis / Dissertation</li>
                <li class="es-section__item" >Book / Movie Review</li>
                <li class="es-section__item" >Critical Thinking / Review</li>
                <li class="es-section__item" >Report</li>
                <li class="es-section__item" >Editing and proofreading</li>
            </ul>
            <div class="button-group"><a href="<%= data.htmlWebpackPlugin.options.backend_url %>/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                         class="button-link button-link__tertiary ga-event" rel="nofollow">Place an Order</a>
            </div>
        </div>
    </div>
</section>
