.page-home {

  .section-wrapper {
    background: {
      position: 50% 0;
      repeat: no-repeat;
    }
  }

  .section-1 {
    background-color: #313131;
    background-size: cover;
  }

  .section-8 {
    background-color: #fff;
  }

  .section-9 {
    background-color: #f6f7f8;
    border-top: 1px solid #0082d5;
  }

}
