@media only screen
and (min-width: 321px)
and (max-width: 568px) {

  .page-home {

    .section-1 {
      background-image: url(../../../images/content/home/section_1__568.jpg);
      background-position: 63% 20%;
    }

  }

}
