@media only screen
and (min-width: 1441px) {

  .page-home {

    .section-1 {
      background-image: url(../../../images/content/home/section_1__1920.jpg);
      background-position: 100% 20%;
    }

  }

}
