@media only screen
and (min-width: 569px)
and (max-width: 767px) {

  .page-home {

    .section-1 {
      background-image: url(../../../images/content/home/section_1__768.jpg);
      background-position: 50% 20%;
    }

  }

}
