<section class="section-3">
    <div class="container">
        <div class="text">
            <h2 class="text__title">The Process</h2>
            <div class="text__flex">
                <ul class="text__flex__list">
                        <li class="text__flex__list__item" data-open="1">
                            <div class="text__flex__list__item_div">
                                <div>
                                    <img src="<%= require('./images/icon01.svg') %>" alt="Place an order online" class="icon">
                                    <p class="text__flex__list__item_div_paragraph">1. Place an order online</p>
                                </div>
                                <img src="<%= require('./images/arrow.svg') %>" alt="Hide" class="arrowshow">
                            </div>
                            <p data-text="1" class="text__flex__list__item_paragraph">Ordering a paper online is quite simple. All that we need are the necessary requirements given by the instructor so our writers can create the desired custom essay. Feel free to send us copies of your previous assignments to help us better replicate your writing style. By doing so the odds of your order being up to par are significantly higher.</p>
                        </li>
                    <li class="text__flex__list__item" data-open="2">
                        <div class="text__flex__list__item_div">
                            <div>
                                <img src="<%= require('./images/icon02.svg') %>" alt="Place an order online" class="icon">
                                <p class="text__flex__list__item_div_paragraph">2. Pick your writer</p>
                            </div>
                            <img src="<%= require('./images/arrowshow.svg') %>" alt="Show" class="arrowshow">
                        </div>
                        <p data-text="2" class="text__flex__list__item_paragraph hidden">Ordering a paper online is quite simple. All that we need are the necessary requirements given by the instructor so our writers can create the desired custom essay. Feel free to send us copies of your previous assignments to help us better replicate your writing style. By doing so the odds of your order being up to par are significantly higher.</p>
                    </li>
                    <li class="text__flex__list__item" data-open="3">
                        <div class="text__flex__list__item_div">
                            <div>
                                <img src="<%= require('./images/icon03.svg') %>" alt="Place an order online" class="icon">
                                <p class="text__flex__list__item_div_paragraph">3. Describe the assignment</p>
                            </div>
                            <img src="<%= require('./images/arrowshow.svg') %>" alt="Show" class="arrowshow">
                        </div>
                        <p data-text="3" class="text__flex__list__item_paragraph hidden">Ordering a paper online is quite simple. All that we need are the necessary requirements given by the instructor so our writers can create the desired custom essay. Feel free to send us copies of your previous assignments to help us better replicate your writing style. By doing so the odds of your order being up to par are significantly higher.</p>
                    </li>
                    <li class="text__flex__list__item" data-open="4">
                        <div class="text__flex__list__item_div">
                            <div>
                                <img src="<%= require('./images/icon04.svg') %>" alt="Place an order online" class="icon">
                                <p class="text__flex__list__item_div_paragraph">4. Enjoy the grade</p>
                            </div>
                            <img src="<%= require('./images/arrowshow.svg') %>" alt="Show" class="arrowshow">
                        </div>
                        <p data-text="4" class="text__flex__list__item_paragraph hidden">Ordering a paper online is quite simple. All that we need are the necessary requirements given by the instructor so our writers can create the desired custom essay. Feel free to send us copies of your previous assignments to help us better replicate your writing style. By doing so the odds of your order being up to par are significantly higher.</p>
                    </li>
                </ul>
                <img src="<%= require('./images/icon1.png') %>" alt="The Process">
            </div>
            <div class="text__button">
                <a href="https://app.essayhub.com/auth/registration?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="text__button_order" rel="nofollow">Transform your grade!</a>
            </div>
        </div>
    </div>
</section>
