<section class="section-8">
    <div class="container">
        <div class="text">
            <h2 class="text__title">Frequently Asked Questions</h2>
            <div class="text__flex">
                <ul class="text__flex__list">
                    <li class="text__flex__list__item imageright imagedown gray image " data-open="0">What Services Does EssayHub
                        Offer?

                        <!--<img-->
                        <!--src="<%= require('./images/show.svg') %>" class="image" alt="Show">-->

                    </li>
                    <li class="text__flex__paragraph mobile" data-textMobile="0">
                        <p>EssayHub offers writing, editing, and proofreading services for all types of academic works
                            whether it be high school, college or university level. We deliver expert custom writing
                            services for all academic levels. EssayHub only picks up for hire Ph.D. level professional
                            academic writers who are highly skilled. Many have experience with all types of writing,
                            including: thesis/dissertations, custom essays, research papers, term papers, admission
                            essays,
                            annotated bibliography, article reviews, book/movie review, business plan, case study,
                            coursework,
                            creative writing, critical thinking/review, literature review, multiple choice questions,
                            presenting or speeches, and reflective writing. So you never have to worry when you buy
                            essays with us. Writers are able to handle any type of writing requirements. They will
                            fine tune their style to reflect specific customer instructions and necessities so that
                            what you buy holds true value.</p>
                    </li>
                    <li class="text__flex__list__item imageright imagedown image " data-open="1">Are Your Custom Writing Services
                        Confidential?
                        <!--<img src="<%= require('./images/show.svg') %>" class="image" alt="Show">-->

                    </li>
                    <li class="text__flex__paragraph hidden mobile" data-textMobile="1">
                        <p>Yes, ensuring a customer's confidentiality is one of our top priorities. That's why we’re
                            always working on ways to make EssayHub’s services even more secure. Our privacy policies
                            help ensure that all customer information is completely confidential. We never share
                            information about our clients with any third parties. In fact, one of the cornerstones
                            of our company’s core values is honesty. Hence you should not be shy in asking for help
                            instead of wondering “who can write my essay?”. We remain committed to transparency and
                            always strive to treat customers with respect. The long history of service and high customer
                            reviews contribute to our reputation. We're proud that customers consider us a reliable and
                            trustworthy academic essay writing service.</p>
                    </li>
                    <li class="text__flex__list__item imageright imagedown image " data-open="2">How does your money back policy
                        work?
                        <!--<img src="<%= require('./images/show.svg') %>" class="image" alt="Show">-->

                    </li>
                    <li class="text__flex__paragraph hidden mobile" data-textMobile="2">
                        <p>In rare cases when a customer is not satisfied with their work, we will return all funds to
                            them. Yet, this decision is at our discretion. Our policy states all completed custom essay
                            writing services purchased by customers are non-refundable. Once clients accept final drafts
                            of their essays and remaining funds released, sales are final. We do our best to ensure
                            writers meet or exceed any customer expectations regarding their papers. EssayHub also
                            expect writers to follow all instructions to the latter. We work with customers and writers
                            to achieve 100% customer satisfaction. We will do our utmost to resolve any issues customers
                            encounter before completing orders.</p>
                    </li>
                    <li class="text__flex__list__item imageright imagedown image " data-open="3">Can I pay for my order using
                        PayPal?
                        <!--<img src="<%= require('./images/show.svg') %>" class="image" alt="Show">-->

                    </li>
                    <li class="text__flex__paragraph hidden mobile" data-textMobile="3">
                        <p>Yes, we understand it's important for customers to have access to convenient payment methods.
                            That’s why we offer many secure and easy access online buying methods for our custom paper
                            writing service. Alongside easy access to PayPal accounts, we offer Visa, MasterCard, and
                            American Express. While there’s a link directly to PayPal services, we don’t store other
                            account numbers. We do provide customers with their own secure accounts. These are available
                            to customers for holding funds needed to pay for any paper writing services required.
                            Customers can refund any unused credit stored in accounts anytime. We don't apply penalties
                            for withdrawing unused money and funds are never used without a customer's authorization.
                        </p>
                    </li>
                    <li class="text__flex__list__item imageright imagedown image " data-open="4">How fast can my paper be done?
                        <!--<img src="<%= require('./images/show.svg') %>" class="image" alt="Show">-->

                    </li>
                    <li class="text__flex__paragraph hidden mobile" data-textMobile="4">
                        <p>We understand how important it is for students to receive their papers on time and receive
                            all the essay help needed. That's why we provide draft revisions of orders long before their
                            agreed upon deadlines free of charge. After receiving customer approval, a writer will
                            continue to work on their paper. After completing any revisions, writers will send their
                            final drafts for customer approval. This is also done well before reaching any deadlines.
                            In fact, most writers deliver completed orders far ahead of schedule. Extensive experience
                            allows them to manage their time effectively. They can accurately gauge time needed to
                            complete a broad spectrum of essay topics before reaching the agreed upon deadlines.</p>
                    </li>
                    <li class="text__flex__list__item imageright imagedown image " data-open="5">How does your plagiarism policy
                        work?
                        <!--<img src="<%= require('./images/show.svg') %>" class="image" alt="Show">-->

                    </li>
                    <li class="text__flex__paragraph hidden mobile" data-textMobile="5">
                        <p>We are strictly against plagiarism in any form. We check every paper with special software
                            to determine whether there's any referencing errors. Our editors will track this during
                            times when writers are working on their assignments to ensure that the essay help provided
                            is actually useful. If there's even a hint of something resembling copied pasted text,
                            writers must start completely over. Guaranteeing every essay paper is completely original
                            and plagiarism free requires diligent writing efforts. Our commitment to this guarantee
                            means we are strictly adhering to the given instructions. We make sure to check and
                            double-check
                            anything created through our custom essay writing service. This allows us to ensure that
                            our no tolerance plagiarism policies are upheld.
                        </p>
                    </li>
                </ul>


                <div class="text__flex__paragraph landscape" data-text="0">
                    <p></p>
                </div>
                <div class="text__flex__paragraph hidden landscape" data-text="1">
                    <p></p>
                </div>
                <div class="text__flex__paragraph hidden landscape" data-text="2">
                    <p></p>
                </div>
                <div class="text__flex__paragraph hidden landscape" data-text="3">
                    <p></p>
                </div>
                <div class="text__flex__paragraph hidden landscape" data-text="4">
                    <p></p>
                </div>
                <div class="text__flex__paragraph hidden landscape" data-text="5">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
