@import './var';

.calculator {

  .dropdown,
  .select {
    display: none;
  }

  &__form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__form-label {
    width: 100%;
    max-width: 103px;
    margin-right: 10px;

    color: #5c6166;
    font-size: 16px;
    //font-weight: 600;
    line-height: 22px;
  }

  &__form-field-group {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__form-field {
    position: relative;

    .select {
      position: relative;
    }

  }

}
