.calculator-theme__white.words__min__price {

  .words__minprice {
    display: flex;
  }

  .calculator__form-label {
    max-width: initial;
  }

  .calculator__form-label {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .words.words__minprice {
    color: #6C7680;
    font-size: 14px;
  }

  .calculator__button-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    //width: 364px;
    height: 50px;
  }

  .words__minprice--button.words__minprice {
    background-color: #F9FAFC;
    height: 50px;
    width: 190px;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    align-items: center;
  }

  .words__minprice--button.words__minprice .price {
    color: #414B54;
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 20px;
  }

  .button-filled__primary {
    font-weight: 200;
    width: 174px;
    margin-left: -5px;
  }

  .calculator__title {
    font-size: 34px;
  }

  .calculator__main .calculator__header {
    text-align: center;
    padding: 30px 0;
  }

  .words__minprice--button.words__minprice .priceText {
    font-size: 12px !important;
    text-transform: uppercase;
    /* line-height: 50px; */
    padding-left: 10px;
    width: 50%;
    /* font-weight: 200; */
  }

  @media screen and (max-width: 1120px) {
    .words__minprice--button.words__minprice {
      width: 140px;
    }

    .button-filled__primary {
      padding-right: 0;
      width: 139px;
      padding-left: 0;
    }

  }

}
