.calculator-theme__white.white__horizontal {
  .calculator__form-field-group .calculator__form-field:nth-child(1) {
    -webkit-flex-shrink: 1.3;
    -ms-flex-negative: 1.3;
    flex-shrink: 1.3;

  }
  .calculator__form-field-group .calculator__form-field:nth-child(3) {
    -webkit-flex-shrink: 1.3;
    -ms-flex-negative: 1.3;
    flex-shrink: 1.3;
  }

  margin: 0 auto;
  height: 230px;
  background-color: transparent;

  box-shadow: none;
  .calculator {
    box-shadow: none;
  }

  .calculator__footer {
    height: 50px;
    background: initial;
    padding: 0;
    margin: 0 auto;
    width: 364px;
    padding-top: 30px;
  }

  .calculator {
    background-color: transparent;
  }

  .calculator__form-dropdown, .calculator__form-dropdown-half {
    width: 274px;
  }

  .calculator__content .calculator__form-row {
    align-items: flex-start;
    margin-bottom: 15px;
    flex-direction: column;

  }

  .calculator__content .calculator__form-row + .calculator__form-row {
    padding-left: 32px;
  }

  .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown,
  .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown-half {
    width: 180px;
  }

  .calculator__content .calculator__form-row:last-child {
    padding-left: 20px;
  }

  .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown,
  .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown-half {
    width: 80px;
    text-align: center;
  }

  .calculator__main {
    height: initial;
  }

  .calculator__content {
    flex-direction: row;
    display: flex;
    padding: 0;
  }

  .calculator__main .calculator__header {
    text-align: center;
    padding: 15px 0;

    .calculator__title {
      padding-left: 0;
      margin-top: 0;
    }

  }
  @media screen and (max-width: 1120px) {
    .calculator__form-field-group .calculator__form-field:nth-child(1), .calculator__form-field-group .calculator__form-field:nth-child(3) {
      -webkit-flex-shrink: 2.5;
      -ms-flex-negative: 2.5;
      flex-shrink: 2.3;
    }

    min-height: 395px;

    .calculator_header {
      width: 571px;
    }

    .calculator__content .calculator__form-row:nth-child(1n) {
      padding-left: 0;
    }

    .calculator__content .calculator__form-row:nth-child(2n) {
      padding-left: 45px;
    }

    min-width: 440px;
    width: 571px;

    form {
      width: 594px;
    }

    .calculator__footer {
      width: 274px;
    }

    .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown,
    .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown-half {
      width: 274px;
    }

    .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown,
    .calculator__content .calculator__form-row + .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-dropdown-half {
      width: 176px;
    }

    .calculator__content {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    .calculator__content .calculator__form-row {
      flex: 1;
    }

  }
  @media screen and (max-width: 1024px) {
    form {
      max-width: 594px;
    }

    .calculator_header .calculator__title {
      font-size: 32px !important;
    }

  }
  @media screen and (max-width: 768px) {

    .calculator_header {
      width: 310px;
    }

    width: 310px;
    min-width: 310px;

    form {
      width: 310px;
    }

    min-height: 540px;

    .calculator__content .calculator__form-row:nth-child(2n) {
      padding-left: 0;
    }

    .calculator__form-label {
      width: 100% !important;
    }

    .calculator__content {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
    }

  }
  @media screen and (max-width: 400px){
    .calculator_header {
      width: 290px;
    }

    width: 290px;
    min-width: 290px;

    form {
      width: 290px;
    }

  }
  @media screen and (min-width: 1120px) {
    width: 992px;

    form {
      width: 992px;
    }

  }

}


