@import './var';

.calculator-theme__dark {

  .calculator {
    background-color: rgba(41,45,51,.6);
    /*border: 1px solid rgba(41,45,51,.6);*/
    border: 0;
    border-radius: 5px;

    @include mobile-540 {
      box-shadow: 0 1px 14px 0 rgba(0,0,0,.1);
    }

    &__result-title,
    &__result-value {
      color: #fff;
    }

  }

}
