@import './var';

$field-width: 205px;
$field-half-width: 107px;

.calculator {



  &__form-dropdown,
  &__form-select {
    position: relative;
    height: 45px;
    padding: 0 35px 0 15px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    //background-color: #292d34;
    //border: 1px solid #42464d;
    border-radius: 5px;
    color: #bcc3cd;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    outline: none;
    text-align: left;

    &:hover,
    &:focus {
      -moz-outline-style: none;
      z-index: 20;
    }

    &:hover,
    &:focus {
      border-color: #C4C4C4;
    }

    .calculator-type__vertical & {
      width: $field-width;
    }

    .calculator-type__horizontal & {
      color: #5c6166;
      font-weight: 400;

      @include mobile {
        width: $field-width;
      }

      @include tablet-768 {
        width: 260px;
      }

    }

    .calculator-type__minimal & {
      width: $field-width;

      color: #5c6166;
      font-weight: 400;

      @include mobile {
        width: 290px;
      }

    }

  }

  &__form-dropdown-half,
  &__form-select-half {

    .calculator-type__vertical & {
      width: $field-half-width;
    }

    .calculator-type__horizontal & {

      @include mobile {
        width: $field-half-width;
      }

      @include tablet-768 {
        width: 162px;
      }

    }

    .calculator-type__minimal & {
      width: $field-half-width;

      @include mobile {
        width: 192px;
      }

    }

  }

}
