.calculator-theme__white {
  height: 390px;
  margin: 110px 0 60px 0;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  border-radius: 6px;

  //min-width: 310px;

  button:hover {
    border: solid 1px #BFBFBF;
  }

  //exclude for different classes
  //_____________________________
  .calculator__result.add__prices {
    display: none;
  }

  .words__minprice {
    display: none;
  }

  .calculator__main {
    height: 310px;
  }

  .dropdown-menu {
    border-radius: 0 0 4px 4px;
    margin: -7px 0 0;
    border: 1px solid #D9D9D9;
  }

  .dropdown-menu:hover {

  }

  .calculator .dropdown-half .dropdown-menu {
    width: 100%;
    min-width: initial;
    max-width: initial;
  }
  .calculator .dropdown-half .dropdown-menu__item {
    width: initial;
  }

  .button-filled__primary {
    outline: 0;
  }

  .button-filled__primary:hover {
    background-color: #45C352 !important
  }
  .calculator_header {
    width: 100%;
  }
  .calculator__title {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0px;
    padding-left: 20px;
  }
  .calculator__form-label {
    width: 30%;
    font-weight: 500;
    font-size: 14px;
    color: #3D414D;
    letter-spacing: 0px;

    .label {
      font-weight: 500;
      font-size: 16px;
      color: #3D414D;
      letter-spacing: 0px;
    }
  }
  .calculator__form-field {
  }
  .calculator__form-dropdown {
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    color: $primary-gray;
    letter-spacing: 0px;
  }
  .calculator__form-dropdown-half {
    width: 92px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    color: #3D414D;
  }
  .dropdown-menu {
    width: 100%;
    border-top-color: transparent;

    .dropdown-menu__item {
      background-color: #fff;
      color: #3D414D;
    }
    .dropdown-menu__item:hover, .calculator .dropdown-menu__item:focus {
      background-color: #F6F9FC;
    }
  }
  .secelted-value {
    font-weight: 400;
    font-size: 14px;
    color: #3D414D;
    letter-spacing: 0;
  }

  .calculator__form-button__select-increment, .calculator__form-button__select-decrement {
    cursor: pointer;
    outline: 0;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    color: #3D414D;
    background-position: 50% 50%;
    background-repeat: no-repeat;

  }
  .calculator__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .calculator__result-title {
    font-weight: 400;
    font-size: 13px;
    color: #424C55;
    letter-spacing: 0px;
  }
  .calculator__result-value {
    font-weight: 600;
    font-size: 22px;
    color: #424C55;
    letter-spacing: 2px;
  }
  .gray-title {
    font-weight: 400;
    font-size: 14px;
    color: $gray;
    letter-spacing: 0px;
  }
  .gray-description {
    font-weight: 400;
    font-size: 30px;
    color: $gray;
    letter-spacing: 0px;
    text-decoration: line-through;
  }
  .calculator__button-block {
    //margin: -10px auto 0;
  }
  .button-filled__primary {
    cursor: pointer;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #4CAF50;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 125px;
    width: 380px;
    height: 50px;
  }
  .calculator_header {
    width: 413px;
    height: 364px;
  }

  .calculator__form-row {
    margin-bottom: 15px;
  }
  /// calc footer

  .calculator__footer {
    height: 200px;
    width: 100%;
    background: #F6F6F6;
    //margin: 14px 0 0 0;
    padding: 0;

  }

  .calculator__result-block {
    //width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: -1px;
  }

  .calculator__result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .additional__prices {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .calculator__form-field.safari {
    width: auto !important;
  }

  padding: 0;

  .calculator_header {
    width: 310px;
    font-weight: 400;
    font-size: 25px;
    color: $primary-gray;
    letter-spacing: 0px;

    .calculator__title {
      padding-top: 20px;
      padding-left: 20px;
      font-size: 25px;
      letter-spacing: 0px;
      margin-top: 0;
    }
  }
  .calculator__form-label {
    display: none;
  }
  .calculator__form-field {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #959BA3;
    letter-spacing: 0px;
  }
  .calculator__form-dropdown-half {
    width: 182px;
  }
  .calculator__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0;
  }
  .calculator__result {
    line-height: 0;
    font-weight: 400;
    font-size: 16px;
    color: #216EBE;
    letter-spacing: 0px;
  }

  .footer .form-block {
    text-align: center;
    width: 310px;
    margin: 0 auto;
  }
  .calculator__form-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
  }
  .calculator__form-select-half {
    width: 182px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
  }

  @media screen and (max-width: 1024px) {

    min-width: 310px;
    width: 310px;

    margin: 80px 0 60px 0;

    form {
      max-width: 310px;
      margin: 0 auto;
    }

    padding: 0;

    .calculator__content {
      padding: 0 15px;
    }
    .calculator_header {
      width: 310px;
      margin: 0 auto;
      height: auto !important;
      font-weight: 400;
      font-size: 25px;
      letter-spacing: 0px;

      .calculator__title {
        padding-top: 0;
        padding-left: 20px;
        font-size: 25px !important;
        letter-spacing: 0px;

      }
    }
    .calculator__form-label {
      display: none;
    }
    .calculator__form-field {
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      color: #959BA3;
      letter-spacing: 0px;
    }
    .calculator__form-dropdown-half {
      width: 182px;
    }
    .calculator__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 25px 0;
      justify-content: space-between;
    }
    .calculator__result {
      line-height: 0;
      font-weight: 400;
      font-size: 16px;
      color: #216EBE;
      letter-spacing: 0px;
    }
    .calculator__result-block {
      padding: 10px 0;
    }
    .button-filled__primary {
      background-position: 208px;
      width: 176px;
      height: 48px;
      //padding-right: 24px;
    }

    .calculator_header {
      width: 310px;
      font-weight: 400;
      font-size: 25px;
      color: #414b54;
      letter-spacing: 0;
    }
    .calculator_header .calculator__title {
      padding-top: 0;
      font-size: 25px;
      letter-spacing: 0;
    }

    .calculator__footer {
      padding: 0px 15px 0px;
    }

    .calculator__form-field {
      font-weight: 400;
      font-size: 14px;
      color: #959ba3;
      letter-spacing: 0;
    }

    .calculator__form-dropdown-half {
      width: 182px;
    }

    .calculator__header {
      padding: 15px 0 15px;
    }

  }

  @media screen and (max-width: 991px) {
    margin: 87px 0 60px 0;

  }

  @media screen and (max-width: 872px) {
    .calculator_header {
      margin: 0 auto;
    }
    .calculator__main {
      width: 100%;
    }
    .calculator_header {
      margin: 0 auto;
    }
    .calculator__main {
      width: 100%;
    }

  }

  @media screen and (max-width: 680px) {

    .calculator_header {
      width: 100%;
      height: 364px;
    }

    .calculator_header .calculator__title {
      font-size: 18px !important;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .calculator__form-select {
      width: 100%;
      background-color: #fff;
      border: 1px solid #D9D9D9;
      border-radius: 3px;
    }

    .calculator__form-select-half {
      background-color: #fff;
      border: 1px solid #D9D9D9;
      width: 162px;
    }

    z-index: 999;

  }

  @media screen and (min-width: 1025px) {
    //safari min-width
    min-width: 440px;
    width: 440px;

    form {
      width: 440px;
    }
    .calculator_header {
      width: 440px;
    }

    .calculator__content {
      padding: 0 30px;
    }

    .calculator__form-dropdown-half {
      width: 282px;
    }

    .calculator__main .calculator__header {
      padding: 15px 10px 15px;
    }

  }
}

.calculator-theme__white.indexpage {
  .calculator__title {
    color: #414B54;
  }
}
