.calculator-theme__white.additional__prices {

  .calculator__result.add__prices {
    display: flex;
  }

  .button-filled__primary {
    //padding-right: 0;
  }

  .calculator__result-block .calculator__result {
    flex: 2;
  }

  .calculator__result-block .calculator__result:first-child {
    flex: 3;
  }

  .calculator__result {
    align-items: flex-start;
  }

  .calculator__form-dropdown, .calculator__form-dropdown-half {
    border-radius: 6px;
  }

  .calculator__form-dropdown, .calculator__form-dropdown-half, .calculator__form-select, .calculator__form-select-half {
    height: 50px;
  }

  .calculator__content .calculator__form-row:last-child .calculator__form-dropdown-half {
    border-radius: 0;
  }

  .calculator__content .calculator__form-row:last-child .calculator__form-button__select-decrement,
  .calculator__content .calculator__form-row:last-child .calculator__form-button__select-increment {
    height: 50px;
  }

  .calculator__content .calculator__form-row:last-child .calculator__form-button__select-decrement {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .calculator__content .calculator__form-row:last-child .calculator__form-button__select-increment {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .calculator__form-row + .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-field .calculator__form-dropdown {
    text-align: center;
  }

  .calculator__result-value--img {
    height: 34px;
    background-repeat: no-repeat;
    background-position: 0;
    margin-left: 10px;
  }

  .calculator__result {
    line-height: 20px;
    margin-bottom: 0;
  }

  @media screen and (max-width: 1024px) {
    .calculator__result-block {
      padding: 0;
      flex-direction: row;
    }

    .calculator__footer {
      margin-top: 10px;
    }

    .calculator__result-value--img {
      background-image: url(./../../images/calculator/hot_small.svg);
      height: 34px;
      background-repeat: no-repeat;
      background-position: 0;
      width: 68px;
    }



    .calculator__footer {
      height: 70px;
    }

  }

  @media screen and (min-width: 1025px) {
    .calculator__result-value--img {
      background-image: url(./../../images/calculator/hot.svg);
      width: 103px;
    }

    .calculator__result-block {
      height: initial;
      line-height: initial;
      flex-direction: row;
    }

    .calculator__form-dropdown-half {
      width: 282px;
    }

    .calculator__footer {
      padding: 0 30px 0;
      justify-content: space-between;
      height: 90px;
    }

    .button-filled__primary {
      width: 250px;
      height: 50px;
    }

    .calculator-type__vertical .calculator__form-label {

      margin-bottom: 0;
    }

    .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-label {
      display: block;
    }

    //.calculator__form-row + .calculator__form-row + .calculator__form-row {}

    .calculator__form-row + .calculator__form-row + .calculator__form-row {
      float: left;
      display: inline-block;
    }

    .calculator__form-row + .calculator__form-row + .calculator__form-row + .calculator__form-row {
      float: left;
      padding-left: 22px;
    }

    .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-field .calculator__form-dropdown {
      width: 180px;
    }

    .calculator__form-row + .calculator__form-row + .calculator__form-row + .calculator__form-row .calculator__form-field .calculator__form-dropdown {
      text-align: center;
      width: 80px;
    }

  }
}
