@import './var';

/* wb - with border */
$field-half-wb-width: 107px;

.calculator-type__horizontal {


  .calculator {

    & {
      box-shadow: 0 1px 14px 0 rgba(0,0,0,.1);

      @include mobile {
        //width: 235px;
      }

      @include tablet-768 {
        width: 100%;
        max-width: 570px;
      }

    }

    &__header {
      padding: 15px 15px 0;
    }

    &__content {
      padding: 15px;

      @include mobile {
        padding-bottom: 0;
      }

      @include tablet-768 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        padding-bottom: 5px;
      }

    }

    &__result {
      font-size: 16px;
      margin-bottom: 15px;
      text-align: center;
    }

    .section-block {
      padding-left: 0 !important;
    }

    .section-block__first {
      margin-bottom: 35px;
    }

    &__form-row {
      flex-wrap: wrap;

      @include mobile {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

      }

      @include tablet-768 {
        width: calc(50% - 10px);
        margin-bottom: 15px;
      }

      & > .calculator__form-field {
        width: 100%;
      }

    }

    &__form-label,
    &__form-field-group,
    &__form-select,
    &__form-select-half {
      width: 100%;
      max-width: none;
    }

    &__form-field-group {
      justify-content: space-between;

      .calculator__form-field {

        &:nth-child(1),
        &:nth-child(3) {
          flex-shrink: 1;
        }

        &:nth-child(2) {
          flex-grow: 5;
        }

      }

    }

    &__form-label {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 7px;

      @include mobile {
        display: none;
      }

    }

    .dropdown-menu {
      width: 100%;

      &__list {
        max-height: 194px;
      }

      &__item {}

    }

    .dropdown-half {

      .dropdown-menu {

        @include mobile-767 {
          width: $field-half-wb-width;
          min-width: $field-half-wb-width;
          max-width: $field-half-wb-width;
        }

        @include tablet-768 {
          width: 162px;
          min-width: 162px;
          max-width: 162px;
        }

      }

      .dropdown-menu__item {

        @include mobile-767 {
          width: $field-half-wb-width;
        }

        @include tablet-768 {
          width: 160px;
        }

      }

    }

    &__form-dropdown-half {

      @include tablet-768 {
        width: 162px;
      }

    }

    &__form-select-half {

      @include tablet-768 {
        width: 162px;
      }

    }

    &__footer {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 0 15px 15px;

      box-shadow: none;

      @include mobile {
        padding: 15px;
      }

      @include tablet-768 {
        display: flex;
        justify-content: space-between;
      }

    }

    &__result {

      @include mobile {
        margin-bottom: 15px;

        font-size: 18px;
      }

      @include tablet-768 {
        margin: 0;
        text-align: left;
      }

    }

    &__result,
    &__button {
      width: 100%;

      &-block {
        //width: 100%;

        @include tablet-768 {
          width: calc(50% - 10px);
        }

      }

    }

  }

}
