@import './var';

.desktop {

  .calculator {

    .dropdown {
      display: block;
    }

    .select {
      display: none;
    }

  }

}

.ios.ipad.tablet,
.ios.iphone.mobile,
.ios.ipod.mobile,
.android.mobile,
.android.tablet,
.blackberry.mobile,
.blackberry.tablet,
.windows.mobile,
.windows.tablet,
.fxos.mobile,
.fxos.tablet,
.meego {

  .calculator {

    .select {
      display: block;
    }

    .dropdown {
      display: none;
    }

  }

}

