@import './var';

$field-width: 205px;
$field-half-width: 107px;

.calculator-type__vertical {

  .calculator {
    width: 235px;

    text-align: left;

    @include mobile-540 {
      margin: 20px auto 30px;
    }

    @include mobile {
      margin: 0 auto;
    }

    &__header {
      padding: 15px 15px 0;
    }

    &__content {
      padding: 15px 15px 0;
    }

    &__result {
      font-size: 16px;
      margin-bottom: 15px;
      text-align: center;
    }

    .section-block {

      @include mobile-767 {
        padding-left: 0 !important;
      }

      @include tablet-921 {
        display: flex;
        justify-content: space-between;
      }

    }

    .section-block__first {
      margin-bottom: 35px;
    }

    &__form-row {
      flex-wrap: wrap;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      & > .calculator__form-field {
        width: 100%;
      }

    }

    &__form-label,
    &__form-field-group,
    &__form-select,
    &__form-select-half {
      width: 100%;
      max-width: none;
    }

    &__form-label {
      display: none;
    }

    &__form-field-group {
      justify-content: space-between;

      .calculator__form-field {

        &:nth-child(1),
        &:nth-child(3) {
          flex-shrink: 1;
        }

        &:nth-child(2) {
          flex-grow: 5;
        }

      }

    }

    &__form-label {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 7px;
    }

    .dropdown-menu {
      width: $field-width;

      &__list {
        max-height: 194px;
      }

      &__item {
        width: $field-width - 2px;
      }

    }

    .dropdown-half {

      .dropdown-menu {
        width: $field-half-width;
        min-width: $field-half-width;
        max-width: $field-half-width;
      }

      .dropdown-menu__item {
        width: $field-half-width - 2px;
      }

    }

    &__footer {
      flex-wrap: wrap;
      padding: 15px;
      width: 100%;

      box-shadow: none;
    }

    &__result {
      font-size: 18px;
    }

    &__result,
    &__button {
      width: 100%;

      &-block {
        width: 100%;
      }

    }

  }

}
