@import './var';

.calculator {

  &__header {
    padding: 7px 15px 0;
  }

  &__title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  &__content {
    padding: 15px 15px;
  }

  &__footer {
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    padding: 15px;
  }

  &__result-block {
    text-align: left;
  }

  &__result {
    color: #bcc3cd;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__result-title {
    display: inline-block;
  }

  &__result-value {
    color: #fff;
    font-weight: 500;
  }

}
