@import './var';

.calculator-theme__light {

  &.calculator-type__horizontal {

    .calculator {
      background-color: #fff;
      border-color: #fff;
      box-shadow: 0 1px 14px 0 rgba(0,0,0,.1);
      border-radius: 3px;
    }

  }

  .calculator {

    &__title {
      color: #414b54;
      font-size: 26px;
      font-weight: 300;

      @include mobile-767 {
        font-size: 22px;
      }

    }

    &__form-label {

      @include tablet-768 {
        display: block;
      }

      label {
        color: #5c6166;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }

    }

    &__form-dropdown,
    &__form-select {
      background-color: #fff;
      border-color: #d9d9d9;

      &:hover,
      &:focus {
        border-color: #979797;
      }

    }

    &__form-button__select-increment,
    &__form-button__select-decrement {
      background-color: #fff;
      border-color: #d9d9d9;

      &:hover,
      &:focus {
        border-color: #979797;
      }

    }

    &__form-button__select-increment {
      background-image: url(./assets/increment_light.svg);
    }

    &__form-button__select-decrement {
      background-image: url(./assets/decrement_light.svg);
    }

    &__form-dropdown {

      .selected-value {
        color: #5c6166;
        font-weight: 300;
      }

      .placeholder {
        color: #8a9199;
        font-weight: 300;
      }

    }

    .dropdown-menu {

      &__item {
        background-color: #fff;

        color: #5c6166;
        font-weight: 300;

        &:hover,
        &:focus {
          background-color: #ddd;
        }

      }

    }

    &__result-title,
    &__result-value {
      color: #0282d5;
    }

    .pill {
      border-radius: 3px !important;
    }

    .button-text {
      font-size: 16px !important;
      font-weight: 400 !important;
    }

  }

}
