@import "../../../../common";

.section-1 {
  position: relative;

  .background {
    background-position: 7% 0px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 660px;
    position: fixed;
    //background-attachment: fixed;
    background-image: url(../images/bg_1920.png);
   }
  .container {
    max-width: 1200px;
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .text {
      width: 612px;
      padding: 195px 0 174px 0;

      &__heading {
        font-weight: $weight;
        font-size: 34px;
        color: $primary-color;
        letter-spacing: 0px;
        line-height: 50px;
      }
      &__paragraph {
        font-weight: $weight;
        font-size: 18px;
        color: $primary-color;
        letter-spacing: 0px;
        line-height: 28px;
      }
      &__button {
        padding-top: 30px;

        &_order {
          text-decoration: none;
          font-weight: $weight;
          font-size: 18px;
          color: $primary-color;
          padding: 13px 38px;
          background: #4CAF50;
          border-radius: 6px;
          margin-right: 20px;
        }
        .text__button_order:hover, .text__button_order:focus, .text__button_order:active {
          background-color: #38BA72;
          cursor: $cursor;
        }
        &_auth {
          text-decoration: none;
          font-weight: $weight;
          font-size: 18px;
          color: $primary-color;
          background: #216EBE;
          border-radius: 6px;
          padding: 13px 51px 13px 45px;
        }
        .text__button_auth:hover, .text__button_auth:focus, .text__button_auth:active {
          background-color: #0082d5;
          cursor: $cursor;
        }
      }
    }
  }
}
