@media screen and (min-width: 768px) and (max-width: 1800px) {
  .section-1 .background {
    background-size: cover;
  }
}
@media screen and (max-width: 1250px) {
  .section-1 .container {
    width: 90%;
  }
  .section-1 .background {
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .section-1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 615px) {
  .section-1 .container .text {
    width: 100%;
  }
}
