<% data.locale = 'us' %>
<% data.locale_link = data.locale != 'us' ? '/' + data.locale + '/' : '/' %>
<% data.path = '/' %>
<%= require('../../common/header.ejs')({
    locale: data.locale,
    path: data.path,
    pathCss:data.pathCss,
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    title: 'Custom Essay Writing Service | EssayService.com',
    description: 'The best essay writing service on the web! Get proofreading and editing help from pro Essay Writers or simply order an essay and solve your academic problems!',
    keywords: '',
    headerClass: '',
    hreflang: {
        'en': data.path,
        'en-nz': '/nz' + data.path,
        'en-ie': '/ie' + data.path,
        'en-au': '/au' + data.path,
        'en-ae': '/ae' + data.path,
        'en-ca': '/ca' + data.path,
        'en-gb': '/gb' + data.path
    }
}) %>
<!-- ================================== CONTENT START ==================================== -->
<%= require('../../common/templates/index/section-1.ejs')({
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    locale: data.locale,
    locale_link: data.locale_link,
    calc_index: 1
}) %>
<%= require('../../common/templates/index/section-4.ejs')({
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    locale: data.locale,
    locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section-2.ejs')({
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    locale: data.locale,
    locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section-7.ejs')({
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    locale: data.locale,
    locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section-8.ejs')({
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    locale: data.locale,
    locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section-5.ejs')({
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    locale: data.locale,
    locale_link: data.locale_link
}) %>
<%= require('../../common/templates/index/section-9.ejs')({
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    locale: data.locale,
    locale_link: data.locale_link
}) %>
<!-- ================================== CONTENT END ==================================== -->
<%= require('../../common/footer.ejs')({
    locale: data.locale,
    path: data.path,
    htmlWebpackPlugin: data.htmlWebpackPlugin,
    calc_index: 2
}) %>
