<footer>
    <% data.locale = data.locale ? data.locale : 'us' %>
    <% data.locale_link = data.locale != 'us' ? '/' + data.locale + '/' : '/' %>
    <% data.locales = ['us', 'gb', 'au', 'ae', 'ca', 'ie', 'nz'] %>
    <% data.locale_links = {us: '', gb: '/gb', au: '/au', ae: '/ae', ca: '/ca', ie: '/ie', nz: '/nz'} %>
    <% data.locale_names = {
        us: 'Global',
        gb: 'United Kingdom',
        au: 'Australia',
        ae: 'UAE',
        ca: 'Canada',
        ie: 'Ireland',
        nz: 'New Zealand'
    } %>
    <div class="container">
        <div class="flex">
            <div class="flex_1">
                <p class="flex__paragraph">Copyright © 2017 EssayHub. All Rights Reserved.</p>
                <ul class="flex__list">
                    <li class="flex__list_item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/become-a-writer.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="flex__list_item-link">Become a
                            writer</a></li>
                    <li class="flex__list_item"><a href="<%= data.htmlWebpackPlugin.options.frontend_url %>/privacy-policy.html?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>" class="flex__list_item-link">Privacy
                            policy</a></li>
                    <li class="flex__list_item"><a
                                href="<%= data.htmlWebpackPlugin.options.backend_url %>/terms-and-conditions?tap_s=<%= data.htmlWebpackPlugin.options.tap_s %>"
                                rel="nofollow" class="flex__list_item-link">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="flex_2">
                <div class="flex_2__pay-block">
                    <img src="<%= require('../footer/image/visa.png') %>" alt="Visa">
                </div>
                <div class="flex_2__pay-block">
                    <img src="<%= require('../footer/image/mastercard.png') %>" alt="MasterCard">
                </div>
                <div class="flex_2__pay-block">
                    <img src="<%= require('../footer/image/americanexpress.png') %>" alt="American-Express">
                </div>
                <div class="flex_2__pay-block">
                    <img src="<%= require('../footer/image/paypal.png') %>" alt="PayPal">
                </div>
            </div>


        </div>
    </div>

</footer>


<script src="/common.js" ></script>
<% for (var chunk in data.htmlWebpackPlugin.files.chunks) { %>
<script src="<%= data.htmlWebpackPlugin.files.chunks[chunk].entry %>" >
</script>
<% } %>

</body>
</html>
