@media only screen
and (max-width: 767px) {

  .page-writers {
    margin-bottom: 20px;

    .writers-list {
      border: 0;
    }
    .writers-list-item {
      border: 1px solid #cad3df;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 0;
    }

    .top-block__mobile {
      overflow: hidden;
      padding: 15px;
    }
    .bottom-block__mobile {
      border-top: 1px solid #cad3df;
    }
    .left-block {
      margin-right: 15px;
    }
    .central-block__top {
      margin: {
        left: 111px;
        right: 0;
      }
    }
    .central-block__bottom {
      margin: 0;
      position: relative;
    }
    .right-block {
      display: none;
    }

    .avatar-block {
      background: #0082d5;
      background: -moz-linear-gradient(left,  #0082d5 0%, #a234d5 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0082d5), color-stop(100%,#a234d5));
      background: -webkit-linear-gradient(left,  #0082d5 0%,#a234d5 100%);
      background: -o-linear-gradient(left,  #0082d5 0%,#a234d5 100%);
      background: -ms-linear-gradient(left,  #0082d5 0%,#a234d5 100%);
      background: linear-gradient(to right,  #0082d5 0%,#a234d5 100%);

      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      padding: 2px;
      position: relative;
      width: 96px;
      height: 96px;
    }

    .avatar {
      border-radius: 50%;
      width: 92px;
      height: 92px;
    }

    .name-block {
      overflow: hidden;
    }
    .name {
      font-size: 0;
    }
    .name-link {
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status-block {
      margin-left: 4px;
    }

    .message-block {
      display: none;
    }

    .order-block {
      border-right: 1px solid #cad3df;
      float: none;
      height: 100%;
      margin-right: 0;
      padding: 15px;
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      width: 50%;
    }
    .rating-wrapper {
      width: 50%;
      float: right;
      font-size: 0;
      padding: 15px;
    }

    .stats-title {
      display: block;
      width: 100%;
    }
    .stats-value {
      margin-right: 5px;
    }

  }

}
