@media only screen
and (min-width: 768px) {

  .page-writers {

    .sidebar {
      width: 210px;
    }

    .content {
      margin-left: 230px;
    }

    .writers-list-item {

      &:last-child {
        border-bottom: 0;
      }

    }

    .stats-value {
      float: left;
    }
    .stats-title {
      margin-right: 5px;
      padding-top: 7px;
    }

    .writers-list-footer {
      display: none;
    }

  }

}
