@media only screen
and (max-width: 560px) {

  .page-writers {

    .flex-content {

      .content {
        margin: 0 auto;
        width: 100%;
      }

    }

    .heading {
      margin-bottom: 0;
    }

    .writers-menu__mobile {
      display: block;
    }

    .sidebar {
      display: none;
    }

    .order-block,
    .rating-wrapper {
      padding: {
        left: 10px;
        right: 10px;
      }
    }

  }

}
