@media only screen
and (min-width: 768px)
and (max-width: 920px) {

  .page-writers {

    .writers-list-item {
      padding: {
        right: 15px;
        bottom: 15px;
      }
    }
    .central-block__top {
      margin: {
        right: 0;
        bottom: 5px;
      }
    }
    .central-block__bottom {
      margin-right: 115px;
    }
    .right-block {
      right: 15px;
      bottom: 15px;
    }
    .hire-block {
      vertical-align: bottom;
    }

    .order-block {
      float: none;
      margin: {
        right: 0;
        bottom: 10px;
      }
    }

  }

}
