@import './var';

.page-writers {

  .flex-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .content {
      flex: 1;
      margin-left: 20px;
    }

  }

  .es-writer-settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .es-writer-settings {

    @media only screen
    and (max-width: 320px) {

      & {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 20px;
      }

    }

    @media only screen
    and (min-width: 321px)
    and (max-width: 560px) {

      & {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 20px;
      }

    }

    .es-writer-settings__group-title {
      margin-right: 20px;

      color: #8493a8;
      font-size: 14px;
      font-weight: 400;
    }

    .btn-primary {
      background-color: #fff;
      border-color: #cbd4e0;
      border-radius: 20px;
      color: #5c6573;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;

      @include mobile {
        padding: 6px 10px;
      }

      @include tablet-start {
        padding: 11px 30px;
      }

      &.active,
      &:hover,
      &:focus {
        background-color: #eceff4;
        box-shadow: none;
      }

    }

  }

}

.page-writers,
.block-writers {
  margin-bottom: 40px;

  .writers-list {
    border: 1px solid #cad3df;
    border-radius: 3px;
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
    overflow: hidden;
  }

  .writers-list-item {
    border-bottom: 1px solid #cad3df;
    overflow: hidden;
    padding: 20px 30px;
    position: relative;
  }

  .left-block {
    float: left;
    height: 100%;
    margin-right: 20px;
  }
  .central-block {
    height: 100%;
    margin: {
      left: 96px;
      right: 135px;
    }
    overflow: hidden;
  }
  .right-block {
    position: absolute;
    top: 20px;
    right: 30px;
    bottom: 20px;
    left: auto;
    vertical-align: middle;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .rating-position-block {
    position: absolute;
    top: 7px;
    left: 7px;
  }

  .rating-position {
    background: {
      position: 50% 0;
      repeat: no-repeat;
    }
    float: left;
    //margin-right: 20px;
    width: 28px;
    height: 34px;

    @for $i from 1 through 10 {
      &.award-#{$i} {
        background-image: url(../../../../images/svg/award_#{$i}.svg);
      }
    }
  }

  .avatar-block {
    background: #ffda2e;
    background: -moz-linear-gradient(left, #ffda2e 0%, #2cd664 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffda2e), color-stop(100%, #2cd664));
    background: -webkit-linear-gradient(left, #ffda2e 0%, #2cd664 100%);
    background: -o-linear-gradient(left, #ffda2e 0%, #2cd664 100%);
    background: -ms-linear-gradient(left, #ffda2e 0%, #2cd664 100%);
    background: linear-gradient(to right, #ffda2e 0%, #2cd664 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda2e', endColorstr='#2cd664', GradientType=1);

    border-radius: 50%;
    overflow: hidden;
    //margin: 30px auto 15px;
    padding: 2px;
    position: relative;
    width: 76px;
    height: 76px;
  }

  .avatar {
    border-radius: 50%;
    width: 72px;
    height: 72px;
  }

  .name-block {}

  .name {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 0 0 7px;
  }

  .name-link {
    color: #3d4d65;
  }

  .status-block {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }

  .status {
    border-radius: 50%;
    display: block;
    width: 6px;
    height: 6px;
    margin-left: 6px;

    &.online {
      background-color: #04be5b;
    }

    &.offline {
      background-color: #e0108e;
    }
  }

  .message-block {
    display: inline-block;
    text-align: center;
  }

  .status-message {
    color: #8493a8;
    font-size: 12px;
    line-height: 16px;
  }

  .status-message__hide {
    display: none;
  }

  .description {
    color: #54657e;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    min-height: 21px;
  }

  .order-block {
    float: left;
    font-size: 0;
    margin-right: 30px;
  }

  .rating-block {
    float: left;
    font-size: 0;
    margin-right: 10px;
  }

  .stats-value {
    color: #54657e;
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
    margin-right: 5px;
  }

  .stats-title {
    color: #8493a8;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  .stats-percent {
    color: #8493a8;
    display: inline-block;
    font-size: 20px;
    line-height: 26px;
  }

  .rating-bar {
    display: inline-block;
    position: relative;
    width: 88px;
    height: 15px;
  }

  .rating-star {
    background: url(../../../../images/svg/stars.svg) no-repeat 0 0;
    display: inline-block;
    height: 15px;
    position: absolute;
    width: 100%;

    &.active {
      background: url(../../../../images/svg/stars_full.svg) no-repeat 0 0;
      display: inline-block;
      height: 15px;
      position: absolute;
      z-index: 1;
    }
  }

  .hire-block {
    display: inline-block;
    vertical-align: middle;
  }

  .button {
    background: none;
    border: 1px solid #04be5b;
    border-radius: 5px;
    color: #049f4d;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    outline: 0;
    text-transform: uppercase;
    padding: 10px 35px;
    position: relative;
    vertical-align: middle;

    &:hover,
    &:focus {
      background-color: #04be5b;
      color: #fff;
    }

  }

  .writers-list-footer {
    padding: 30px 15px;
    text-align: center;

    .button {
      border: 1px solid #0082d5;
      border-radius: 20px;
      color: #0082d5;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      padding: 10px 45px;
      text-transform: uppercase;
    }

  }

}


.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}


.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
.page-writers .es-writer-settings .btn-primary.active, .page-writers .es-writer-settings .btn-primary:hover, .page-writers .es-writer-settings .btn-primary:focus {
  background-color: #eceff4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn:hover, .btn-group-vertical > .btn:focus, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn.active {
  z-index: 2;
}
@media (min-width: 768px) {
  .page-writers .es-writer-settings .btn-primary {
    padding: 11px 30px;
  }
}
.page-writers .es-writer-settings .btn-primary {
  background-color: #fff;
  border-color: #cbd4e0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #5c6573;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
a, a::before, a::after, .button, .button::before, .button::after, .btn-primary, .btn-primary::before, .btn-primary::after {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}
