@media only screen
and (max-width: 560px) {

  .page-writers {
    margin-bottom: 20px;

    &.main {

      .heading {
        display: block;
        padding-bottom: 0;

        border-bottom: 0;

        .heading-title {
          float: none;
          margin: 0 0 20px;
        }

      }

    }

  }

}
