@media only screen
and (min-width: 561px)
and (max-width: 767px) {

  .page-writers {

    .heading {
      border-bottom: 1px solid #ddd;

      .heading-title {
        display: block;
      }

    }

    .writers-menu__mobile {
      display: none;
    }

    .sidebar {
      width: 210px;
    }

    .content {
      margin-left: 230px;
    }

  }

}
