@import "../../../common";

.section-footer {
  @extend .primary;
  background-image: url(../../../images/section_footer/bg_footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;

  .container {
    @extend .container;

    .text {
      padding: 154px 0 137px 0;
      //width: 580px;
      margin: 0 auto;

      &__title {
        font-weight: $weight;
        font-size: 34px;
        color: $primary-color;
        text-align: center;
      }
      &__paragraph {
        font-weight: $weight;
        font-size: 15px;
        color: $primary-color;
        line-height: 28px;
        text-align: center;
      }
      &__button {
        padding-top: 25px;
        text-align: center;

        &_order {
          text-decoration: none;
          font-weight: $weight;
          font-size: 18px;
          color: $primary-color;
          padding: 18px 35px;
          background: #4CAF50;
          border-radius: 6px;
          margin-right: 20px;
        }
        .text__button_order:hover, .text__button_order:focus, .text__button_order:active {
          background-color: #38BA72;
          cursor: $cursor;
        }
      }
    }
  }
}
