@media screen and (max-width: 540px) {
  .section-footer {
    background-image: url(../../../images/section_footer/bg_320.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-footer .container .text {
    width: 100%;
    padding: 30px 0;
  }
  .section-footer .container .text__title {
    text-align: center !important;
    //width: 290px;
    margin: 0 auto;
    line-height: 36px;
  }

  .section-footer .container .text__paragraph {
    width: 290px;
    margin: 0 auto;
    line-height: 22px;
    padding-top: 30px;
  }

  .section-footer .container .text__button {
    margin-top: 30px;
  }

  .section-footer .container .text__button_order {
    padding: 16px 30px;
    font-size: 15px;
    margin-right: 0;
  }
  footer .container .flex .flex_1 .flex__list .flex__list_item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .section-footer .container .text {
    width: 580px;
    margin: 0 auto;
  }
}
