

.icon {
  display: inline-block;
  vertical-align: middle;

  width: 16px;
  height: 18px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;

	transition: background-image 0.3s ease;

  &:first-child {
    margin-right: 15px;
  }

  &:last-child {
    margin-left: 10px;
  }

  &:only-child {
    margin: 0;
  }

}

.icon {

  &__menu {
    background-image: url(../../../images/drawer/icon__menu__24x18.svg);
    background-size: 24px 18px;

    &.icon {
      width: 24px;
      height: 18px;

      margin: 0;
    }

  }

  &__menu-close {
    background-image: url(../../../images/drawer/icon__menu_close__14x14.svg);
    background-size: 14px 14px;

    &.icon {
      width: 14px;
      height: 14px;

      margin: 0;
    }

  }

  &__user {
    background-image: url(../../../images/drawer/icon__user__24x24.svg);
    background-size: 24px 24px;

    &.icon {
      width: 24px;
      height: 24px;

      margin: 0;
    }

  }

  &__user-close {
    background-image: url(../../../images/drawer/icon__user_close__24x24.svg);
    background-size: 24px 24px;

    &.icon {
      width: 24px;
      height: 24px;

      margin: 0;
    }

  }

  &__writers {
    background-image: url(../../../images/drawer/icon__writers__16x12.svg);
    background-size: 16px 12px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__writers_hover__16x12.svg);
    }

  }

  &__hiw {
    background-image: url(../../../images/drawer/icon__hiw__16x16.svg);
    background-size: 16px 16px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__hiw_hover__16x16.svg);
    }

  }

  &__place-order {
    background-image: url(../../../images/drawer/icon__place_order__16x16.svg);
    background-size: 16px 16px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__place_order_hover__16x16.svg);
    }

  }

  &__reviews {
    background-image: url(../../../images/drawer/icon__reviews__16x14.svg);
    background-size: 16px 14px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__reviews_hover__16x14.svg);
    }

  }

  &__faq {
    background-image: url(../../../images/drawer/icon__faq__16x16.svg);
    background-size: 16px 16px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__faq_hover__16x16.svg);
    }

  }

  &__about-us {
    background-image: url(../../../images/drawer/icon__about_us__16x17.svg);
    background-size: 16px 17px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__about_us_hover__16x17.svg);
    }

  }

  &__blog {
    background-image: url(../../../images/drawer/icon__blog__16x16.svg);
    background-size: 16px 16px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__blog_hover__16x16.svg);
    }

  }

  &__learn {
    background-image: url(../../../images/drawer/icon__learn__16x14.svg);
    background-size: 16px 14px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__learn_hover__16x14.svg);
    }

  }

  &__baw {
    background-image: url(../../../images/drawer/icon__baw__16x16.svg);
    background-size: 16px 16px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__baw_hover__16x16.svg);
    }

  }

  &__affiliate {
    background-image: url(../../../images/drawer/icon__affiliate__16x17.svg);
    background-size: 16px 17px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__affiliate_hover__16x17.svg);
    }

  }

  &__terms {
    background-image: url(../../../images/drawer/icon__terms__16x16.svg);
    background-size: 16px 16px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__terms_hover__16x16.svg);
    }

  }

  &__privacy-policy {
    background-image: url(../../../images/drawer/icon__privacy_policy__14x18.svg);
    background-size: 14px 18px;

    .link:hover &,
    .link:focus & {
      background-image: url(../../../images/drawer/icon__privacy_policy_hover__14x18.svg);
    }

  }

  &__back {
    background-image: url(../../../images/drawer/icon__back__14x12.svg);
    background-size: 14px 12px;

    &.icon {
      width: 14px;
      height: 12px;
    }

    .subnav-link:hover &,
    .subnav-link:focus & {
      background-image: url(../../../images/drawer/icon__back_hover__14x12.svg);
    }

  }

}
