@import 'var.scss';

/*--------------------------------------------------------- begin-submenu ------------------------------------------*/

/*.submenu {
	display: none !important;
	position: absolute;

	transition: all .3s ease;

	.active & {
		display: block !important;
	}

	#learn + & {
		margin-top: 18px !important;
	}

	.item {
		padding: 0 !important;
	}

}*/

/*----------------------------------------------------------- end-submenu ------------------------------------------*/

.langmenu {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 50px;

  list-style: none outside none;
  margin: 0;
  padding: 0;

  border: 1px solid #d9d9d9;
  border-radius: 3px;

  .active & {
    display: block;
  }

  &__item {
    border-bottom: 1px solid #d9d9d9;

    &:first-child {

      .langmenu__link {
        border-radius: 3px 3px 0 0;
      }

    }

    &:last-child {
      border-bottom: 0;

      .langmenu__link {
        border-radius: 0 0 3px 3px;
      }

    }

  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 48px;
    padding: 0 15px;

    background-color: #fcfcfc;

    &:hover,
    &:focus {
      background-color: #fefefe;

      .land-name {
        color: #6d768d;
      }

    }

    .land-name {
      white-space: nowrap;
    }

  }

}
