.writers-menu,
.writers-menu__children,
.writers-menu__mobile {
  list-style: none outside none;
  margin-bottom: 0;
}

.writers-menu__children {
  padding-left: 0;
}

.writers-menu {
  padding-left: 0;

  /*& ul {
      display: none;
  }*/
}

.writers-menu-item {

  /*&.current > ul {
      display: block;
  }*/

  position: relative;
}

.writers-menu-link {
  border-left: 2px solid rgba(0, 0, 0, 0);
  color: #54657e;
  display: inline-block;
  font-size: 15px;
  padding: 13px 23px;
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus,
  &.current,
  .writers-menu .writers-menu-item.current > &,
  .writers-menu__children .writers-menu-item.current > & {
    background-color: #eceff4;
    border-left: 2px solid #0082d5;
    color: #54657e;
    text-decoration: none;

    .badge {
      background-color: #fff;
    }
  }

  .badge {
    background-color: #eceff4;
    border: 1px solid #cad3df;
    color: #54657e;
    float: right;
    line-height: 16px;
    margin: 2px 0;
    padding: 1px 7px;
  }
}

.writers-menu__mobile {
  padding-left: 0;
  z-index: 10;
}

.writers-menu-button__mobile {
  background: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
  color: #0076c1;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 15px;
  outline: 0;
  width: 100%;
}

.writers-menu-children__mobile {
  padding-left: 0;
  width: 100%;

  &.dropdown-menu {

    & > li > span {
      color: #0076c1;
      font-size: 18px;
      font-weight: 300;
      padding: 10px 15px;
      cursor: pointer;
      line-height: 35px;

      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0);
      }
    }

  }
}

.badge {
  background-color: #999;
}
