@import "../../../../../common";

.section-4 {
  @extend .primary;
  padding:  60px 0;

  .container {
    width: 1200px;

    .title {
      @extend .primary-title;
      width: 706px;
      margin: 0 auto;
    }
    .list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
      padding: $zero;
      margin-top: 70px;

      &__item {
        width: 33%;
        margin-bottom: 35px;
        padding: 10px;
        text-align: center;
        //padding-bottom: 36px;

        @media screen and (max-width: 768px){
          width: 50%;
        }

        @media screen and (max-width: 540px){
          width: 100%;
          padding: 0px;
        }

        &__flex {
          display: flex;
          flex-direction: column;
          align-items: center;

          &_title {
            @extend .list-title;
            //margin: 0;
            //padding: 35px 0 0 0;
          }
        }
        &__paragraph {
          font-weight: $weight;
          font-size: 15px;
          color: $gray;
          letter-spacing: 0px;
          line-height: 24px;
          text-align: center;
        }
      }
    }
    .text__button {
      text-align: center;
      //margin-top: 30px;

      &_auth {
        text-decoration: none;
        font-weight: $weight;
        font-size: 18px;
        color: $primary-color;
        background: #216EBE;
        border-radius: 6px;
        padding: 18px 40px;
      }
      .text__button_auth:hover, .text__button_auth:focus, .text__button_auth:active {
        background-color: #0082d5;
        cursor: $cursor;
      }
    }
  }
}
