@media screen and (max-width: 1250px) {
  .section-4 .container .list {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .section-4 .container {
    width: 90%;

    .title {
      width: 100%;
    }
  }
}

@media screen and (max-width: 540px) {
  .section-4 {
    padding: 20px 0;
  }

  .section-4 .container {

    .title {
      text-align: left;
      font-size: 26px;
      color: #414B54;
      letter-spacing: 0;
      margin: 20px 0;
    }
    .list__item__flex {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 768px) {
      .list__item__flex img {
        width: 10%;
      }
    }

    .list__item__flex_title {



      margin-left: 20px;
      //margin-bottom: 20px;
      font-size: 18px;
      color: #414B54;
      letter-spacing: 0;
    }
    .list__item__paragraph {
      text-align: left;
      font-size: 14px;
      color: #6C767F;
      letter-spacing: 0;
      line-height: 22px;
      margin-top: 0;
    }
    .list {
      margin: 0;
    }
    .list__item {
      margin: 0;
    }
  }
  .section-4 .container .text__button_auth {
    padding: 16px 30px;
    font-size: 15px;
  }
  .section-4 .container .text__button {
    text-align: center;
    padding: 30px 0;
  }
}
