@import './var';

.page-writers,
.page-writers.main,
.page-feedbacks,
.page-feedbacks.main,
.page-profile,
.page-profile.main {

	.heading {
    border-bottom: 1px solid #ddd;

		@include mobile {
			margin-bottom: 20px;
      padding-bottom: 20px;
		}

		@include tablet-start {
			margin-bottom: 30px;
		}

		@include mobile-half-2 {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&::before,
			&::after {
				display: none;
			}

			.heading-title {
				float: none;
			}

		}

		@include tablet {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding-bottom: 20px;

			&::before,
			&::after {
				display: none;
			}

			.heading-title {
				float: none;
			}

		}

		@include desktop {
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding-bottom: 20px;

			&::before,
			&::after {
				display: none;
			}

			.heading-title {
				float: none;
			}

		}

	}

  .heading-title {

    @include mobile {
      display: block;

      font-size: 22px;
      line-height: 25px;
    }

  }

	.es-heading {

		&__description {
			color: #5c6573;
			font-weight: 300;

			@include mobile {
				margin-bottom: 20px;

				font-size: 14px;
				line-height: 20px;
			}

			@include tablet-start {
				margin-bottom: 30px;

				font-size: 16px;
				line-height: 24px;
			}

      &.for-mobile {
        display: none;

        @include mobile-560 {
          display: block;
        }

      }

		}

	}

}

.page-writers,
.page-writers.main {

  .heading {

    @include mobile-560 {
      padding-bottom: 0;
      border-bottom: 0;
    }

  }

  .es-heading__description {

    @include mobile-560 {
      display: none;
    }

  }

}

.page-profile,
.page-profile.main {

  .heading__title {
    margin: 0;

    color: #424b59;
    font-weight: 300;

    @include tablet {
      font-size: 30px;
      line-height: 35px;
    }

  }

}
