.heading {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  position: relative;

  .heading-title {
    float: left;
  }

}

.page-writers .heading,
.page-profile .heading,
.page-feedbacks .heading {
  /*margin-top: 20px;*/
}

.heading-title,
.writer-settings {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  margin: 3px 0;
}

.writer-settings {
  height: 36px;
}

.writer-settings__menu {

  &.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px 7px rgba(0, 0, 0, .2);
    right: 0;
    left: auto;
    line-height: 16px;
    margin-top: 3px;
    padding: 20px;
  }

}

.writer-settings__link {
  background: none;
  border: 0;
  color: #8493a8;
  float: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 3px 0;
  outline: 0;
  padding: 0;
}

.writer-settings__group {
}

.writer-settings__group-title {
  color: #3d4d65;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.writer-settings__group-buttons {
  margin-bottom: 20px;

  .writer-settings__group:last-child & {
    margin-bottom: 0;
  }

  .btn-primary {
    background-color: #eceff4;
    border-color: #cad3df;
    color: #8493a8;
    font-size: 15px;
    line-height: 20px;
    padding: 12px;

    &.active,
    &:hover,
    &:focus {
      background-color: #8493a8;
      border-color: #8493a8;
      box-shadow: none;
      color: #fff;
    }
  }
}
