@media only screen
and (max-width: 767px) {

  .heading {
    border-bottom: 0;

    .heading-title {
      display: none;
    }

  }

  .writer-settings__menu {

    &.dropdown-menu {
      margin-top: 5px;
    }

  }

}
