@import '../../../../styles/base/base';

.header.header__home.secondary {
  background-color: rgba(255,255,255,.85);
}

.header.header__home.secondary .link {
  color: #0082d5;
}

.header.header__home.secondary .link.sign-up {
  border-color: #0082d5;
  color: #0082d5;
}

.header.header__home {
  background-color: rgba(29,29,29,.7);
  border-bottom: 1px solid #81bbff;
}

.page-home {

  .container {

    &::before,
    &::after {
      content: "";
      display: table;
    }

  }

  .section-wrapper {
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  .flex-block {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .section-bottom-block {
    //position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    .section-heading {
      margin-bottom: 25px;
    }

  }

  .section-heading {
    color: #fff;
    font-size: 43px;
    font-weight: 300;
    line-height: 57px;
    margin: 0 0 2px;
  }

  .section-heading-rc {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 53px;
    margin-bottom: 25px;
  }

  .section-heading-small {
    border-top: 1px solid #81bbff;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 33px;
    margin: 0;
    padding: 35px 0;
  }

  .section-text {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 28px;
  }

  .section-list {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
  }

  .section-link-group {
    display: inline-block;
    font-size: 0;

    .section-link {

      &:first-child {
        margin-right: 20px;
      }

    }

  }

  .section-link {
    border: 1px solid #f0ad4e;
    border-radius: 20px;
    color: #f0ad4e;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    padding: 8px 20px;
    position: relative;
    transform: translate(0);
    transition: all .3s ease-in;

    &:hover,
    &:focus {
      background-color: #f0ad4e;
      color: #fff;
    }

  }

  .section-1 {
    position: relative;

    .section-block {
      position: relative;

    }

    .section-text {
      margin-bottom: 25px;
    }

  }

  .section-8,
  .section-9 {

    .average_rating--value {
      color: #54657E;
      font-size: 14px;
      font-weight: 100;
    }

    .average_rating--value .number {
      font-weight: 500;
    }

    .section-block--heading {
      display: flex;
      justify-content: space-between;
      margin: 0 15px;
    }

    @media screen and (max-width: 767px) {
      .section-block--heading {
        justify-content: center;
        flex-direction: column;
        margin-top:5px;

        //.es-section__block--heading {
        //  width: 250px;
        //  margin: 0 auto;
        //}

      }

      .average_rating--value {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 1024px) and (min-width: 768px) {
      .section-block--heading {
        display: flex;
        justify-content: space-around;
        margin: 0 0;
      }
    }

    .section-heading {
      color: #3d4d65;
    }

    .section-text,
    .section-list {
      color: #54657e;
    }

  }

  .section-8,
  .section-9 {

    .section-heading {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 40px;
      font-weight: 300;
      line-height: 53px;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

  }

  .section-8,
  .section-9 {

    .section-heading {
      text-align: center;
    }

  }

  .section-8 {

    .writers-list {
      font-size: 0;
      text-align: center;
    }

    .writers-list-item {
      width: 290px;
      display: inline-block;
      font-size: 14px;
      text-align: left;
      vertical-align: top;
    }

    .block-writers {
      margin-bottom: 10px;

      .writers-list {
        border: 0;
      }
      .writers-list-item {
        border: 1px solid #cad3df;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 0;
      }

      .top-block__mobile {
        overflow: hidden;
        padding: 15px;
      }
      .bottom-block__mobile {
        border-top: 1px solid #cad3df;
      }
      .left-block {
        margin-right: 15px;
      }
      .central-block__top {
        margin: {
          left: 111px;
          right: 0;
        }
      }
      .central-block__bottom {
        margin: 0;
        position: relative;
      }
      .right-block {
        display: none;
      }

      .avatar-block {
        background: #0082d5;
        background: -moz-linear-gradient(left,  #0082d5 0%, #a234d5 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0082d5), color-stop(100%,#a234d5));
        background: -webkit-linear-gradient(left,  #0082d5 0%,#a234d5 100%);
        background: -o-linear-gradient(left,  #0082d5 0%,#a234d5 100%);
        background: -ms-linear-gradient(left,  #0082d5 0%,#a234d5 100%);
        background: linear-gradient(to right,  #0082d5 0%,#a234d5 100%);

        border-radius: 50%;
        overflow: visible;
        margin: 0 auto;
        padding: 2px;
        position: relative;
        width: 96px;
        height: 96px;

        a {
          display: block;
        }

      }

      .avatar {
        border-radius: 50%;
        width: 92px;
        height: 92px;
      }

      .name-block {
        overflow: hidden;
      }
      .name {
        //font-size: 0;
        display: flex;
        align-items: center;
        line-height: normal;
      }
      .name-link {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .status-block {
        //margin-left: 4px;
      }

      .status {
        margin-top:0;
      }

      .description {
        white-space: normal;
        height: 65px;
      }

      .message-block {
        display: none;
      }

      .order-block {
        border-right: 1px solid #cad3df;
        float: none;
        height: 100%;
        margin-right: 0;
        padding: 15px;
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;
        width: 50%;
      }
      .rating-wrapper {
        width: 50%;
        float: right;
        font-size: 0;
        padding: 15px;
      }

      .stats-title {
        display: block;
        padding-top: 0;
        width: 100%;
      }
      .stats-value {
        margin-right: 5px;
      }



      .writers-menu__mobile {
        display: block;
      }

      &.main {
        margin-top: 56px;
      }

      .sidebar {
        display: none;
      }

      .order-block,
      .rating-wrapper {
        padding: {
          left: 8px !important;
          right: 8px !important;
        }
      }

    }

  }

  .section-9 {

    .feedbacks-list {
      font-size: 0;
      margin-bottom: 0;
      padding-left: 0;
      text-align: center;
    }

    .feedbacks-list-item {
      background-color: #fff;
      border: 1px solid #cad3df;
      border-radius: 5px;
      display: inline-block;
      font-size: 14px;
      padding: 15px;
      text-align: left;
      vertical-align: top;
      width: 290px;
    }

    .block-feedbacks {
      border-bottom: 0;
      /*margin-bottom: 25px;*/
      padding: 0;
      overflow: hidden;
      position: relative;

      .left-block {
        float: left;

        .comments-body {
          height: 100px;
        }

      }

      .right-block {
        float: right;
        position: relative;
      }

      .date {
        float: left;
      }
      .comments-body {
        margin-left: 50px;
        overflow: hidden;
      }

      .day {
        color: #54657e;
        font-size: 25px;
        line-height: 33px;
      }
      .month {
        color: #8493a8;
        font-size: 13px;
        line-height: 18px;
      }

      .customer {
        color: #3d4d65;
        float: left;
        font-size: 15px;
        line-height: 20px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      .order {
        color: #8493a8;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .comment {
        color: #54657e;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 0;
      }

      .rating-value {
        color: #54657e;
        float: left;
        font-size: 20px;
        line-height: 20px;
        margin-right: 8px;
      }

      .rating-bar {
        margin-top: 2px;
        float: right;
        clear: both;
        position: relative;
        width: 88px;
        height: 15px;
        vertical-align: middle;
      }

      .rating-star {
        background: url(../../../../images/svg/stars.svg) no-repeat 0 0;
        display: inline-block;
        height: 15px;
        position: absolute;
        width: 100%;

        &.active {
          background: url(../../../../images/svg/stars_full.svg) no-repeat 0 0;
          display: inline-block;
          height: 15px;
          position: absolute;
          z-index: 1;
        }
      }

      .customer {
        float: none !important;
        margin-right: 0;

        &::after {
          content: ':';
        }

      }

      .left-block {
        float: none;
        margin: {
          right: 0;
          bottom: 5px;
        }
        width: 100%;
      }

      .right-block {
        float: left !important;
        margin: {
          bottom: 8px;
          left: 50px;
        }
      }

      .rating-bar {
        clear: none;
        float: right;
        margin-top: 2px;
      }

      .rating-value {
        color: #54657e;
        float: left;
        font-size: 20px;
        line-height: 20px;
        margin-right: 8px;
      }

      .order__wo-mobile {
        display: none;
      }
      .order__only-mobile {
        clear: both;
        display: block !important;
        padding-top: 10px;
      }

      .order-info {
        border-top: 1px solid #cad3df;
        padding-top: 8px;
      }

      .day {
        //line-height: 28px;
      }

      .comment {
        min-height: 75px;
        white-space: normal;
        overflow: hidden;
        text-overflow: clip;
      }

      .writer {
        color: #8493a8;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 0;
      }

      .writer-link {
        color: #3d4d65;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
      }

      .status-block {
        display: inline-block;
        margin-right: 5px;
        //vertical-align: top;
      }
      .status {
        border-radius: 50%;
        display: block;
        width: 6px;
        height: 6px;
        margin-top: 6px;
        margin-left: 4px;

        &.online {
          background-color: #04be5b;
        }

        &.offline {
          background-color: #e0108e;
        }
      }

    }

  }

  .section-8,
  .section-9 {

    .section-link {
      border-color: #0082d5;
      color: #0082d5;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background-color: #0082d5;
        color: #fff;
      }

    }

  }

  .section-8,
  .section-9 {

    .section-link-block {
      text-align: center;
    }

    .section-link {
      width: 163px;
      text-align: center;
      text-transform: uppercase;
    }

  }

}
