
@media only screen
and (max-height: 260px) {

  .page-home {

    .section-1 {
      min-height: 320px;
    }

  }

}


@media only screen
and (max-height: 767px) {

  .page-home {

    .section-1 {
      height: 100%;

      .section-bottom-block {
        position: static;
        margin-top: 30px;

        .section-heading {
          display: none;
        }

      }

    }

  }

}




