@media only screen
and (max-width: 767px) {

  .page-home {

    .section-1 {

      .flex-block {
        flex-direction: column;
      }

      .section-block {
        text-align: center;
      }

    }

    .section-heading {
      font-size: 43px;
      line-height: 57px;
      margin: 0 0 2px;
    }

    .section-heading-rc {
      font-size: 29px;
      line-height: 35px;
      margin-bottom: 15px;
    }

    .section-list {

      li {
        font-size: 17px;
        line-height: 35px;
      }

    }

    .section-1 {

      .section-bottom-block {

        .section-heading {
          display: none;
        }

      }

      .only-mobile {
        display: inline;
      }

      .only-desktop {
        display: none;
      }

    }

    .section-8 {
      padding: {
        top: 20px;
        bottom: 25px;
      }

      .section-heading {
        font-size: 29px;
        line-height: 35px;
        margin-bottom: 15px;
      }

      .writers-list {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        transition: all .7s ease;
        white-space: nowrap;
      }

      .writers-list-item {
        display: inline-block;
        overflow: visible;
        margin: {
          right: 20px;
          bottom: 17px !important;
          left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

      }

      .block-writers {
        margin-bottom: 8px;
      }

    }

    .section-9 {
      padding: {
        top: 20px;
        bottom: 25px;
      }

      .section-heading {
        font-size: 29px;
        line-height: 35px;
        margin-bottom: 15px;
      }

      .feedbacks-list,
      .list-reviews {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        transition: all .7s ease;
        white-space: nowrap;
      }

      .feedbacks-list-item {
        display: inline-block;
        margin: {
          right: 20px;
          bottom: 17px !important;
          left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

      }

      .block-feedbacks {
        margin-bottom: 8px;
      }

    }

  }

}
