@media only screen
and (min-width: 569px)
and (max-width: 767px) {

  .page-home {

    .section-1 {

      .section-block {
        padding-top: 67px;
      }

      .section-heading {
        font-size: 30px;
        line-height: 39px;
        margin-bottom: 16px;
      }

      .section-heading-small {
        font-size: 16px;
        line-height: 21px;
        padding: 15px 0;
      }

      .section-text {
        //max-width: 215px;
        //margin-bottom: 22px;
      }

    }

    .section-2 {

      .section-list {
        overflow: hidden;

        li {
          width: 50%;
          float: left;
        }

      }

    }

  }

}
