@media only screen
and (max-width: 480px) {

  .page-home {

    .section-1 {

      .section-block {
        padding-top: 100px;
      }

      .section-heading {
        font-size: 28px;
        line-height: 37px;
        margin-bottom: 10px;
      }

      .section-heading-small {
        font-size: 16px;
        line-height: 21px;
        padding: 15px 35px;
      }

      .section-text {
        font-size: 18px;
        line-height: 24px;
      }

    }

  }

}
