@media only screen
and (min-width: 768px) {

  .page-home {

    .section-1 {
      height: 100vh;
      max-height: 1100px;

      .only-mobile {
        display: none;
      }

      .only-desktop {
        display: inline;
      }

      .section-bottom-block {
        position: absolute;
      }

    }

    .section-8 {

      .writers-list-item {
        margin: {
          top: 0;
          right: 15px;
          bottom: 30px !important;
          left: 15px;
        }

      }

    }

    .section-9 {

      /*.block-feedbacks {
        margin-bottom: 10px;
      }*/

      .feedbacks-list-item {
        margin: {
          top: 0;
          right: 15px;
          bottom: 30px !important;
          left: 15px;
        }
      }

    }

    .section-8,
    .section-9 {
      padding: {
        top: 40px;
        bottom: 40px;
      }

      .section-heading {
        margin-bottom: 40px;
      }

    }

  }

}
