@media only screen
and (min-width: 1441px) {

  .page-home {

    .section-1 {

      .section-bottom-block {

        .section-heading {
          margin-bottom: 42px;
        }

      }

    }

  }

}
