@media only screen
and (min-width: 481px)
and (max-width: 568px) {

  .page-home {

    .section-1 {

      .section-block {
        padding-top: 80px;
      }

      .section-heading {
        font-size: 30px;
        line-height: 39px;
        margin-bottom: 7px;
      }

      .section-heading-small {
        font-size: 16px;
        line-height: 21px;
        padding: 15px 0;
      }

    }

    .section-9 {

      .block-feedbacks {
        margin-bottom: 8px !important;
      }

    }

  }

}
