@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 936px) {

  .footer-bottom {

    .flex-wrapper {
      flex-direction: column;
    }

    .left-block {
      justify-content: flex-start;
    }

    .right-block {
      justify-content: flex-start;
      margin-top: 10px;
    }

  }

}
