@import "../../../theme/var";
@import "../../../theme/mixins";

.footer-bottom {
  background: #fcfcfc;
  padding: 12px 0;

  .flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .left-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    margin: auto 0;
  }

  .copyright-wrap {
    display: flex;
    align-items: center;
  }

  .copyright,
  .reserved {
    color: #54657e;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    display: inline-block;
  }

  .footer-bottom-divider {
    color: #cad3df;
    font-size: 21px;
    font-weight: 300;
    margin: 0 10px;
  }

  .link {
    color: #3d4d65;
    font-size: 16px;
    line-height: 28px;

    &:hover {
      color: #3d4d65;
    }

  }

  .right-block {
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
  }

  .image,
  .pm-icon {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

  }

}
