@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 936px) {

  .footer-bottom {

    .left-block {
      justify-content: center;
      flex-direction: column;

    }

    .copyright-wrap {
      margin-bottom: 20px;
      justify-content: center;
    }

    .right-block {
     display: none;
    }

    .lang-block {

    }

  }

}
