@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 568px) {

  .footer-bottom {

    .reserved {
      display: none;
    }

    .rights {
      display: none;
    }

    .left-block {
      flex-direction: column;
      margin: 10px 0;
      justify-content: center;


      div {
        width: 100%;
        text-align: center;
      }

    }

  }

}
