@import "../../../../../common";

.section-8 {
  .text__flex__list {
    .text__flex__list__item:first-child {
      img:first-child {
        display: none;
      }
    }
  }
}

.section-8 {
  @extend .primary;
  padding: 30px 0;

  .container {
    width: 1200px;

    .image {
      background-repeat: no-repeat;
      background-position: 100%;
    }

    .imageright {
      background-image: url(../../../../images/index/section_8/show.svg);
    }

    .text {

      &__title {
        @extend .primary-title;
      }
      &__flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &__list {
          list-style-type: none;
          padding: $zero;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 426px;
          //margin: 0;

          &__item {
            padding-right: 20px;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            cursor: $cursor;
            padding-left: 20px;
            line-height: inherit;
            color: #414B54;

            .image {
              padding-left: 40px;
              padding-right: 20px;
            }

            .image:first-child {
              padding-right: 20px;
            }
          }
          &__item:hover {
            .image:first-child {
              margin-right: -10px;
              -webkit-transition: all .3s ease;
              transition: all .3s ease;
            }

          }
        }
        &__paragraph {
          width: 680px;
          font-weight: $weight;
          font-size: 16px;
          color: $primary-gray;
          line-height: 24px;
        }
      }
    }

  }
}

.hidden {
  display: none;
}

.gray {
  position: relative;
  display: inline-block;
  background: #F2F4F7;
  color: $primary-gray;
}

