@media screen and (max-width: 1251px) {
  .section-8 .container {
    width: 90%;
  }
  .section-8 .container .text__flex__paragraph {
    width: 600px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 920px) {

  .section-8 {
    .container {
      .image {
        background-repeat: no-repeat;
        background-position: 95%;
      }

      .imagedown {
        background-image: url(../../../../images/index/section_8/arrowshow.svg);
      }
    }
    .text__flex__list {
      .text__flex__list__item:first-child {
        img:last-child {
          display: block;
        }
      }
    }
  }

  .section-8 .container .text__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-8 .container .text__flex .landscape {
    display: none !important;
  }

  .section-8 .container .text__flex__paragraph {
    margin-left: 0;
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 450px) {
  .section-8 .container .text__flex__list {
    width: inherit;
  }

  .section-8 .container {
    width: 100% !important;
    max-width: 100%;

    .text__title {
      width: 290px;
      margin: 0 auto;
      line-height: 36px;
      text-align: center;
      padding-bottom: 10px;
    }
  }

}

@media screen and (min-width: 921px) {
  .section-8 .container .text__flex .mobile {
    display: none !important;
  }

  .gray:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 15px solid #F2F4F7;
    position: absolute;
    right: -14px;
    top: 0px;
  }

}
