@import "../../../../common";

.page__about-us {
  .section_10.center {
    position: relative;
    height: 280px;

    //background-position: 7% 0px;
    //background-repeat: no-repeat;
    //background-size: contain;
    width: 100%;
    //height: 400px;
    //background-attachment: fixed;
    background-image: url(../../../images/bg.png);
    background-size: 100%;

    .container {
      max-width: 1200px;
      position: relative;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .h1 {
      //margin-top: 40px;
      padding-top: 0;
    }

  }

  .section_staff {
    position: relative;
    height: 700px;

    .div {
      position: absolute;
      top: -50px;
      //width: 1200px;
    }
    .list.staff {
      padding: 0;
      width: 100%;
      height: 596px;

      .item {
        padding-bottom: 15px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-position: 50%;
      }

      .item.person1 {
        background-image: url(../../../images/about_us/icon1.png);
        background-repeat: no-repeat;
        background-size: cover;
        //background: #C7C7C7;
        //background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 2%, #000000 99%);
        //width: 399px;
        width: 400px;
        height: 596px;
        float: left;
        clear: both;
      }
      .item.person2 {
        background-image: url(../../../images/about_us/icon2.png);
        background-repeat: no-repeat;
        background-size: cover;
        //background: #C7C7C7;
        //background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 2%, #000000 99%);
        width: 400px;
        height: 298px;
        float: left;
        clear: right;
      }
      .item.person3 {
        background-image: url(../../../images/about_us/icon4.png);
        background-repeat: no-repeat;
        background-size: cover;
        //background: #C7C7C7;
        //background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 2%, #000000 99%);
        width: 400px;
        height: 298px;
        float: left;
      }
      .item.person4 {
        background-image: url(../../../images/about_us/icon3.png);
        background-repeat: no-repeat;
        background-size: cover;
        //background: #C7C7C7;
        //background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 2%, #000000 99%);
        width: 400px;
        height: 298px;
        float: left;
        clear: right;
      }
      .item.person5 {
        background-image: url(../../../images/about_us/icon5.png);
        background-repeat: no-repeat;
        background-size: cover;
        //background: #C7C7C7;
        //background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 2%, #000000 99%);
        width: 400px;
        height: 298px;
        float: left;
      }
      p.h3 {
        font-size: 22px;
        color: $primary-color;
        letter-spacing: 0;
        line-height: 25px;
        margin: 0;
      }
      p.p {
        font-size: 14px;
        color: $primary-color;
        letter-spacing: 0;
        line-height: 25px;
      }
    }
    .list.flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .quote {
      margin: 60px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .before {
        //background-image: url(../images/before.png);
        max-width: 20px;
      }
      .text {
        width: 665px;
        //margin-left: 30px;
        font-size: 22px;
        color: $primary-gray;
        line-height: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
      .quote-before {
        max-width: 20px;
        margin-right: 20px;
      }
    }
  }

  .section_content {

    .container {
      max-width: 785px;
    }
    .half__line {
      opacity: 0.5;
      background: #E1E8EE;
      width: 100%;
      margin: 45px 0 0 0;
    }
    .list {
      padding: 0;

      .h4 {
        margin-left: 15px !important;
      }
      .p {
        margin-left: 40px;
      }
      //h2.title.light {
      //  font-size: 22px;
      //  color: #414A54;
      //  letter-spacing: 0;
      //  text-align: center;
      //}
    }

    .text__number {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
    }
    .number {
      opacity: 0.8;
      font-size: 14px;
      color: #86939E;
      letter-spacing: 0;
      line-height: 14px;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      text-align: center;
      vertical-align: middle;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-weight: $weight;
      border: 2px solid #E1E8EE;
    }

  }


}
