.page__about-us {
  .quote.hidden {
    display: none;
  }
}

@media screen and (min-width: 821px) and (max-width: 1249px) {

  .page__about-us .section_staff {
    height: 55vw;
  }

  .page__about-us .section_10 {
    background-size: cover;
  }
  .page__about-us {
    .div {
      .quote {
        display: none;
      }
    }
  }

  .list.staff {
    .quote.hidden {
      display: flex;
      padding-top: 30px;
      width: 100%;
    }
  }

  .page__about-us {
    .section_staff {
      .list.staff {
        .item.person1 {
          width: 38%;
          height: 47.8vw;
        }
        .item.person2 {
          width: 31%;
          height: 23.9vw;
        }
        .item.person3 {
          width: 31%;
          height: 23.9vw;
        }
        .item.person4 {
          width: 31%;
          height: 23.9vw;
        }
        .item.person5 {
          width: 31%;
          height: 23.9vw;
        }
      }
      .div {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1139px) {

  .page__about-us .section_staff {
    height: 62vw;
  }
  .page__about-us .section_staff .quote {
    width: 100%;
  }
  .page__about-us .section_staff .quote .text {
    width: 100%;
  }
  .page__about-us .section_staff .quote .text img {
    display: none;
  }

  .page__about-us .section_staff .quote {
    flex-direction: column;
  }

  .page__about-us .section_staff .button__group {
    margin: 30px 0;
  }
  .page__about-us .section_staff {
    //height: 760px;
  }

}



@media screen and (max-width: 820px) {

  .page__about-us .section_staff {
    height: 1100px;
  }

  .page__about-us .section_10 {
    background-size: cover;

  }
  .page__about-us .section_staff .list.staff {
    height: auto;
    width: 100%;
    padding: 0;
  }
  .page__about-us .section_staff .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .button__group.button__green {
    margin: 30px 0;
  }
  .page__about-us .section_staff .list.staff .item.person5 {
    width: 399px;
  }

  .page__about-us .section_staff {
    //height: 1070px;
  }

  .page__about-us {
    .section_staff {
      .list.staff {
        .item.person1 {
          width: 50%;
        }
        .item.person2 {
          width: 50%;
        }
        .item.person3 {
          width: 50%;
        }
        .item.person4 {
          width: 50%;
        }
        .item.person5 {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {

  .page__about-us .section_staff .list.staff .item {

    background-position: 0 0;
  }

  .page__about-us .section_staff {
    height: 730px;
  }

  .page__about-us .section_10 .block__half {
    .title.h2 {
      text-align: left;
    }
  }
  //.page__about-us .section_content .container {
  //  width: 90%;

  .title.h2 {
    text-align: left;
  }
  .page__about-us .section_staff .list.staff {
    height: 512px;
    width: 310px;

    .item {
      padding-left: 15px;
    }

    .item.person1 {
      width: 155px;
      height: 342px;
      background-size: 100%;
      background-color: #282E40;
      padding-bottom: 40px;
    }

    .item.person2, .item.person3, .item.person4, .item.person5 {
      width: 155px;
      height: 171px;
      background-size: 100%;
      background-color: #282E40;
      padding-bottom: 10px;
    }

    p.h3 {
      font-size: 13px !important;
      letter-spacing: 0;
    }
    p.p {
      font-size: 13px !important;
      letter-spacing: 0;
    }
  }

  .quote .text > div {
    display: none;
  }
  .button__group.button__green {
    text-align: left;
  }

  .section_staff .button__group {
    margin: 30px 0;
    text-align: center;
    width: 100% !important;
  }
}

@media screen and (max-width: 450px) {
  .page__about-us .section_content {
    padding-top: 60px;
  }

  .page__about-us .section_staff {
    height: 780px;
  }

}
