@media screen and (max-width: 1215px) {
  .section-7 .container .text__list {
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px){
  .section-7 .container .text__list {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 312px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section-7 .container .text__list_item {
    margin: 12px 10px;
    border: 1px solid #dfe4eb;
  }
}
