@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 920px) {

	.form {

		&__wrapper {
			box-shadow: 0 0 15px 1px rgba(0,0,0,.1);
		}

		&__title {
			font-size: 18px;
			margin-bottom: 15px;
		}

		&__group {
			margin-bottom: 15px;
		}

		&__input {
			font-size: 14px;
			padding: 12px 15px;
		}

		&__fieldset {
			margin-bottom: 15px;
		}

		&__button {
			height: 50px !important;
		}

		&__footer {
			background-color: #fff;
			padding: 0 20px 20px;
		}

		&__footer-text {
			font-size: 14px;
			line-height: 1.2;
		}

	}

}
