@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (min-width: 921px) {

	.form {

		&__title {
			font-size: 22px;
			margin-bottom: 20px;
		}

		&__group {
			margin-bottom: 20px;
		}

		&__input {
			font-size: 14px;
			padding: 19px 20px;
		}

		&__fieldset {
			margin-bottom: 20px;
		}

		&__button {
			height: 62px !important;

		}

		&__footer {
			background-color: #e6ecf2;
			padding: 32px 20px;
		}

		&__footer-text {
			font-size: 16px;
			line-height: 1;
			white-space: nowrap;
		}

	}

}
