@import "../../../../common";

.page__professional-essay-help {
  .section_10.light {
    height: 210px;
    background-image: url(../../../images/bg.png);
    background-size: 100%;

    .h1 {
      margin: 0;
      text-align: center;
      font-size: 34px;
      color: #fff;
      letter-spacing: 0;
      line-height: 50px;
      width: 100%;
      padding-top: 100px;
    }
  }
  .section_content {
    padding: 15px 0 30px 0;

    .quote {
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .img {
        background-image: url(../../../images/about_us/before.png);
        width: 100px;
        background-repeat: no-repeat;
        max-width: 100px;
        background-size: 80%;
        margin-top: 30px;
      }


      .text {
        font-weight: 400;
        max-width: 100%;
        font-size: 22px;
        color: #6C767F;
        line-height: 30px;
        display: flex;
        flex-direction: row;


        p {
          margin-left: 20px;
        }
      }
    }
    .h3 {

      margin: 45px 0 10px 0;
    }
    .p {
      padding: 10px 0;
    }
  }
  .not-full {
    max-width: 1192px;
    margin: 0 auto;
  }
  .img-concern {
    max-width: 1200px;
    margin: 0 auto;

    .flex-main {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #2B2D48;
      width: 100%;
      height: 200px;
    }
    .flex-first {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

    }

    .icon {
      max-width: 142px;
    }
    .h2 {
      font-size: 34px;
      color: $primary-color;
      font-weight: 400;
      max-width: 529px;
      margin-left: 53px;
    }
    .button__green {
      padding: 13px 35px;
    }
}
  .section_16 {
    margin-top: 35px;
  }
}