.page__professional-essay-help {
  @media screen and (max-width: 820px){
    .section_10.light .container {
      width: 90%;
    }
    .section_content .container {
      width: 90%;
    }

  }
@media screen and (max-width: 920px) {
  .full .flex-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .man {
    background-image: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 1215px) {
   .img-concern {
    width: 90%;
  }
}
@media screen and (max-width: 616px) {
 .img-concern .flex-main {
    flex-direction: column;
  }
  .img-concern .h2 {
     margin-left: 20px;
   }
   .img-concern {
    height: auto;
  }
   .img-concern .flex-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
   .img-concern .h2 {
    margin: 30px;
    max-width: 350px !important;

  }
   .img-concern .icon{
    max-width: 77px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 998px) {
  .img-concern .h2 {
    max-width: 450px;
  }
}
@media screen and (max-width: 890px) {
  .img-concern .h2 {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .img-concern .h2 {
    max-width: 200px;
  }
}
@media screen and (max-width: 400px) {
  .img-concern .flex-main {
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .img-concern .h2 {
    margin-left: 20px;
  }
}
}