@media screen and (min-width: 768px) and (max-width: 1800px) {
  .section-1 .background {
    background-size: cover;
  }
}

@media screen and (max-width: 1250px) {
  .section-1 .container {
    width: 90%;
  }
  .section-1 .background {
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .section-1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 615px) {
  .section-1 .container .text {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .section-1 .container .text__heading {
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-1 .container .text__paragraph {
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-1 .container .text__heading,
  .section-1 .container .text__paragraph {
    text-align: center;
  }
  .section-1 .container .text__button_order {
    background: #4CAF50;
    border-radius: 6px;
    font-size: 15px;
    color: #FFFFFF;
  }
  .section-1 .container .text__button_auth {
    background: #216EBE;
    border-radius: 6px;
    font-size: 15px;
    color: #FFFFFF;
  }
  .section-1 .container .text__button_order,
  .section-1 .container .text__button_auth {
    padding: 16px 28px;
  }
  .section-1 .container .text__button {
    text-align: center;
    //padding-left: 15px;
    //padding-right: 15px;
  }
  .section-1 .background {
    background-image: url(../../../../images/index/section_1/bg_320.png);
  }
  .section-1 .container .text {
    margin: 80px 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 340px){
  .section-1 .container {
    width: 100%;
  }
}
