@import "../../../theme/var";
@import "../../../theme/mixins";

.Auth {

  & {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  .list {
    display: table;
    font-family: 'Roboto',sans-serif;
    height: 50px;
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
  }

  .item {
    display: table-cell;
    vertical-align: middle;
  }

  .link {
    display: block;

    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 15px;
    position: relative;

    &.sign-in {
      color: #fff;

      &:hover {
        color: #81bbff;
      }

    }

    &.sign-up {
      border-color: #f0ad4e;
      border-radius: 5px;
      color: #f0ad4e;

      &:hover {
        background-color: #f0ad4e;
        color: #fff;
      }

    }

  }

}
