body.loaded > .spinner-wrapper {
  display:none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* saturday mobile header fix */
.mdl-layout{
  height: 100% !important;
}
