
//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

.clearfix {

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }

}

.heading {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}


@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-6 {
    width: 50%; }
}

.primary-list-item {
  @extend .col-sm-4;
}
.secondary-list-item {
  @extend .col-sm-6;
}

@media only screen
and (max-width: 750px) {

  .footer-nav-container {
    .left-block,
    .right-block {

      &::before,
      &::after {
        content: " ";
        display: table;
      }

      &::after {
        clear: both;
      }

    }

    .input-group .form-control,
    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
      z-index: 0;
    }

  }

}
