.scroll-helper {
  position: fixed;
  top: 120px;
  left: 20px;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 15px;
  z-index: 8000;

  strong {
    font-weight: 500 !important;
  }

}
