@import 'var.scss';

.stat-customers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.stat-customers__item {

  &:not(:last-child) {
    margin-right: 40px;
  }

  .name,
  .value {
    color: #54657e;
  }

  .name {
    margin-bottom: 5px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .value {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }

  .rate {
    position: relative;

    &.type__acceptance &__filled-area  {
      background-color: #5cb85c;
    }

    &.type__pay &__filled-area {
      background-color: #bd10e0;
    }

    &__empty-bar,
    &__filled-bar {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__empty-bar,
    &__filled-bar,
    &__filled-area {
      height: 20px;
    }

    &__empty-bar {
      width: 100px;
      overflow: hidden;

      background-color: #eceff4;
      border: 1px solid #cad3df;
      border-radius: 3px;
    }

    &__filled-bar {
      z-index: 2;

      width: 100px;
      overflow: hidden;

      border-radius: 3px;
    }

    &__filled-area {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      min-width: 50px;

      box-shadow: inset 0 -1px 0 0 rgba(44,56,44,.19);

      color: #fff;
      font-size: 14px;
      font-weight: 500;
    }

  }

}
