@import './var.scss';

.stat-orders {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;

  max-width: 750px;

  list-style: none outside none;
  margin: 0;
  padding: 0;

  @include mobile-700 {
    max-width: 210px;
  }

  @include mobile-701-767 {
    max-width: 450px;
  }

  @include tablet-half-1 {
    max-width: 450px;
  }

  @include tablet-half-2 {
    max-width: 480px;
  }

  &__item {
    min-width: 210px;
    margin-bottom: 25px;

    /*&:nth-child(1),
    &:nth-child(4) {
      order: -2;
    }

    &:nth-child(2),
    &:nth-child(5) {
      order: -1;
    }

    &:nth-child(3n+3) {
      margin-bottom: 0;
    }*/

    @include mobile-701-767 {
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }

    }

    @include tablet-half-1 {
      margin-right: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }

    }

    @include tablet-half-2 {
      margin-right: 60px;

      &:nth-child(2n) {
        margin-right: 0;
      }

    }

    @include desktop-1025-1280 {
      margin-right: 30px;

      &:nth-child(3),
      &:nth-child(6) {
        margin-right: 0;
      }

    }

    @include desktop-1281 {
      margin-right: 60px;

      &:nth-child(3),
      &:nth-child(6) {
        margin-right: 0;
      }

    }

  }

}
