@import './var.scss';

.stat-group {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

}

.stat-block {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__heading-title {
    color: #3d4d65;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__content {}

}
