@import 'var.scss';

.stat-writers {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .for__writers & {
    justify-content: flex-start;
  }

}

.stat-writers__item {

  .for__writers & {

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:nth-child(1) {
      width: 100%;
      max-width: 200px;
    }

    &:nth-child(2) {
      width: 100%;
      max-width: 150px;
      margin-left: 0;
    }

  }

  .item-reviews & {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .value {
      margin-right: 7px;

      font-size: 20px;
    }

    .stars {
      align-self: center;
    }

  }

  &:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .value,
  .name,
  .start,
  .percent {
    font-weight: 400;
  }

  .value,
  .percent {
    color: #54657e;
    font-size: 16px;
  }

  .value__link {
    color: #0082d5;

    &:hover,
    &:focus {
      color: #1193e6;
    }

  }

  .name {
    color: #8493a8;
    font-size: 12px;
    text-transform: uppercase;
  }

  .stars {
    display: inline-flex;
    position: relative;
    width: 78px;
    height: 13px;

    .item-reviews & {
      width: 88px;
      height: 16px;
    }

  }

  .stars__item {
    position: absolute;

    width: 78px;
    height: 13px;

    background-image: url(../styles/assets/stat/stat_stars__empty__78x13.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 78px 13px;

    .item-reviews & {
      width: 88px;
      height: 15px;

      background-image: url(../styles/assets/stat/stat_stars__empty__88x15.svg);
      background-size: 88px 15px;
    }

    &.active {
      position: absolute;

      background-image: url(../styles/assets/stat/stat_stars__full__78x13.svg);
      height: 13px;
      z-index: 2;

      .item-reviews & {
        height: 15px;

        background-image: url(../styles/assets/stat/stat_stars__full__88x15.svg);
      }

    }

  }

}
