<section class="section-2">
    <div class="container">
        <h2 class="title">Why EssayHub?</h2>
        <ul class="list">
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon1.svg') %>" alt="Prime Time Essay Writers">
                    <h3 class="list__item__flex_title">Prime Time Essay Writers</h3>
                </div>
                <p class="list__item__paragraph">Our staff is composed of veteran writers with sturdy academic writing
                    background, capable of completing any essay on time and as instructed by customers. We enjoy taking
                    on jobs covering a variety of fields, from university and college students alike, across the US or
                    UK providing them with fast delivery and original content topped off by a professional approach.</p>
            </li>
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon2.svg') %>" alt="Plagiarism: A Thing of the Past">
                    <h3 class="list__item__flex_title">Plagiarism: A Thing of the Past</h3>
                </div>
                <p class="list__item__paragraph">Plagiarism has been a nightmare for most students. However, there is no
                    need to feel like that ever again when using our services. Each assignment fashioned by EssayHub
                    is 100% original and custom designed to suit all the given requirements every time. Plagiarism has
                    finally become a thing of the past.</p>
            </li>
            <li class="list__item">
                <div class="list__item__flex">
                    <img src="<%= require('./images/icon3.svg') %>" alt="Picture-Perfect is our motto">
                    <h3 class="list__item__flex_title">Picture-Perfect is our motto</h3>
                </div>
                <p class="list__item__paragraph">We pride ourselves in being able to support our customers in their
                    darkest hours with near perfect, if not perfect work. Having to buy an essay has never been easier.
                    Even if a term paper is a few hours away do not hesitate to contact us and explore all possible
                    options. Our writers are always more than happy to lend a helping hand.</p>
            </li>
        </ul>
    </div>
</section>
