.LangButton {
  display: inline-block;
  width: auto;
  height: 100%;
  margin: 0 20px;
  padding: 15px;

  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 0;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: transparent;
  }

}

.lang-button {
  @extend .LangButton;
}

.lang {

}

.lang-block {
  position: relative;
}

.mdl-menu__outline {
  width: auto !important;
}

.button-flag {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.button-flag-gb {
  background-image: url(../../../images/svg/uk.svg);
}

.button-flag-au {
  background-image: url(../../../images/svg/au.svg);
}

.button-flag-us {
  background-image: url(../../../images/svg/us.svg);

  &.button-flag {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  }

}

.button-flag-ie {
  background-image: url(../../../images/svg/ie.svg);
}

.button-flag-nz {
  background-image: url(../../../images/svg/nz.svg);
}

.button-flag-ca {
  background-image: url(../../../images/svg/ca.svg);
}

.button-flag-ae {
  background-image: url(../../../images/svg/uae.svg);
}

.land-name {
  color: #4b546b;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.button-lower {
  background-image: url(../../../images/svg/icon_button_lower.svg);
  background-size: 7px 6px;
  background-position: 50% 50%;
  display: inline-block;
  line-height: 6px;
  width: 7px;
  height: 6px;
  vertical-align: middle;
}

.mdl-menu {
  padding-bottom: 1px;
}

.mdl-menu__item {
  width: auto;
  height: auto;
  padding: 0 13px;
  background-color: #fcfcfc;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-right: 0;

  &:hover,
  &:focus {
    background: #fcfcfc;
  }

}

.mdl-menu__link {
  display: inline-block;
  font-size: 0;
  padding: 0 15px;
  vertical-align: middle;
}
