

.home .main-menu-container__mobile,
.home .user-menu-container__mobile,
.app .main-menu-container__mobile,
.app .user-menu-container__mobile {
    background-color: #3d4d65;
}

.app .page__about-us .content-footer__link:first-child {
    margin-right: 50px;
}

@media only screen and (max-width: 767px) {
    .home .user-menu-button {
        width: 32px;
        height: 56px;
        line-height: 56px;
    }

    .user-menu-button .icon-user-menu-dark-blue {
        display: none !important;
    }
    .user-menu-button.white-header .icon-user-menu-blue {
        display: none !important;
    }
    .user-menu-button.white-header .icon-user-menu-dark-blue {
        display: block !important;
    }

    .home .main-menu-stripe {
        background-color: #81bbff;
    }
    .home .white-header .main-menu-stripe {
        background-color: #0076c1;
    }

    .app .spinner-outer {
        top: 56px;
        z-index: 10;
    }
    .app .spinner-outer .spinner {
        margin-bottom: 56px;
    }

    .app .pagination {
        display: inline-block;
    }
    .app .pager {
        display: block;
    }

    .app .pagination {
        width: 100%;
        margin: 0;
    }
    .app .pagination > li {
        display: none;
    }
    .app .pagination > li:first-child,
    .app .pagination > li:last-child {
        display: block;
    }
    .app .pagination > li:first-child > a,
    .app .pagination > li:last-child > a {
        border-radius: 16px;
        min-width: 100px;
        text-align: center;
    }
    .app .pagination > li > a, .app .pagination > li > span {
        line-height: 1;
    }
    .app .pagination > li:first-child {
        float: left;
    }
    .app .pagination > li:last-child {
        float: right;
    }
}

@media only screen and (min-width: 320px) and (max-height: 480px) {
    .home .main-menu-container__mobile,
    .app .main-menu-container__mobile {
        overflow-y: auto;
    }
    .home .main-menu-container__mobile ul {
        padding-bottom: 100px;
    }
    .app .main-menu-container__mobile ul {
        padding-bottom: 110px;
    }
}

@media only screen and (min-width: 768px) {
    .app .comments-footer {
        text-align: center;
    }
    .app .pagination {
        margin: 0;
    }
    .app .pagination > li:first-child > a,
    .app .pagination > li:last-child > a {
        border-radius: 16px;
        min-width: 100px;
    }
    .app .pagination > li:first-child > a {
        margin-right: 20px;
    }
    .app .pagination > li:last-child > a {
        margin-left: 20px;
    }
}
