h4 {
  font-size: 25px;
  font-weight: 100;
}

.header.fixed {
  z-index: 1020;
}

.modal-content {
  font-size: 14px;
}

/*.radio label, .checkbox label {
    line-height: 1;
}*/
.overlay {
  z-index: 1020;
}

.main-menu-container__mobile,
.user-menu-container__mobile {
  z-index: 1030;
}

@media only screen and (min-width: 320px) {
  .modal-sm {
    width: 300px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 767px) {
  .page-static .heading {
    display: none;
  }
  .page__about-us .only-desktop-full {
    display: none;
  }
  .page__about-us .only-mobile-full {
    float: none;
    margin: 20px auto 0;
  }
}

.modal-header-tabs {
  position: relative;
}

.modal-header-tabs .close {
  position: absolute;
  top: -43px;
  right: 15px;
}

ul.nav.nav-tabs {
  padding-top: 15px;
  padding-left: 15px;
}

.main {
  margin-bottom: 20px;
}

.main-menu-link:focus {
  color: #0076c1;
}

.main-menu .dropdown-menu {
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid #0076c1;
  border-radius: 8px;
  min-width: 136px;
  left: 10px;
  width: auto;
}

.main-menu .dropdown-menu a {
  color: #0082d5;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 15px;
}

.main-menu .dropdown-menu > li > a:hover,
.main-menu .dropdown-menu > li > a:focus {
  background: rgba(0, 0, 0, 0);
  color: #db8800;
}

.has-dropdown {
  position: relative;
}

.has-dropdown .dropdown-caret {
  background: url(../../images/svg/dropdown_caret_secondary.svg) no-repeat 0 0;
  display: inline-block;
  width: 12px;
  height: 7px;
  margin-bottom: 2px;
}

.has-dropdown > .main-menu-link {
  padding-right: 0;
}

.page-reviews .comments-footer {
  padding: 25px 15px;
}

.comments-footer .button {
  border-radius: 5px;
}

.comments-footer a.button {
  display: inline-block;
}

.page__how-it-works,
.page__become-a-writer {
  margin-bottom: 0;
}


.page__become-a-writer .title {
  color: #3d4d65;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 20px;
  text-transform: uppercase;
  line-height:48px;
}

.page__become-a-writer .nav.nav-pills {
  width: 504px;
  margin: 0 auto;
}

.page__become-a-writer .nav.nav-pills > li {
  background-color: #eee;
}

.page__become-a-writer .nav.nav-pills > li + li {
  margin-left: 0;
}

.page__become-a-writer .nav.nav-pills > li:first-child {
  border-radius: 40px 0 0 40px;
}

.page__become-a-writer .nav.nav-pills > li:last-child {
  border-radius: 0 40px 40px 0;
}

.page__become-a-writer .nav.nav-pills > li > a {
  border-radius: 40px;
  color: #515356;
  font-size: 16px;
  font-weight: 700;
  padding: 7px 34px;
}

.page__become-a-writer .nav.nav-pills > li > a:hover,
.page__become-a-writer .nav.nav-pills > li > a:focus {
  background: #E2B772;
  color: #fff;
}

.page__become-a-writer .nav.nav-pills > li.active > a {
  background: #dB8800;
  color: #fff;
}

.main {
  height: 100%;
}





/*.menu-icon__become-a-writer {
    background-image: url(../../../images/svg/menu_icon__become_a_writer.svg);
}
.menu-icon__affiliate-program {
    background-image: url(../../../images/svg/menu_icon__affiliate_program.svg);
}
.menu-icon__privacy-policy {
    background-image: url(../../../images/svg/menu_icon__privacy_policy.svg);
}*/

/*.page__how-it-works .only-desktop {
    display: block;
}*/

.modal-dialog object {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .native .modal-dialog {
    margin: 15px;
  }
  .full-width .modal-dialog {
    margin: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 540px) {
  .logo__mobile {
    display: none;
  }
  .header .heading-title {
    display: block;
  }
}

@media only screen and (min-width: 541px) and (max-width: 767px) {

  .modal-dialog {
    margin: 15px auto;
  }

  .logo__mobile {
    display: block;
    text-align: center;
  }
  .header .heading-title {
    display: none;
  }
}

@media only screen and (min-width: 541px) and (max-width: 720px) {
  .modal-dialog {
    padding: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .page__about-us .only-mobile-full {
    display: none;
  }

  .logo__mobile {
    display: none;
  }
}
