@import 'var.scss';

.button-group {
	font-size: 0;

  & > *:not(:last-child) {
    margin-right: 20px;
  }

  .button:not(:last-child) {
    margin-right: 20px;
  }

	.item-plan & {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 90px;
	}

	&.type__column {
		display: flex;
		flex-direction: column;

		& > *:not(:last-child) {
			margin-bottom: 15px;
		}

	}

}
