@import './button.scss';
@import './var.scss';

.button__primary,
.button-filled__primary,
.button-outline__primary,
.button__secondary,
.button__success,
.button-filled__success,
.button-outline__success,
.button__danger,
.button-filled__danger,
.button-outline__danger,
.button__warning,
.button-filled__warning,
.button-outline__warning,
.button__default,
.button-filled__default,
.button-outline__default,
.button-action {

  @include mobile {

    &,
    &:hover,
    &:focus {

      @include ButtonSize(40px, 30px, 5px);

      &.pill {
        @include ButtonSize(40px, 30px, 20px);
      }

      .button-text {
        @include ButtonTextSize(14px, 500, uppercase);
      }

    }

  }

  &.button-for__link {
    @include ButtonFlex;

    .button-text {
      @include ButtonFlexTextDefault;
    }

    .button-text {
      @include ButtonFlexTextDefault;

      @include mobile-1 {
        font-size: 16px;
      }
    }

    @at-root .section-1 & {

      @include mobile {
        padding: 0 25px;
      }

    }

  }

  &.button-for__sign-in,
  &.button-for__sign-up {
    @include ButtonSize(34px, 20px, 23px);

    &,
    &:hover,
    &:focus {

      .button-text {
        @include ButtonTextSize(16px, 400, none);
      }

    }

  }

  &.button-for__sign-in {

    & {

      .button-text {
        @include ButtonTextColor(#fff);
      }

    }

    &:hover,
    &:focus {

      .button-text {
        @include ButtonTextColor(#0291f0);
      }

    }

  }

  .button-text {

    &.native {
      text-transform: none;
    }

  }

}
