@import './button.scss';

.h-auto {
  height: auto;

  &__w-fixed {
    height: auto;

    width: 170px;
  }

  &__w-large {
    height: auto;

    width: 310px;
  }

  &__w-full {
    height: auto;

    width: 100%;
  }

}

.h-30 {
  height: 30px;

  &__w-fixed {
    height: 30px;

    width: 170px;
  }

  &__w-large {
    height: 30px;

    width: 310px;
  }

  &__w-full {
    height: 30px;

    width: 100%;
  }

  &,
  &__w-fixed,
  &__w-large {

    &,
    &:hover,
    &:focus {

      .button-text {
        font-size: 12px;
      }

    }

  }

}

.h-35 {
  height: 35px;

  &__w-fixed {
    height: 35px;

    width: 170px;
  }

  &__w-large {
    height: 35px;

    width: 310px;
  }

  &__w-full {
    height: 35px;

    width: 100%;
  }

  &,
  &__w-fixed,
  &__w-large {

    &,
    &:hover,
    &:focus {

      .button-text {
        font-size: 12px;
      }

    }

  }

}

.h-50 {
  height: 50px;
}
