@import './button.scss';

$button-height: 45px;
$button-padding-y: 30px;
$button-border-radius: 5px;
$button-pill-border-radius: 23px;

$button-primary-color: #0282d5;
$button-primary-color-hover: #0291f0;

$button-warning-color: #e89b00;
$button-warning-color-hover: #ffaa00;

/* Color: primary */

.button__primary {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor($button-primary-color);
  }

  &:hover,
  &:focus {

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor($button-primary-color-hover);
    }

  }

}

.button-filled__primary {
  @include Button;
  @include ButtonColor($button-primary-color, rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#fff);
  }

  &:hover,
  &:focus {
    @include ButtonColor($button-primary-color-hover, rgba(0,0,0,0));

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#fff);
    }

  }

}

.button-outline__primary {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), $button-primary-color);
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor($button-primary-color);
  }

  &:hover,
  &:focus {
    @include ButtonColor(rgba(0,0,0,0), $button-primary-color-hover);

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor($button-primary-color-hover);
    }

  }

}

/* Color: secondary */

.button__secondary {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#bd10e0);
  }

  &:hover,
  &:focus {

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#df32f2);
    }

  }

}

/* Color: success */

.button__success {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#039547);
  }

  &:hover,
  &:focus {

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#04a658);
    }

  }

}

.button-filled__success {
  @include Button;
  @include ButtonColor(#039547, rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#fff);
  }

  &:hover,
  &:focus {
    @include ButtonColor(#04a658, rgba(0,0,0,0));

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#fff);
    }

  }

}

.button-outline__success {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), #039547);
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#039547);
  }

  &:hover,
  &:focus {
    @include ButtonColor(rgba(0,0,0,0), #027325);

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#027325);
    }

  }

}

/* Color: danger */

.button__danger {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#d2335c);
  }

  &:hover,
  &:focus {

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#e3446d);
    }

  }

}

.button-filled__danger {
  @include Button;
  @include ButtonColor(#d2335c, rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#fff);
  }

  &:hover,
  &:focus {
    @include ButtonColor(#e3446d, rgba(0,0,0,0));

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#fff);
    }

  }

}

.button-outline__danger {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), #c19a9f);
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#d0021b);
  }

  &:hover,
  &:focus {
    @include ButtonColor(rgba(0,0,0,0), #d0021b);

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#d0021b);
    }

  }

}

/* Color: warning */

.button__warning {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor($button-warning-color);
  }

  &:hover,
  &:focus {

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor($button-warning-color-hover);
    }

  }

}

.button-filled__warning {
  @include Button;
  @include ButtonColor($button-warning-color, rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#fff);
  }

  &:hover,
  &:focus {
    @include ButtonColor($button-warning-color-hover, rgba(0,0,0,0));

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#fff);
    }

  }

}

.button-outline__warning {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), $button-warning-color);
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor($button-warning-color);
  }

  &:hover,
  &:focus {
    @include ButtonColor(rgba(0,0,0,0), $button-warning-color-hover);

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor($button-warning-color-hover);
    }

  }

}

/* Color: default */

.button__default {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#8493a8);
  }

  &:hover,
  &:focus {

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#54657e);
    }

  }

}

.button-filled__default {
  @include Button;
  @include ButtonColor(#eceff4, rgba(0,0,0,0));
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#54657e);
  }

  &:hover,
  &:focus {
    @include ButtonColor(#e6e9ed, rgba(0,0,0,0));

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#32435c);
    }

  }

}

.button-outline__default {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), #cad3df);
  @include ButtonSize($button-height, $button-padding-y, $button-border-radius);

  .button-text {
    @include ButtonTextDefault;
    @include ButtonTextColor(#8493a8);
  }

  &:hover,
  &:focus {
    @include ButtonColor(rgba(0,0,0,0), #8493a8);

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#54657e);
    }

  }

}

.button-action {
  @include Button;
  @include ButtonColor(rgba(0,0,0,0), #cad3df);
  @include ButtonSize(35px, 15px, $button-border-radius);

  text-align: left;

  .button-text {
    @include ButtonTextDefault;

    font-size: 12px;
  }

  &:hover,
  &:focus {
    @include ButtonColor(rgba(0,0,0,0), #c1c9d4);

    .button-text {
      @include ButtonTextDefault;

      font-size: 12px;
    }

  }

}

.button__primary,
.button-filled__primary,
.button__success,
.button-filled__success,
.button__danger,
.button-filled__danger,
.button__warning,
.button-filled__warning,
.button__default,
.button-filled__default {

  &:disabled {
    @include ButtonColor(#cad3df, rgba(0,0,0,0));

    cursor: default;

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#fff);
    }

  }

}

.button-outline__primary,
.button-outline__success,
.button-outline__danger,
.button-outline__warning,
.button-outline__default {

  &:disabled {
    @include ButtonColor(rgba(0,0,0,0), #cad3df);

    cursor: default;

    .button-text {
      @include ButtonTextDefault;
      @include ButtonTextColor(#adb9ca);
    }

  }

}
