@import './button.scss';

.button {
  @include Button;

  &.empty {
    padding: 0;

    background-color: rgba(0,0,0,0);
    border: 0;
  }

}

/* Type: flat */

.flat {
  border-radius: 0;
}

/* Type: pill */

.pill {
  height: 45px;
  border-radius: 23px;

  &__w-fixed {
    height: 45px;
    border-radius: 23px;

    width: 170px;
  }

  &__w-large {
    height: 45px;
    border-radius: 23px;

    width: 310px;
  }

}

.pill-35 {
  height: 35px;
  border-radius: 18px;

  &__w-fixed {
    height: 35px;
    border-radius: 18px;

    width: 170px;
  }

  &__w-large {
    height: 35px;
    border-radius: 18px;

    width: 310px;
  }

  &,
  &__w-fixed,
  &__w-large {

    &,
    &:hover,
    &:focus {

      .button-text {
        font-size: 12px;
      }

    }

  }

}

.pill-30 {
  height: 30px;
  border-radius: 15px;

  &__w-fixed {
    height: 30px;
    border-radius: 15px;

    width: 170px;
  }

  &__w-large {
    height: 30px;
    border-radius: 15px;

    width: 310px;
  }

  &,
  &__w-fixed,
  &__w-large {

    &,
    &:hover,
    &:focus {

      .button-text {
        font-size: 12px;
      }

    }

  }

}
