$height: 45px;
$padding-y: 20px;

$background-color: rgba(0,0,0,0);
$border-color: rgba(0,0,0,0);
$border-radius: 5px;

$text-color: #000;
$text-font-size: 18px;
$text-font-weight: 500;
$text-transform: uppercase;

@mixin Button {
  display: inline-block;

  position: relative;

  outline: 0;

  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;

  cursor: pointer;

  transition: background .3s ease, border .3s ease, color .3s ease;

  &:focus {
    outline: 0;
  }

}

@mixin ButtonFlex {
  display: inline-flex;

  position: relative;

  outline: 0;
  white-space: nowrap;
  cursor: pointer;

  transition: background .3s ease, border .3s ease, color .3s ease;

  &:focus {
    outline: 0;
  }

}

@mixin ButtonColor($background-color, $border-color) {
  background-color: $background-color;
  border: 1px solid $border-color;
}

@mixin ButtonSize($height, $padding-y, $border-radius) {
  height: $height;
  padding: 0 $padding-y;
  border-radius: $border-radius;
}

@mixin ButtonTextDefault {
  display: inline-block;
  vertical-align: middle;

  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;

  transition: all .3s ease;
}

@mixin ButtonFlexTextDefault {
  align-self: center;

  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;

  transition: all .3s ease;
}

@mixin ButtonTextColor($text-color) {
  color: $text-color;
}

@mixin ButtonTextSize($text-font-size, $text-font-weight, $text-transform) {
  display: inline-block;
  vertical-align: middle;

  font-size: $text-font-size;
  font-weight: $text-font-weight;
  text-transform: $text-transform;
}
