@import 'var.scss';

@keyframes
	load { 0% {
		stroke-dashoffset: 0;
	}
}

.com__progress {

	&.type__circle {
		display: flex;
		align-items: center;

		position: relative;
		padding: 0;
	}

	& > .com__progress-bar__circle {
		display: inline-block;
		position: relative;

		width: 60px;
		height: 60px;

		margin-right: 20px;

		text-align: center;
		color: #93a2ac;
		font-weight: 300;

		&::before {
			content: attr(data-name);
			position: absolute;
			width: 100%;
			bottom: -2rem;
			font-weight: 400;
		}

		&::after {
			content: attr(data-percent);
			position: absolute;
			width: 100%;
			top: 20px;
			left: 0;
			color: #54657e;
			font-size: 16px;
			font-weight: 400;
			text-align: center;
		}

	}

	svg {
		width: 60px;
		height: 60px;

		&:nth-child(2) {
			position: absolute;
			left: 0;
			top: 0;
			transform: rotate(-90deg);

			path {
				fill: none;
				stroke-width: 25;
				stroke-dasharray: 629;
				stroke: rgba(255, 255, 255, 0.9);
				animation: load 1s;
			}

		}

	}

}

.type__circle {

	.progress-label {

		& {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			margin: 0;
		}

		&__name {
			color: #54657e;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}

		&__value {
			margin-bottom: 5px;

			color: #3d4d65;
			font-size: 25px;
			font-weight: 400;
		}

	}

}
