@import 'var.scss';

.com__progress {
  position: relative;

  max-width: 210px;
}

.progress-label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin-bottom: 10px;

  &__name,
  &__value {
    color: #54657e;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }

}

.com__progress-bar {

  & {
    position: relative;
    height: 5px;

    .com__progress.type-1 &__filled-area  {
      background: linear-gradient(to right, #a234d5 0%, #0082d5 100%);
    }

    .com__progress.type-2 &__filled-area  {
      background: linear-gradient(to right, #d74059 0%, #a234d5 100%);
    }

    .com__progress.type-3 &__filled-area  {
      background: linear-gradient(to right, #32d429 0%, #16740f 100%);
    }

    .com__progress.type-4 &__filled-area  {
      background: linear-gradient(to right, #349ed5 0%, #006376 100%);
    }

    .com__progress.type-5 &__filled-area  {
      background: linear-gradient(to right, #de4af3 0%, #7e27a6 100%);
    }

    .com__progress.type-6 &__filled-area  {
      background: linear-gradient(to right, #ffda2e 0%, #ff8d48 100%);
    }

    &__empty,
    &__filled {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__empty,
    &__filled,
    &__filled-area {
      height: 5px;
    }

    &__empty {
      width: 210px;
      overflow: hidden;

      background-color: #eceff4;
      border: 1px solid #cad3df;
      border-radius: 3px;
    }

    &__filled {
      z-index: 2;

      width: 210px;
      overflow: hidden;

      border-radius: 3px;
    }

  }

}
