@import "../../../theme/var";
@import "../../../theme/mixins";

/*.SideNav {

	.icon-1 {
		background-image: url(../../../images/side_nav/icon_1.svg);
	}

	.icon-2 {
		background-image: url(../../../images/side_nav/icon_2.svg);
	}

	.icon-3 {
		background-image: url(../../../images/side_nav/icon_3.svg);
	}

	.icon-4 {
		background-image: url(../../../images/side_nav/icon_4.svg);
	}

	.icon-5 {
		background-image: url(../../../images/side_nav/icon_5.svg);
	}

	.icon-6 {
		background-image: url(../../../images/side_nav/icon_6.svg);
	}

	.icon-7 {
		background-image: url(../../../images/side_nav/icon_7.svg);
	}

	.icon-8 {
		background-image: url(../../../images/side_nav/icon_8.svg);
	}

	.icon-9 {
		background-image: url(../../../images/side_nav/icon_9.svg);
	}

	.icon-10 {
		background-image: url(../../../images/side_nav/icon_10.svg);
	}

	.icon-11 {
		background-image: url(../../../images/side_nav/icon_11.svg);
	}

	.icon-51 {
		background-image: url(../../../images/side_nav/icon_51.svg);
	}

	.icon-52 {
		background-image: url(../../../images/side_nav/icon_52.svg);
	}

}*/

