@import "../../../theme/var";
@import "../../../theme/mixins";

@media screen
and (max-width: 1000px) {

	.SideNavButton {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 46px;
		height: 46px;

		.icon-user {
			background: url(../../../images/side_nav/icon_user.svg) no-repeat 50% 50%;
			background-size: 24px 24px;
			display: inline-block;
			width: 24px;
			height: 24px;
		}

	}

	.SideNav {

		& {
			background-color: #374355;
      list-style: none outside none;
      margin: 0;
      padding: 10px 0;
			top: 46px;
			width: auto;
		}

		// Reset Materialize styles --- BEGIN

		li {
			line-height: normal;
			padding: 0;
		}

		a {
			height: auto;
			line-height: normal;
		}

		// Reset Materialize styles --- END

    .item-divider {
      width: 100%;
      height: 1px;
      margin: 10px 0;

      background-color: #54657e;
    }

		.link {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      padding: 10px 20px;

			background-position: 15px 50%;
			background-repeat: no-repeat;
			border: 0;

			outline: none;
			/*box-shadow: inset 0 -1px rgba(0,0,0,.2);*/
			color: #adb9ca;
			font-family: 'Roboto', sans-serif;
			font-size: 15px;
			font-weight: 400;

      &:hover,
			&:focus {
				color: #fff;
			}

      &.primary {
        color: #ced6e2;

        &:hover,
        &:focus {
          color: #fff;
        }

      }

      &.secondary {
        color: #adb9ca;

        &:hover,
        &:focus {
          color: #fff;
        }

      }

		}

	}

}
